html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}



body {
	background: #efefef;
	font-family: Arial, sans-serif;}
.content-slide{
	position: relative;
}
.content-slide a#prev, .content-slide a#next{
	position: absolute;
	top: 160px;
	z-index: 99;
	
}
.content-slide a#prev{
	left: 10px;
}
.content-slide a#next{
	right: 10px;
}
	
#wrapper {
	width: 620px;
	margin: 20px auto;
	background: #fff;
	padding: 0px;
	position: relative;
	height: 420px;
	}
#wrapper .prev{
	position: absolute;
	bottom: 22px;
	left: 10px;
	z-index: 99;
}
#wrapper .next{
	position: absolute;
	bottom: 22px;
	right: 10px;
	z-index: 99;
}
.slideshow{
	overflow: hidden;
}
.slideshow img{
	width: 620px;
	height: 350px;
}

#nav {
	height: 70px;
	margin: 0 auto;
	}
	
a#prev, a#next {
		position: absolute;
	top: 110px;
	display: block;
	z-index: 99;
	font-size: 80px;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 0 10px #000000;
		
		}
a#prev{
	left: 25px;

	}
a#next {

	right: 25px;

	}
.content-slide a#next:hover, .content-slide a#prev:hover{
	color: #980C13;
}
		
	
	#nav ul li {
		float: left;
		padding: 5px;}

.boxcaption {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 18px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    width: 100%;
	z-index: 999;
	display: block ;
	top: 350px;
}
.boxcaption p{
	color: #FFF;
	font-size: 12px;
	padding: 2px 10px;
}