@charset "utf-8";

/* CSS Document */

.content_bloc_jeu_sms{width:100%;clear:both;margin:0 0 20px 0;padding:0;}

.content_liste_candidat_miss_reunion2017{background:#0083c4 url("https://www.antennereunion.fr/squelettes/assets/image_grs_2018/back_list_candidat_grs_2018_V2.jpg") no-repeat center bottom; min-height:auto;padding:8px 0 0 0;}

.content_liste_candidat_miss_reunion2017 ul{margin-bottom:0;}

.content_liste_candidat_miss_reunion2017 ul li{margin-bottom:10px;}

.content_liste_candidat_miss_reunion2017 ul li .couv_image_list{margin-bottom:10px;}

.menu-menu2 ul li a{color:#1f4563;}

.breadcrumb>li+li::before{color: #c9dded!important;}
.titre_list {
    background: url("https://www.antennereunion.fr/squelettes/assets/img/back_titre_list.png") no-repeat left top;
    /* height: 32px; */
    margin: 0 0 15px 0;
    padding: 0 0 0 32px;
    font-family: "Maven Pro";
    font-size: 30px;
    font-weight: bold;
    color: #1f4563;
    width: 100%;
    clear: both;
    line-height: 1;
}
.ts_sur_les_candidats .nav-tabs > li.active > a, .ts_sur_les_candidats .nav-tabs > li.active > a:focus, .ts_sur_les_candidats .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: 0;
    color: #e2001a;
    font-weight: bold;
    border-bottom: 1px solid #e2001a;
}
.ts_sur_les_candidats .nav-tabs > li a:hover i, .ts_sur_les_candidats .nav-tabs > li.active > a:focus i, .ts_sur_les_candidats .nav-tabs > li.active > a i {
    color: #e2001a;
    font-weight: bold;
}
.ts_sur_les_candidats .nav-tabs > li a i {
    margin: 0 4px 0 0;
    color: #1f4563;
    font-weight: bold;
}
.container-section.topics-box .format-video span.roll {
    background: url("https://www.antennereunion.fr/squelettes/assets/img/back_span_video.jpg") no-repeat left bottom!important;
    opacity: 1!important;
}
.ts_sur_les_candidats .nav-tabs > li > a:hover {
    background-color: transparent;
    border: 0;
    color: #e2001a;
}
.ts_sur_les_candidats .nav.nav-tabs a {
    position: relative!important;
    z-index: 100!important;
    border: 0;
    font-family: "Maven Pro";
    font-size: 16px;
    color: #1f4563;
}

@media screen and (max-width: 480px){.container-section .list-container ul li{padding-right:0!important;}}

