@charset "utf-8";
/* CSS Document */
#mainContainer .main-inner{padding-left:0;padding-right:0;}
.bloc-right .row-pub{border:0;}
.footer .container-ar .column_block{margin-left:0;}
.footer .footer-bottom .text-center{width:100%;}
.footer .footer-bottom .bottom-wrap .text-center img{max-width:276px;}
.topics-box .topiclist ul li .text-holder{margin-left:0!important;}
.thumbimage .icon-video{top:50%;left:50%;display:none;}
.topics-box .topiclist ul li .thumb-wrapper .icon-video{background:none;}
.post_fig.thumbimage.format-video span.roll{background: url('https://www.antennereunion.fr/squelettes/assets/img/back_span_video.jpg') no-repeat left top !important;
opacity: 1 !important;}
a:hover{text-decoration:none!important;}
/*.menu-menu2 ul li a{background:url("https://www.antennereunion.fr/squelettes/assets/img/bg/menu2.gif") no-repeat scroll left center transparent!important;font-size:16px!important;padding:12px 10px!important;}*/
.menu-menu2 ul li a{background:url("https://www.antennereunion.fr/squelettes/assets/img/bg/menu2.gif") no-repeat scroll left center transparent!important;font-size:16px!important;padding:12px 6px!important;}
.menu-menu2 ul li a.active,.menu-menu2 ul li a:hover{background: #007fbe!important;
color: #ffffff !important;}
.widget-tab .widget-title{border-bottom:1px solid #007fbe;}
.widget-content .tab-content ul li:first-child .title-medias .num-count{background:#007fbe;}
.widget-content .tab-content ul li .title-medias .num-count{border:1px solid #007fbe;color:#007fbe;}
.morepostag a,.widget-content .tab-content ul li .figure-player .meta-title{background:#007fbe;}

.menu_responsive_cache{display:none;margin:0 auto;padding-left:15px;padding-right:15px;}
    .menu_responsive_cache .btn.btn-primary.dropdown-toggle{background: #007fbe;width: 100%;border: 0;border-radius: 0;font-family: "Maven Pro",sans-serif;
                                                            font-size: 15px;text-transform: uppercase;padding: 8px 0;margin: 0;}
    .menu_responsive_cache .dropdown-menu {
        position: inherit;
        float: left;
        border-radius: 0;
        margin: 0 0 19px 0;
        border: 0;
        background: #f7f7f7;
        box-shadow: none;
        width: 100%;
        padding: 19px 10px 0 10px;
    }
    .menu_responsive_cache .dropdown-menu li{/*width:50%;*/margin:0 0 14px 0;padding:0;float:left;}
    .menu_responsive_cache .dropdown-menu li:nth-child(even){width:30%;}
    .menu_responsive_cache .dropdown-menu li:nth-child(odd){width:70%;}
    .menu_responsive_cache .dropdown-menu li.reunion_compte_sur_vous{width:100%;}
    .menu_responsive_cache .icone_v{background:url(https://cdn.antenne.re/linfo/squelettes/assets/img/img_cap_2017/back_bouton_cache_fermer.png) no-repeat center top;width:8px;height:13px;display:inline-block;margin:0 0 0 15px;position:relative;top:1px;}
    .menu_responsive_cache.open .icone_v{background:url(https://cdn.antenne.re/linfo/squelettes/assets/img/img_cap_2017/back_bouton_cache_ouvert.png) no-repeat center top;width:13px;height:8px;top:0;}
    .menu_responsive_cache .dropdown-menu > li > a:focus,.menu_responsive_cache .dropdown-menu > li > a:hover,.menu_responsive_cache .dropdown-menu > li.active > a{background: url(https://cdn.antenne.re/linfo/squelettes/assets/img/img_cap_2017/back_list_menu_presidentiel_active.png) no-repeat left 8px;color:#013e7d;}
    .menu_responsive_cache .dropdown-menu > li > a{padding:0 0 0 10px;background:url(https://cdn.antenne.re/linfo/squelettes/assets/img/img_cap_2017/back_list_menu_presidentiel.png) no-repeat left 8px;font-family: "Maven Pro",sans-serif;font-size:13px;color:#424242;}
@media screen and (max-width:1024px) {
    #page_container{background-color: #ffffff !important;}
#main-footer{display:none!important;}
.logo-ar a img{margin:10px auto 0 auto!important;}
.menu-menu2{display:none;}
.section-bandeau .bandeau-inner .bandeau-right{display:none;}
.menu_responsive_cache{display:block;}
.navbar-toggle{position:relative;z-index:100;width:22px!important;}
	}
	@media screen and (max-width:991px) {.ar-side-col.bloc-right{padding-left:0!important;padding-right:0!important;max-width:300px!important;float:none!important;margin:0 auto!important;}.ar-side-col.bloc-right img{max-width:none!important;}.ar-main-col{float:none!important;}.main-inner .title-large{width:100%;}#wrapper .content-slide{width:100%!important;}}
@media screen and (max-width:768px) {.ar-side-col.bloc-right{padding-left:0!important;padding-right:0!important;max-width:300px!important;float:none!important;margin:0 auto!important;}.ar-side-col.bloc-right img{max-width:none!important;}}
@media screen and (max-width:700px) {.menu-menu2 ul li a{background:none!important;}.menu-menu2{display:none;}}
@media screen and (max-width:600px) {#wrapper.article_video .slideshow{height:inherit!important;}
.article-section .social_box, .social_box{/*width:100%;*/}
.article-section .social_box table, .social_box table{width:100%!important;}
.article-section .social_box table td, .social_box table td,.article-section .social_box table td div, .social_box table td div{width: inherit!important;}
.article-section .social_box table td div, .social_box table td div{/*width: inherit!important;*/margin-left:0!important;}
table.spip{width:100%!important;}
#cont_desc_twit{width:70px!important;}
}
@media screen and (max-width:560px) {.colonne_gauche_article_photo{margin-top:20px;float:left;width:100%;}}
	@media screen and (max-width:480px){.container-section .list-container ul li{margin-right:0;width:100%;}#wrapper.article_video .slideshow{height:inherit!important;}.feat-cat3 .main-cat ul li{width:100%;margin-left:0;}.ob-widget-items-container{width:100%!important;}.ob-dynamic-rec-container{width:100%!important;max-width:none!important;margin-bottom:20px!important;}}
    @media screen and (max-width:450px){
        .menu_responsive_cache .dropdown-menu li:nth-child(even){width:50%;}
        .menu_responsive_cache .dropdown-menu li:nth-child(odd){width:50%;}
    }
@media screen and (max-width:320px){.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]{min-width:inherit!important;}}
.programme-n3 .title-main-video{font-family: "Maven Pro",sans-serif;}
.archives-button a:hover, .morepostag a:hover {
    background-color: #e2001a;color: #FFFFFF;
}
.topics-box .topiclist ul li .thumb-wrapper {height: inherit !important;}
.widget-content .tab-content ul li .title-medias .item-title a {
    color: #1f4563;
    font-family: "Maven Pro", sans-serif;
    font-size: 17px;
    font-weight: 700;
}
.title-large .article-meta{font-family: "Maven Pro", sans-serif;}
.article-section .social_box, .social_box{/*width:100%;*/}
.article-section .social_box table, .social_box table{width:auto!important;}
.article-section .social_box table td, .social_box table td,.article-section .social_box table td div, .social_box table td div{width: inherit!important;}
.article-section .social_box table td div, .social_box table td div{/*width: inherit!important;margin-left:0!important;*/}
table.spip{width:100%!important;}
#cont_desc_twit{width:70px!important;}
#wrapper .slideshow{width:100%!important;}
#wrapper,.slideshow{width:100%!important;}
.couv_article_section_photo #wrapper .slideshow img{
    width: 100% !important;
    height: auto !important;
}
#wrapper #nav ul li {
    float: left;
    padding: 5px 0;
    margin: 0 0 0 10px !important;
    height: 72px !important;
    width: 80px !important;
}
.feat-cat3 .title-cat-header span {
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 15px;
    text-transform: uppercase;
}
.content_snap_code{width:100%;margin:10px 0;text-align:center;font-size:17px;color:#ffffff;font-family: "Maven Pro", sans-serif;}
.content_snap_code span{font-weight:bold;}
.content_snap_code img{margin-top:-3px;margin-right:10px;width: 25px !important;}