@charset "utf-8";



/* CSS Document */



.menu-menu2 {



    background-color: #eff4fa;



}



.content_reseaux_sociaux_top ul li.fb_top a{background: url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/icone_fb_grs2017.png) no-repeat left top;}



.content_reseaux_sociaux_top ul li.twetter_top a{background:url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/icone_tweeter_grs2017.png) no-repeat left top;}



.content_reseaux_sociaux_top ul li.intagram_top a{background:url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/icone_instagram_grs2017.png) no-repeat left top;}



.content_reseaux_sociaux_top ul li.snap_tchat_top a{background:url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/icone_snap_chat_grs2017.png) no-repeat left top;}



.breadcrumbs ul li:first-child a {background: transparent url('https://www.antennereunion.fr/squelettes/assets/img/fa-home.png') no-repeat scroll 0 0;display: inline-block;height: 20px;text-indent: -999em;width: 20px;}



.breadcrumbs ul li a {color: #597d9f!important;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 400;margin: 0px 8px 0px 0px;}



.breadcrumbs ul li a:hover {color: #e3001b !important;text-decoration:none;}



.breadcrumbs ul li{color: #597d9f !important;float: left;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 400;line-height: 23px;list-style-type: none;}



.content_liste_candidat_miss_reunion2017 ul li a{position:inherit!important;}



.content_liste_candidat_miss_reunion2017 ul li .couv_image_list{position:relative;}



.titre_list{background: url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/back_titre_grs2017.jpg) no-repeat left 2px;min-height:30px;font-size:25px;font-weight:bold;}



.titre_list span{margin-left:5px;font-family: "Maven Pro";color:#214462;font-size:28px;}



.content_commentaire{width:100%;margin:0 0 35px 0;padding:0;float:left;}



.content_commentaire .titre_reagissez{width:100%;margin:0 0 15px 0;padding:5px 16px;background:#007fbe;color:#fff;font-family: "Maven Pro";font-size:16px;}



.content_commentaire .titre_reagissez span{font-size:20px;}



.content_liste_candidat_miss_reunion2017{background:#047fc1 url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/back_content_list_grs2017.jpg) no-repeat left bottom;min-height:600px;background-size: cover;}



.content_liste_candidat_miss_reunion2017 ul li{margin:0 10px 20px 0;}



.content_liste_candidat_miss_reunion2017 ul li a:hover span.effet_hover{border-radius:5px;}



.content_liste_candidat_miss_reunion2017 ul li.elimine a img{ filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%)}



.content_liste_candidat_miss_reunion2017 ul li.elimine a span.effet_hover {position: absolute;display: block;background: rgba( 0, 0, 0, 0.3);width: 100%;height: 100%;top: 0;border-radius:5px;



}



.content_liste_candidat_miss_reunion2017 ul li a{color:#fff;text-decoration:none;text-align:center;font-family: "Maven Pro";font-size:14px;}



.content_time_partage i.fa.fa-clock-o{color:#1a89b4;}



.content_time_partage .time{color:#2f4f68;}



.topics-box .topiclist ul li{border-bottom:1px solid #dee5ed;}



.topics-box .topiclist ul li .topic-title{font-family: "Maven Pro";font-size:18px;font-weight:bold;}



.topics-box .topiclist ul li .topic-title a{color:#1f4663;}



.topics-box .topiclist ul li .text-holder .txt-extract{font-family: "Maven Pro";color:#243d51;}



.topics-box .topiclist ul li .text-holder .txt-extract a{color:#1e4660;}



.topics-box .topiclist ul li .text-holder .txt-extract a:hover{color:#e2001a;}



.topics-box .topiclist ul li .text-holder .readnext{color:#02a3e7;}



.container-section.topics-box span.roll{background: url('https://www.antennereunion.fr/squelettes/assets/img/back_span_article.jpg') no-repeat left bottom!important;}



.section-pagination .info-pagination a:hover, .section-pagination .info-pagination span.current, .section-pagination .pages .on, .section-pagination .pages a:hover{background:#d6d6de;border:1px solid #d5d5d7!important;}



menu_responsive_cache .btn.btn-primary.dropdown-toggle {background:#007fbe!important;width: 100%;border: 0;border-radius: 0;font-family: "Maven Pro",sans-serif;font-size: 15px;text-transform:uppercase;padding: 8px 0;margin: 0 0 10px 0;}



.content_video_page_direct_miss_reunion2017 .content_play{width:100%;margin:0;padding:0;float:left;}



.content_play_inner{width:100%;margin:0 0 11px 0;padding:0;float:left;}



.content_video_page_direct_miss_reunion2017 .content_play_inner_left{width:50%;float:left;}



.content_video_page_direct_miss_reunion2017 .content_play_inner_right{width:50%;float:left;position:relative;}



.content_video_page_direct_miss_reunion2017 .content_play_inner_right #video_container{width:98%;position:absolute;left:0;top:3%;max-height:260px;overflow:hidden;}



.content_video_page_direct_miss_reunion2017 .content_play_inner_right #video_container #playerqwjdIcLZTGfo_wrapper{max-height:260px!important;}



.menu-menu2 ul li a.active, .menu-menu2 ul li a:hover {background: #007fbe ;color: #ffffff;}



.titre_reagissez_nouv{width:100%;margin:0 0 30px 0;padding:0;}



.content_liste_candidat_miss_reunion2017{margin:0 0 20px 0;}



.content_deux_bloc{width:100%;margin:0 0 29px 0;padding:0;float:left;}



.content_jeux_grs{width:100%;margin:0 0 29px 0;padding:0;}



.content_image_exclu_web{position:absolute;right:0;top:0;}

.content_commentaire .wp-comments{height:130px!important; overflow-y:scroll!important;}

.content_commentaire .wpac .wp-textarea-wrap{height:50px!important;overflow-y:scroll!important;}

.page_dedie_runstar .meta-replay .titre-replay{font-size:18px!important;font-weight:bold!important;}

.page_dedie_runstar .meta-replay .titre-replay a:hover{text-decoration:none!important;}

.page_dedie_runstar .timeline-wrap ul .icon-video{left:45%!important;top:45%!important;}

.section-bandeau .bandeau-inner{bottom:0!important;}



/*page vendredi soire ludi soire*/

.container-section .media-heading {background-color: #f5f9fc;border: 1px solid #e5e9ed;color: #335572;font-family: "Maven Pro", sans-serif;font-size: 22px;font-weight: 700;line-height: 120%;margin: 0px 0px 20px;padding: 5px 0px 10px 15px;text-transform: uppercase;}

.container-section .list-container ul li {float: left;height: auto;line-height: 120%;list-style-type: none;margin: 0px 15px 20px 0px;overflow: hidden;position: relative;width: 200px;}

.programme-n3 .thumbimage {position: relative;}

.fond_noir {

    background: #000000 none repeat scroll 0 0;

    display: block;

    height: 100%;

    overflow: hidden;

    position: relative;

    width: 100%;

}

*{margin:0;padding:0;}

span.roll {

    background: url(../../img/lecture-article.png) no-repeat scroll center center;

        background-image: url("../../img/lecture-article.png");

    height: 100%;

    opacity: 0;

    position: absolute;

    width: 100%;

    z-index: 5;

}

.container-section .list-container ul li img{display: block;width: 100%;}

.list-cat .thumbimage .icon-video {

    background: url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll center center transparent;

    height: 45px;

    left: 80px;

    position: absolute;

    top: 30px !important;

    width: 46px;

}

.container-section .list-container ul li .title-panel3 {

    color: #1f4563;

    font-family: "Maven Pro", sans-serif;

    font-size: 17px;

    font-weight: 700;

    line-height: 100%;

    margin: 10px 0px 0px;

    text-align: left;

}

.container-section .list-container ul li.item_separator {

    clear: both;

    height: 0px;

    margin: 0px;

    overflow: hidden;

    width: 100%;

}

.container-section .list-container ul li:nth-child(4n-1) {

    margin-right: 0px;

}

.container-ar a {

    color: inherit;

    text-decoration: none;

}

.container-section .list-container ul li .title-panel3 a:hover {

    color: #E2001A;

}

.archives-button {

    clear: both;

    width: 100%;

}

.archives-button a {

    background: url("https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png") no-repeat scroll 15px center #007fbe;

    color: #ffffff;

    display: inline-block;

    font-family: "Maven Pro", sans-serif;

    font-size: 16px;

    font-weight: 700;

    padding: 10px 25px 10px 40px;

    text-transform: uppercase;

    transition: all 300ms ease 0s;

}

.archives-button a:hover, .morepostag a:hover {

    background-color: #e2001a;

    color: #FFFFFF;

}

.s-personnages.container-section{margin-bottom:20px;}

.header_bendeau_vendredi_lundi_soir{margin-bottom:29px;}
.jwplayer.jw-flag-aspect-mode{max-height:260px!important;}
.content_video_page_direct_miss_reunion2017 .content_play_inner_right iframe{width:100%!important;}
.timeline-wrapper .video-replay{width:60%;float:left;padding-right:10px;}
.page_dedie_runstar .linfo-timeline .video-replay img{height:auto!important;}
.page_dedie_runstar .timeline-content{width:524px;padding:10px 10px 0 10px;position:relative;margin-bottom:0;margin-top:1px;}
.conten_couv_text_social{width:40%;float:left;padding:0;}
.conten_couv_text_social .socializer-buttons.clearfix{position:absolute;margin:0;bottom:10px;width:50%;}
.page_dedie_runstar .timeline-wrap ul .icon-video{width:31px;height:30px;background-size:cover;}
.page_dedie_runstar .timeline-wrap ul li{margin-bottom:55px!important;}
.page_dedie_runstar .aside-timeline .heureReplay{font-size:16px!important; line-height:16px!important;font-family: ralewaylight !important;font-weight: bold !important;}
.page_dedie_runstar .aside-timeline .time-decoration{display:none;}
.page_dedie_runstar .aside-timeline .heureReplay i{color:#4bb0eb;}
.page_dedie_runstar .timeline-wrap ul li:after{width:100%;height:1px;background:#d8e6f1;position:relative;top:23px;}
.page_dedie_runstar .timeline-wrap ul li.linfo-item{background: url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/back_liste_coulisse.jpg) no-repeat 48px center!important;}
.page_dedie_runstar .linfo-timeline .aside-timeline{padding:0;}
.page_dedie_runstar .aside-timeline .dateReplay{margin-bottom:5px;}
.archives-pr a,.archives-replay-title a{color:#fff!important;}
@media screen and (max-width:1024px) {.menu_responsive_cache .btn.btn-primary.dropdown-toggle {background:#007fbe!important;}.content_image_exclu_web img{width:100px!important;}

.page_dedie_runstar .timeline-wrap ul .icon-video{left:45%!important;top:40%!important;}
.container-section .list-container ul li{width:33.333%!important;padding-left:15px!important;padding-right:15px!important;margin-right:0!important;}

.container-section .list-container ul li:nth-child(4n-1) {padding-right:0!important;}

.container-section .list-container ul li:nth-child(n){padding-left:0!important;}

.list-cat .thumbimage .icon-video{top:30%!important;left:45%!important;}
.contenu_xs, .content_block{width:auto;float:none;}
.page_dedie_runstar .timeline-wrap ul li.linfo-item {
    background-position: 8% center !important;
}
.page_dedie_runstar .aside-timeline .heureReplay{background:none;}
.navbar ul.mainmenu{width:100%!important;}
}



@media screen and (max-width:991px) {



	.ar-side-col.bloc-right.interne{width:100%!important;max-width:300px!important;margin:0 auto!important;float:none!important;clear:both;}



	#rect_haut_pub.pub-container{padding-top:20px!important;}



	#rect_haut_pub.pub-container div,.ar-side-col bloc-right.interne div{width:100%!important;}
.page_dedie_runstar .timeline-wrap ul .icon-video{left:45%!important;top:45%!important;}
.page_dedie_runstar .timeline-wrap ul li.linfo-item {
    background-position:8% center !important;
}


	}



@media screen and (max-width:768px) {.ar-side-col.bloc-right.interne{width:100%!important;max-width:300px!important;margin:0 auto!important;float:none!important;clear:both;}



.content_video_page_direct_miss_reunion2017 .content_play_inner_right #video_container{top:0;}
.page_dedie_runstar .timeline-wrap ul .icon-video{left:45%!important;top:45%!important;}
.page_dedie_runstar .timeline-wrap ul li.linfo-item {
    background-position: 8% center !important;
}
.ar-side-col.bloc-right{max-width:300px!important;margin:0 auto!important;float:none!important;clear:both!important;}
}

@media screen and (max-width:700px) {.page_dedie_runstar .linfo-timeline table{width:auto!important;}
.ar-side-col.bloc-right{max-width:300px!important;margin:0 auto!important;float:none!important;clear:both!important;}
}

@media screen and (max-width:480px) {.page_dedie_runstar .timeline-wrap ul .icon-video{left:45%!important;top:45%!important;}

.container-section .list-container ul li {

    margin-right: 0!important;

    width: 100%!important;

}

.list-cat .thumbimage .icon-video{top:40%!important;left:45%;}
.timeline-wrapper .video-replay{width:100%;}
.conten_couv_text_social{width:100%;}
.conten_couv_text_social .socializer-buttons.clearfix{position:inherit!important;width:100%;}

}



@media screen and (max-width:320px) {.content_image_exclu_web img{width:60px!important;}
.page_dedie_runstar .timeline-wrap ul li.linfo-item{background: url(https://www.antennereunion.fr/squelettes/assets/images_direct_grs2017/back_liste_coulisse.jpg) no-repeat 16px center!important;}
}