@charset "utf-8";

/* CSS Document */

@font-face {

    font-family: 'ralewaybold';

    src: url('../font/raleway-bold-webfont.woff2') format('woff2'),

         url('../font/raleway-bold-webfont.woff') format('woff'),

		 url('../font/raleway-bold.ttf') format('truetype'),

		 url('../font/raleway-bold.svg#ralewaybold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'ralewaylight';

    src: url('../font/raleway-light-webfont.woff2') format('woff2'),

         url('../font/raleway-light-webfont.woff') format('woff'),

		 url('../font/raleway-light.ttf') format('truetype'),

		 url('../font/raleway-light.svg#ralewaylight') format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'ralewayregular';

    src: url('../font/raleway-regular-webfont.woff2') format('woff2'),

         url('../font/raleway-regular-webfont.woff') format('woff'),

		 url('../font/raleway-regular.ttf') format('truetype'),

		 url('../font/raleway-regular.svg#ralewayregular') format('svg');

    font-weight: normal;

    font-style: normal;



}

/*top*/
/*modif tovo*/
.menu-menu2 ul li.generation_runstar_fblive{text-indent:-9000px;}
.menu-menu2 ul li.generation_runstar_fblive a{padding-left:5px;padding-right:5px;background:#ffffff url(../../img/generation_runstar/logo_fb_live.png) no-repeat scroll center center!important;width:80px;}
.menu-menu2 ul li.generation_runstar_fblive a.active,.menu-menu2 ul li.generation_runstar_fblive a:hover{padding-left:5px;padding-right:5px;background:#007fbe url(../../img/generation_runstar/logo_fb_live.png) no-repeat scroll center center!important;}
/**/
body{background:#fff!important;}

body a{outline:none!important;background-color:inherit;}

.menu_top ul li:first-child a{padding-left:0!important;}

.header-container .container-ar {background-color: #0a1118!important;margin: 0 auto!important;width: 1000px!important;}

.header-container .container-ar {background-color: #0a1118!important;margin: 0!important;width:100%!important;}

.header-container .container-ar ul {margin:0 0 0 0!important;width:100%!important;list-style-type:none!important;padding:0!important;}

.menu_top ul li {float: left;height: 10px;line-height: 10px;list-style-type: none;margin: 0;}

.menu_top ul li a { border-left: 1px solid #888888!important;color: #999999!important;display: block!important;font-family: "Open Sans",sans-serif!important;font-size: 11px!important;font-weight: 600!important;height: 10px!important;line-height: 10px!important;padding: 0 10px!important;text-decoration: none!important;}

.menu_top ul li:first-child a{border:0!important;}

.menu_top ul li a:hover{color:#fff!important;}

.header-container .menu_top{padding-top:8px!important;padding-bottom:8px!important;}

/*titre direct*/

.titre-replay{font-family: 'ralewayregular';font-size: 20px; font-weight: 500;}

/*header_image*/

.ad-banner {background: #ffffff none repeat scroll 0 0;/*padding:5px 0;*/position:relative;z-index: 99999;}

.container-ar{width:100%!important;margin:0!important;/*text-align:center!important;*/}

.header-container{background-color:#0a1118!important;}

/*header menu*/

.header{background: #ffffff url(../../img/bg_menu3.png) repeat-x scroll left bottom;box-sizing: border-box;padding: 0;position: relative;width: 100%;z-index: 9999999;}

.header .wrapper-header {margin:0;width:100%;position:relative;}

.wrapper-header .container-ar .logo-ar {background-color: #ffffff;float: left;margin: 0 20px 0 0;}

.logo-ar a img {position: absolute;top: 0;width: 150px;z-index: 100;}

.header .nav-container {float: left;margin: 20px 0 17px 155px;width:625px;}

.header .nav-container  .navbar-collapse {float:left!important;/*height:21px!important;*/line-height:21px!important;margin:0!important;padding:0!important; overflow:inherit!important;}

.info-nav {height: auto;margin:0;position: relative;}

.navbar ul.mainmenu {background: transparent none repeat scroll 0 0;margin: 0;list-style-type:none;padding:0!important;}

.social-top {border-right: 1px solid #305c80;float: left;margin:5px 0 0 !important;padding: 0 7px 0 0;position: relative;}

.social-top ul{margin:0!important;padding:0!important;}

.social-top ul li {float: left;list-style-type: none;margin: 0 5px;}

.social-top ul li a {background: transparent url(../../img/icon-sociaux.png) no-repeat scroll 0 0;display: block;float: left;height: 25px;text-indent: -999em;width: 25px;}

.social-top ul li .fb {background-position: 0 0;}

.social-top ul li .fb:hover{background-position:-56px 0;}

.social-top ul li .twitter {background-position:1px -27px;}

.social-top ul li .twitter:hover{background-position:-55px -27px;}

.social-top ul li .gplus {background-position: 0 -54px;}

.social-top ul li .gplus:hover{background-position:-56px -54px;}

.social-top ul li .nl {background-position: 0 -82px;}

.social-top ul li .nl:hover{background-position:-56px -82px;}

.block-search {margin-top: 10px;min-height: 25px;}

.block-search .input-group-button {height: 25px;margin-bottom: 0;position: absolute;right: 0;top: -1px;width: 25px;}

.block-search .search, .block-search .search:hover {background: transparent url(../../img/bt-search.png) no-repeat scroll center top;cursor: pointer;display: block;height: 25px;text-indent: -999em;

width: 100%;}

.navbar-toggle .icon-bar{background-color:#000!important;}

.header-container .container-ar{width:100%!important;margin:0!important;}

.adv-top.ad-banner{width:100%!important;}

.categoriesN1{display:none;height: 392px;left: -155px;padding: 10px 0 0;position: absolute;top: 33px;width: 1000px;z-index: 10;}

#menuLareunion {background: #1f4563 url(../../img/bg-pg.jpg) no-repeat scroll 0 -4px;}

#menuLareunion .menuExclu {background-color: #1f4563;padding: 19px 20px 17px;}

#menuLareunion2 .menuExclu {background-color: #1f4563;padding: 19px 20px 11px;}

.menuExclu .listLiens {border-left: 1px solid #2c618b;float: left;margin: 0 20px 20px 0;padding: 0 0 0 20px;width: 280px;}

.menuExclu .listLiens:first-child {border: 0 none;padding: 0;}

.menuExclu .listLiens .listLiensTitle{color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;margin: 0 0 15px;text-transform: uppercase;}

.menuExclu .listLiens ul li {list-style-type: none;margin: 0 0 6px;text-align:left;}

.menuExclu .listLiens ul{margin:0!important;padding:0!important;}

.menuExclu .listLiens ul li a {color: #97bedf;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 500;text-transform: uppercase;}

.menuExclu .listLiens ul li a:hover{text-decoration:none!important;}

.menuExclu .listLiens ul li a:hover {color: #ffffff;}

.content-slide #nav {height: 60px;overflow: hidden;}

.menuExclu .listLiens .listLiensTitle {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;text-transform: uppercase;text-align:left;}

.menuExclu .listLiens .listLiensTitle  a{color:#fff!important;}

.archives-programme-menu {padding: 10px 0 0;width: 100%;}

.archives-pr {display: inline-block;float: right;font-family: "Maven Pro",sans-serif;font-size: 16px;font-weight: 700;text-transform: uppercase;transition: all 300ms ease 0s;}

.fa-chevron-right {color: #2b5f88;content: "ï”";display: inline-block;font-family: FontAwesome;font-size: 14px;font-style: normal;font-weight: normal;line-height: 1;margin: 0 4px 0 0;}

.archives-pr .fa-chevron-right {color: #2b5f88!important;}

.archives-pr a {color: #ffffff;display: inline-block;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 600;text-transform: uppercase;transition: all 300ms ease 0s;}

.archives-pr a:hover{text-decoration:none!important;}

.news-pr-title {clear: both;color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;margin: 0 0 10px;text-transform: uppercase;width: 100%;text-align:left!important;padding:10px 0;}

.ligne-news {float: left;margin: 0;width: 100%;}

.ligne {border-color: #2c618b;border-style: solid;border-width: 0 0 1px;margin:-10px 0 0 112px;}

.news-block-menu {margin: 0;width: 100%;}

.news-bloc-container {float: left;margin: 0 48px 0 0;width: 272px;text-align:left!important;}

.news-bloc-container .image-news{float: left;height: 65px;margin-right: 10px;overflow: hidden;position: relative;width: 116px;}

.fond_noir {background: #000000 none repeat scroll 0 0;display: block;/*height: 100%;*/overflow: hidden;position: relative;width: 100%;}

.page_dedie_runstar span.roll {width: inherit !important;}

span.roll {background: rgba(0, 0, 0, 0) url("../../img/bg/lecture-article.png") no-repeat scroll center center;height: 100%;opacity: 0;position: absolute;width: 100%;z-index: 5;}

.chapo-bloc {float: left;width: 146px;}

.news-pr-description {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 500;line-height: 100%;text-align:left!important;}

.news-pr-description a{color:#fff!important;}

.news-pr-description a:hover{text-decoration:none!important;color: #97bedf!important;}

.menuExclu .listLiens-programme ul li .news-pr-description-title a,.news-pr-description .news-pr-description-title a {color: #97bedf!important;display: block;font-family: "Maven Pro",sans-serif;

font-size: 13px;font-weight: 500;line-height: 100%;margin: 8px 0 0;text-transform: uppercase;}

#menuLareunion2 {background: #1f4563 url(../../img/bg-pg.jpg) no-repeat scroll 125px -4px;}

.bloc_pub {display: block;height: 21px;position: absolute;right:0;text-align: center;top: -19px;width: 100%;z-index: 10;}

#menuLareunion2 .menuExclu {background-color: #1f4563;padding: 19px 20px 11px;}

.prog-block {margin: 0 0 20px 0;width: auto;}

.menuExclu .listLiens-programme {border-left: 1px solid #2c618b;float: left;height: 334px;margin: 0 20px 0 0;padding: 0 0 0 20px;width: 280px;}

.menuExclu .listLiens-programme:first-child {border: 0 none;padding: 0;}

.menuExclu .listLiens-programme .listLiensTitle-programme {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;margin: 0 0 15px;text-transform: uppercase;text-align:left!important;}

.menuExclu .listLiens-programme ul{margin:0!important;padding:0!important;}

.menuExclu .listLiens-programme ul li {list-style-type: none;margin: 0 0 6px;}

.progr-bloc-container1 {float: left;margin-bottom: 10px;width: 272px;}

.image-news {float: left;height: 65px;margin-right: 10px;overflow: hidden;position: relative;width: 116px;margin-bottom:0!important;}

.menuExclu .listLiens-programme ul li a {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 500;}

.image-news span.roll {width: inherit !important;left:0!important;}

.archives-replay-menu {float: left;padding: 10px 0 0;width: 100%;}

.archives-replay-title {display: inline-block;float: right;font-family: "Maven Pro",sans-serif;font-size: 16px;font-weight: 700;text-transform: uppercase;transition: all 300ms ease 0s;}

.archives-replay-title a {color: #ffffff;display: inline-block;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 600;text-transform: uppercase;transition: all 300ms ease 0s;}

.archives-replay-title a:hover{color:#97bedf;}

.archives-replay-title a:hover{text-decoration:none!important;}

.archives-replay-title .fa-chevron-right {color: #2b5f88;}

.menuExclu .listLiens-programme .listLiensTitle-programme a{color:#fff!important;}

.menuExclu .listLiens-programme ul li .news-pr-description-title a:hover,.news-pr-description .news-pr-description-title a:hover{text-decoration:none!important;color:#fff!important;}

/*page container*/

.section-bandeau {height: 267px;position: relative;}

.section-bandeau .bandeau-inner {bottom: 20px;display: block;padding: 25px 0 0;position: absolute;right: 0;}

.section-bandeau .bandeau-inner .bandeau-right {float: right;position: relative;z-index: 4;}

.bandeau-right .b-title {background: rgba(33, 69, 99, 0.8) none repeat scroll 0 0;clear: both;color: #ffffff;float: right;font-family: "Maven Pro",sans-serif;font-size: 40px;font-weight: 700;padding: 0 20px 5px;}

.menu-menu2 {background-color: #eff4fa;}

.menu-menu2 ul li {float: left;list-style-type: none;margin:0!important;padding:0!important;}

.menu-menu2 ul li a {background: transparent url(../../img/menu2.gif) no-repeat scroll left center;color: #1f4563;display: block;font-family: "Maven Pro",sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;padding: 12px 20px;text-decoration: none;text-transform: uppercase;transition: all 0.3s ease 0s;}

.menu-menu2 ul{margin:0!important;padding:0!important;}

.menu-menu2 ul li:first-child a{background-image:none!important;}

.menu-menu2 ul li a:hover, .menu-menu2 ul li a.active {background: #007fbe none repeat scroll 0 0;color:#ffffff!important;}

.menu-menu2 ul li.rouge a.active {background: #e2001a none repeat scroll 0 0;color:#ffffff!important;}

.programme-n3 #mainContainer .main-inner {border-top: 0 none;padding-top:15px;}

.page_container .container-ar .main-inner {background-color:#ffffff;}

.programme-n3 #mainContainer .breadcrumbs {border-bottom: 1px solid #d8e6f1!important;padding:25px 15px 10px!important;background:#fff!important;}

.breadcrumb {background-color:#fff!important;border-radius:0!important;list-style: outside none none;margin-bottom:0!important;padding:0!important;}

.breadcrumbs ul li {color:#597d9f!important;float: left;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 400;line-height: 23px;list-style-type: none;}

.breadcrumbs ul li a{color:#597d9f!important;text-decoration:none;}

.breadcrumbs ul li a:hover{color:#e2001a!important;}

.breadcrumbs ul li:first-child a {background: transparent url(../../img/fa-home.png) no-repeat scroll 0 0;display: inline-block;height: 20px;text-indent: -999em;width: 20px;}

.breadcrumb > li + li::before {color: #c9dded!important;/*content: "ï”"!important;*/display: inline-block!important;font-family: FontAwesome!important;font-size: 12px!important;font-style: normal!important;font-weight: normal!important;line-height:1!important;margin: 0 6px 0 0!important; content: ""!important;}

.footer {background-color: #214563;}

.header .wrapper-header{width:100%!important;margin:0!important;padding:0!important;background:none!important;}

.header{height:55px!important;}

.footer-copyright .container-ar {background-color:#0a1118;margin: 0;padding: 8px 0;text-align:center;width:100%;}

.footer-copyright p{color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 12px;font-weight: 400;line-height: 120%;text-align: center;}

.footer-copyright p a{color:#fff!important;text-decoration:#fff!important;}

.programme-n3 .page_container {margin: 0 auto;}

.bloc_bottom{width:100%!important;clear:both!important;text-align:center!important;}

.bloc_bottom .adv-bottom {/*border-top: 1px solid #cdddeb!important;*/padding:20px 0 0!important;margin-bottom:20px!important;}

#toTop{background: #007fbe none repeat scroll 0 0;border: medium none;border-radius: 500px;bottom: 20px;color: #ffffff;display: none;font-size: 26px;line-height: 100%;overflow: hidden;padding: 10px;

position: fixed;right: 20px;text-align: center;text-decoration: none;transition: all 500ms ease 0s;}

#toTop:hover{background-color:#e2001a!important;}

/*footer*/

.footer .container-ar .column_block .block-title{color: #7caacb;font-family: "Open Sans",sans-serif;font-size:18px;font-weight: 400;margin: 0 0 8px;text-align:left;}

.footer .container-ar .column_block ul{border-top: 1px solid #437ca7;padding:14px 0 0;list-style-type:none!important;}

.footer .container-ar .column_block ul li {list-style-type:none;text-align:left!important;}

.footer .container-ar .footer-wrap {padding: 25px 0;}

.footer-bottom{background-color:#101f2c!important;}

.footer-copyright{background-color: #0a1118!important;}

.footer-widgets .row .col-md-12{padding-left:0!important;padding-right:0!important;}

.footer-widgets .row .col-md-7{padding-left:0!important;padding-right:0!important;}

.footer-widgets .row .col-md-5{padding-right:0!important;}

.footer-widgets .col-md-7 .column_block.col-md-4:first-child{padding-left:0!important;}

.footer-widgets .col-md-7 .column_block.col-md-4:last-child{padding-right:0!important;}

.footer-widgets .col-md-5 .column_block.col-md-6:last-child{padding-right:0!important;}

.footer .container-ar .column_block ul li a{color: #7caacb;font-family: "Open Sans",sans-serif;font-size: 13px;font-weight:400;text-decoration:none;}

.footer .container-ar .column_block ul li a:hover{color:#fff!important;}

.footer .footer-bottom .container-ar {background-color: #101f2c;padding: 25px 0 20px;}

.footer .footer-bottom .text-center{margin: 0 0 20px 0;}

.footer .footer-bottom .bottom-wrap{text-align:center!important;}

.footer .footer-bottom .bottom-wrap .text-center img{margin:0 auto!important;display:block!important;}

.footer-sociaux {margin: 0 auto;width:255px;}

.footer-sociaux ul{margin:0;padding:0;}

.footer-sociaux ul li {float:left;list-style-type:none;margin: 0 15px;}

.footer-sociaux ul li a {background: transparent url(../../img/icon-sociaux-01.png) no-repeat scroll 0 0;display: block;float: left;height:33px;text-indent: -999em;width:33px; opacity:1!important;position:relative!important;}

.tooltip-content::after {border-color: #1a1a1a rgba(0, 0, 0, 0) transparent;border-style: solid;border-width: 7px 7px 0;bottom: -6px;content: "";height: 0;left: 10px;position: absolute;width: 0;}

.tooltip-content {background-color: #1a1a1a;background-image: linear-gradient(to bottom, #404040, #1a1a1a);background-repeat: repeat-x;border-radius: 3px;bottom: 100%;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);color: #ffffff !important;font: 11px/1.6em "Arial",sans-serif;left: 0;margin: 0 0 -7px;min-width: 44px;opacity: 0;padding: 2px 5px;pointer-events: none;position: absolute;text-align: center;text-decoration: none;text-indent: 0;text-shadow: none;transition: opacity 0.3s ease 0s, margin 0.3s ease 0s;visibility: hidden;white-space: nowrap;z-index: 998;}

.footer-sociaux ul li a:hover .tooltip-content{ visibility:visible!important;}

.footer-sociaux ul li .fb-ar{background-position:-37px 0;}

.footer-sociaux ul li .fb-ar:hover{background-position:1px 0;}

.footer-sociaux ul li .tw-ar{background-position:-37px -37px;}

.footer-sociaux ul li .tw-ar:hover{background-position:1px -37px;}

.footer-sociaux ul li .google-ar{background-position: -37px -74px;}

.footer-sociaux ul li .google-ar:hover{background-position:1px -74px;}

.footer-sociaux ul li .nl-ar{background-position: -38px -111px;}

.footer-sociaux ul li .nl-ar:hover{background-position:0 -111px;}

.block-search{min-height:25px;margin-top:10px;}

.block-search .search,.block-search .search:hover{background: url(../../img/bt-search.png) no-repeat scroll center top transparent;height: 100%;text-indent: -999em;width: 100%;cursor: pointer;display: block;height: 25px;}

.wrapper-header .search-expand .button-search{background: url(../../img/bt-search.png) no-repeat scroll center 2px transparent;height: 100%;text-indent: -999em;width: 25px;cursor: pointer;display: block;height: 27px; border: medium none;width:25px}

.wrapper-header .search-expand {position: absolute;right: 0px;top: 15px;z-index: 9999;background: #f3f3f3;width: 25px;overflow: hidden;height: 25px;border-radius: 0 12px 12px 0!important;}

.wrapper-header .search-expand input.search, .wrapper-header .search-expand .input-search {width:100%;max-width:315px;border-style:none;background:none;background:hsla(0,0%,100%,0.24) no-repeat  10px center;padding:0px 4px 0px 15px;-moz-transition:all 0.7s ease 0s;-o-transition:all 0.7s ease 0s;-webkit-transition:all 0.7s ease 0s;transition:all 0.7s ease 0s;-webkit-box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;font-family:inherit;color: #9c9c9c;font-size: 13px;font-family: "Maven Pro",sans-serif;font-weight: 400;height: 25px;position: absolute;right: 0;line-height: 25px;border-radius: 0 12px 12px 0!important;}

.input-group-button{position: absolute;top:-1px;right: 0;margin-bottom: 0;width:25px;height:25px;}

.block_top_run_star{background:#f0f5f9!important;border:1px solid #e5e9ed!important;padding:13px 21px!important;margin:0 0 19px 0!important;}

.block_top_run_star h1{border-bottom:1px solid #e5e9ed!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:20px!important;color:#335272!important;margin:0 0 10px 0!important;padding:0 0 5px 0!important;}

.block_top_run_star p{color:#335272!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:16px!important;margin:0 0 26px 0!important;padding:0!important;}

.block_top_run_star p:last-child{margin:0!important;}

.ar-main-col {float: left;margin:17px 0 0 0;width: 630px;}

.programme-n3 .thumbimage {position: relative;}

.ar-main-col .post_fig {margin: 0 0 20px;}

.bloc-right {float: right;width: 310px;}

.bloc-right .row-pub{/*border-top: 1px solid #0032b0;*/height: 1px;margin: 0 0 14px;}

.bloc-right .pub-container{margin: 0 auto 20px;padding: 17px 0 0;width: 300px;}

.reagit{margin-bottom: 20px !important;}

.widget-tab .widget-title{border-bottom: 1px solid #0032b0;margin: 0 0 10px;}

.widget-tab.reagit .widget-title{border:0;}

.widget-tab.reagit .grs{background:#fff;padding-left:10px!important;}

/*.widget-tab .widget-title span {background-color:#0032b0;color: #ffffff;display: inline-block;float: left;font-family: 'ralewayregular';font-size: 20px;font-weight: 700;padding: 5px 20px;}*/

.widget-tab.reagit .widget-title span{text-transform:inherit!important;}

.page_dedie_runstar .voir_plus.video-list.actu-en-continu span.roll{width:inherit!important;}

.page_dedie_runstar h2.section-titre-der{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:30px!important;color:#1f4563!important;color:#1f4563!important;}

.page_dedie_runstar .timeline-wrap ul {padding: 20px 0 0;list-style-type:none!important;}

.page_dedie_runstar .timeline-wrap ul li{margin-bottom:75px!important;}

.page_dedie_runstar .linfo-timeline .aside-timeline {background-color: #fff;float: left;padding: 5px 0 0;text-align: center;width:106px;}

.page_dedie_runstar .timeline-content {background-color: #f0f5f9;float:right;padding: 10px 20px;width: 460px;}

.page_dedie_runstar .timeline-wrap ul li.linfo-item{background: url(../../img/timeline_bg.png) no-repeat 48px center!important;}

.page_dedie_runstar .aside-timeline .heureReplay {font-size:25px!important;color:#00335c!important;margin: 0 0 3px 0!important;font-family:"Maven Pro"!important;font-weight:normal!important;}

.page_dedie_runstar .aside-timeline .dateReplay {font-size:12px;color:#4bb0eb;font-family:"Maven Pro"!important;font-weight:normal!important;}

.page_dedie_runstar .meta-replay .titre-replay {font-family:"Maven Pro"!important;font-weight:normal;font-style: normal;font-size:25px;margin: 0 0 10px 0;color:#133754;}

.page_dedie_runstar .linfo-timeline .video-replay{margin: 0 0 15px 0;position: relative;}

.page_dedie_runstar .linfo-timeline .video-replay img{display:block;width:100%;}

.lien_chanson img{width: inherit!important;margin:0 auto!important;}

.lien_chanson a{margin-bottom:20px!important;display:block!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:25px!important;text-decoration:underline!important;color:#007fbe!important;}

.lien_chanson{text-align:center;width:100%;}

.page_dedie_runstar .timeline-wrap ul .icon-video{left:50%!important;top:50%!important;}

.widget-tab .widget-title span{text-transform:uppercase!important;}

.reagit{margin-bottom:20px!important;}

.page_dedie_runstar .block_echange_direct{background:#f0f5f9!important;border:1px solid #cdddeb!important;padding:10px 20px 10px 20px!important;margin:0 0 20px 0!important;}

.page_dedie_runstar .block_echange_direct h2{margin:0 0 10px 0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:28px!important;color:#1f4563!important;line-height:33px!important;}

.page_dedie_runstar .block_titre{background:#f0f5f9!important;border:1px solid #cdddeb!important;padding:13px 14px!important;margin:0 0 30px 0!important;}

.page_dedie_runstar .block_titre h2{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:bold!important;font-size:25px!important;color:#1f4563!important;}

.page_dedie_runstar .list_video ul{list-style-type:none!important;margin:0 0 20px 0!important;padding:0!important;}

.page_dedie_runstar .list_video ul li{float: left!important;list-style-type: none!important;margin: 0 15px 10px 0!important;width:199px!important;}

.page_dedie_runstar .list_video ul li a.fond_noir{margin:0 0 5px 0!important;height:113px!important;position:relative!important;}

.page_dedie_runstar .list_video ul li:last-child{margin:0 0 10px 0!important;}

.page_dedie_runstar .list_video ul li .icon-video{background:transparent url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0 0!important;position:absolute!important;left:0!important;top:50%!important;}

.page_dedie_runstar .list_video ul li .hover-vdeos:hover{background:transparent url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0 0!important;position:absolute!important;left:76px!important;top:34px!important;}

.page_dedie_runstar .list_video ul li .tile-title a{font-family:"Maven Pro"!important;font-weight:bold!important;font-size:17px!important;color:#1f4563!important;margin:0!important;padding:0!important;}

.page_dedie_runstar span.roll{width:inherit!important;}

.page_dedie_runstar .topics-box .topiclist ul{border:0!important;padding:0!important;list-style-type:none!important;}

.page_dedie_runstar .info_candidat{margin:16px 0 20px 0!important;}

.contenu_xs .content_block{display:none!important;}

.menu_xs{display:none!important;}

span.roll {background: url(../../img/lecture-article.png) no-repeat scroll center center;height: 100%;

    opacity: 0;

    position: absolute;

    width: 100%;

    z-index: 5;

}

.video-replay .icon-video {

    background: transparent url(../../img/ico_video_45.png) no-repeat scroll 0 0;

    height: 45px;

    left: 340px;

    position: absolute;

    top: 190px;

    width: 46px;

}

/*css popup*/

#popup_runstar{position:absolute!important;margin-left:0!important;left:20%!important;right:20%!important;}

#page_container {

    background-color:#09152B;

    background-image: url(../images/habillage-GRS_2016.jpg);

    background-position: center 0;

    background-repeat: no-repeat;

    position: relative;

}

.topics-box .topiclist ul {

   /* border-top: 1px solid #0032b0;

    display: block;

    padding: 20px 0;*/

}

.topics-box .topiclist ul li {

    line-height: 120%;

    list-style-type: none;

}

.topics-box .topiclist ul li {

    border-bottom: 1px solid #cdddeb;

    line-height: 120%;

    list-style-type: none;

    margin: 0 0 20px;

    padding: 0 0 20px;

    position: relative;

}

.topics-box .topiclist ul li .thumb-wrapper {

    float: left;

    height: 174px;

    overflow: hidden;

    position: relative;

    width:50%;

	padding-right:15px;

}

.topics-box .topiclist ul li .topic-title {

    color: #1f4563;

    font-family:"Maven Pro";

    font-size:18px;

    font-weight:bold;

    line-height:none;

	margin-top:0;

    margin-bottom: 10px;

}

.topics-box .topiclist ul li .topic-title a{color: #1f4563;}

.topics-box .topiclist ul li .text-holder .txt-extract {

    color: #1f4563;

    font-family:"Maven Pro";

    font-size: 15px;

    font-weight:normal;

    line-height:none;

}

.topics-box .topiclist ul li .text-holder .txt-extract a{color: #1f4563;}

.topics-box .topiclist ul li .text-holder .txt-extract a:hover{text-decoration:none;color: #e2001a;}

.topics-box .topiclist ul li .text-holder .readnext {

    bottom: 18px;

    color: #009efe;

    display: block;

    font-family:"Maven Pro";

    font-size: 15px;

    font-weight:400;

    position: absolute;

    right: 0;

    text-align: right;

}

.topics-box .topiclist ul li .text-holder .readnext:hover{text-decoration:none!important;color:#e2001a;}

/*.topics-box .topiclist ul li .topic-title a{color: #1f4563;}*/

.topics-box .topiclist ul li .topic-title a:hover{text-decoration:none;color:#e2001a;}

.topics-box .topiclist ul li .text-holder{float:right;width:50%;}

.topics-box .topiclist ul li .thumb-wrapper img{display:block!important;width:100%!important;}

.cc_container{background:#f5f5f5!important;border-top:1px solid #d9d9d9!important;font-family:"Maven Pro"!important;}

.cc_container .cc_message{color:#1f4563!important;}

.cc_container a.cc_more_info, .cc_container a.cc_more_info:visited{color:#008dce!important;}

.cc_container .cc_btn, .cc_container .cc_btn:visited{background: #007FBE url("https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png") no-repeat scroll 15px center!important;color: #FFF!important;display: inline-block!important;font-family: "Maven Pro",sans-serif!important;font-size: 16px!important;font-weight: 700!important;padding: 10px 25px 10px 40px!important;text-transform: uppercase!important;transition: all 300ms ease 0s!important;border-radius:0!important;}

.cc_container .cc_btn:hover{background-color:#e2001a!important;}

.cc_banner-wrapper {z-index: 1000000000!important;}

#companion_top{text-align:center!important;margin:0 auto;}

/*miss reunion*/

.info-nav ul li a .info-nav-txt {

    margin: 0 2px;

    padding: 0 4px;

    position: relative;

}

.navbar ul li .menu-n1 {

    border-right: 1px solid #305c80;

    color: #1f4563 !important;

    font-family: "Maven Pro",sans-serif !important;

    font-size: 14px !important;

    font-weight: 700;

    padding: 0 !important;

    text-decoration: none !important;

    text-shadow: inherit !important;

}

.navbar ul.mainmenu{width:650px;}

.block_soc_search{width:180px;margin-top:10px;float:right;}

.adv-top.ad-banner.miss_reunion{background:#ebedee;position:inherit!important;}

/*#fl_menu.info-nav ul li{float:left;line-height: 110%;margin:0 10px 0 0;}

#fl_menu.info-nav ul{background: transparent none repeat scroll 0 0;list-style-type: none;margin: 0;padding: 0 !important;}

#fl_menu.info-nav ul a{font-family: 'ralewayregular';font-size:14px;color:#0032b0;font-weight:bold;}*/

/*#fl_menu.info-nav ul a span{padding:8px;}

#fl_menu.info-nav ul a:hover,#fl_menu.info-nav ul a.active{text-decoration:none;color:#fff;}

#fl_menu.info-nav ul a:hover span,#fl_menu.info-nav ul .active span{background:#0032b0;}*/

.logo_miss{position:absolute!important;right:0!important;top:-9px!important;}

.logo_miss img{max-width:130px;}

.annonce_run_star img,.partage_reseau_socio_linfo img{margin:0 auto 20px auto;}

.programme-n3 #mainContainer .ar-main-col .breadcrumbs{padding:0 15px 10px 0!important;}

.programme-n3 #mainContainer .ar-main-col .breadcrumbs a{font-family: 'ralewayregular';}

.programme-n3 .title-main-video {background: transparent url("../../img/data/bg-title-video.fw.png") repeat scroll center center;

    bottom: 0;

    color: #ffffff;

    font-family: "Maven Pro",sans-serif;

    font-size: 22px;

    font-weight: 400;

    left: 0;

    position: absolute;

    text-decoration: none;

    width: 100%;

}

.programme-n3 .title-main-video p {

    margin: 0;

    padding: 3px 10px 5px;

}

.programme-n3 .title-main-video p a{color:#fff;}

.programme-n3 .title-main-video {

    color: #ffffff;

    font-family: 'ralewayregular';

    font-size:18px;

    font-weight:normal;

	background: url("https://www.antennereunion.fr/squelettes/assets/img/data/bg-title-video.fw.png") repeat-x center center;

	margin-bottom:0;

	padding:5px 0;

}

.search-expand {

    background: #f3f3f3 none repeat scroll 0 0;

    border-radius: 0 12px 12px 0;

    height: 25px;

    overflow: hidden;

    position: absolute;

    right:20px;

    top: 15px;

    width: 25px;

    z-index: 9999;

}

.search-expand .input-search {

    background: hsla(0, 0%, 100%, 0.24) none no-repeat scroll 10px center;

    border-style: none;

    box-shadow: 0 1px 5px 1px hsla(0, 0%, 0%, 0.3) inset;

    color: #9c9c9c;

    font-family: "Maven Pro",sans-serif;

    font-size: 13px;

    font-weight: 400;

    height: 25px;

    line-height: 25px;

    /*max-width: 290px;*/

    padding: 0 4px 0 15px;

    position: absolute;

    right: 0;

    transition: all 0.7s ease 0s;

    width: 100%;

}

.block-search .input-group-button {

    height: 25px;

    margin-bottom: 0;

    position: absolute;

    right:0;

    top: -1px;

    width:25px;

}

.search-expand .button-search {

    background:url(../../img/back_search.jpg) no-repeat center top;

    border: medium none;

    cursor: pointer;

    display: block;

    height: 26px;

    text-indent: -999em;

    width: 27px;

	margin-top:-1px;

	position:absolute;right:0;

}

.post_fig.thumbimage span.roll{background:url(../../img/back_span_article.jpg) no-repeat left top!important; opacity:1!important;}

.post_fig.thumbimage span.roll.video{background:url(../../img/back_span_video.jpg) no-repeat left top!important; opacity:1!important;}

.container-section.topics-box span.roll{background:url(../../img/back_span_article.jpg) no-repeat left bottom!important; opacity:1!important;}

.container-section.topics-box .format-video span.roll{background:url(../../img/back_span_video.jpg) no-repeat left bottom!important; opacity:1!important;}

.container-section.topics-box .photo span.roll{background: url(../../img/back_photo.jpg) no-repeat left bottom!important; opacity:1!important;}

#main-footer .container{padding-left:15px!important;padding-right:15px!important;}

/*#main-footer .container .row{margin-left:0;margin-right:0;}*/

a {

   /* transition: color 0.3s ease 0s;*/

}

.footer  .col-md-6.col-sm-12.col-xs-12{padding-left:0;padding-right:0!important;}

.footer .container-ar .column_block.partenaire ul li{text-align:center;margin:0 5px 14px 0;padding:0;float:left;}

.footer .container-ar .column_block.partenaire ul{margin-left:2px;}

#owl-demo .item img{display: block;width: 100%;height: auto;}

.container-fluid.slide{padding-left:0!important;padding-right:0!important;/*max-width:1000px;*/}

.slider_miss{width:100%;margin:0 0 0 0;padding:0;float:left;}

.owl-pagination{display:none;}

.owl-controls.clickable{/*position:absolute!important;*/z-index:1000000!important;top:40%!important;width:100%!important;}

.owl-prev{position:absolute;left:22px;width:28px;height:56px;background:url(../../img/back_preview.png) no-repeat left top!important; text-indent:-9000px!important;}

.owl-next{position:absolute;right:22px;width:28px;height:56px;background:url(../../img/back_next.png) no-repeat left top!important;text-indent:-9000px!important;}

.content_fond{width:100%;height:100%;position:absolute;/*background-color: rgba(0, 0, 0, 0.5);*/left:0;top:0;}

.content_titre_slide{position:absolute;left:86px;bottom:40%;width:40%;}

.content_image_slide_statique .content_titre_slide{bottom:30%;}

.content_titre_slide h3{margin:0 0 30px 0;padding:0;font-family: 'ralewaybold';color:#fff;font-size:24px;}

.content_titre_slide .lien_savoir_plus a{background:#093bb3;color:#fff;font-size:18px;font-family: 'ralewaybold';padding:8px 20px;text-align:center;text-decoration:none;}

.titre_list{background:url(../../img/back_titre_list.png) no-repeat left top;/*height:32px;*/margin:0 0 15px 0;padding:0 0 0 32px;font-family:"Maven Pro";font-size:30px;font-weight:bold;color:#1f4563;width:100%;clear:both; line-height:1;}

.titre_list span{background:#fff;padding:0 10px;}

.list_des_candidats ul{list-style-type:none;margin:0 0 0 -15px;padding:0;}

.list_des_candidats ul li{width:50%;float:left;padding-left:15px;paddin-right:15px;margin:0 0 20px 0;position:relative;}

.list_des_candidats.page_candidats ul li{height:225px;margin:0;}

.list_des_candidats .image_candidat{margin:0 0 9px 0;padding:0;position:relative;/*height:100%;*/width:100%;}

.image_candidat .numero_candidat{position:absolute;left:0;bottom:0;width:31px;height:26px;display:block;}

.candidat1 .numero_candidat{background:url(../../img/span_candidat_num1.jpg) no-repeat left top;}

.candidat2 .numero_candidat{background:url(../../img/span_candidat_num2.jpg) no-repeat left top;}

.candidat3 .numero_candidat{background:url(../../img/span_candidat_num3.jpg) no-repeat left top;}

.candidat4 .numero_candidat{background:url(../../img/span_candidat_num4.jpg) no-repeat left top;}

.candidat5 .numero_candidat{background:url(../../img/span_candidat_num5.jpg) no-repeat left top;}

.candidat6 .numero_candidat{background:url(../../img/span_candidat_num6.jpg) no-repeat left top;}

.candidat7 .numero_candidat{background:url(../../img/span_candidat_num7.jpg) no-repeat left top;}

.candidat8 .numero_candidat{background:url(../../img/span_candidat_num8.jpg) no-repeat left top;}

.candidat9 .numero_candidat{background:url(../../img/span_candidat_num9.jpg) no-repeat left top;}

.candidat10 .numero_candidat{background:url(../../img/span_candidat_num10.jpg) no-repeat left top;}

.candidat11 .numero_candidat{background:url(../../img/span_candidat_num11.jpg) no-repeat left top;}

.candidat12 .numero_candidat{background:url(../../img/span_candidat_num12.jpg) no-repeat left top;}

.list_des_candidats h3,.list_news h3,.list_photo h3{margin:0;padding:0;font-family: 'ralewayregular';font-size:14px;color:#0032b0;}

.list_photo h3{height:20px;float:left;}

/*.list_des_candidats.page_candidats ul li:nth-child(7) h3,.list_des_candidats.page_candidats ul li:nth-child(14) h3{width:45%;}*/

.page_candidats.list_des_candidats h3{float:left;width:45%;margin:0 0 8px 0;}

.list_video h3{margin:0;padding:0 15px 0 0;font-family: 'ralewayregular';font-size:14px;color:#fff;}

.list_video h3 a{color:#fff;text-decoration:none;}

.content_block_video .list_video h3 a{background-color:#000000;}

.content_block_video.content_block_replay .list_video h3 a{background-color:#536c9f;}

.list_des_candidats h3 a,.list_news h3 a,.list_photo h3 a{color:#0032b0;text-decoration:none;background-color:#ffffff;}

.content_lien_tout_liste,.lien_voir_tous_les_news,.lien_voir_toutes_les_photos,.lien_voir_toutes_les_video{width:100%;margin:0;padding:0;float:left;}

.content_lien_tout_liste a,.lien_voir_tous_les_news a,.lien_voir_toutes_les_photos a{float:right;font-family: 'ralewaybold';color:#fff;font-size:14px;background:#0032b0;padding:10px 20px;text-decoration:none;}

.content_lien_tout_liste a:hover,.lien_voir_tous_les_news a:hover,.lien_voir_toutes_les_photos a:hover,.lien_voir_toutes_les_video a:hover,.content_lien_tout_liste a:focus,.lien_voir_tous_les_news a:focus,.lien_voir_toutes_les_photos a:focus,.lien_voir_toutes_les_video a:focus{text-decoration:none!important;background:#e2001a!important;color:#fff!important;}

.lien_voir_toutes_les_video a{float:right;font-family: 'ralewaybold';color:#000;font-size:14px;background:#fff;padding:10px 20px;text-decoration:none;margin:0 9px 0 0;}

.content_block_video.content_block_replay .lien_voir_toutes_les_video a{color:#4f6598;}

.content_block_news{width:100%;clear:both;padding:0;}

.list_news{width:100%;margin:0 0 15px 0;padding:0;float:left;}

.list_news ul{list-style-type:none;/*width:100%;*/margin:0 0 10px -15px;padding:0;float:left;}

.list_news ul li{margin:0 0 10px 0;float:left;height:220px;padding:0 0 0 15px;}

.list_news ul li .image_news,.list_photo ul li .image_photo,.list_video ul li .image_video{margin:0 0 8px 0;width:100%;float:left;}

.list_news .titre_news{width:100%;margin:0;padding:0;float:left;}

.list_news ul li .image_news a,.list_photo ul li .image_photo a,.list_video .image_video a{height:100%;position:relative;width:100%;display:block;}

.list_news ul li .image_news a span{width:100%;height:100%;background:url(../../img/back_span_article.jpg) no-repeat left bottom;position:absolute;left:0;bottom:0;opacity:1!important;}

.list_news ul li .image_news a:hover span,.list_photo ul li .image_photo a:hover span,.list_video ul li a:hover span,.image_candidat a:hover span{background-color: rgba(0,0,0,0.5);}

.hover_candidat{width:100%;height:100%;position:absolute;top:0;left:0;}

.image_candidat candidat1 a{width:100%;height:100%;position:relative;}

.list_photo ul li .image_photo a span{width:100%;height:100%;background:url(../../img/back_photo.jpg) no-repeat left bottom;position:absolute;left:0;bottom:0;opacity:1!important;}

.list_video ul li a span{width:100%;height:100%;background:url(../../img/back_span_video.jpg) no-repeat left bottom;position:absolute;left:0;bottom:0;}

.list_photo{margin:-17px 0 18px 0;float:left;}

.content_block_photo{width:100%;clear:both;padding:0;}

.list_photo ul{list-style-type:none;margin:0 0 0 -15px;padding:0;}

.list_photo ul li{width:50%;float:left;padding-left:15px;margin:0 0 24px 0;}

.content_block_video{width:100%;/*clear:both;*/padding:15px 0 15px 0;background:#000;margin:0 0 22px 0;float:left;}

.content_block_video.content_block_replay{background:#536c9f;}

.list_video{width:100%;margin:0;padding:0 15px;float:left;}

.list_video ul{list-style-type:none;width:100%;margin:0 0 5px 0;padding:0;float:left;}

.list_video ul li{margin:0 0 10px 0;padding:0 15px;float:left;}

.list_video h2.titre_video{width:100%;margin:0 0 15px 15px;padding:0;font-family: 'ralewaylight';font-size:24px;color:#ffffff;}

.lien_fb{width:100%;clear:both;padding:0 9px 0 5px;margin:0;position:relative;}

.lien_fb .lien_fb_jaime{position:absolute;right:34%;bottom:13px;}

.content_partage{/*width:100%;position:absolute;bottom:0;right:0;*/float:right;margin:-4px 0 0 0;}

.content_partage a{float:right;margin:0 14px 0 0;text-decoration:none;}

.content_partage a:first-child{margin:0;}

.content_partage a.like{background:url(../../img/image_like.jpg) no-repeat left top;width:17px;height:18px;}

.content_partage a.like:hover{background:url(../../img/image_like_hover.jpg) no-repeat left top;width:17px;height:18px;}

.content_partage a.partage{background: url(../../img/image_partage.jpg) no-repeat left top;width:18px;height:18px;}

.content_partage a.partage:hover{background: url(../../img/image_partage_hover.jpg) no-repeat left top;width:18px;height:18px;}



/*page partenaire*/

.content_page_partenaire_miss{width:100%;/*margin:50px 0 0 0;*/padding:0;margin:0;}

.content_page_partenaire_miss h3{margin:0 0 42px 0;padding:0;font-family: "Maven Pro",sans-serif;font-size:25px;color:#0032b0;font-weight:normal;border-bottom:1px solid #0032b0;}

.content_page_partenaire_miss ul{margin:0;padding:0;list-style-type:none;width:100%;float:left;}

.content_page_partenaire_miss ul li{/*display:inline-block;margin:0 60px 55px 0;*//*width:100%;*/float:left;margin:0 0 30px 0;padding:15px 10px;/*border:1px solid #d8e6f1;*/width:25%;}
.content_page_partenaire_miss ul li .part_inner{border:1px solid #d8e6f1;width:100%;float:left;padding:10px 0;}
.content_page_partenaire_miss .image_partenaire{width:100%;text-align:center;height:65px;margin:0 0 10px 0;}

.content_page_partenaire_miss .content_part{border:1px solid #d8e6f1;height:145px;padding:12px 5px;}

.content_page_partenaire_miss .content_part img{width:auto!important;max-width:100%;height:auto;margin:0 auto;display:block;min-height:60px;}

.text_partenaire{font-family: "Maven Pro",sans-serif;font-size:16px;font-weight:normal;}

.text_partenaire a{text-decoration:none;color:#1f4563;}

.content_page_partenaire_miss ul li{

/*display: flex;*/

align-items: center;

/*text-align:left;*/

/*display: -webkit-flex; *//* Safari */

	-webkit-align-items: center; /* Safari 7.0+ */

}

.centreVerticalement {

display: inline-block;

vertical-align: middle;

float: left;

font-family: "Maven Pro",sans-serif;font-size:14px;font-weight:normal;color:#1f4563;text-align:justify;
text-align:center;

}

.centreVerticalement img{margin:0 auto;}

.col-md-4.centreVerticalement{width:33.3333%!important;}

.col-md-8.centreVerticalement{width:66.6667%!important;}

/*page fiche candidat*/

.detail_candidat{width:100%;margin:0 0 46px 0;padding:0;}

.detail_candidat .row{margin:0;}

.col-md-7.content_detail_right{min-height:360px;background:#343762;}

.content_detail_left.col-md-5{padding-left:0!important;padding-right:0!important;position:relative;/*height:100%;*/height:360px;overflow:hidden;}

.content_detail_left.col-md-5 .numero_candidat{position:absolute;left:0;bottom:9px;width:45px;height:55px;display:block;}

.content_detail_left.col-md-5.candidat1 .numero_candidat{background:url(../../img/back_num1.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat2 .numero_candidat{background:url(../../img/back_num2.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat3 .numero_candidat{background:url(../../img/back_num3.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat4 .numero_candidat{background:url(../../img/back_num4.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat5 .numero_candidat{background:url(../../img/back_num5.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat6 .numero_candidat{background:url(../../img/back_num6.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat7 .numero_candidat{background:url(../../img/back_num7.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat8 .numero_candidat{background:url(../../img/back_num8.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat9 .numero_candidat{background:url(../../img/back_num9.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat10 .numero_candidat{background:url(../../img/back_num10.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat11 .numero_candidat{background:url(../../img/back_num11.png) no-repeat left top;}

.content_detail_left.col-md-5.candidat12 .numero_candidat{background:url(../../img/back_num12.png) no-repeat left top;}

.content_detail_left.col-md-5 img{width:100%!important;}

.contenu_detail{border:1px solid #5d5f81;margin:10px 0 10px 0;width:100%;float:left;padding:5px 12px;}

.list_contenu_detail{width:100%;margin:0;padding:0;}

.list_contenu_detail p{margin:0;padding:0;font-size:18px;color:#fffff9;font-family:"Maven Pro";}

.list_contenu_detail p label{color:#fffff9;font-weight:normal;width:50%;display:inline-block; vertical-align:top;}

.list_contenu_detail p span{width:50%;display:inline-block; vertical-align:top;word-wrap: break-word;}

.centre_interet{margin:0;padding:0;font-family:"Maven Pro";font-size:18px;color:#b1b4c1;}

.centre_interet span{margin:0 3px 0 0;color:#fff;}

.lien_suivre_candidat{width:100%;margin:0;padding:0;clear:both;text-align:center;}

.lien_suivre_candidat h2{margin:0 0 20px 0;padding:0;font-family:"Maven Pro";font-size:18px;font-weight:normal; line-height:none;color:#ffffff;}

.lien_suivre_candidat p{margin:0 0 6px 0;padding:0;font-family:"Maven Pro";font-size:18px;font-weight:normal;}

.lien_suivre_candidat p a{color:#c9d1dc;text-decoration:none;}

.rs_candidat a{margin:0 10px 0 0;width:25px;display:inline-block;}

.lien_partage_reseaux_socio{margin:8px 0 0 0;}

.biographie{width:100%;margin:0;padding:0;}

.content_biographie{width:100%;margin:0 0 45px 0;padding:14px 10px;/*box-shadow: -1px 2px 10px 3px rgba(101, 113 ,128 , 0.2) inset;*/clear:both;border:1px solid #fadfaa;}

.content_biographie .titre_list{margin-top:-30px;background:url(../../img/back_titre_list_biographie.png) no-repeat left top;}

.content_biographie ul{list-style-type:none;margin:0;padding:0;}

.content_biographie ul li{margin:0 0 20px 0;padding:0 15px;font-family: 'ralewayregular';font-size:13px;font-weight:normal;color:#b2b2b2;background:url(../../img/bullet.png) no-repeat left 5px; line-height:none;}

.content_biographie ul li h3{display:inline!important;font-family: 'ralewayregular';font-size:13px;font-weight:bold;color:#333333;}

.biographie{width:100%;float:left;margin:0 0 52px 0;padding:0;}

.desc_biographie{width:100%;margin:0;padding:0;}

.desc_biographie p{margin:0 0 20px 0;padding:0 15px;font-family:"Maven Pro";font-size:15px;font-weight:normal;color:#1f4563;background:url(../../img/bullet.png) no-repeat left 5px; line-height:none!important;}

.desc_biographie p .autobr{display:none;}

.desc_biographie p strong{color:#1f4563;}

.desc_biographie p a{color:#007fbe;}

.comentaire_fb{margin:0 0 33px 0;}

.comentaire_fb .comment-tabs{width:100%!important;}

.comentaire_fb iframe{width:100%!important;}

.comentaire_fb .col-md-5.col-lg-5.col-sm-5.col-xs-12{margin-bottom:20px!important;}

.comentaire_fb .comment-tabs iframe{width:100%!important;}

.comentaire_fb .fb-comments.fb_iframe_widget{width:100%!important;}

.comentaire_fb .fb-comments.fb_iframe_widget span{width:100%!important;}

.lien_voir_tous_les_candidats{width:100%;margin:0;padding:0;float:left;}

.lien_voir_tous_les_candidats a{background:#007fbe url(../../img/flec.png) no-repeat 15px center;color: #fff;float: right;font-family:"Maven Pro";font-size: 16px;padding: 10px 20px 10px 30px;text-decoration: none;font-weight:bold;}

.lien_voir_tous_les_candidats a:hover{text-decoration:none;color:#fff;background:#e2001a url(../../img/flec.png) no-repeat 15px center!important;}

.ts_sur_les_candidats{width:100%;margin:0;padding:0;float:left;}

.ts_sur_les_candidats h2.titre_list{text-transform:inherit!important;}

.ts_sur_les_candidats .nav.nav-tabs{width:100%;margin:0 0 45px 0;padding:0;float:none!important;text-align:center!important;border:0;}

.ts_sur_les_candidats .nav.nav-tabs li{display:inline-block!important;float:none!important;border:0;}

.ts_sur_les_candidats .nav.nav-tabs a{position:relative!important;z-index:100!important;border:0;font-family:"Maven Pro";font-size:16px;color:#1f4563;}

.ts_sur_les_candidats .nav-tabs > li.active > a,.ts_sur_les_candidats .nav-tabs > li.active > a:focus,.ts_sur_les_candidats .nav-tabs > li.active > a:hover {background-color:transparent;border:0;color:#e2001a;font-weight:bold;border-bottom:1px solid #e2001a;}

.ts_sur_les_candidats .nav-tabs > li > a:hover{background-color:transparent;border:0;color:#e2001a;}

.ts_sur_les_candidats .nav-tabs > li a i{margin:0 4px 0 0;color:#1f4563;font-weight:bold;}

.ts_sur_les_candidats .nav-tabs > li a:hover i,.ts_sur_les_candidats .nav-tabs > li.active > a:focus i,.ts_sur_les_candidats .nav-tabs > li.active > a i{color:#e2001a;font-weight:bold;}

.nav > li > a { padding: 10px 0 2px;margin-right:30px;}

.comentaire_fb .comment-tabs .title-comment{border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;color:#002658;font-family:"Maven Pro";font-size:12px;padding:10px 0;text-align:center;font-weight:bold;}

/*sondage*/

.plugin_euro{width:100%;margin:0 0 20px 0;padding:0 9px 0 5px;float:left;}

.plugin_euro .aside_sondage{background:#f0f5f9;width:100%;float:left;margin:0;padding:16px 0;border:1px solid #cdddeb;}

.plugin_euro .innerSondage{background:#f0f5f9;width:100%;float:left;margin:0;padding:0;}

.plugin_euro .innerSondage .col-md-4.col-lg-4.col-sm-4.col-xs-12:nth-child(1){/*padding-left:5px;*/padding-right:0;}

.plugin_euro .innerSondage .col-md-4.col-lg-4.col-sm-4.col-xs-12:nth-child(2){padding-left:0;padding-right:0;}

.plugin_euro .innerSondage .col-md-4.col-lg-4.col-sm-4.col-xs-12:nth-child(3){padding-left:30px;padding-right:0;}

.plugin_euro .mn-title{margin:0 0 20px 0;padding:0;font-family: 'ralewayregular';font-size:25px;color:#1c426f;}

.plugin_euro .fig-polls{margin:0;padding:0;font-family: 'ralewayregular';font-size:16px;color:#1c426f;}

.plugin_euro img{width:100%;height:auto;margin-bottom:20px;}

/*iframe sondage*/

.plugin_euro form{width:100%,margin:0;padding:0;}

.plugin_euro form h3{margin:0 0 8px 0;padding:0;font-family: 'ralewayregular';font-size:14px;font-weight:normal;color:#333333;}

.plugin_euro form fieldset{margin:0 0 3px 2px;padding:0;font-family: 'ralewayregular';font-size:14px;}

.plugin_euro form fieldset input[type="radio"]{margin-right:15px;float:left;}

.plugin_euro form fieldset input[type="button"],.plugin_euro form fieldset input[type="submit"]{background:#72c020;cursor:pointer;color:#fff;font-family: 'ralewayregular';font-size:12px;font-weight:bold;border:1px solid #60a62e;border-radius:3px;padding:6px 5px;margin:5px 0 5px 0;}

.plugin_euro form p{margin:0 0 3px 2px;padding:0 5px 0 0;font-family: 'ralewayregular';font-size:11px;}

/*popup newsletter*/

.menu.info-nav.navbar{min-height:inherit!important;}

#newsletter_modal{width:50%!important;left:25%!important;margin-left:0!important;}

.lien_fb .row{margin:0;padding:0;}

.col-md-6.text-fb{padding-top:20px;}

.col-md-6.text-fb h3{font-family: 'ralewayregular';font-size:55px;font-weight:normal;margin:0 0 10px 0;padding:0;color:#213b88;}

.col-md-6.text-fb .content_text-fb{margin:0;padding:16px 0 0 15px;background:url(../../img/back_content_text_lien_fb.png) no-repeat left top;min-height:93px;background-size:cover;}

.col-md-6.text-fb .content_text-fb p{margin:0;padding:0;font-family: 'ralewayregular';font-size:35px;font-weight:normal;color:#fff;line-height:30px;text-shadow: -1px -1px white, 1px 1px #2b57aa;}

.col-md-6.text-fb{padding-right:0;float:right;}

.desc_lien_fb{margin:16px 0 15px 0;padding:0;font-family: 'ralewayregular';font-size:16px;font-weight:normal;color:#0a2241;}

.savoir_plus.pull-right{margin:0 17px 0 0;}

.bouton_lien_fb{width:100%;margin:0 0 20px 0;}

.bloc-right .partage_reseau_socio_linfo{width:100%;text-align:center;margin-bottom:20px;}

.navbar ul li.color-m.jeux.miss .menu-n1 {color:#e2001a !important;}

.navbar ul li.color-m.jeux.miss .menu-n1:hover{color:#009eea!important;}

/*page article news*/

.art_news h1.titre_news{margin:0 0 20px 0;padding:0;font-family: 'ralewayregular';font-size:24px;font-weight:normal;color:#333333;}

.art_news h2{margin:0 0 20px 0;padding:0;font-family: 'ralewayregular';font-size:16px;font-weight:bold;color:#333333;}

.art_news{font-family: 'ralewayregular';}

.art_news .excerpt{margin:0 0 20px 0;}

.art_news .tipafriend_wrapper{margin:20px 0 20px 0;}

.art_news .tipafriend_wrapper .fb_iframe_widget{top:-2px!important;}

.art_news .tipafriend_wrapper .spip_tipafriend img{ vertical-align:top!important;}

.art_news a:hover{text-decoration:none;}

.art_news .feat-cat3 .title-cat-header {margin: 0 0 20px;}

.art_news .feat-cat3 .title-cat-header span {background: #0032b0 none repeat scroll 0 0;color: #ffffff;display: block;float: left;font-family: 'ralewayregular';font-size:18px;font-weight: 400;padding: 3px 15px 3px;text-transform: uppercase;}

.art_news .list-cat{margin:0 -15px;padding:0;list-style-type:none;}

.art_news .list-cat li .thumbimage span.roll{width:100%;height:100%;background:url(../../img/back_span_article.jpg) no-repeat left bottom;position:absolute;left:0;bottom:0;opacity:1!important;}

.art_news .list-cat li .thumbimage.thumbimage.format-video span.roll{width:100%;height:100%;background:url(../../img/back_span_video.jpg) no-repeat left bottom;position:absolute;left:0;bottom:0;opacity:1!important;}

.art_news .feat-cat3 .main-cat ul li .cat-title {color:#333333;font-family: 'ralewayregular';font-size:14px;font-weight: 600;margin-top:10px;}

.art_news .feat-cat3 .main-cat ul li .cat-title a{color:#333333;text-decoration:none;}

.art_news .feat-cat3 .main-cat ul li .cat-title a:hover{color:#e2001a;text-decoration:none;}

.art_news .box-comment .fb-comments{width:100%!important;margin:0;padding:0;}

.art_news .box-comment .fb-comments span{width:100%!important;}

.art_news .comment-tabs iframe{width:100%!important;margin:0;padding:0;}

.art_news .content-slide .slideshow img{width:100%!important;height:auto;}

.sidebar.twitter-box{margin-bottom:20px;}

.ar-side-col.bloc-right section{margin-bottom:20px;}

.article-section .text-body {border-bottom: 1px solid #0032b0;margin: 0 0 20px;padding: 0 0 20px;text-align: justify;font-family: 'ralewayregular';}

.comment-tabs .title-comment {color:#333333;font-family: 'ralewayregular';font-size: 20px;font-weight: 400;margin: 0 0 10px;}

.article-section .text-body h3 {color: #333333;font-family: 'ralewayregular';font-size: 17px;font-weight: 700;margin: 0 0 20px;}

.article-section .text-body h3 a{color: #333333;}

.article-section .text-body p a {font-weight: 400;text-decoration: underline;color:#333333;}

.article-section .text-body p a:hover{text-decoration:none;color:#0032b0;}

.article-section .excerpt {margin: 0 0 10px!important;font-family: 'ralewayregular'!important;color:#333333!important;}

.article-section .excerpt h1{font-size:20px!important;font-weight:bold;}

/*page videos*/

.art_news .post_fig.thumbimage iframe{width:100%!important;}

.art_news .post_fig.thumbimage #cont_desc_twit iframe{width:63px!important;}

.social_box.clearfix tr td,.social_box.clearfix tr th,.social-replayDirect tr td,.social-replayDirect tr th{vertical-align:top;width:inherit!important;}

.social_box.clearfix tr td div,.social_box.clearfix tr th div,.social-replayDirect tr td div,.social-replayDirect tr th div{margin-top:0!important;}

/*sondage*/

.contenu_sondage{width:100%;margin:0;padding:0;}

.contenu_sondage .ligne{margin:0!important;width:100%;max-width:270px;}

.contenu_sondage #poll-content .question{padding:0!important;}

.contenu_sondage iframe body{background-color:transparent!important;}

.couv_article_section_photo #wrapper{width:100%!important;}

.couv_article_section_photo .slideshow{width:100%!important;}

.couv_article_section_photo #wrapper .slideshow img{width:100%!important;height:auto!important;}

/*page photo*/

.photo_article_miss{width:100%;margin:0;padding:0;}

.photo_article_miss ul{margin:0;padding:0;list-style-type:none;}

.photo_article_miss ul .contImg img{width:100%!important;margin:0;padding:0;}

.photo_article_miss .liste-row .article-heading {color:#333333;font-family: 'ralewayregular';font-size:24px;font-weight:normal;margin: 0 0 20px;}

.photo_article_miss .liste-row .article-heading a{text-decoration:none;color:#333333;}

.photo_article_miss .liste-row .article-heading span {font-weight:bold;}

.photo_article_miss .article-row {border-bottom: 1px solid #0032b0;margin: 0 0 20px;padding: 0 0 20px;}

.photo_article_miss .liste-row .article-row .contImg {margin:0 0 20px;position: relative;}

.photo_article_miss .liste-row .article-row .contImg .img_caption {background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;bottom:-10px;color: #ffffff;font-family: 'ralewayregular';font-size: 18px;font-weight: 400;left: 0;position: absolute;width: 100%;}

.photo_article_miss .liste-row .article-row .contImg .img_caption span {display: block;padding: 5px 10px 8px;}

.photo_article_miss .colonne_gauche_article_photo {margin-top: -9px;text-align: justify;width: 60%;}

.photo_article_miss .liste-row .article-row .a-description p {color: #1f4563;font-family: 'ralewayregular';font-size: 18px;font-weight: 400;}

.photo_article_miss .liste-row .article-row .a-description .btn_arrow {background-color:#0032b0;color: #ffffff;display: block;float: right;font-family: "ralewaybold";

font-size:14px;padding: 10px 20px 10px;/*text-transform: uppercase;*/text-decoration:none;}

.photo_article_miss .liste-row .article-row .a-description .btn_arrow:hover{text-decoration:none!important;background:#e2001a!important;color:#fff!important;}

.feat-cat3.s-personnages .main-cat{margin-bottom:10px;}

#popup .diapo_title{font-family: 'ralewayregular'!important;}

#popup #wrapperpopup{margin-top:15px!important;}

.art_news .content-slide .slideshow img.jwlogo {height: 22px;width: 44px !important;}

/*page article photo*/

.title-large.titre_detail_photo_miss{margin:0;}

.title-large.titre_detail_photo_miss .headline-large {color:#333333;font-family: 'ralewayregular';font-size:24px;font-weight:bold;line-height: 110%;margin: 0 0 5px;}

.title-large .article-meta {color: #333333;font-family: 'ralewayregular';font-size: 13px;font-style: normal;font-weight: normal;}

.article-section .text-body span {color:#0032b0!important;font-weight: 400;font-size:20px;}



.couv_article_section_photo{margin:-17px 0 0 0;}

.couv_article_section_photo .article-section{margin-bottom:20px;}

#wrapper .current-slide .layerOn{width:80px!important;}

div#lisere_blanc_D,div#lisere_blanc_G{top:267px!important;}

.ar-side-col.bloc-right .annonce_run_star{text-align:center;}

.ar-side-col.bloc-right .tab-content > .tab-pane{display:block!important;}

.widget-content .tab-content ul li {list-style-type: none!important;margin: 0 0 20px!important;}

.widget-content .tab-content ul li .figure-player {

    height: 174px;

    margin: 0 0 12px;

    position: relative;

}

.widget-content .tab-content ul{padding:0!important;}

.widget-content .tab-content ul li .figure-player .meta-title {

    background-color: #0032b0;

    bottom: 0;

    color: #ffffff;

    font-family: 'ralewayregular';

    font-size: 14px;

    font-weight: 700;

    padding: 1px 7px 2px;

    position: absolute;

    right: 0;

    text-transform: uppercase;

}

.widget-content .tab-content ul li:first-child .title-medias .num-count {

    background-color: #0032b0;

    color: #ffffff;

}

.widget-content .tab-content ul li .title-medias .num-count {

    border: 1px solid #0032b0;

    color: #0032b0;

    display: block;

    float: left;

    font-family: 'ralewayregular';

    font-size: 13px;

    font-weight: 700;

    line-height: 120%;

    margin: 5px 10px 0 0;

    padding: 0 4px;

}

.widget-content .tab-content ul li .title-medias .item-title a {

    color: #333333;

    font-family: 'ralewayregular';

    font-size: 14px;

    font-weight: 700;

}

.widget-content .tab-content ul li .title-medias .item-title a:hover{text-decoration:none;}

.morepostag a {

    background-color: #0032b0;

    color: #ffffff;

    font-family: 'ralewayregular';

    font-size: 14px;

    font-weight: 700;

    padding: 5px 15px;

    text-transform: uppercase;

    transition: background-color 0.3s ease 0s;

}

.morepostag a:hover{background-color:#e2001a;}

.widget-content .tab-content ul li .figure-player a:hover .meta-title {background-color:#e2001a;}

.widget-content .tab-content ul li .title-medias .item-title a:hover{color:#e2001a;text-decoration:none;}

.widget-content .tab-content img{width:100%!important;}

.widget-content .tab-content ul li .figure-player .icon-video {

    background: transparent url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0 0;

    height: 45px;

    left: 125px;

    position: absolute;

    top: 65px;

    width: 46px;

}

.widget-content .tab-content ul li .figure-player.format-video span.roll {

    background-image: none!important;

}

.grs li {

    float: left !important;

    height: 20px !important;

    margin: 0 5px 0 0 !important;

    width: 20px !important;

	font-size:14px;

}

.grs li a {

    background: #1b4261 none repeat scroll 0 0 !important;

    border-radius: 50% !important;

    color: #fff !important;

    display: block !important;

    height: 20px !important;

    text-align: center !important;

    text-decoration: none !important;

    width: 20px !important;

	padding:2px 0 0 0;

}

.grs li a:hover{background:#e2001a!important;}

.video-direct {

    float: left;

    /*height: 356px;*/

    margin: 0 auto;

    width:100%;

}

.bloc-right .fb_iframe_widget{max-width:300px!important;}

.fb_iframe_widget{width:100%!important;margin-bottom:20px;}

.fb_iframe_widget span{width:100%!important;}

.commentaire_fb .fb_iframe_widget iframe{background:#f4f4f4;}

.fb_iframe_widget iframe{width:100%!important;}

.direct-container-video{width:100%;margin:0;padding:0;float:left;}

.social-replayDirect{margin:0 0 20px 0;}

.juicer-feed{/*max-height:465px;*/max-height:520px!important;}

.title-headline-direct{color:#333333;font-family: 'ralewayregular';font-size: 24px;margin:0 0 20px 0;font-weight:bold;}

.ar-main-col .centreVerticalement img {

    margin: 0 auto;

   /* max-width: 300px;*/

    width: auto !important;

}

.bloc_juicer{width:100%;margin-top:20px;float:left;}

.owl-carousel.owl-theme{height:100%!important;}

.owl-theme .owl-controls .owl-buttons div{position:absolute!important;top:40%!important;}

/*.list_video ul li .image_video{height:200px;}*/

.list_video ul li .image_video img{/*height:100%;*/height:auto;}



/*modif 16082016 */

/*#social_after{width:100%!important;height:180px; overflow-y:scroll;margin-bottom:15px;}*/

#social_after .fb-comments.fb_iframe_widget,#social_after .fb-comments.fb_iframe_widget span,#social_after .fb-comments.fb_iframe_widget iframe{width:100%!important;}

.fblive{width:100%;float:left;margin:20px 0 20px 0;}

.fblive iframe{height:350px!important;margin:0 auto;display:block;}

.categoriesN1 .progr-bloc-container1 img{width:100%!important;display:block!important;}

.categoriesN1 .progr-bloc-container1 span.roll{ background-image:none!important;}

.categoriesN1 .progr-bloc-container1 .image-news .icon-video {

    background: transparent url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video25.png") no-repeat scroll center center;

    height: 100%;

    position: absolute;

    top: 0;

    width: 100%;

}

/*modif apres miss reunion*/



@media screen and (min-width: 1024px) {.container{width:1000px!important;padding-left:0!important;padding:0!important;}

.page_container .container{padding-left:15px!important;padding-right:15px!important;}

.content_detail_left.col-md-5 img{/*max-height:360px;*/}

}

@media screen and (min-width:1001px) {#page_container .container-ar{margin: 0 auto!important;width: 1000px!important;}}

@media screen and (max-width: 1280px){#popup .content-slidepopup{width:900px!important;}}

@media screen and (max-width: 1024px){

.ar-side-col.bloc-right .juicer-feed .j-poster img,.ar-main-col .juicer-feed .j-poster img{width:30px!important;height:auto!important;}

.footer-widgets,.breadcrumbs{display:none;}

.menu-menu2 ul,.breadcrumb{text-align:center;}

.menu-menu2 ul li,.breadcrumbs ul li{float:none;display:inline-block;}

.slider_miss{margin-top:20px!important;}

.header-container .container-ar ul{margin:0!important;}

.footer-widgets .row .col-md-5{padding-right:0!important;padding-left:0!important;}

.footer-widgets .col-md-7 .column_block.col-md-4:first-child{padding-left:15px!important;}

.navbar ul.mainmenu{width:100%!important;}

.block_soc_search{display:none;}

#newsletter_modal{width:90%!important;left:0!important;margin-left:5%!important;margin-right:5px!important;}

.content_titre_slide,.content_image_slide_statique .content_titre_slide{position:absolute;left:86px;bottom:25%;}

.content_titre_slide h3{font-size:18px;}

.content_titre_slide .lien_savoir_plus a{font-size:12px;}

#habillage-link-H,#lien_habillage_G,#habillage-link-D{display:none!important;}#main-footer{display:block!important;}.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:120px!important;}.page_dedie_runstar .linfo-timeline .video-replay a.decouvre img{max-width:200px!important;}

.block_top_run_star{display:none!important;}

/*mobile portrait validee*/

.navbar-toggle{float:left!important;margin-right:0!important;padding:9px 0!important;}

.logo-ar a img{position:inherit!important;}

.wrapper-header .container-ar .logo-ar{float:none!important;background-color:transparent!important;margin:0!important;}

.header .wrapper-header{text-align:center!important;}

.logo-ar a img{max-width:80px!important;height:auto!important;margin-top:10px!important;}

.header-container .container-ar ul{padding:0!important;}

.menu_top ul li a{padding:0 3px!important;font-size:10px!important;}

#page_container{background:none!important;}

/*.block_soc_search{display:none!important;}*/

.section-bandeau{height:auto!important;background:#fff!important;padding-bottom:20px;}

section-bandeau .bandeau-inner{position:inherit!important;}

.section-bandeau .bandeau-inner .bandeau-right{float:none!important;/*top:15px!important;*/}

.bandeau-right .b-title{float:none!important;margin:0 auto!important;display:block!important;width:205px!important;padding:5px 0 5px 0!important;text-align:center!important;font-size:20px!important;}

/*.programme-n3 #mainContainer .breadcrumbs{display:none!important;}*/

.menu_xs{display:block!important;width:100%!important;margin:0 0 20px 0!important;padding:0!important;list-style-type:none!important;background:#eff4fa!important;float:left!important;}

.menu_xs li{text-align:center!important;float:left!important;background:#eff4fa url(../../img/back_list.jpg) no-repeat left center;}

.menu_xs li:first-child{background:#eff4fa!important;}

.menu_xs li span,.menu_xs li a{font-family:"Maven Pro"!important;font-weight:normal!important;font-size:17px!important;text-decoration:none;color:#1f4563!important;text-transform:uppercase!important;display:block!important;padding:5px 30px!important;}

.menu_xs li span:hover,.menu_xs li a:hover{cursor:pointer!important;color:#fff!important;background:#007fbe!important;}

.programme-n3 #mainContainer .main-inner{padding-top:0!important;}

.section-bandeau .bandeau-inner{position:inherit!important;}

.ar-main-col {width:66.66666667%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

.bloc-right{width:33.33333333%!important;padding-left:0!important;padding-right:0!important;/*float:left!important;*/}

.ar-main-col img {height: auto !important;width: 100% !important;}



.page_dedie_runstar .linfo-timeline .aside-timeline{width: 16.66666667%!important;padding-left:3px!important;padding-right:3px!important;}

.page_dedie_runstar .timeline-content{width:83.33333333%!important;padding-left:15px!important;padding-right:15px!important;}

.page_dedie_runstar .timeline-content img{width:100%!important;}

.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:82px!important;}

.page_dedie_runstar .timeline-wrap ul .icon-video {left: 40% !important;top: 30% !important;}

.page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

.page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url("../../img/timeline_bg.png") no-repeat scroll 28px center !important;}

.page_dedie_runstar .aside-timeline .dateReplay{font-size:10px!important;}

.ar-side-col.bloc-right img{width:100%!important;height:auto!important;/*max-width:230px!important;*/}

.ar-side-col.bloc-right #divVideo{width:100%!important;height:auto!important;max-width:290px!important;}

.ar-side-col.bloc-right #divVideo video{width:100%!important;height:auto!important;}

.page_dedie_runstar .linfo-timeline .video-replay img{height:auto!important;}

.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:174px!important;}

#direct .reagit.widget-tab{display:none!important;}

.contenu_xs #reseaux{display:none;}

#reseaux .bloc-right {float:left !important;padding-left: 0 !important;padding-right: 0 !important;width: 100% !important;padding-top:20px!important;}

#reseaux .reagit{width:66.66666667%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

#reseaux .ar-side-col.bloc-right .reagit img{width:100%!important;max-width:inherit!important;}

#reseaux .bloc-right .pub-container{width:33.33333333%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

#reseaux .bloc-right .widget-tab{border-top:0!important;}

#reseaux .bloc-right .row-pub{border:0!important;}

.menu-menu2.hidden-xs{display:none!important;}

.navbar-toggle{display:block!important;}

.navbar-collapse.collapse{display:none!important;}

.navbar-collapse.collapse.in{display:block!important;}

.categoriesN1{display:none!important;}

#myNavbar{background:#fff!important;width:100%!important;height:auto!important;position:absolute!important;left:0!important;top:55px!important;padding:20px 0!important;}.info-nav ul li.color-m, .info-nav ul li.color-m2 {

float:none!important;line-height: 110%!important;width:100%!important;text-align:center!important;}.navbar ul li .menu-n1{border:0!important;margin-bottom:10px!important;}

.reagit.widget-tab.visible-xs.visible-sm.hidden-md.hidden-lg{display:block!important;}

.reagit.widget-tab.hidden-xs.hidden-sm.visible-md.visible-lg{display:none!important;}

#companion_top{text-align:center!important;}



/*modif miss reunion*/

.logo_miss{width:20%!important;position:absolute!important;right:0!important;top:0!important;width:15%!important;}

#fl_menu.info-nav ul li {

    float: left !important;

    line-height: 110% !important;

    text-align: center !important;

    width: 100% !important;

	margin:0;

}

#fl_menu.info-nav ul li a{width:100%!important;}

#fl_menu.info-nav ul li a span{display:block!important;}

.logo_miss img{max-width:100%!important;}

.adv-top.ad-banner.miss_reunion{display:none;}

.contenu_xs,.content_block{width:100%;float:left;}

.content_page_partenaire_miss ul{margin:0 0 0 0;padding:0;list-style-type:none;text-align:center;width:100%;}

#main-wrapper.main-wrapper{margin-top:0!important;}

.article-section iframe{width:100%!important;}

.topics-box .topiclist ul li .thumb-wrapper{height:auto!important;}

.title-large.titre_detail_photo_miss .headline-large{margin:10px 0 5px 0;}

}

@media screen and (max-width:991px){.ar-main-col{width:100%!important;}.ar-side-col.bloc-right.visible-xs.visible-sm.hidden-md.hidden-lg{width:100%!important;padding-left:15px!important;padding-right:15px!important;}.ar-side-col.bloc-right.visible-xs.visible-sm.hidden-md.hidden-lg img{max-width:300px;}.list_news ul{margin:0 0 18px 0;}.list_news ul .col-md-4.col-sm-4{padding-left:15px!important;padding-right:15px!important;}.lien_voir_tous_les_news a{margin-right:15px!important;}.lien_voir_toutes_les_photos{margin-bottom:20px!important;}.content_block_video .col-md-4.col-sm-4{padding-left:15px!important;padding-right:15px!important;}.ar-side-col.bloc-right.interne{width:100%!important;}.ar-side-col.bloc-right.interne img{max-width:300px!important;}.footer .container-ar .column_block.partenaire ul{width:100%!important;text-align:center;} .column_block.partenaire ul li{display:inline-block!important;float:none!important;margin:0 0 20px 0;vertical-align:top;}.section-bandeau{position:inherit!important;margin:0;}.navbar ul.mainmenu{width:100%!important;}.bloc-right .partage_reseau_socio_linfo{width:100%;text-align:center;}

.list_des_candidats.page_candidats ul li{height:240px;margin:0;}

.bloc-right{width:100%!important;}

#wrapper .content-slide{height:100%!important;}

.list_video ul li a span,.list_news ul li .image_news a span{width:100%!important;}

.footer-widgets .col-md-7.col-sm-12.col-xs-12 .column_block.col-md-4{width:33.3333%!important;float:left!important;}

.footer-widgets .col-md-5.col-sm-12.col-xs-12 .column_block.col-md-6{width:50%!important;float:left!important;}

.footer-widgets .row .col-md-7.col-sm-12.col-xs-12{width:58.3333%!important;float:left!important;}

.footer-widgets .row .col-md-5.col-sm-12.col-xs-12{width:41.6667%!important;float:left!important;}

.footer .container-ar .column_block .block-title{font-size:15px;}

.widget-content .tab-content ul li .figure-player{height:auto!important;max-height:inherit!important;}

.widget-content .tab-content ul li .figure-player .icon-video {

    background: transparent url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll center 50%;

    height:100%;

    left:0;

    position: absolute;

    top:0;

    width:100%;

}

/*modif 10082016*/

/*.content_detail_left.col-md-5 img{max-width:240px;}

.list_video ul li .image_video{height:150px;}*/

}

@media screen and (max-width:768px) {

.reagit.widget-tab{margin-top:30px;}

.bloc-right .pub-container{width:100%;text-align:center;}

.bloc-right .partage_reseau_socio_linfo{width:100%;text-align:center;}

.bloc-right .pub-container img{margin:0 auto;}

.page_dedie_runstar .list_video ul li{width: 33.33333333%!important;margin:0!important;padding-left:15px!important;padding-right:0!important;}

.page_dedie_runstar .list_video ul li:first-child{padding-left:0!important;}

.page_dedie_runstar .list_video ul li .tile-title a{font-size:14px!important;font-weight:normal!important;}

.topics-box .topiclist ul li .text-holder .readnext {position:inherit!important;margin-top:20px!important;}

#popup_runstar{width:85%!important;left:2%!important;max-width:none!important;min-width:inherit!important;margin-left:0!important;top:20%!important;right:inherit!important;}

.adv-top.ad-banner img,.bloc_bottom .adv-bottom img{min-width:100px!important;width:100%!important;height:auto!important;max-width:1000px!important;}.logo-ar a img{max-width:100px!important;height:auto!important;width:100%!important;}.header .nav-container {float: left!important;margin: 20px 0 17px 110px!important;width:auto!important;}.info-nav ul li > a.menu-n1{font-size:12px!important;}.social-top{border:0!important;width:50px!important;position:inherit!important;}.social-top li{margin:0 0 5px 0!important;}/*.block_soc_search{width:50px!important;position:fixed!important;top:30%!important;right:0!important;}*/.navbar-toggle{margin-right:0!important;padding:0 9px!important;}.block-search{margin-top:110px!important;}#myNavbar{background:#fff!important;width:100%!important;height:auto!important;position:absolute!important;left:0!important;top:55px!important;}.info-nav ul li.color-m, .info-nav ul li.color-m2 {

float:none!important;line-height: 110%!important;width:100%!important;text-align:center!important;}.navbar ul li .menu-n1{border:0!important;margin-bottom:10px!important;}.section-bandeau .bandeau-inner{left:15px!important;right:inherit!important;}.bandeau-right .b-title{font-size:30px!important}.menu-menu2 ul li a {font-size:13px!important;}

/*mobile portrait validee*/

.navbar-toggle{float:left!important;margin-right:0!important;padding:9px 0!important;}

.logo-ar a img{position:inherit!important;}

.wrapper-header .container-ar .logo-ar{float:none!important;background-color:transparent!important;margin:0!important;}

.header .wrapper-header{text-align:center!important;}

.logo-ar a img{max-width:80px!important;height:auto!important;margin-top:10px!important;}

.header-container .container-ar ul{padding:0!important;}

.menu_top ul li a{padding:0 3px!important;font-size:10px!important;}

#page_container{background:none!important;}

/*.block_soc_search{display:none!important;}*/

.section-bandeau{height:auto!important;background:#fff!important;}

section-bandeau .bandeau-inner{position:inherit!important;}

.section-bandeau .bandeau-inner .bandeau-right{float:none!important;/*top:15px!important;*/}

.bandeau-right .b-title{float:none!important;margin:0 auto!important;display:block!important;width:205px!important;padding:5px 0 5px 0!important;text-align:center!important;font-size:20px!important;}

/*.programme-n3 #mainContainer .breadcrumbs{display:none!important;}*/

.menu_xs{display:block!important;width:100%!important;margin:0 0 20px 0!important;padding:0!important;list-style-type:none!important;}

.menu_xs li{text-align:center!important;float:left!important;background:#eff4fa url(../../img/back_list.jpg) no-repeat left center;}

.menu_xs li:first-child{background:#eff4fa!important;}

.menu_xs li span,.menu_xs li a{font-family:"Maven Pro"!important;font-weight:normal!important;font-size:17px!important;text-decoration:none;color:#1f4563!important;text-transform:uppercase!important;display:block!important;padding:5px 30px!important;}

.menu_xs li span:hover,.menu_xs li a:hover{cursor:pointer!important;color:#fff!important;background:#007fbe!important;}

.programme-n3 #mainContainer .main-inner{padding-top:0!important;}

.section-bandeau .bandeau-inner{position:inherit!important;}

.ar-main-col {width:100%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

.bloc-right{width:100%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

.ar-main-col img {height: auto !important;width: 100% !important;}



.page_dedie_runstar .linfo-timeline .aside-timeline{width: 16.66666667%!important;padding-left:3px!important;padding-right:3px!important;}

.page_dedie_runstar .timeline-content{width:83.33333333%!important;padding-left:15px!important;padding-right:15px!important;}

.page_dedie_runstar .timeline-content img{width:100%!important;}

.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:82px!important;}

.page_dedie_runstar .timeline-wrap ul .icon-video {left: 40% !important;top: 30% !important;}

.page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

.page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url("../../img/timeline_bg.png") no-repeat scroll 28px center !important;}

.page_dedie_runstar .aside-timeline .dateReplay{font-size:10px!important;}

.ar-side-col.bloc-right img{width:100%!important;height:auto!important;max-width:230px!important;}

.page_dedie_runstar .linfo-timeline .video-replay img{height:auto!important;}

.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:174px!important;}

#direct .reagit.widget-tab{display:none!important;}

.contenu_xs #reseaux{display:none;}

#reseaux .bloc-right {float:left !important;padding-left: 0 !important;padding-right: 0 !important;width: 100% !important;padding-top:20px!important;}

#reseaux .reagit{width:66.66666667%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

#reseaux .ar-side-col.bloc-right .reagit img{width:100%!important;max-width:inherit!important;}

#reseaux .bloc-right .pub-container{width:33.33333333%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

#reseaux .bloc-right .widget-tab{border-top:0!important;}

#reseaux .bloc-right .row-pub{border:0!important;}

.page_dedie_runstar .list_video ul li .hover-vdeos:hover{left:40%!important}

.list_des_candidats.page_candidats ul li{height:240px;margin:0;}

#companion_top{display:none!important;}

.bloc_bottom .adv-bottom{display:none!important;}

.ar-side-col.bloc-right .juicer-feed .j-poster img{width:30px!important;height:auto!important;}



}
/*modif tovo*/
@media screen and (max-width:763px) {.menu-menu2 ul li.generation_runstar_fblive a{width:100%;}}

@media screen and (max-width:700px) {.menu-menu2 ul li a {padding:12px 10px!important;}

/*mobile portrait validee*/

#reseaux .reagit{width:100%!important;padding-left:0!important;padding-right:0!important;float:none!important;}

#reseaux .bloc-right .pub-container{width:100%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

#reseaux .ar-side-col.bloc-right .reagit img{width:100%!important;max-width:inherit!important;height:auto!important;}

.navbar-toggle{float:left!important;margin-right:0!important;padding:9px 0!important;}

.logo-ar a img{position:inherit!important;}

.wrapper-header .container-ar .logo-ar{float:none!important;background-color:transparent!important;margin:0!important;}

.header .wrapper-header{text-align:center!important;}

.logo-ar a img{max-width:80px!important;height:auto!important;margin-top:10px!important;}

.header-container .container-ar ul{padding:0!important;}

.menu_top ul li a{padding:0 3px!important;font-size:10px!important;}

#page_container{background:none!important;}

/*.block_soc_search{display:none!important;}*/

.section-bandeau{/*height:59px!important;*/background:#fff!important;}

.section-bandeau .bandeau-inner{position:inherit!important;}

.section-bandeau .bandeau-inner .bandeau-right{float:none!important;top:0!important;}

.bandeau-right .b-title{float:none!important;margin:0 auto!important;display:block!important;width:205px!important;padding:5px 0 5px 0!important;text-align:center!important;font-size:20px!important;}

.block_top_run_star{display:none!important;}

/*.programme-n3 #mainContainer .breadcrumbs{display:none!important;}*/

.menu_xs,.menu-menu2 ul{display:block!important;width:100%!important;margin:0 0 20px 0!important;padding:0!important;list-style-type:none!important;}

.menu_xs li,.menu-menu2 li{background:#eff4fa;border-bottom:1px solid #92b1c9;width:100%!important;text-align:center!important;}

.menu_xs li span,.menu_xs li a,.menu-menu2 li a{font-family:"Maven Pro"!important;font-weight:normal!important;font-size:14px!important;text-decoration:none;color:#1f4563!important;text-transform:uppercase!important;display:block!important;padding:5px 0!important;}

.menu_xs li span:hover,.menu_xs li a:hover,.menu-menu2 li a:hover{cursor:pointer!important;color:#fff!important;background:#007fbe!important;}

.programme-n3 #mainContainer .main-inner{padding-top:0!important;}

#direct .reagit.widget-tab{display:none!important;}

.contenu_xs #reseaux{display:none;}

.page_dedie_runstar h2.section-titre-der{font-size:17px!important;}

.page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url("../../img/timeline_bg.png") no-repeat scroll 48px center !important;}

.page_dedie_runstar .aside-timeline .heureReplay{font-size:12px!important;text-align:center!important}

.page_dedie_runstar .aside-timeline .dateReplay{font-size:12px!important;}

.page_dedie_runstar .aside-timeline p{margin:0!important;}

.page_dedie_runstar .meta-replay .titre-replay{font-size:16px!important;}

.lien_chanson a{font-size:16px!important;}

.page_dedie_runstar .linfo-timeline .video-replay img{height:auto!important;}

.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:174px!important;}

.page_dedie_runstar .linfo-timeline table{width:100%!important;}

.bloc-right .pub-container{width:100%!important;text-align:center!important;margin:0 0 20px 0!important;}

.ar-side-col.bloc-right{width:100%!important;margin:0!important;padding:0 15px!important;}

#reseaux .ar-side-col.bloc-right{margin:20px 0 0 0!important;}

.ar-side-col.bloc-right img{width:100%!important;height:auto!important;max-width:inherit!important;}

.ar-main-col{width:100%!important;}.ar-main-col img{width:100%!important;height:auto!important;}

.ar-main-col .content-slide #nav img{width:80px!important;}

.page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

.ar-main-col{padding-right:0!important;}

.page_dedie_runstar .block_echange_direct h2{font-size:17px!important;}

.page_dedie_runstar .block_titre h2{font-size:17px!important;}

.list_des_candidats ul li,.list_photo ul li{width:100%!important;}

.header-container{display:none;}

.list_des_candidats ul li{height:inherit;margin:0 0 20px 0;}

.list_des_candidats.page_candidats ul li{height:inherit;margin:0;}

.footer .container-ar .column_block .block-title{font-size:14px;}

/*.list_video ul li .image_video{height:120px;}*/

}

@media screen and (max-width:600px) {#wrapper .slideshow{height:320px!important;}

#wrapper .prev{bottom:50px!important;}#wrapper .next{bottom:50px!important;}

.content_titre_slide,.content_image_slide_statique .content_titre_slide{bottom:10%!important;}

.footer-widgets .col-md-7.col-sm-12.col-xs-12 .column_block.col-md-4{width:100%!important;float:left!important;}

.footer-widgets .col-md-5.col-sm-12.col-xs-12 .column_block.col-md-6{width:100%!important;float:left!important;}

.footer-widgets .row .col-md-7.col-sm-12.col-xs-12{width:100%!important;float:left!important;}

.footer-widgets .row .col-md-5.col-sm-12.col-xs-12{width:100%!important;float:left!important;}

.comentaire_fb .col-md-6.col-lg-6.col-sm-6.col-xs-6{width:100%!important;margin-bottom:20px!important;}

/*modif 10082016 */

.detail_candidat .row{display: table-row;height: 100%;}

.content_detail_left.col-md-5.col-sm-5.col-xs-5{display:table-cell;height:100%;float:none;vertical-align:top;}

.col-md-7.col-sm-7.col-xs-7.content_detail_right{display:table-cell;height:100%;float:none;vertical-align:top;}

.content_detail_left.col-md-5.col-sm-5.col-xs-5 img{/*height:100%!important;*/}

/*.list_video ul li .image_video{height:100px;}*/

/*modif 11082016*/

.content_image_slide_statique .content_titre_slide .lien_savoir_plus a{display:block;}

.direct-container-title .titre_list{font-size:18px;padding-top:3px;}

.fblive iframe{height:350px!important;margin:0 auto;display:block;width:100%;}
.content_page_partenaire_miss ul li{width:100%;}
.centreVerticalement{width:100%;}
}

@media screen and (max-width:480px) {.bandeau-right .b-title{font-size:20px!important;}.menu-menu2 ul li{width:100%!important;float:none!important;}

.ar-main-col{width:100%!important;}.ar-main-col img{width:100%!important;height:auto!important;}

.page_dedie_runstar .linfo-timeline .aside-timeline{width: 16.66666667%!important;padding-left:3px!important;padding-right:3px!important;}

.page_dedie_runstar .timeline-content{width:83.33333333%!important;padding-left:15px!important;padding-right:15px!important;}

.page_dedie_runstar .timeline-content img{width:100%!important;}

.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:82px!important;}

.page_dedie_runstar .timeline-wrap ul .icon-video {left: 40% !important;top: 30% !important;}

.page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

.page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url("../../img/timeline_bg.png") no-repeat scroll 28px center !important;}

.page_dedie_runstar .aside-timeline .dateReplay{font-size:10px!important;}

.ar-side-col.bloc-right img{width:100%!important;}

#popup_runstar{width:75%!important;}

.page_dedie_runstar .list_video ul li .hover-vdeos:hover{left:30%!important;}

.page_dedie_runstar .list_video ul li{width:50%!important;}

.page_dedie_runstar .list_video ul li:first-child{padding-right:15px!important;}

.page_dedie_runstar .list_video ul li:last-child{padding-left:0!important;padding-right:15px!important;}

.ar-main-col{padding-right:0!important;}

.page_dedie_runstar .block_echange_direct h2{font-size:15px!important;}

.page_dedie_runstar .block_titre h2{font-size:14px!important;}

.page_dedie_runstar .list_video ul li a.fond_noir{height:auto!important;}

.content_block_news .col-md-4.col-sm-4.col-xs-4{width:100%!important;margin-bottom:18px!important;}

.content_block_video .col-md-4.col-sm-4.col-xs-4{width:100%!important;margin-bottom:18px!important;}

.content_block_video .col-md-4.col-sm-4.col-xs-4 img,.content_block_news .col-md-4.col-sm-4.col-xs-4 img{width:100%;}

.topics-box .topiclist ul li .thumb-wrapper{width:100%;margin-bottom:15px;}

.topics-box .topiclist ul li .text-holder{width:100%;}

.content_page_partenaire_miss ul li{width:100%;}.content_page_partenaire_miss ul li img{min-height:inherit;}

.content_fond{width:80%;}

#wrapper .slideshow{height:280px!important;}

#wrapper .prev{bottom:90px!important;}#wrapper .next{bottom:90px!important;}

.content_titre_slide,.content_image_slide_statique .content_titre_slide{bottom:8%!important;width:75%!important;}

.footer-widgets .row .col-md-7.col-sm-12.col-xs-12{width:100%!important;float:left!important;}

.footer-widgets .row .col-md-5.col-sm-12.col-xs-12{width:100%!important;float:left!important;}

.col-md-4.centreVerticalement{width:100%!important;}

.col-md-8.centreVerticalement{width:100%!important;}

.centreVerticalement {float:left;width:100%;margin-bottom:20px;}

.content_page_partenaire_miss ul li{display:inherit;align-items:none;}

.centreVerticalement img{max-width:300px;width:auto!important;margin:0 auto;}

/*modif 09082016*/

.content_titre_slide,.content_image_slide_statique .content_titre_slide{left:15%;}

.content_titre_slide h3{font-size:14px;margin:0 0 20px 0;}

.owl-controls.clickable{/*top:20%!important;*/}

.owl-theme .owl-controls{margin:0;}

.owl-prev{left:0;}

.owl-next{right:0;}

.ts_sur_les_candidats h2.titre_list{font-size:15px;}

.ts_sur_les_candidats .titre_list span{ background: #fff none repeat scroll 0 0;padding: 5px 10px;display:inline-block;margin-top:1px;}

/*modif 10082016 */

.detail_candidat{display:inherit;}

.content_detail_left.col-md-5.col-sm-5.col-xs-5{width:100%;display:inherit;float:left;}

.col-md-7.col-sm-7.col-xs-7.content_detail_right{width:100%;display:inherit;float:left;}

.ar-main-col .content_detail_left.col-md-5.col-sm-5.col-xs-5 img{margin:0;max-width:none!important;height:auto!important;width:100%!important;max-height:none!important;}

.content_detail_left.col-md-5 .numero_candidat{left:25%;}

.owl-theme .owl-controls .owl-buttons div{position:absolute!important;top:20%!important;}

/*.list_video ul li .image_video{height:auto!important;}

.list_video ul li .image_video img{height:auto;}*/

.direct-container-title .titre_list{font-size:14px;padding-top:3px;}

.fblive iframe{height:250px!important;margin:0 auto;display:block;width:100%;}

.fblive iframe video{width:100%!important;height:auto!important;}

.list_news ul li{width:100%!important;height:inherit!important;}

}

@media screen and (max-width:320px) {.page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url("../../img/timeline_bg.png") no-repeat scroll 16px center !important;}

.page_dedie_runstar .aside-timeline .dateReplay{font-size:8px!important;}

.ar-side-col.bloc-right img{width:100%!important;}

.content_fond{width:100%;}

#wrapper .slideshow{height:200px!important;}

#wrapper .prev{bottom:22px!important;}#wrapper .next{bottom:22px!important;}

#wrapper{height:inherit!important;}

.content-slide #nav{width:280px!important;}

.owl-controls.clickable{/*top:15%!important;*/}

.content_titre_slide h3{/*display:none!important;*/font-size:12px;margin:0 0 5px 0;}

/*.owl-prev,.owl-next{display:none!important;}*/

.fb_iframe_widget,

.fb_iframe_widget span,

.fb_iframe_widget span iframe[style] {width: 100% !important;min-width: 200px;}

.centreVerticalement {float:left;width:100%;margin-bottom:20px;}

.content_page_partenaire_miss ul li{display:inherit;align-items:none;}

.centreVerticalement img{max-width:300px;width:auto!important;margin:0 auto;}

/*modif 10082016 */

.content_detail_left.col-md-5 .numero_candidat{left:10%;}

.owl-theme .owl-controls .owl-buttons div{position:absolute!important;top:10%!important;}

/*modif 11082016*/

.content_titre_slide .lien_savoir_plus a{display:block;}

.direct-container-title .titre_list{font-size:12px;padding-top:7px;}

}

