@charset "utf-8";

/* CSS Document */

.format-video span.roll,.post_fig.thumbimage span.roll{background-image:none!important;}

.widget-tab .widget-title span{background-color: #007fbe;color: #ffffff;display: inline-block;float: left;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 700;padding: 5px 20px;}

.widget-tab .widget-title {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 10px;}

.widget-content .tab-content ul li .title-medias .num-count {border: 1px solid #007fbe;color: #007fbe;display: block;float: left;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 700;

line-height: 120%;margin: 5px 10px 0px 0px;padding: 0px 4px;}

.widget-content .tab-content ul li:first-child .title-medias .num-count{background-color:#007fbe;}

.widget-content .tab-content ul li .title-medias .item-title a {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 700;}

.widget-content .tab-content ul li .title-medias .item-title {line-height: 20px;margin: 0px 0px 0px 27px;}

.morepostag a {background-color: #007fbe;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 5px 15px;text-transform: uppercase;transition: background-color 0.3s ease 0s;}

.menu-menu2 ul li a {color: #1f4563;display: block;font-family: "Maven Pro", sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;padding: 12px 10px;text-decoration: none;text-transform: uppercase;transition: all 0.3s ease 0s;}

.container-section.topics-box span.roll{background:none!important;height: 100%;opacity: 0;position: absolute;width: 100%;z-index: 5;}

.container-section.topics-box span.roll:hover{background:rgba(0, 0, 0, 0) url("https://www.antennereunion.fr/squelettes/assets/img/bg/lecture-article.png") no-repeat scroll center center!important;background-color: rgba(0, 0, 0, 0.8)!important;opacity:1;z-index:5;}

#companion_top{margin:10px auto;}

.widget-content .tab-content ul li .figure-player .meta-title{background-color: #007fbe;bottom: 0px;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 1px 7px 2px;position: absolute;right: 0px;text-transform: uppercase;}

.container-section.topics-box .format-video span.roll{background:none!important;}

.topics-box .topiclist ul li .thumb-wrapper .icon-video {

background: url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video.png") no-repeat scroll center center transparent;height:100%;width:100%;position:absolute;top:0;

}

.bonus span {background-color: #007fbe;}

.v-category span {color: #ffffff;display: inline-block;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;margin: 0px 0px 5px;padding: 2px 10px;text-transform: uppercase;}

.topics-box .topiclist ul li .topic-title {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 500;line-height: 100%;margin-bottom: 10px;}

.topics-box .topiclist ul li .text-holder .txt-extract {color: #1F4563;font-family: 'Maven Pro',sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;margin: 0px 0px 10px;}

.main-inner .title-large{width:100%;clear: both;}

.title-large .headline-large{color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 35px;font-weight: 700;line-height: 110%;margin: 0 0 5px 0;}

.title-large .article-meta {color: #1f4563;font-size: 13px;font-family: "Maven Pro", sans-serif;font-weight: normal;font-style: normal;}

.content-slide .slideshow {margin: 0px 0px 20px;}

.article-section .excerpt {margin: 0px 0px 10px;}

.article-section .excerpt h2 {color: #1F4563;font-family: 'Maven Pro',sans-serif;font-size: 17px;font-weight: 700;line-height: 120%;}

.article-section .text-body {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 20px;padding: 0px 0px 20px;text-align: justify;}

.article-section .text-body p {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;margin: 0px 0px 10px;}

.article-section .text-body h3 {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 700;line-height: 120%;margin: 0px 0px 20px;}

.article-section .text-body h3 a{color: #1f4563;}

.article-section .text-body p a {color: #1f4563;}

.article-section .text-body p a:hover {font-weight: 400;text-decoration: underline;color: #007fbe;}

a {transition: color 0.3s ease 0s;}

#toTop{z-index:999999999;}

.article-section .social_box {margin: 0px 0px 20px;}

.feat-cat3 .title-cat-header span {background:#007fbe;color: #ffffff;display: block;font-family: "Maven Pro", sans-serif;font-weight: 400;padding: 3px 15px 7px;text-transform: uppercase;font-size: 25px;}

.feat-cat3 .title-cat-header {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 20px;}

.feat-cat3 .main-cat ul{list-style-type:none;}

.feat-cat3 .main-cat ul li:first-child{margin-left:0;}

.feat-cat3 .main-cat ul li {float: left;list-style-type: none;margin: 0px 0px 20px 15px;margin-left: 15px;width: 200px;}

.feat-cat3 .main-cat ul li .cat-title {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 600;}

.feat-cat3 .main-cat ul li .cat-title a:hover {color: #e2001a;}

span.roll{background: rgba(0, 0, 0, 0) url("https://www.antennereunion.fr/squelettes/assets/img/bg/lecture-article.png") no-repeat scroll center center;height: 100%;opacity: 0;position: absolute;width: 100%;z-index: 5;}

.programme-n3 section.video_container2{padding:15px 15px 10px 15px;background: #ffffff;border-left: 1px solid #CDDDEB;border-right: 1px solid #CDDDEB;}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {min-width: 85px !important;}

.adv-top.ad-banner img,.adv-top.ad-banner iframe,.adv-bottom img,.adv-bottom iframe{margin: 0 auto;height:auto!important;display:block;}

.programme-n3 .title-main-video,.article-section .text-body{font-family: "Maven Pro", sans-serif;}

.content-slide .slideshow img{width:100%!important;height:auto;}
.thumbimage .icon-video{background: url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll center center transparent;height: 45px;left:45%;position: absolute;top:45%;width: 46px;}
/*page photo*/
.article-row {
    border-bottom: 1px solid #d8e6f1;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
}
.liste-row .article-heading {
    color: #1f4563;
    font-family: "Maven Pro", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0px 0px 20px;
}
.liste-row .article-heading span {
    font-weight: 900;
}
.liste-row .article-row .contImg {
    margin: 0px 0px 20px;
    position: relative;
}
.liste-row .article-row .contImg img{width:100%;height:auto;}
.liste-row .article-row .contImg .img_caption {
    background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
    bottom: 0px;
    color: #ffffff;
    font-family: "Maven Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    left: 0px;
    position: absolute;
    width: 100%;
	margin:0;
}
.topiclist ul li {
    list-style-type: none;
}
.liste-row .article-row .a-description .btn_arrow {
    background-color: #007fbe;
    color: #ffffff;
    display: block;
    float: right;
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px 9px;
    text-transform: uppercase;
}
.article-row .a-description .btn_arrow:hover {
    background-color: #e2001a;
}
.liste-row .article-row .contImg .img_caption span {
    display: block;
    padding: 5px 10px 8px;
}
@media screen and (max-width:1024px){.bandeau-inner.clearfix{display:none;}.feat-cat3 .main-cat ul li{width: 33.333% !important;padding-left: 15px !important;padding-right: 15px !important;

margin-right: 0 !important;margin-left:0!important;}.feat-cat3 .main-cat ul{margin-left:-15px;margin-right:-15px;}.article-section #cont_desc_twit iframe{width:71px!important;}#main-wrapper.main-wrapper{overflow-x:hidden;}}

@media screen and (max-width:991px){.ar-side-col.bloc-right{max-width:300px;margin:0 auto;float:none;}}

@media screen and (max-width:700px){.ar-side-col.bloc-right{padding: 0!important;}}

@media screen and (max-width:600px){#wrapper .slideshow{height:auto!important;}}

@media screen and (max-width:480px){.topics-box .topiclist ul li .thumb-wrapper{padding-right:0;}#wrapper .slideshow{height:auto!important;}.feat-cat3 .main-cat ul li{width:100%!important;}.container-section .list-container ul li{padding-right:0!important;}}

@media screen and (max-width:320px){#wrapper .slideshow{height:auto!important;}}

