@charset "utf-8";

/* CSS Document */

@font-face {

	font-family: 'PatuaOne-Regular';

	src: url('../fonts/PatuaOne-Regular.eot?') format('eot'), 

	     url('../fonts/PatuaOne-Regular.woff') format('woff'), 

	     url('../fonts/PatuaOne-Regular.ttf')  format('truetype'),

	     url('../fonts/PatuaOne-Regular.svg#PatuaOne-Regular') format('svg');

}
@font-face {
  font-family:helveticaneue-light-std;
  src: url(helveticaneueltstd-th37.otf);
}
@font-face {
  font-family: myHelveticaCond;
  src:url(helveticaneue-cond.otf);
}
body{position:relative;}

body.video{background:#f8f8f8!important;}

body a,:focus{outline:none!important;}

.contenu{padding-top:20px!important;}

.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{/*margin-bottom:20px!important;*/padding-bottom:10px!important;border:1px solid #94B9D6!important;padding-top:10px;}

p{font-family:helveticaneue-light-std;}

.row{margin-left:0!important;margin-right:0!important}

img{width:100%!important;height:auto!important;}

.col-md-12.content_list img{width:100%!important;height:auto!important;margin-bottom:10px!important;}

.col-md-12.content_list h3{margin:0;padding:0;font-family:helveticaneue-light-std;font-weight:normal;font-size:16px!important;color:#000000!important;}

.col-md-12.content_list a{text-decoration:none!important;}

.head_image_detail{margin-bottom:20px!important;}

.titre_detail h3{margin:0 0 20px 0!important;padding:0!important;font-family: "Helvetica Neue";font-weight:normal;font-size:16px;/*color:#142f42!important;*/color:#000000!important;}

.detail_video .titre_detail h3{/*color:#1f4663!important;*/font-size:20px;color:#000000!important;}

.detail .date{border-bottom:1px solid #94b9d6;margin-bottom:20px!important;padding-bottom:20px!important;font-size:11px;color:#142f42;}

.description_detail h2{margin:0 0 20px 0!important;padding:0!important;font-size:14px!important;font-weight:bold;}

.detail .content_image{margin:0 0 20px 0!important;}

.description_detail{margin:0 0 20px 0!important;border-top:1px solid #94b9d6!important;padding-top:10px;}

.detail_new .description_detail{border:0!important;}

.retour{color:#fff;text-decoration:none;/*position:absolute;*/display:inline-block;z-index:100;top:40px;left:20px;text-decoration:none!important;margin:20px 0 0 20px;}

.retour.video{left:40px;}

.retour.video .fleche{border-right:10px solid #8fa2b0;}

.retour.video .content_fleche{background:#8fa2b0;}

.fleche{height: 0;border-top: 18px solid transparent;border-bottom: 18px solid transparent;border-right:10px solid #8fa2b0;display:block;width:10px;float:left;}

.content_fleche{background: #8fa2b0 none repeat scroll 0 0;display: block;float: left;height: 35px;margin: 0;padding: 6px 5px 0 0;border-radius:0 3px 3px 0;}

.retour:hover{color:#fff;}

.content_list_video .list_image{width:100%!important;height:100%!important;position:relative!important;}

.content_list_video .list_image .icone_video{width:55px;height:55px;position:absolute;left:45%;top:35%;background:url(../images/video51.png) no-repeat left top;}

.content_list_video .list_image .icone_image{width:55px;height:55px;position:absolute;left:45%;top:35%;background:url(../images/art51.png) no-repeat left top;}

.content_list_video a{color:#000!important;text-decoration:none;}

.content_list_video .titre_image h3{background:#fff!important;margin:0;padding:10px;font-family:helveticaneue-light-std;font-weight:normal;font-size:16px!important;color:#000!important;}

.content_list_video .titre_image{margin-bottom:20px!important;}

.content_list_participer img{height:auto!important;max-width:60px!important;}

.content_list_participer{text-align:center!important;}

.content_list_participer .col-xs-12.col-sm-4.col-md-4.col-lg-4{position:relative;margin-bottom:20px;}

.content_list_participer input{bottom: 0;cursor: pointer;left: 0;opacity: 0;position: absolute;right: 0;top: 0;width: 100%;z-index: 200;}

.content_list_participer h2{margin:0;padding:0;color: #a70916;font-family: 'PatuaOne-Regular';font-size: 15px;}

.content_list_participer .col-xs-6.col-sm-12.col-md-12:first-child{margin-bottom:10px!important;height:100px!important;}

.row.header_slide{width:100%!important;position:relative!important;}

.row.header_slide .text_header{position:absolute!important;bottom:0!important;width:100%!important;padding:10px 5% 30px 5%;}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom:10px!important;z-index:100!important;}



.list_image.col-xs-6.col-sm-12.col-md-12{position:relative!important;}

.list_image .icone_video{width:40px;height:40px;position:absolute;left:45%;top:35%;background:url(../images/video51.png) no-repeat left top; background-size:cover!important;}

.list_image .icone_image{width:40px;height:40px;position:absolute;left:45%;top:35%;background:url(../images/art51.png) no-repeat left top; background-size:cover!important;}

.row.header_slide .text_header{background-color:rgba(255, 255, 255, 0.8);}

.row.header_slide .text_header h2 {color:#1f4663;font-family:helveticaneue-light-std;font-size: 15px;font-weight: 400;margin: 0;padding: 0;}

.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:focus{background:#1f4663!important;}

.bx-wrapper .bx-pager.bx-default-pager a{background:#869ba4!important;}

.col-md-12.content_list a{color:#1f4663!important;}

.mention_legale p{text-align:justify!important;color:#1f4663!important;}

video{width:100%!important;height:auto!important;}

.bx-prev,.bx-next{display:none!important;}

.bx-wrapper{margin:0 auto 0!important; box-shadow:none!important;border:none!important;}

.col-sm-6.col-xs-12.col-md-4{height:280px!important;}

.col-md-12.content_list img{max-width:300px!important;}

.list_image.col-xs-6.col-sm-12.col-md-12{text-align:center!important;}

@media screen and (min-width:481px) and (max-width: 1000px) {.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{width:50%!important;}.list_image.col-xs-6.col-sm-12.col-md-12{width:100%!important;}.titre_image.col-xs-6.col-sm-12.col-md-12{width:100%!important;}.content_list_video .list_image .icone_video{width:40px!important;height:40px!important;}.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{height:250px!important;}}

@media screen and (max-width:800px){.col-md-12.content_list h3{font-size:12px!important;}.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{height:280px!important;}}

@media screen and (max-width:700px){.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{height:250px!important;}}

@media screen and (max-width:500px){.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{height:200px!important;}}

@media screen and (max-width:480px) {.col-md-12.content_list h3{font-size:14px!important}.titre_image.col-xs-6.col-sm-12.col-md-12{/*padding-left:0!important;padding-right:0!important;*/}.content_list_participer{text-align:inherit!important;}.head_image_detail{display:none!important;}.retour{margin-left:20px!important;/*position:inherit!important;*/top:0!important;left:0!important;margin-top:40px!important;}.titre_detail{margin-top:20px!important;}.retour.video{/*position:absolute!important;*/left:20px!important;}.list_image .icone_video{width:20px;height:20px;}.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{border:0!important;border-bottom:1px solid #94B9D6!important;}.col-md-12.content_list .col-sm-6.col-xs-12.col-md-4{height:inherit!important;}.content_list_video .list_image .icone_video{width:40px!important;height:40px!important;}
.list_image.col-xs-6.col-sm-12.col-md-12{padding-left:0!important;padding-right:0!important;}
}



