/*******Web Agency**********/

@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);

section#container{
    width:100%;
    margin-right: auto;
    margin-top: -4px;
    margin-left: auto;

   background-size: contain;
}
body{
   background: #4467a5 url('../images/newleclerc-bg.jpg') no-repeat center 44px !important;  
}
#content{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.top-content{
    text-align: center;
    width: 1040px;
}
.top-content{
    width: auto !important;
}
.top-content{
    list-style: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.top-content{
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 1.1;
}
.top-content p:last-child{
    margin-right: 0;
}
.top-content .logo-ar{
    margin: 0 auto;
    text-align: center;
    width: 58%;
}
.top-content h1{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    margin-top: 0 !important;
}
.top-content h1 span{
    font-size: 30pt;
    text-transform: none !important;
}
.container-body{
    background: #fff;
    padding: 20px 20px 40px;
}

    .entete{
        display: none;
    }
.appli{
    background: url('../images/bgappli.jpg') no-repeat center center;
    text-align: center;
    padding: 10px 5% 0;
    height: 539px;
    position: relative;
}
.prix{
    background: url('../images/cadie.png') no-repeat center center;
    text-align: center;
    padding: 10px 5% 0;
    height: 549px;
    background-size: cover;
    position: relative;
}
.appli h1{
       font-family: 'Maven Pro', sans-serif;
       color: #000000;
       font-weight: 100;
       margin-bottom: 25px;
}
.logoappli img{
    float: left;
    margin-right: 35px;
}
 
.logoappli {
    margin: 0 auto 3% auto !important;
    width: 53%;
}
.div-appli img{
    display: inline;
}
h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
}
.prix h1{
    color: #ffffff;
    padding-left: 50px;
    text-shadow: 1px 1px 2px #010101;
}
.indice{
    margin-bottom: 31px !important;
}
.line{
    margin-top: 45%;
}
.container-body .row{
    margin-bottom: 20px;
}
.formulaire{
    background-color: #dfdada;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    padding-bottom: 4px;
    padding-top: 25px;
}
.contentlabel{
    float: left;
    margin-right: 20px;
    text-align: right;
    width: 463px;
}
.form-group {
    margin: 0 auto 0 1%;
    width: 726px;
}
.listform{
    display: block;
    margin: 27px 0;
}
.contentlabel label{
    font-size: 14px;
    font-family:  'Maven Pro', sans-serif;
    font-weight: 100 !important;
    color: #1f4563;
    line-height: 1.9;
}
.info h2 {
    font-size: 16px;
    font-weight: 100;
    text-align: right;
}
input[type='text'], select{
    height: 30px;
    width: 240px;
    padding-left: 7px;
    border: 1px solid #d9e6ee;
    -webkit-appearance: none !important;
    -moz-appearance:none !important;
    appearance:none !important;

    @supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none))
}

input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#date_const, #date_appli, #date_naiss{
    background: #ffffff url('../images/bg-calandar.png') no-repeat 98% center;
}
input#pri_cliN, input#prix_cli, input#tel, input#prix_cliN, input#prix_appliN, input#prix_appli{
    padding-right: 7px;
}
input[type="submit"]{
    background: #007fbe !important;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 35px;
    float: right;
}
.green .info{
    bottom: 49px;
}
.info{
    background: rgba(255, 255, 255, 0.8);
    width: 181px;
    position: absolute;
    right: -26%;
    bottom: 54px;
    color: #1f4563;
    font-size: 14px;
    padding:5px 10px;

}
.object{
    width: 725px;
}
.tab-content .formulaire .form-group .info h2{
    font-size: 16px;
    font-weight: 100;
    text-align: right;
    width: 158px;
}
.info h2 a, .info h2 a:hover {
    color: #1f4563; text-decoration: none;
}
.info p{
    line-height: 1.2;
    font-size: 14px;
    margin-bottom: 4px;
}
.info p:nth-child(1){
    margin-bottom: 15px;
}
.obligatoire{
    margin-top: 60px;
    text-align: right;
    color: #1f4563;
    font-size: 16px;
    }
.ui-datepicker-title select{
    width: 200px !important;
}
select{
    background: #ffffff url('../images/bg-select.png') no-repeat 98% center;
}
.choix{
    float: left;
    margin-right: 20px;
}
.minilogo img:nth-child(1){
    float: left;
    margin-right: 13px;
    padding-top: 1px;
}
.engagements p{
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
    color: #2067a3;
}
    p.name, .content-testamonial a{
      font-weight: 500;
      color: #2a3f52;
      font-family: "Maven Pro",sans-serif;
      font-size: 14px;
    }
    .content-testamonial a:hover{
        text-decoration: none;
    }
    .content-testamonial p{
        font-size: 14px;
    }
    .content-testamonial{
      border-bottom: 1px solid #e5e9ed;
      display: inline-block;
      padding-bottom: 70px;
      margin-bottom: 30px;
    }
    #testamonial .content-testamonial.no-border{
      border-bottom: none;
      margin-bottom: 0px;
    }
    .content-testamonial h3{
      margin: 0 0 10px 0;
      font-family: "Maven Pro",sans-serif;
      font-size: 30px;
      padding-left: 15px;
    }
.num{
    color: #ed8b18;
   font-family: 'Maven Pro', sans-serif;
   font-size: 48px;
   background: #ffffff;
   position: absolute;
   left: -25px;
   padding: 26px 42px 18px 50px;
   border-radius: 49%;
   top: -20px;
}
.formulaire h1{
    color: #335572;
    margin-left: 100px;
    padding-top: 30px;
    font-size: 32px;
    margin-bottom: 20px;
}
.social-top ul{
    margin-bottom: 0 !important;
}

a:hover{
    cursor: pointer;
    }
.files{
    position: relative;overflow: hidden;
    border: 1px solid #d9e6ee;
    height: 30px;
    width: 240px;
    background: #ffffff;
    padding:1px;
    }
.files span{
    float: right;
    background: #d9e6ee;
    padding: 3px 20px;
}
select::-ms-expand {
    display: none;
}
.red ul, .green ul{
    width: 723px;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.top-content .logo-ar img{
    width: auto !important;
}
.top-content .col-md-3{
    width: 2% !important;
    padding-left: 0 !important;
}
.top-content .col-md-2{
    text-indent: 2%;
}
.logo-ar h1{
    width: 100%;
}
#cid{
    line-height: 2;
}
#messagebox_content a{
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  min-width: 60px;
  margin: 0px 4px;
  padding: 5px 10px;
  cursor: pointer;
  color: #404040;
  background-color: #e9e9e9;
  background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
label.error{
        font-weight: 100;
        color: #EE0013;
        float: right;
    }
input.placeholder-right::-webkit-input-placeholder {
    text-align: right;
}
input.placeholder-right::-moz-placeholder {
    text-align: right;
}
input.placeholder-right:-moz-placeholder {   /* Older versions of Firefox */
    text-align: right;
}
input.placeholder-right:-ms-input-placeholder { 
    text-align: right;
}
.g-recaptcha {
    margin-bottom: 10px;
    position: relative;
    right: -58%;
    margin-top: 4%;
}
.formulaire p.boutons{
    margin-right: 0px;
}
div.encountour a{
    padding: 12px 15px;
}
.logofooter{
    margin-top: 25px;
}
.pact{
    width: auto;
    margin: 0 auto;
    }
.numero-error{
        float: left;
        width: 40%;   
    }
.indice p{
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}
.filename{
   text-align: right;
  display: block;
  line-height: 1;
  margin: -20px 0;
  font-size: 13px;
  font-weight: bold;

}
.content-video{
  position: absolute !important;
  top: 33.5% !important;
  right: 3% !important;
  color: #fff;
  font-weight: bold;
  font-size: 16px;

}
.content-video img{
    border:2px solid rgb(195, 195, 195);
}
.content-video span{
    color: #fff;
    background: #007FBE;
    font-weight: 500;
    padding: 3px 19px 4px 19px;
    border-right: 2px solid rgb(195, 195, 195);
    border-left: 2px solid rgb(195, 195, 195);
    border-bottom: 2px solid rgb(195, 195, 195);
    font-size: 1.05em;
}
.personale{
    font-style: italic;
}
/*********responsive***************/
@media only screen and (min-width: 980px) and (max-width: 1208px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .object {
        width: 719px !important;
    }
    .form-group {
        width: 616px;
    }
    .prix h1{
        padding-left: 60px;
    }
    .info {
        width: 434px;
    }
    .top-content .logo-ar {
        width: 42%;
    }
    .top-content .logo-ar .col-md-2 {
        padding-top: 7px;
        text-indent: 0 !important;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1024px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .contentlabel {
        width: 380px;
    }
    .red ul, .green ul {
        width: 640px;
    }
    }
@media only screen and (max-width: 960px) {

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .tab-content .formulaire .form-group ..info h2{
        width: 400px;
    }
    .red ul, .green ul {
        width: 724px;
    }
    .contentlabel {
        width: 380px;
    }
    .contentlabel label {
        font-size: 13px;
    }
    .prix{
        padding-left: 9% !important;
    }
    .engagements p{
        line-height: 1;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1208px) {

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .top-content .col-md-3 {
        padding-left: 15px !important;
    }
    .info {
        position: relative;
        bottom: 0;
        right: -33.4% !important;
    }
    .g-recaptcha{
        right: -54.8%;
    }
    .formulaire p.boutons {
        margin-right: -3.7%;
    }
}

@media only screen and (max-width: 1024px) {

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .content-video{
        top: 50.5% !important;
    }
    .top-content .logo-ar img {
        max-width: 180px !important;
    }
    label.error{
        font-weight: 100;
        color: #EE0013;
        margin: 1.5% 0 0 1%;
        font-size: 13px !important;
    }
    body {
        background: #4467a5 url('../images/newleclerc-bg.jpg') no-repeat center 14px !important;
    }
    #content {
        width: auto;
    }
    .info {
        position: relative;
        bottom: 4px;
        right: -37%;
    }
    h1{
        font-size: 22px
    }
    .appli {
        height: auto;
        min-height: 250px;
    }
    ul.nav-pills li  a{
        margin-left: 0px
    }
    ul.nav-pills li .fa{
        display: none;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1024px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .tab-content #home .text-top{
        height: 190px;
    }
    .tab-content #home #footer-rebouressement {
        margin-top: 67%;
    }
    .contenttop{
        margin-bottom: 15px;
    }
    .nav-pills li{
        width: 100%;
    }
}
@media only screen and (min-width: 740px) and (max-width: 980px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .form-group .formulaire label.error{
        float: none;
    }
    #home #footer-rebouressement {
        margin-top: 58% !important;
    }
    #home .text-top p{
        font-size: 16px;
    }
    .logoappli img:last-child{
        margin-top: 10px;
    }
    #remboursement{
        overflow: hidden;
    }
    .form-group {
        width: 637px;
    }
    .prix h1 {
        font-size: 30px;
    }
    .info h2 {
        width: 264px !important;
    }
    .info {
        width: 295px;
    }
    .g-recaptcha {
        right: -53%;
    }
    .red ul, .green ul {
        width: 640px;
    }
    .top-content .logo-ar .col-md-2{
        margin-bottom: -17px;
        padding-top: 12px;
        text-indent: 19px;
    }
    .top-content .col-md-3{
        padding-left: 0 !important;
    }
    .top-content .col-md-4{
        padding-right: 0 !important;
        padding-left: 26px !important;
    }
    .info {
        position: relative;
        bottom: 4px;
        right: -54%;
    }
    .top-content .logo-ar{
        width: 18% !important;
    }
    .line {
        line-height: 1;
        margin-top: 58%;
    }
    .prix h1 {
      color: #ffffff;
      margin-left: 0;
    }
    .formulaire h1 {
        margin-left: 125px;
    }
    .logoappli {
        width: 19%;
    }

}
@media only screen and (min-width: 599px) and (max-width: 740px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .object {
        width: 574px !important;
    }
    .tab-content .formulaire .form-group .info h2 {
        width: 250px;
    }
    .info{
        width: 270px;
    }
    .logoappli {
        width: 19%;
    }
    .choix {
        float: left !important;
        margin-right: 11px;
    }
    .top-content .col-md-2 {
        margin-bottom: -12px;
        padding-top: 8px;
        text-indent: 44%;
    }
    .line {
        margin-top: 42%;
    }
    .g-recaptcha {
        right: -32%;
    }
    .files {
        left: 0px !important;
        width: 100%;
    }
    .top-content .logo-ar{
        width: 18% !important;
    }
    .formulaire h1 {
        margin-left: 110px;
        font-size: 33px;
    }
    .minilogo {
        margin: 0 auto;
        width: 71%;
    }
    .red ul, .green ul {
        width: 440px;
        padding-left: 47px;
    }
    .contentlabel label {
        font-size: 14px !important;
    }
    .top-content h1 span {
        font-size: 20pt !important;
    }

    .top-content h1 {
        font-size: 40px  !important;
    }
    .prix h1, .appli h1 {
        margin-left: 10%  !important;
    }
    .info {
        right: -36% !important;
    }
    .form-group {
        margin: 0 auto 0 4%  !important;
        width: 483px;
    }
    .contentlabel {
        width: 250px  !important;
        margin-right: 15px  !important;
        text-align: left;
    }
    .choix {
        float: none;
    }
    .prix {
        height: 440px  !important;
    }
    form{
          padding-right: 10%;
    }
    .appli {
        height: auto;
    }
    input[type='text'], select {
          width: 395px;
      }
      .line {
          line-height: 1;
          margin-top: 30%;
    }
    .top-content .logo-ar{
        width: 17%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 599px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .formulaire .form-group {
        margin: 0 auto 0 16% !important;
        width: 350px;
    }
    .info{
        width: 310px;
        right: 0;
    }
    .obligatoire{
        text-align: left;
    }
    .tab-content .formulaire .form-group .red ul, .tab-content .formulaire .form-group .green ul {
        width: 420px;
    }
    .contentlabel{
        text-align: left;
    }
    .tab-content .formulaire .form-group .g-recaptcha{
        right: 0;
    }
    .tab-content .formulaire .form-group .info{
        right: 0;
    }
    .tab-content .formulaire .form-group .info h2{
        width: 158px !important;
    }
    .tab-content .formulaire .form-group .object {
        width: 380px;
    }
    .red ul, .green ul {
        width: 246px;
    }
    .contentlabel {
        text-align: left;
        width: 100%;
    }
    .formulaire .form-group .object {
        width: 340px;
    }
    .formulaire .form-group input[type='text'], .formulaire .form-group select,  .formulaire .form-group .files{
        width: 120%
    }
    .g-recaptcha{
        right: 0%;
    }
    .formulaire p.boutons {
        margin-right: 22%;
    }
}
@media only screen and (max-width: 800px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .nav-pills>li{
        width: 100%;
    }
    .tab-content #home #footer-rebouressement {
        margin-top: 10%;
    }
    #container .tab-content .col-sm-4{
        float: none;
        width: 100%;
    }
    .tab-content .col-sm-4 .text-top {
        padding-top: 20px;
    }
    .entete{
        display: block;
    }
    .container ul.nav.nav-pills{
        margin-top: 0px;
    }
    body.body-leclerc{
        background: #4467a5 !important;
    }
}
@media only screen and (max-width: 500px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    .logoappli img{
        width: 100%;
    }
    .formulaire .form-group p.obligatoire{
        margin-right: 10px;
    }
    .formulaire .form-group .object {
        width: 340px;
        padding-left: 7px;
    }
    #remboursement div.encountour a{
        width: 100%;
    }
    #engagements .bg-engagement{
        padding: 0 10px 100px;
    }
    #footer-rebouressement div.encountour a{
        font-size: 20px;
    }
    .tab-content .col-sm-4 .text-top{
        padding-top: 20px;
    }
    #home #footer-rebouressement {
        margin-top: 10%;
    }
    a.content-video{
        display: none;
    }
    .tab-content .formulaire .form-group .info h2 {
        width: 220px;
        font-size: 14px;
    }
    .tab-content .formulaire .form-group .object {
        width: 322px;
    }
    .prix h1 {
        padding-left: 4px !important;
    }
    .top-content .col-md-3 {
        padding-left: 23px !important;
    }
    
    .top-content .logo-ar .col-md-2{
        margin-bottom: -8px;
        padding-top: 4%;
    }
    h1 {
        font-size: 18px !important;
    }
    .top-content .logo-ar {
        width: 40%;
    }
    .logo-ar {
        width: 70%;
    }
    .top-content h1 span {
        font-size: 19pt;
    }
    .top-content h1 {
      font-size: 26px;
    }
    .prix h1 {
        color: #ffffff;
        margin-top: 2%;
    }
    .line {
        line-height: 1;
        margin-top: 120% !important;
    }
    .num {
        padding: 5px 13px 2px 17px;
        left: -6px;
        top: -5px;
        font-size: 22px;
    }
    .choix {
        margin-right: 14px;
    }
    input[type='text'], select {
        width: 245px;
    }
    .red ul, .green ul {
        width: 246px;
    }
    .form-group {
          margin: 0 auto 0 14%;
          width: 250px;
          background: #dfdada;
    }
    .contentlabel {
        text-align: left;
        width: 100%;
    }
    .info {
        right: -4px;
        width: 100%;
    }
    .formulaire h1 {
        margin-left: 10px;
        padding-top: 40px;
    }
    .prix {
        height: auto;
        min-height: 425px;
    }
    .appli {
        height: auto;
    }
    .files {
        width: 100%;
        display: inline-block;
    }
    .formulaire p.boutons{
        margin-right: -4px;
    }
    .contentlabel label {
        font-size: 14px;
    }
    label.error{
        font-weight: 100;
        color: #EE0013;
        margin: 3% 10px 0 3%;
    }
    .top-content .logo-ar {
      width: 60% !important;
    }

    .pact{
        width: auto;
        margin: 0 auto;
    }
    .numero-error{
        float: left;
        width: 40%;   
    }
    .g-recaptcha {
        right: 15%;
    }
    .engagements p {
        font-size: 18px;
    }
}
@media only screen and (max-width: 290px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    #remboursement .formulaire .listform input[type='text'], #remboursement .formulaire .listform select {
        width: 218px;
    }
    .formulaire .form-group{
        width: 226px;
        margin-left: -16px;
    }
    .formulaire .form-group{
        margin-left: -16px !important;
    }
}

@media only screen and (max-width: 384px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    #remboursement .formulaire .form-group .object {
        width: 305px;
    }
    #remboursement .formulaire .form-group {
        margin: 0 auto 0 6%;
    }
}
@media only screen and (max-width: 348px){

    @-webkit-viewport{
        width: device-width;
    }

    @-moz-viewport{
        width: device-width;
    }

    @-ms-viewport{
        width: device-width;
    }

    @-o-viewport{
        width: device-width;
    }

    @viewport{
        width: device-width;
    }
    #footer-rebouressement div.encountour a {
        font-size: 15px;
    }
    #remboursement .formulaire p.boutons {
        margin-right: 5px;
    }
    #testamonial .content-testamonial h3{
        font-size: 22px;
    }
   .tab-content .formulaire .form-group .object {
        width: 200px;
        padding-left: 10px;
    }
    .tab-content .col-sm-4 .text-top p{
        font-size: 14px;
    }
    .tab-content .col-sm-4 .text-top {
        padding-top: 4px;
    }
    .formulaire .form-group .contentlabel{
        width: 100%;
    }
    .formulaire .form-group{
        margin-left: 0px !important;
    }
    .formulaire .form-group .info {
        right: 0;
        width: 100%;
    }
    .red ul, .green ul{
        padding-left: 5px;
    }
    .formulaire .form-group .formulaire {
        background-color: #dfdada;
    }
    .formulaire{
        background: transparent;
    }
    .formulaire input[type='text'], .formulaire select {
        width: 234px;
    }
}
 #footer-rebouressement{
      text-align: center;
    }
    div.encountour a{
    border: 1px solid #f98f00;
    color: #f98f00;
    font-family: "Maven Pro",sans-serif;
    font-size: 33px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    margin: 40px auto;
    padding: 12px 20px;
    width: 70%;
    }
    div.encountour{
        margin: 40px auto;
    }
    div.encountour a:hover{
        color: #ffffff;
        text-decoration: none;
    }
     div.encountour a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
    div.encountour a:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    }
    div.encountour a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f98f00;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
    #footer-rebouressement img, #image-entente img{
      margin: 0 auto;
    }
    body p{
      font-family: "Maven Pro",sans-serif;
      color: #2a3f52;
      font-size: 15px;
    }
    .fa{
      color: #e2001a;
      float: left;
      line-height: 1.5;
      font-size: 30px;
    }
    .nav li:first-child a{
      margin-left: 0;  
    }
    .contenttop{
      background: #f0f5f9;
      padding: 5px 10px;
      border: 1px solid #e5e9ed;
      margin-bottom: 20px;
    }
    .contenttop h3{
      color: #335272;
      font-family: "Maven Pro",sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      /*border-bottom: 1px solid #e5e9ed;*/
      padding-bottom: 7px;
      margin: 0;
    }
    .text-top{
      text-align: center;
      height: 145px;
      padding: 0 16px;
    }
    .rond-img img, .leclercvideo img{
      margin: 0 auto;
    }
/*    .rond-img img:hover{
      opacity: .8;
        }*/

    ul.nav.nav-pills {
            border: 1px solid #e5e9ed;
            background: #f0f5f9 none repeat scroll 0 0;
            margin-top: 245px;
        }
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
    background: #0d70b2 !important;
}
.nav-pills > li > a{
    border-radius: 0 !important;
    color: #2a3f52;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    padding: 12px 5px !important;
    text-transform: uppercase;
    margin: -1px 0px 0 25px;
}
.leclercvideo{
    margin: 1% 0 4% 0;
    position: relative;
}
video{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
#home #footer-rebouressement{
    margin-top: 52%;
}

.contenttop p{
    margin-top: 20px;
}

.text-top p{
    color: #335572;
    font-size: 16px;
}

.breandcumb{
    height: 30px;
}

.breandcumb p, .breandcumb span{
    color: #6082a5;
    font-family: "Maven Pro",sans-serif;
}

.breandcumb .fa{
    font-size: 18px;
    line-height: 1;
    color: #6082a5;
}

.breandcumb span{
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    }

.breandcumb ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.breandcumb ul li{
    float: left;
}
span.titrebreand{
    margin-left: 0;
}

ul.nav-pills li:last-child a{
    padding: 12px 21px 12px 21px !important;
}

#toTop .fa{
    line-height: 100%;
    color: #ffffff;
}
#testamonial h3{
    font-family: "Maven Pro",sans-serif;
    color: #2a3f52;
}
.bg-engagement{
    background: #cbe9f2;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 155px;
}
.bg-engagement .ensemble img{
    position: absolute;
    left: 0;
    right: 0;
}
p.lien1{
    margin: 0;
}
.logotoptesta{
    margin-top: 25px;
    margin-bottom: 35px;
}
.formulaire ul li:last-child{
    text-align: right;
}
.descr_map{
    width: auto !important;
}
span#videoPlayer{
width: 100% !important;
}

.body-leclerc .is-sticky .navbar{
	min-height: 20px !important;
}
.leclercvideo:before{
	content: "";
	position:absolute;
	border-right: 2px solid #ffffff;
    height: 100%;
    right: 0;
}