@charset "utf-8";
/* CSS Document */
.content_liste_candidat_miss_reunion2017{min-height:inherit;padding:8px 0 0 0;}
.content_liste_candidat_miss_reunion2017 ul{margin-bottom:0;}
.vignette_vue_influanceur{clear:both;padding:20px 0 30px 0;}
.page_candidats.list_des_candidats .content_partage{width:55%;}

@media screen and (max-width: 991px) {
    .page_candidats.list_des_candidats .content_partage{width:auto;}
}

@media screen and (max-width: 480px) {
    .header_fiche_candidat div.candidat_info ul li{display:flex;}
    .candidat_info ul li span.infos{width:50%;}
}