@charset "utf-8";

/* CSS Document */

.bloc-right .pub-container{padding-top:0;}

.juicer-feed.j-initialized.j-modern.classic.loaded{/*height:500px!important;*/max-height:405px!important;}

.bloc-right{width:300px;}

.menu-menu2{background:#d4d5dc;}

.menu-menu2 ul li a.active, .menu-menu2 ul li a:hover{background:#0032B0;}

.content_reseaux_sociaux_top{width:284px;height:35px;margin:0;padding:0;background:url(http://cdn.antenne.re/antenne/image_direct_2017/back_content_reseaux_sociaux_top.png) no-repeat left top;position:absolute;right:0;bottom:13px;}

.content_reseaux_sociaux_top ul{margin:8px 9px 0 0;padding:0;list-style-type:none;float:right;}

.content_reseaux_sociaux_top ul li{float:left;padding:0 11px;background:url(http://cdn.antenne.re/antenne/image_direct_2017/back_list_icone_top.jpg) no-repeat right 2px;height:18px;}

.content_reseaux_sociaux_top ul li:last-child{background:none;}

.content_reseaux_sociaux_top ul li.fb_top a{background:url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_fb_top.png) no-repeat left top;width:9px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.fb_top a:hover{background:url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_fb_top_hover.png) no-repeat left top;}

.content_reseaux_sociaux_top ul li.twetter_top a{background: url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_tweeter_top.png) no-repeat left top;width:21px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.twetter_top a:hover{background: url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_tweeter_top_hover.png) no-repeat left top;}

.content_reseaux_sociaux_top ul li.intagram_top a{background: url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_instagram_top.png) no-repeat left top;width:18px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.intagram_top a:hover{background: url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_instagram_top_hover.png) no-repeat left top;}

.content_reseaux_sociaux_top ul li.snap_tchat_top a{background: url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_snap_tchat_top.png) no-repeat left top;width:18px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.snap_tchat_top a:hover{background: url(http://cdn.antenne.re/antenne/image_direct_2017/image_icone_snap_tchat_top_hover.png) no-repeat left top;}

.ar-main-col{margin-top:0;}

.content_video_page_direct_miss_reunion2017 .content_image_direct{margin-bottom:7px;}

.socializer-buttons.clearfix td{vertical-align:top!important;}

.socializer-buttons.clearfix td div {margin: 0 5px 0 0 !important;}

.socializer-buttons {margin: 0 0 20px 0;width: 100%;}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]{min-width:inherit!important;}

.content_liste_candidat_miss_reunion2017{width:100%;margin:0 0 50px 0;padding:8px 0 0 0;min-height:688px;background:#dedcdd url(http://cdn.antenne.re/antenne/image_direct_2017/back_list_candidat.jpg) no-repeat left bottom;float:left;background-size:cover;}
.content_liste_candidat_miss_reunion2017.cinq_list_candidat{min-height:520px;}
.content_liste_candidat_miss_reunion2017 ul{margin:0 0 20px 8px;padding:0;list-style-type:none;width:100%;float:left;}

.content_liste_candidat_miss_reunion2017 ul li{margin:0 5px 10px 0;padding:0;float:left;}

.content_vote{width:100%;margin:0 0 20px 0;padding:0 5%;}

.content_vote .titre_vote{margin:0 0 20px 0;padding:0;font-family: "Maven Pro";font-size:35px;font-weight:normal;color:#0032b0;text-align:center;background:url(http://cdn.antenne.re/antenne/image_direct_2017/back_titre_vote.png) no-repeat center bottom;}

.content_vote .titre_vote span{font-weight:bold;}

.text_soutenez{width:100%;margin:0 0 17px 0;padding:0;font-family:ralewayregular;font-size:22px;font-weight:normal;color:#183a8c;text-align:center;}

.text_soutenez span{font-family:ralewayregular;font-weight:700;text-shadow:1px 1px 0 rgba(255,255,255,1);}

.text_envoyant{width:100%;margin:0 0 20px 0;padding:0;text-align:center;font-family:ralewayregular;font-size:20px;font-weight:normal;color:#183a8c;}

.text_envoyant span{font-weight:600;}

.text_sms_plus{width:100%;margin:0;padding:0;font-family:"Century Gothic";font-size:22px;text-align:center;color:#0034b2;}

.content_sondage{width:100%;margin:0 0 20px 0;padding:0;background:url(http://cdn.antenne.re/antenne/image_direct_2017/back_sondage.jpg) no-repeat left top;clear:both;background-size:cover;}

.content_sondage_inner{height:156px;}

.sondage_left{width:40%;float:left;}

.sondage_right{width:60%;float:right;}

.sondage_right_inner{margin:0;padding:0;height:156px;display:table-cell;vertical-align:middle;}

.text_sondage{font-family:ralewayregular;font-size:20px;font-weight:700;text-align:center;margin:0 0 26px 0;padding:0;color:#000000;}

.bouton_sondage{width:100%;margin:0;padding:0;}

.bouton_sondage a{width:179px;height:30px;padding:3px 0 0 0;margin:0 auto;display:block;background:#0032b0;color:#fff;text-align:center;text-decoration:none;font-family: "Maven Pro";font-size:17px;}

.titre_reagis{width:100%;margin:0 0 17px 0;padding:0 5px;background:#0032b0;float:left;}

.titre_reagis .content_titre_reagis{float:left;font-family: "Maven Pro";font-size:20px;font-weight:normal;color:#fff;text-transform:uppercase;margin:0;padding:0;}

.titre_reagis .lien_reagis{float:right;font-family: "Maven Pro";font-size:16px;font-weight:normal;color:#fff;margin:0;padding:0;}

.titre_reagis .lien_reagis a{color:#fff;text-decoration:none;}

.video-direct{margin-bottom:7px;}
.content_time_partage{margin:0 0 8px 0;padding:0;}
.content_time_partage .time{color:#0032ad;}
.content_time_partage i.fa.fa-clock-o {margin: 0 5px 0 0;}
.content_time_partage .time {font-family:ralewayregular;margin: 0;padding: 0;font-size: 14px;font-weight:700;}

.topics-box .topiclist ul{border:0;}

/*page j+1*/
.section-pagination{border:0;}
.titre_list{font-size:20px;padding-top:2px;margin-bottom:20px;height:auto;}
.content_image_candidat_fb_live{margin:0 0 30px 0;padding:0;width:100%;}
.revivez_la_reseaux_socio{margin:0 0 20px 0;}
.section-pagination .next a, .section-pagination .prev a{ text-indent:inherit;font-size:16px!important;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;margin-top:-3px;}
.section-pagination .info-pagination a:hover, .section-pagination .info-pagination span.current, .section-pagination .pages .on, .section-pagination .pages a:hover{background:#0033b2; border-radius:50%;border:1px solid #0033b2;}
.section-pagination .info-pagination a, .section-pagination .pages a{border:1px solid #d5d6dd;border-radius:50%;background:none;color:#d5d6dd;}
.content_liste_candidat_miss_reunion2017 ul li a{position:relative;display:block;}
.content_liste_candidat_miss_reunion2017 ul li a span.effet_hover{display:none;}
.content_liste_candidat_miss_reunion2017 ul li a:hover span.effet_hover{position:absolute;display:block;background: rgba( 0, 0, 0, 0.5);width:100%;height:100%;top:0; border-radius:10px;}
/*page annonce candidat elue*/
.annonce_candidats{width:100%;margin:0 0 25px 0;}
/*page dimanche midi*/
 .list_photo ul li .image_photo{height:170px;overflow:hidden;}
 .list_photo{margin-top:0;}
 .titre_video_dimanche_midi{background:#665440;margin:0 0 5px 0;padding:20px;font-family:ralewaylight;font-size:24px;color:#fff;}
 .titre_video_dimanche_midi span{font-weight:700;}
 .block_content_video_dimanche_midi{margin:0 0 30px 0;padding:0;}
 .block_content_video_dimanche_midi .block_1{margin:0 0 1px 0;}
 .block_content_video_dimanche_midi .block_1 .list_video_midi,.block_content_video_dimanche_midi .block_2 .list_video_petit_inner{padding-left:1px;padding-right:1px;height:100%;display:block;position:relative;}
 .list_video_petit{margin-right:-1px;margin-left:-1px;}
  .block_content_video_dimanche_midi .block_1 .list_video_midi .hover_video{display:none;}
  .block_content_video_dimanche_midi .block_2 .list_video_petit_inner .hover_video{display:none;}
  .block_content_video_dimanche_midi .block_2 .list_video_petit_inner a:hover .hover_video{display:block;position:absolute;width:100%;height:100%;background: rgba( 0, 0, 0, 0.5);top:0;}
  .block_content_video_dimanche_midi .block_1 .list_video_midi a:hover .hover_video{display:block;position:absolute;width:100%;height:100%;background: rgba( 0, 0, 0, 0.5);top:0;}
 .block_content_video_dimanche_midi .block_1 .row,.block_content_video_dimanche_midi .block_2 .row{margin-left:-1px;margin-right:-1px;}
.block_content_video_dimanche_midi .block_2 .list_video_midi1{padding-left:1px;padding-right:1px;text-align:center;} 
.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 .interne{margin:6% auto 0 auto;}
.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a{margin:0;padding:12px 15px;background:#0033b2;color:#fff;text-decoration:none;font-family:ralewayregular;font-weight:500;font-size:14px;position:inherit;display:inline-block;vertical-align:middle;}
.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a:hover{background:#e2001a;}
.block_content_video_dimanche_midi .block_2{margin:0;padding:0;}
.content_image_replay{margin:0 0 40px 0;padding:0;}
@media screen and (max-width:1024px){.content_reseaux_sociaux_top{position:inherit;width:100%;margin:0;padding:0;clear:both;}.menu-menu2{display:none;}.menu_responsive_cache{display:block!important;margin-bottom:20px!important;}.menu_responsive_cache .btn.btn-primary.dropdown-toggle{background:#0032b0!important;}#main-footer{display:none!important;}.ar-main-col .content_vote img{width:auto!important;}.content_liste_candidat_miss_reunion2017 ul{float:none;text-align:center;}.content_liste_candidat_miss_reunion2017 ul li{float:none;display:inline-block;}.container{width:100%;}
}
@media screen and (max-width:991px){.ar-main-col{padding-right:0!important;}}
@media screen and (max-width:768px){.ar-main-col{padding-right:0!important;}}
@media screen and (max-width:536px){.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a{font-size:12px;padding:10px;}}
@media screen and (max-width:448px){.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 .interne{margin-top:0;font-size:10px;}}
@media screen and (max-width:480px){.sondage_left{display:none;}.sondage_right{width:100%;float:none;}}









