@charset "utf-8";
/* CSS Document */
.bloc-right .pub-container{padding-top:0;}
.juicer-feed.j-initialized.j-modern.classic.loaded{height:500px!important;}
.bloc-right{width:300px;}
.menu-menu2{background:#d4d5dc;}
.menu-menu2 ul li a.active, .menu-menu2 ul li a:hover{background:#0032B0;}
.content_reseaux_sociaux_top{width:284px;height:35px;margin:0;padding:0;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back_content_reseaux_sociaux_top.png) no-repeat left top;position:absolute;right:0;bottom:13px;}
.content_reseaux_sociaux_top ul{margin:8px 9px 0 0;padding:0;list-style-type:none;float:right;}
.content_reseaux_sociaux_top ul li{float:left;padding:0 11px;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back_list_icone_top.jpg) no-repeat right 2px;height:18px;}
.content_reseaux_sociaux_top ul li:last-child{background:none;}
.content_reseaux_sociaux_top ul li.fb_top a{background:url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_fb_top.png) no-repeat left top;width:9px;height:18px;display:block;text-decoration:none;}
.content_reseaux_sociaux_top ul li.fb_top a:hover{background:url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_fb_top_hover.png) no-repeat left top;}
.content_reseaux_sociaux_top ul li.twetter_top a{background: url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_tweeter_top.png) no-repeat left top;width:21px;height:18px;display:block;text-decoration:none;}
.content_reseaux_sociaux_top ul li.twetter_top a:hover{background: url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_tweeter_top_hover.png) no-repeat left top;}
.content_reseaux_sociaux_top ul li.intagram_top a{background: url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_instagram_top.png) no-repeat left top;width:18px;height:18px;display:block;text-decoration:none;}
.content_reseaux_sociaux_top ul li.intagram_top a:hover{background: url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_instagram_top_hover.png) no-repeat left top;}
.content_reseaux_sociaux_top ul li.snap_tchat_top a{background: url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_snap_tchat_top.png) no-repeat left top;width:18px;height:18px;display:block;text-decoration:none;}
.content_reseaux_sociaux_top ul li.snap_tchat_top a:hover{background: url(https://cdn.antenne.re/antenne/image_direct_2017/image_icone_snap_tchat_top_hover.png) no-repeat left top;}
.ar-main-col{margin-top:0;}
.content_video_page_direct_miss_reunion2017 .content_image_direct{margin-bottom:7px;}
.socializer-buttons.clearfix td{vertical-align:top!important;}
.socializer-buttons.clearfix td div {margin: 0 5px 0 0 !important;}
.socializer-buttons {margin: 0 0 20px 0;width: 100%;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]{min-width:inherit!important;}
.content_liste_candidat_miss_reunion2017{width:100%;margin:0 0 50px 0;padding:8px 0 0 0;min-height:688px;background:#dedcdd url(https://cdn.antenne.re/antenne/image_direct_2017/back_list_candidat.jpg) no-repeat left bottom;float:left;background-size:cover;}
.content_liste_candidat_miss_reunion2017 ul{margin:0 0 20px 8px;padding:0;list-style-type:none;width:100%;float:left;}
.content_liste_candidat_miss_reunion2017 ul li{margin:0 5px 10px 0;padding:0;float:left;}
.content_vote{width:100%;margin:0 0 20px 0;padding:0 5%;}
.content_vote .titre_vote{margin:0 0 20px 0;padding:0;font-family: "Maven Pro";font-size:35px;font-weight:normal;color:#0032b0;text-align:center;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back_titre_vote.png) no-repeat center bottom;}
.content_vote .titre_vote span{font-weight:bold;}
.text_soutenez{width:100%;margin:0 0 17px 0;padding:0;font-family:ralewayregular;font-size:22px;font-weight:normal;color:#183a8c;text-align:center;}
.text_soutenez span{font-family:ralewayregular;font-weight:700;text-shadow:1px 1px 0 rgba(255,255,255,1);}
.text_envoyant{width:100%;margin:0 0 20px 0;padding:0;text-align:center;font-family:ralewayregular;font-size:20px;font-weight:normal;color:#183a8c;}
.text_envoyant span{font-weight:600;}
.text_sms_plus{width:100%;margin:0;padding:0;font-family:"Century Gothic";font-size:22px;text-align:center;color:#0034b2;}
.content_sondage{width:100%;margin:0 0 20px 0;padding:0;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back_sondage.jpg) no-repeat left top;clear:both;background-size:cover;}
.content_sondage_inner{height:156px;}
.sondage_left{width:40%;float:left;}
.sondage_right{width:60%;float:right;}
.sondage_right_inner{margin:0;padding:0;height:156px;display:table-cell;vertical-align:middle;}
.text_sondage{font-family:ralewayregular;font-size:20px;font-weight:700;text-align:center;margin:0 0 26px 0;padding:0;color:#000000;}
.bouton_sondage{width:100%;margin:0;padding:0;}
.bouton_sondage a{width:179px;height:30px;padding:3px 0 0 0;margin:0 auto;display:block;background:#0032b0;color:#fff;text-align:center;text-decoration:none;font-family: "Maven Pro";font-size:17px;}
.titre_reagis{width:100%;margin:0 0 17px 0;padding:0 5px;background:#0032b0;float:left;}
.titre_reagis .content_titre_reagis{float:left;font-family: "Maven Pro";font-size:20px;font-weight:normal;color:#fff;text-transform:uppercase;margin:0;padding:0;}
.titre_reagis .lien_reagis{float:right;font-family: "Maven Pro";font-size:16px;font-weight:normal;color:#fff;margin:0;padding:0;}
.titre_reagis .lien_reagis a{color:#fff;text-decoration:none;}
.video-direct{margin-bottom:7px;}
@media screen and (max-width:1024px){.content_reseaux_sociaux_top{position:inherit;width:100%;margin:0;padding:0;clear:both;}.menu-menu2{display:none;}.menu_responsive_cache{display:block!important;margin-bottom:20px!important;}.menu_responsive_cache .btn.btn-primary.dropdown-toggle{background:#0032b0!important;}#main-footer{display:none!important;}.ar-main-col .content_vote img{width:auto!important;}.content_liste_candidat_miss_reunion2017 ul{float:none;text-align:center;}.content_liste_candidat_miss_reunion2017 ul li{float:none;display:inline-block;}}
@media screen and (max-width:480px){.sondage_left{display:none;}.sondage_right{width:100%;float:none;}}




