@charset "utf-8";

/* CSS Document */

.bloc-right .pub-container{padding-top:0;}

.juicer-feed.j-initialized.j-modern.classic.loaded{/*height:500px!important;*/max-height:405px!important;}

.bloc-right{width:300px;}

.menu-menu2{background:#faf3fb;}

.menu-menu2 ul li a.active, .menu-menu2 ul li a:hover{background:#B59352;}

.content_reseaux_sociaux_top{width:284px;height:35px;margin:0;padding:0;background:url(https://cdn.antenne.re/antenne/image_direct_2019/fd-rs.png) no-repeat right top;position:absolute;right:0;bottom:13px;}

.content_reseaux_sociaux_top ul{margin:8px 9px 0 0;padding:0;list-style-type:none;float:right;}

.content_reseaux_sociaux_top ul li{float:left;padding:0 11px;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back-list-icone-top-optimize.jpg) no-repeat right 2px;height:18px;}

.content_reseaux_sociaux_top ul li:last-child{background:none;}

.content_reseaux_sociaux_top ul li.fb_top a{background:url(https://cdn.antenne.re/antenne/image_direct_2019/picto-Fb.png) no-repeat left top;width:9px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.fb_top a:hover{background:url(https://cdn.antenne.re/antenne/image_direct_2019/picto-Fb-hover.png) no-repeat left top;}

.content_reseaux_sociaux_top ul li.twetter_top a{background: url(https://cdn.antenne.re/antenne/image_direct_2019/picto-twitter.png) no-repeat left top;width:21px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.twetter_top a:hover{background: url(https://cdn.antenne.re/antenne/image_direct_2019/picto-twitter-hover.png) no-repeat left top;}

.content_reseaux_sociaux_top ul li.intagram_top a{background: url(https://cdn.antenne.re/antenne/image_direct_2019/picto-instagram.png) no-repeat left top;width:18px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.intagram_top a:hover{background: url(https://cdn.antenne.re/antenne/image_direct_2019/picto-instagram-hover.png) no-repeat left top;}

.content_reseaux_sociaux_top ul li.snap_tchat_top a{background: url(https://cdn.antenne.re/antenne/image_direct_2019/picto-snapchat.png) no-repeat left top;width:18px;height:18px;display:block;text-decoration:none;}

.content_reseaux_sociaux_top ul li.snap_tchat_top a:hover{background: url(https://cdn.antenne.re/antenne/image_direct_2019/picto-snapchat-hover.png) no-repeat left top;}

.ar-main-col{margin-top:0;}

.content_video_page_direct_miss_reunion2017 .content_image_direct{margin-bottom:7px;}

.socializer-buttons.clearfix td{vertical-align:top!important;}

.socializer-buttons.clearfix td div {margin: 0 5px 0 0 !important;}

.socializer-buttons {margin: 0 0 20px 0;width: 100%;}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]{min-width:inherit!important;}

.content_liste_candidat_miss_reunion2017{
  width:100%;
  margin:0 0 40px 0;
  padding:8px 0;
  background:#ebe1c6 url('images/bg-liste-miss-run-2018.jpg');
  float:left;
  background-size:cover;
  min-height: 688px;
}
.content_liste_candidat_miss_reunion2017.cinq_list_candidat{min-height:520px;}
.content_liste_candidat_miss_reunion2017 ul{margin:0 0 30px 8px;padding:0;list-style-type:none;width:100%;float:left;}

.content_liste_candidat_miss_reunion2017 ul li{margin:0 5px 10px 0;padding:0;float:left;}

.content_vote{width:100%;margin:0 0 30px 0;padding:0 5%;}

.content_vote .titre_vote{margin:0 0 20px 0;padding:0 0 5px 0;font-family: "Maven Pro";font-size:35px;font-weight:normal;color:#6a0c7c;text-align:center;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back-titre-vote-optimize.png) no-repeat center bottom;}

.content_vote .titre_vote span{font-weight:bold;}

.text_soutenez{width:100%;margin:0 0 17px 0;padding:0;font-family:ralewayregular;font-size:23px;font-weight:normal;color:#a08d2f;text-align:center;text-shadow: 1px 1px 0 rgba(255,255,255,1);}

.text_soutenez span{font-family:ralewayregular;font-weight:700;text-shadow:1px 1px 0 rgba(255,255,255,1);}

.text_envoyant{width:100%;margin:0 0 20px 0;padding:0;text-align:center;font-family:ralewayregular;font-size:20px;font-weight:normal;color:#a08d2f;}

.text_envoyant span{font-weight:600;}

.text_sms_plus{width:100%;margin:0;padding:0;font-family:"Century Gothic";font-size:22px;text-align:center;color:#a08d2f;}

.content_sondage{width:100%;margin:0 0 20px 0;padding:0;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back_sondage.jpg) no-repeat left top;clear:both;background-size:cover;}

.content_sondage_inner{height:156px;}

.sondage_left{width:40%;float:left;}

.sondage_right{width:60%;float:right;}

.sondage_right_inner{margin:0;padding:0;height:156px;display:table-cell;vertical-align:middle;}

.text_sondage{font-family:ralewayregular;font-size:20px;font-weight:700;text-align:center;margin:0 0 26px 0;padding:0;color:#000000;}

.bouton_sondage{width:100%;margin:0;padding:0;}

.bouton_sondage a{width:179px;height:30px;padding:3px 0 0 0;margin:0 auto;display:block;background:#0032b0;color:#fff;text-align:center;text-decoration:none;font-family: "Maven Pro";font-size:17px;}

.titre_reagis{width:100%;margin:0 0 17px 0;padding:0 5px;background:#b59353;float:left;}

.titre_reagis .content_titre_reagis{float:left;font-family: "Maven Pro";font-size:20px;font-weight:normal;color:#fff;text-transform:uppercase;margin:0;padding:0;}

.titre_reagis .lien_reagis{float:right;font-family: "Maven Pro";font-size:16px;font-weight:normal;color:#fff;margin:0;padding:0;}

.titre_reagis .lien_reagis a{color:#fff;text-decoration:none;}

.video-direct{margin-bottom:7px;}
.content_time_partage{margin:0 0 8px 0;padding:0;}
.content_time_partage .time{color:#0032ad;}
.content_time_partage i.fa.fa-clock-o {margin: 0 5px 0 0;}
.content_time_partage .time {font-family:ralewayregular;margin: 0;padding: 0;font-size: 14px;font-weight:700;}

.topics-box .topiclist ul{border:0;}

/*page j+1*/
.section-pagination{border:0;}
.titre_list{font-size:21px;padding-top:2px;margin-bottom:20px;height:auto;}
.content_image_candidat_fb_live{margin:0 0 30px 0;padding:0;width:100%;}
.revivez_la_reseaux_socio{margin:0 0 20px 0;}
.section-pagination .next a, .section-pagination .prev a{ text-indent:inherit;font-size:16px!important;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;margin-top:-3px;}
.section-pagination .info-pagination a:hover, .section-pagination .info-pagination span.current, .section-pagination .pages .on, .section-pagination .pages a:hover{background:#0033b2; border-radius:50%;border:1px solid #0033b2;}
.section-pagination .info-pagination a, .section-pagination .pages a{border:1px solid #d5d6dd;border-radius:50%;background:none;color:#d5d6dd;}
.content_liste_candidat_miss_reunion2017 ul li a{position:relative;display:block;}
.content_liste_candidat_miss_reunion2017 ul li a span.effet_hover{display:none;}
.content_liste_candidat_miss_reunion2017 ul li a:hover span.effet_hover{position:absolute;display:block;background: rgba( 0, 0, 0, 0.5);width:100%;height:100%;top:0; border-radius:5px;}
/*page annonce candidat elue*/
.annonce_candidats{width:100%;margin:0 0 25px 0;}
/*page dimanche midi*/
 .list_photo ul li .image_photo{height:170px;overflow:hidden;}
 .list_photo{margin-top:0;}
 .titre_video_dimanche_midi{/*background:#665440;*/margin:0 0 5px 0;padding:20px;font-family:ralewaylight;font-size:24px;color:#fff;background:url(https://cdn.antenne.re/antenne/image_direct_2017/back_titre_video.jpg) repeat-y center top;background-size: contain;}
 .titre_video_dimanche_midi span{font-weight:700;}
 .block_content_video_dimanche_midi{margin:0 0 30px 0;padding:0;}
 .block_content_video_dimanche_midi .block_1{margin:0 0 1px 0;}
 .block_content_video_dimanche_midi .block_1 .list_video_midi,.block_content_video_dimanche_midi .block_2 .list_video_petit_inner{padding-left:1px;padding-right:1px;height:100%;display:block;position:relative;}
 .list_video_petit{margin-right:-1px;margin-left:-1px;}
  .block_content_video_dimanche_midi .block_1 .list_video_midi .hover_video{display:none;}
  .block_content_video_dimanche_midi .block_2 .list_video_petit_inner .hover_video{display:none;}
  .block_content_video_dimanche_midi .block_2 .list_video_petit_inner a:hover .hover_video{display:block;position:absolute;width:100%;height:100%;background: rgba( 0, 0, 0, 0.5);top:0;}
  .block_content_video_dimanche_midi .block_1 .list_video_midi a:hover .hover_video{display:block;position:absolute;width:100%;height:100%;background: rgba( 0, 0, 0, 0.5);top:0;}
 .block_content_video_dimanche_midi .block_1 .row,.block_content_video_dimanche_midi .block_2 .row{margin-left:-1px;margin-right:-1px;}
.block_content_video_dimanche_midi .block_2 .list_video_midi1{padding-left:1px;padding-right:1px;text-align:center;} 
.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 .interne{margin:6% auto 0 auto;}
.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a{margin:0;padding:12px 15px;background:#0033b2;color:#fff;text-decoration:none;font-family:ralewayregular;font-weight:500;font-size:14px;position:inherit;display:inline-block;vertical-align:middle;}
.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a:hover{background:#e2001a;}
.block_content_video_dimanche_midi .block_2{margin:0;padding:0;}
.content_image_replay{margin:0 0 40px 0;padding:0;}
.navbar ul.mainmenu{width:700px!important;}
/*page direct fb live*/

.video-direct_fb_live{
  width:46%!important;
  position: relative;
  left: 46%;
}

.content_video_fb_live{
  width:100%;
  margin:0 0 30px 0;
  padding:15px 0;
  background:url('images/banner-Fb live-fd.jpg') no-repeat center top;
  background-size: cover;
  position:relative;
  float:left;
}
.content_video_fb_live_pendant{width:100%;margin:0 0 30px 0;padding:7px 0;background:url(https://cdn.antenne.re/antenne/image_direct_2017/bandeau-pendant-FB-live-optimize.jpg) no-repeat center top;position:relative;float:left;}
/*modif miss reunion 2018 */
.section-bandeau {
    height: 267px;
    position: relative;
}
.menu-menu2 ul li a{color:#9D8C2E;background:url(https://www.antennereunion.fr/squelettes/assets/miss_reunion/img/menu2.jpg) no-repeat left center;}
.breadcrumb>li+li::before{color:#9a923f!important;}
.breadcrumbs ul li a, .breadcrumbs ul li a:hover{color:#AE9153!important;}
.breadcrumbs ul li{color:#AE9153!important;}
.breadcrumbs ul li:first-child a{background:url(https://www.antennereunion.fr/squelettes/assets/miss_reunion/img/fa-home1_2018.png) no-repeat;}
.content-bandeau{margin-bottom:30px;}
.post_fig.thumbimage span.roll{background:url(https://www.antennereunion.fr/squelettes/assets/miss_reunion/img/back_span_article_2018_v3.jpg) no-repeat left top!important;}
.container-section.topics-box .photo span.roll, .list_news ul li .image_news a span,.container-section.topics-box span.roll,.art_news .list-cat li .thumbimage span.roll{background:url(https://www.antennereunion.fr/squelettes/assets/miss_reunion/img/back_span_article_2018_v3.jpg) no-repeat left bottom!important;}
.list_photo ul li .img_videos a span,.list_news ul li .img_videos a span,.container-section.topics-box .format-video span.roll,.art_news .list-cat li .thumbimage.thumbimage.format-video span.roll{background: url(https://www.antennereunion.fr/squelettes/assets/miss_reunion/img/back_span_video_2018_v2.jpg) left bottom no-repeat!important;}
.list_photo ul li .image_photo a span{background: url(https://www.antennereunion.fr/squelettes/assets/miss_reunion/img/back_photo_2018_v2.jpg) left bottom no-repeat;}
.content_lien_tout_liste a, .lien_voir_tous_les_news a, .lien_voir_toutes_les_photos a,.art_news .feat-cat3 .title-cat-header span,.widget-tab .widget-title span,.morepostag a,.widget-content .tab-content ul li .figure-player .meta-title,.widget-content .tab-content ul li:first-child .title-medias .num-count{background:#B59352;}
.article-section .text-body,.widget-tab .widget-title {border-bottom: 1px solid #B59352;}
.list_des_candidats h3 a, .list_news h3 a, .list_photo h3 a,.list_des_candidats h2 a{color:#776033;}
.titre_list{
  color:#9D8C2F;
  background: url(https://www.antennereunion.fr/squelettes/assets/miss_reunion/img/back_titre_list_2018.png) left top no-repeat;
  padding:0 0 0 26px;
  text-transform: uppercase;
}
.container-section.topics-box .format-video span.roll,.container-section.topics-box span.roll{left:0;}
.topics-box .topiclist ul li{border-bottom:1px solid #b59352;}
.voir_galerie_btn{background:#B59352!important;}
.topics-box .topiclist ul li .topic-title a{color:#9D8C2F;}
.topics-box .topiclist ul li .text-holder .txt-extract a{color:#776033;}
.topics-box .topiclist ul li .text-holder .readnext{color:#AE9153;}

/******Nouveaux style******/

.tout-sur .active, .tab-content .active{background: none;}
.ar-main-col .post_fig.format-video.miss-run-video-2018{margin-bottom: 40px;}
.programme-n3 #mainContainer .main-inner{padding-bottom: 90px;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background: none;
  color: #9c8b31;
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
}
ul.nav.nav-pills{
  display: table;
  margin: 20px auto;
}
.nav>li>a{
  color: #664e2c;
  font-family: ralewayregular;
  font-size: 16px;
}
.nav>li>a:focus, .nav>li>a:hover{
  background: none;
}
.version2018 .topics-box .topiclist ul li .topic-title a{
  color: #775F33;
}
.version2018 .topics-box .topiclist ul li .topic-title{
  margin-bottom: 30px;
  line-height: 1.3;
}
.version2018 .topics-box .topiclist ul li .text-holder .txt-extract{font-size: 15px;line-height: 1.2;}
.nav-pills>li.active>a:before, .nav-pills>li.active>a:focus:before, .nav-pills>li.active>a:hover:before{
  height: 2px;
  background: #b29454;
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0;
}
.topics-box .topiclist ul li:last-child{
  border-bottom: none;
}
.nav-miss-run-2018.menu-menu2 ul li a.active{
  background: #e3001b;
  color: #ffffff;
}
.nav-miss-run-2018.menu-menu2 ul li a{
  padding: 12px 3px;
}
.nav-miss-run-2018.menu-menu2 ul li{
  width: 12.2%;
}
.nav-miss-run-2018.menu-menu2 ul li:nth-of-type(2){
  width: 18.2%;
}
#video_not_authorized a{
  display: table;
  margin: 20px auto 0;
  background: url('https://www.antennereunion.fr/squelettes/assets/img/bt-voirdirect.jpg') center no-repeat;
  padding: 6px 1em;
  color: #0B1831;
  font-family: ralewayregular;
  font-size: 27px;
  border-radius: 4px;
}
.img-silhouette{position:absolute;top:0;}
.content_reseaux_sociaux_top{background-position:right top;}
.page_container button.accordion{background: url(https://www.antennereunion.fr/squelettes/assets/img/fd-accordeon-dore.jpg) no-repeat left top !important;}
.page_container button.accordion {
    background: url(https://www.antennereunion.fr/squelettes/assets/img/fd-accordeon-dore.jpg) no-repeat !important;
    color: #573a04;
    font-size: 18px;
    font-weight: 600;
    padding-left: 60px;
}
/*page fiche candidat*/
.voirpluscandidat{background:#B59352;display:table;float:right;margin:0 0 20px 0;font-family: ralewaybold;color: #fff;font-size: 14px;padding: 10px 20px;text-decoration: none;}
.voirpluscandidat:hover,.voirpluscandidat:focus{text-decoration:none;background:#e2001a;color:#fff;}
img.img-hide{cursor:pointer;}
.list_des_candidats.page_candidats ul li{height:212px;}
.image_candidat a:hover span, .list_news ul li .image_news a:hover span, .list_photo ul li .image_photo a:hover span, .list_video ul li a:hover span{background-color: rgba(0,0,0,.5)!important;}
/*fin modif miss reunion 2018 */
@media screen and (min-width:1024px){
  .section-bandeau img.img-display{ display: none;}
}
@media screen and (max-width:1024px){.content_reseaux_sociaux_top{position:inherit;width:100%;margin:0;padding:0;clear:both;}.menu-menu2{display:none;}.menu_responsive_cache{display:block!important;margin-bottom:20px!important;}.menu_responsive_cache .btn.btn-primary.dropdown-toggle{background:#B59352!important;}#main-footer{display:none!important;}.ar-main-col .content_vote img{width:auto!important;}.content_liste_candidat_miss_reunion2017 ul{float:none;text-align:center;}.content_liste_candidat_miss_reunion2017 ul li{float:none;display:inline-block;}.container{width:100%;}
.navbar ul.mainmenu{width:100%!important;}
.list_news ul li{margin-bottom: 30px;}
.section-bandeau {width:100%;float:left;padding-top:20px;}
}

@media screen and (min-width: 1001px){#page_container .container-ar {margin: 0 auto!important;width: 1000px!important;}}
@media screen and (max-width:991px){.ar-main-col{padding-right:0!important;}
.list_des_candidats.page_candidats ul li{margin-bottom:30px;height:270px;}
.page_container button.accordion{background: url(https://www.antennereunion.fr/squelettes/assets/img/fd-accordeon-dore.jpg) no-repeat left top!important;background-size:cover!important;}
.ar-side-col.bloc-right.interne{padding-top:20px!important;}
}
@media screen and (max-width:840px){
.video-direct_fb_live{left:40%;}	
}
@media screen and (max-width:768px){.ar-main-col{padding-right:0!important;}.list_des_candidats.page_candidats ul li{margin-bottom:0;height:240px;}
/*page pendant revelation*/
.video-direct_fb_live{width:60%!important;left:38%;}
.video-direct_fb_live .direct-container-video iframe{width:100%!important;right:0!important;}
.header_fiche_candidat .candidat_info .name.col-sm-5{width: 41.66666667%;float:left;}
}
@media screen and (max-width:700px){.list_photo ul li .image_photo{height:auto!important;}.list_des_candidats.page_candidats ul li{height:inherit;}}
@media screen and (max-width:640px) {
		#wrapper.content_slide_outer{width:100%;height:auto!important;}
		#wrapper.content_slide_outer .slideshow{width:100%!important;/*height:auto!important;*/}
		.content-slide a#prev, .content-slide a#next{top:30%!important;}
		/*page pendant revelation*/
		.video-direct_fb_live{width:100%!important;left:0;}
		.content_video_fb_live{background:none!important;}
		}
@media screen and (max-width:560px) {
		/*page fiche candidats*/
		.header_fiche_candidat .thumbnail_candidat{width:100%;}
		.header_fiche_candidat .thumbnail_candidat img{width:100%;height:auto;}
		.header_fiche_candidat .separateur{display:none;}
	}

@media screen and (max-width:536px){.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a{font-size:12px;padding:10px;}}
@media screen and (max-width:448px){.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 .interne{margin-top:0;font-size:10px;}}
@media screen and (max-width:480px){.sondage_left{display:none;}.sondage_right{width:100%;float:none;}
/*page direct fb live*/

.video-direct_fb_live{width:100%!important;left: 0;}
.content_video_fb_live{background:none;padding:0;}
.content_video_fb_live_pendant{background:none;padding:0;}
.topics-box .topiclist ul li .thumb-wrapper{padding-right:0;}
}
@media screen and (max-width:448px){
  .block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a {
    font-size: 10px;
    padding: 6px;
    margin-top: 5px;
  }
  #video_not_authorized div{
    top: 15% !important;
  }
}
@media screen and (max-width:375px) {
		/*page pendant revelation*/
		.video-direct_fb_live .direct-container-video iframe{height:180px;}
		}
@media screen and (max-width:366px){.block_content_video_dimanche_midi .block_2 .list_video_midi1.col-md-4 a {
    font-size:8px;
    padding: 6px;
    margin-top:2px;
}}
@media screen and (max-width:330px){
  #video_not_authorized a{
    font-size: 22px;
  }
}

.page_container .list_des_candidats ul{
  margin-top: 7px;
}
.header_fiche_candidat{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /*flex-wrap: wrap;*/
  align-items: center;
  background: url("https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/fd-page_fiche.jpg") no-repeat center left;
  margin-bottom: 25px;
  background-size: cover; 
}

.header_fiche_candidat div{flex-grow: 1;}
.header_fiche_candidat div.video_candidat iframe{padding: 10px 10px 0px 0;}
.widget-fb{margin: 30px 0;}

.thumbnail_candidat span {
    font-size: 22px;
    color: #ffffff;
    font-family: "Helvetica ltd Neue",Helvetica,Arial,sans-serif;
    background: url("https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/feuille-num.png") no-repeat;
    width: 44px;
    height: 55px;
    position: absolute;
    bottom: 4px;
    left: 5px;
    line-height: 2.45;
    text-align: center;
}
.desc_biographie p{
  /*background: url("https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/feuille-mini.png") left 5px no-repeat;*/
  background:none;
}
.desc_biographie p strong:first-child{background: url("https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/feuille-mini.png") left 5px no-repeat;margin-left:-15px;padding-left:15px;}
.desc_biographie h3{background: url("https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/feuille-mini.png") left 5px no-repeat;font-weight:bold;color:#000;margin: 0 0 20px;
  padding: 0 15px;font-family:ralewayregular;font-size: 13px;line-height:normal;}


.video_candidat video{
  padding: 0px 10px 10px 0 !important;
  border:0;
  background:none;
  outline:none;
}
.header_fiche_candidat div.video_candidat {
    text-align: right;
}
.thumbnail_candidat {
    position: relative;
}
.candidat_info ul {
    list-style: none;
    color: #261f13;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    padding-left: 0;
    margin-left: 0;
    font-weight: 500;
}
.candidat_info ul li span.infos {
    font-weight: 300;
	padding:0 10px;
	display:block;
}
.header_fiche_candidat .separateur{padding:0 10px;}
@media screen and (max-width: 887px){
  .header_fiche_candidat{background-size: cover;flex-wrap: wrap;}
  .header_fiche_candidat iframe{width: 100%;}
  .header_fiche_candidat div.video_candidat{text-align: center;}
}
@media screen and (max-width: 640px){
  .video-direct_fb_live iframe{
    right: 1%;
  }
}
@media screen and (max-width: 480px){
  .content_video_fb_live{
    background: none;
    padding-bottom: 0;
    min-height: 1px;}
  .video-direct_fb_live iframe {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
  }
  .video_candidat video{
    padding-right: 0 !important;
	width:85%;
  }
 .tout-sur .titre_list{line-height:100%;}
.tout-sur .titre_list span{font-size:14px;}
.tout-sur .nav>li>a{font-size:12px;margin-right:12px;}
}
.widget-content .tab-content ul li .title-medias .num-count {
    border: 1px solid #B59352;
    color: #B59352;
}

.widget-content .tab-content ul li:first-child .title-medias .num-count{
  color: #ffffff;
}

.content_video_fb_live_debut {
    width: 100%;
    position: relative;
    float: left;
    margin: 0px 0px 30px;
    padding: 8px 0px;
    background: url("https://www.antennereunion.fr/squelettes/assets/miss_reunion/css_resp/images/bandeau-video.jpg") center top / cover no-repeat;
}