@charset "utf-8";

.container {
	max-width: 1000px;	
}
html,
body {
    width: 100%;
    height: 100%;
	background-color: #007fbe;
}
.wrapper-container {
	min-height:630px;
	background: #007fbe;
	/*background-size:cover;	*/
}
.wrapper-question {
	background: url(../images/bg_footer.jpg) bottom left  no-repeat #007fbe;
	/*background-size:cover;	*/
}
.lot {
	margin-top:90px;
}

.wrapper-container .form-row label {
	color: #007fbe;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 3px 0 0;
	white-space: nowrap;
}
.wrapper-container .form-row .quiz-container label {
	font-weight: 700;
}
.quiz_gender li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 52px;
}
.quiz_gender {
	padding: 0;
}
.bt-submit {
	text-align: center;
	padding: 20px 0 0 0;
}
span.s_asterisk {
 color: #f9fafb;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
	display: block;
	margin: 0 0 7px 0;
	font-weight: 500;
}
.form-row .form_label{
 border: 1px solid #dfdddd;
    float: right;
    padding: 2px 5px;
	
	width: 100%;
}
.form-row .row{
	margin: 0 0 15px 0;
}
.form-row .col-md-6 .form_label {
	text-align: center;
 
}
.form-row h1 {
	    color: #fcfdfe;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 110%;
    margin: 0 0 15px;
    text-align: center;
	font-weight: 700;
}
.bt-submit .btn-primary {
	 background: #007fbe url(../images/picto.png) no-repeat 28px center;
    border: 0 none;
    border-radius: 0;
	 font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    padding: 6px 40px 6px 58px;
	font-weight: 500;
	color: #ffffff;
}
.bg_row {
	background: #ffffff;
	padding: 15px 0px;
} 


.center-captcha {
	text-align: center;
	padding: 4px 1px;
}
.g-recaptcha {
	margin: 0 auto;
}
.quiz-container {
	background-color: #80bfdf;
	min-height: 250px;
	padding: 15px 40px;
        margin-right: -20px;

}
.quiz-container  ul li {
	list-style-type: none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.footer-quiz {
	text-align: center;
	padding: 15px;
}
.footer-quiz p{
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
	 font-family: 'Maven Pro', sans-serif;
	 
}
.a_reglement {
	color: #ffffff;
}
.a_reglement a {
	font-size: 14px;
	color: #ffffff;
	 font-family: 'Maven Pro', sans-serif;
	 text-decoration: underline;
	 font-weight: 500;
}
.footer-quiz p a{
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
	 font-family: 'Maven Pro', sans-serif;
	 text-decoration: underline;
	 font-weight: 900;
}
.quiz-container p {
	 font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 900;
}
.quiz-container p span {
	color: #004a98;
	display: block;
	text-transform: uppercase;
} 
.row-submit {
	text-align: center;
}
.row-submit .btn-default {
	 background: #007fbe url(../images/picto.png) no-repeat 28px center;
    border: 0 none;
    border-radius: 0;
	 font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    padding: 6px 40px 6px 58px;
	font-weight: 500;
	color: #ffffff;

}
/**partage***/
.main-section .headline-p, .headline-ami {
	font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 500;
}
.main-section .headline-p {
	margin: 0 0 50px 0;
}
.main-section {
	padding: 20px 0px;
	margin: 40px 0;
}
.main-section p {
	font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	margin: 0 0 45px 0;
	line-height: 120%;
}
.social-links li img {
	width: auto;
}
.social-links li a{
	display: block;
	margin: 0 auto;
	width: 60px;
}
.social-links li {
	list-style-type: none;
	float: left;
	text-align: center;
	width: 100px;
}
.social-links li span{
	font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
} 
.wrapper-amis .row span {
	font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
	color: #007fbe;
	text-align: center;
	font-weight: 400;
}
.wrapper-amis  .form-row .form_label {
	float: none;
	width: 60%;
}
.wrapper-amis .caption-text {
	font-family: 'Maven Pro', sans-serif;
    font-size: 10px;
	color: #007fbe;
	text-align: center;
	font-weight: 400;
	padding: 20px 15px;
} 
.wrapper-amis .bg_row {
	padding-top: 80px;
	
}
.wrapper-amis  .bt-submit {
	padding: 20px 0;
} 
.wrapper-amis form {
	padding-top: 40px;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}
.form-row .col-md-6 p, .form-row .col-md-5 p {
	border-left: 2px solid #dfdfdf;
	padding: 10px 0 15px 5px;
	margin: 8px 0 0 0;
}

.error_message {
    color: rgb(255, 0, 0)!important;
    font-size: 10px!important;
    display: none;
    text-align: left !important;
}      

#element_to_pop_up {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    height: auto;
    min-height: 130px;
    min-width: 450px;
    padding: 25px;
}

.button.b-close, .button.bClose {
    background-color: #2b91af;
    border-radius: 7px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    text-align: center;
    text-decoration: none;
    top: -7px;
}
.wrapper-container .form-row .col-md-7 label {
	font-size: 11px;
	white-space: normal;
}
.social-links {
	margin: 0 auto 25px auto;
	width: 300px;
}
.main-section .text-center2 {
	padding: 10px 0;
	font-size: 26px;
	margin: 0;
}

#visuel {
	margin-top: 60px;
}
@media(min-width:768px) and (max-width: 860px){ 
	#visuel {
	margin-top: 120px;
}
}
@media(min-width:560px) and (max-width:767px)	{
	#visuel {
	margin-top: 180px;
}
}