/*================================
    Jeu XL
==================================*/
@font-face {
  font-family: 'AvantGarde-Medium';
  src: url('../fonts/AvantGarde-Medium.eot') format('embedded-opentype'),
  url('../fonts/AvantGarde-Medium.ttf')  format('truetype'),
  url('../fonts/AvantGarde-Medium.svg#AvantGarde-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body{
	height: 100%;
}
@-moz-document url-prefix() { 
html{
	height: auto;
}
}
iframe#the_iframe{
	min-height: 795px;
}
.container {
    max-width: 1000px;
}
.content-body{
	background: #ffffff;
	/*margin-top: 210px;*/
	position: relative;
}
.content-body:before{
	content: "";
	position: absolute;
	border-right: 8px solid #ffffff;
	min-height: 865px;
	right: 0;
}
.content-body:after{
	content: "";
	position: absolute;
	border-left: 8px solid #ffffff;
	min-height: 865px;
	left: 0;
	top: 0;
}
.jeu-xl .form-row .col-md-4{
	padding-right: 2px;
}
.titre_headline .title-headline {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 110%;
    margin: 0 0 5px 0;
}
.titre_headline .title-headline span {
    font-weight: 900;
    text-transform: uppercase;
}
.titre_headline {
    margin: 0px 0px 20px;
    padding: 10px 0px 0px 16px !important;
    background: #ffffff;
}
span.s_asterisk {
    color: #E52322;
    }
body{
	background: #e3eaf2 url(../images/xl-bgl.jpg) no-repeat center;
	background-size: cover;
	padding: 15px 0 30px;
}
html{
	background:#e3eaf2 ;
}
body.jeu-xl .bt-submit .btn-primary, .btn.suivant, .btn.publish_comment {
    background: #E52322 url(../images/picto.png) no-repeat 28px center;
    border: 0 none;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;;
    font-size: 16px;
    padding: 6px 40px 6px 58px;
    font-weight: 500;
    color: #ffffff;
    opacity: 1;
    font-weight: 600;
}
.form-row h1{
	color: #00347F;
	margin-bottom: 30px;
	font-family: 'AvantGarde-Medium', sans-serif;
	font-weight: normal;
    letter-spacing: 0.5px;
}

.wrapper-container .form-row label, .a_reglement a{
	color: #000117;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
body.body-jeu-xl{
	padding: 0 !important;
}
body.body-jeu-xl #container{
	/*background:#80a8df url(../images/Habillage-programme.jpg) no-repeat top center;*/
	/*background-size: cover;*/
}
body.jeu-xl .wrapper-container{
	background: transparent;
}
input[type="radio"], input[type="checkbox"]{
	margin-top: 2px;
}
label.newcheckbox{
	white-space: initial !important;
}

label.newcheckbox input[type="checkbox"]{
	position: relative;
    top: 2px;
    margin-right: 2px;
}

.jeu-xl form{
	position: relative;
    left: -30px;
    padding-bottom: 20px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{
	margin-left: -16px;
}
ul.quiz_gender .radio-inline{
	padding-left: 14px;
}
.kaz-pei div.breadcrumbs {
    padding: 25px 15px 10px 15px;
}
.bg_row .quiz_gender li{
	width: 57px;
}
.bg_row label.radio-inline{
	padding-left: 18px;
}
/*******Step*********/
.row-submit.center{
	margin-top: 20px;
    padding-left: 17%;
}
.footer-quiz{
    padding-left: 17%;
}
.quiz-container p{
    padding-left: 4%;
}
.quiz-container p span{
	color: #000117;
	font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}
.wrapper-question .form-row label{
	font-size: 17px;
    color: #041927;
    font-family: 'Open Sans', sans-serif;
}
ul{
	list-style: none;
	padding-left: 18%;
}
a#visuel_lien{
	color:#00357F;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
   	background: url(../images/petitavion.png) no-repeat left center;
   	padding-left: 35px;
}
.wrapper-question .form-row{
	padding-top: 30px;
}
.wrapper-question .footer-quiz{
	padding-top: 35px;
}
.wrapper-question .form-row input[type="radio"]{
	margin-left: -20px;
    margin-top: 7px;
}
h3.title-question{
	background: #00357F;
	color: #fff;
    padding: 0 30px 7px 30px;
    font-weight: normal;
    width: 240px;
    position: relative;
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    width: 235px;
    margin-bottom: 3.5%;
    left: -15px;
}
h3.title-question:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 44px 27px 0 0;
    border-color: #00357F transparent transparent transparent;
    right: -26px;

}
img.img-entente{
	width: auto;
	text-align: center;
    margin: 0 auto;
}

.wrapper-amis .bg_row {
    padding: 80px 0 0 10px;
    background: #ffffff none repeat scroll 0 0;
    min-height: 570px;
}
.wrapper-amis form {
    left: -30px;
    position: relative;
}
.bt-submit.row{
	text-align: center;
	margin: 15px auto 0;
	display: block;
}
.wrapper-amis .form-row .form_label {
    float: none;
    width: 60%;
}
.wrapper-amis .headline-ami {
    color: #00347f;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
}
.wrapper-amis .a_reglement a{
	position: absolute;
	top: -25px;
}
.error_message {
    color: rgb(255, 0, 0) !important;
    display: none;
    font-size: 10px !important;
    text-align: left !important;
}
.wrapper-amis .form-row .row {
    margin: 0 0 30px;
}
.wrapper-amis .form-row label {
    color: #007fbe;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 3px 0 0;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
}

.wrapper-amis .row span {
    color: #007fbe;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.wrapper-amis .caption-text {
    color: #007fbe;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 10px;
    text-align: center;
}
/**************step 4********/
.container-remerciement .main-section {
	padding: 15px 0 20px 0px;
	margin: 0 0;
	min-height: 728px;
}
.container-remerciement .a_reglement a {
    position: absolute;
    top: -25px;
}
.bgfinale{
	background: #ffffff;
	padding: 40px 0 40px 0;
	min-height: 570px;
}
.container-remerciement .main-section .headline-p {
	margin: 0 0 30px 0;
	color: #003680;
	font-size: 25px;
	font-weight: 600;
}

.main-section .headline-p, .headline-ami {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: 500;
}

.container-remerciement .main-section p {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #003680;
	text-align: center;
	font-weight: 600;
	margin: 0 0 45px 0;
	text-transform: uppercase;
	line-height: 120%;
}
.footer{
	position: relative;
}

.social-links {
	margin: 0 auto 25px auto;
	width: 300px;
	padding-left: 0;
}

.social-links li {
	list-style-type: none;
	float: none;
	text-align: center;
	width: 60%;
	margin:0 auto 50px;
}

.social-links li a {
	display: block;
	margin: 0 auto;
	width: 60px;
	float: left;
}
/*.form-row .row {
    margin: 0 0 20px;
}*/
.social-links li span {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #003680;
	text-align: center;
	font-weight: 400;
	font-style: italic;
	line-height: 4.5;
}

.container-remerciement .main-section .text-center2 {
	padding: 10px 0;
	font-size: 25px;
	color: #ffffff;
	margin: 0;
	background: #E52322;
}

.container-remerciement .span3.text-center{
	position: relative;
    left: -45px;
}
/***********Responsive************/
@media only screen and (max-width:1280px){
/*html, body{
	height: 100%;
}*/
}

@media only screen and (max-width:1024px){
body.body-jeu-xl #container {
    background: #80a8df !important;
}
.content-body{
    margin-top: 50px;

}
.bg_row .quiz_gender li {
    width: 55px;
}
.wrapper-amis .headline-ami{
	font-size: 20px;
}
.wrapper-amis .row span{
	font-size: 11px;
}
.bgfinale, .wrapper-amis .bg_row{
	min-height: auto;
}

}

@media only screen and (min-width:991px){
	html{
	height: 100%;
}
@-moz-document url-prefix() { 
html{
	height: auto;
}
}

p.a_reglement{
	position: relative;
}

.a_reglement a{
    position: absolute;
    top: -35px;
    text-decoration: underline;
}

}


@media only screen and (max-width:991px){
.col-md-8, .col-md-4{
	float: none;
	width: 100%;
}
.jeu-xl form, .wrapper-amis form, .container-remerciement .span3.text-center{
	left: 0;
}
.form-row h1{
	margin-top: 25px;
}
.container-remerciement .bgfinale{
	min-height: 100%;
	padding-bottom: 15px;
}
.quiz-container{
	padding: 0 20px;
}
}

@media only screen and (max-width:500px){
.quiz-container p{
	padding-left: 6%;
}
.titre_headline .title-headline{
	font-size: 30px;
}
}

@media only screen and (max-width:410px){
.titre_headline .title-headline{
	font-size: 19px;
}
.quiz-container {
    padding: 0 40px 0 20px;
}
}

@media only screen and (max-width:320px){
.social-links li{
	margin: 0 10px 50px;
}

.container-remerciement .main-section .text-center2, .container-remerciement .main-section .headline-p{
	font-size: 20px;
}
}



/********hack safari***********/
@media screen and (min-color-index:0) 
and(-webkit-min-device-pixel-ratio:0) { @media
{
html{
	height: auto;
}
}}