#CACHE{1800}
<script type="text/javascript">

    /* Cookies */

        window.cookieconsent.initialise({
            "palette": {
            "popup": {
              "background": "#000"
            },
            "button": {
              "background": "#f1d600"
            }
          },
          layout: 'my-cool-layout',
          layouts: {
            'my-cool-layout': '<div class="my-cool-layout">\
              {{message}}<div class="couv_bouton">{{link}}{{dismiss}}</div></div>',
          },
          elements: {
            pictureOfCat: '<img href="http://placekitten/300/300" />',
          },
          "type": "opt-in",
          "content": {
             "message": "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies pour vous proposer des services et offres adaptées à vos centres d’intérêt.",  
            "dismiss": "ACCEPTER",
            "allow": "Allow cookies",
            "link": "EN SAVOIR PLUS",
            "href": 'http://www.antennereunion.fr/mentions-legales'
          }
        });

    /* End cookies */
    
    function devmodal(e) {
        var o = {top: 25, overlay: 0.45, closeButton: ".modalnav"};
        var overlay = $("<div id='lean_overlay'></div>");
        $("body").append(overlay);
        var modal_id = "#newsletter_modal";
        $("#lean_overlay").click(function() {
            close_modal(modal_id);
        });
        $(o.closeButton).click(function() {
            close_modal(modal_id);
        });
        var modal_height = $(modal_id).outerHeight();
        var modal_width = $(modal_id).outerWidth();
        $("#lean_overlay").css({"display": "block", opacity: 0});
        $("#lean_overlay").fadeTo(200, o.overlay);
        $(modal_id).css({"display": "block", "position": "fixed", "opacity": 0, "z-index": 11000, "left": 50 + "%", "margin-left": -(modal_width / 2) + "px", "top": o.top + "%"});
        $(modal_id).fadeTo(200, 1);
        e.preventDefault();
    }

    function close_modal(modal_id) {
        $("#lean_overlay").fadeOut(200);
        $(modal_id).css({"display": "none"});
    }

    window.onload = function()
    {
        /*$('.nl, .nl-ar').click(function(e) {
            devmodal(e);
        });*/

        $("#ajax_submit_newsletter").click(function(e) {
            e.preventDefault();

            if (!validateEmail($("#mail_user").val())) {
                var i = 0;
                myVar = setInterval(function() {
                    //console.log("i=" + i + ";i%2=" + i % 2);
                    if (i++ < 6) {
                        if (i % 2 !== 0)
                            $("#mail_user").css("box-shadow", "0 0 5px red");
                        else
                            $("#mail_user").css("box-shadow", "0 0 5px #9dc7ea");
                    }
                    else
                    {
                        $("#mail_user").css("box-shadow", "0 0 5px #9dc7ea");
                        clearInterval(myVar);
                    }
                }, 100);
                return;
            }

            $.post("squelettes/ajax/newsletter.php", {
                mail_user: $("#mail_user").val(),
                statut: $("#optin").val()
            }, function(data) {
                console.log(data);
                $("#succes").css("display", "block");
                $(".scan").css("display", "none");
            }, "json");
        });

        $(".color-m, .color-m2").hover(function() {
            $(this).next().addClass("hover-m");
            $(this).addClass("hover-this");

        }, function() {
            $(this).next().removeClass("hover-m");
            $(this).removeClass("hover-this");
        });

        $(".color-m").hover(function() {
            $(this).children(".categoriesN1").show();
            $(this).children(".menu-n1").addClass("hover-show");
            $(".nav_haut li:first-child").addClass("sousm-actif");

        }, function() {
            $(this).children(".categoriesN1").hide();
            $(this).children(".menu-n1").removeClass("hover-show");
            $(".nav_haut li").removeClass("sousm-actif");
        });


        $(".tabs_menu").hover(function() {
            $(".tabs_menu").removeClass("sousm-actif");
            $(this).addClass("sousm-actif");

        });


        /* Picto News */
        $(".roll").css("opacity", "0");

        // ON MOUSE OVER
        $(".roll").hover(
                function() {

                    // SET OPACITY TO 70%
                    $(this).prev('.ico_video').css({display: 'none'});
                    $(this).css("opacity", "1");
                    $(this).next('img').addClass("hover-opacity");

                },
                // ON MOUSE OUT
                function() {

                    // SET OPACITY BACK TO 50%
                    $(this).prev('.ico_video').css({display: 'block'});
                    $(this).css("opacity", "0");
                    $(this).next('img').removeClass("hover-opacity");

                });
        /* Fin Picto News */

        if (typeof redirect404 === 'function') {
            redirect404();
        }
    };

    function validateEmail(email)
    {
        var re = /^[a-zA-Z0-9\-_]+[a-zA-Z0-9\.\-_]*@[a-zA-Z0-9\-_]+\.[a-zA-Z\.\-_]{1,}[a-zA-Z\-_]+/;
        return re.test(email);
    }

    /*Faire en sorte que le popup newsletter apparaîsse une fois par jour*/
    $(function(){
        var cookienl = "cookienl";
        console.log("cookienl = " + readCookie(cookienl));
        if(readCookie(cookienl) !== "oui"){
            createCookie(cookienl,"oui",1);
            //devmodal();  //à décommenter pour apparaître le popup
            console.log("create popup newsletter");
        }
        else
        {
            console.log("do not show popup newsletter");
        }
    });

    /*fonctions utiles pour les cookies*/
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            expires = "; expires="+date.toGMTString();
        }
        else expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)===' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    /*
     function showPopupJeu(){
     document.getElementById('light_jeu').style.display = 'block';
     document.getElementById('fade_jeu').style.display = 'block';
     }
     */
</script>
<footer id="main-footer" class="footer">
    <section class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-ar">
                        <div class="footer-wrap clearfix">
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <aside class="column_block col-md-4">
                                    <div class="block-title">Menu</div>
                                    <ul>
                                        <li><a href="http://www.linfo.re">Linfo</a> </li>
                                        <li><a href="grille-tv">Grille TV</a> </li>
                                        <li><a href="programmes">Programmes</a> </li>
                                        <li><a href="replay">Replay</a> </li>
                                        <li><a href="direct">Direct</a> </li>
                                        <li><a href="jeux">Jeux</a> </li>
                                        <li><a href="archives">Archives</a> </li>
                                        <li><a href="les-applications-mobiles">Applis mobiles</a> </li>

                                    </ul>
                                </aside>
                                <aside class="column_block col-md-4">
                                    <div class="block-title">Emissions</div>
                                    <ul>
                                        #SET{target, #ARRAY}
                                        #SET{target, #GET{target}|push{4111}}
                                        #SET{target, #GET{target}|push{4113}}
                                        <BOUCLE_prog_emissions(RUBRIQUES){id_rubrique IN 5332,3625,3911,13,322,69,3395}>
                                        [(#ID_RUBRIQUE|=={4111}|?{#SET{url_rubrique,'http://www.boutikantenne.fr/'},
                                        #SET{url_rubrique,#URL_RUBRIQUE}
                                        })]
                                        <li><a href="#GET{url_rubrique}" [(#GET{target}|find{#ID_RUBRIQUE}|oui)target="_blank"]>#TITRE</a> </li>
                                        </BOUCLE_prog_emissions>
                                    </ul>
                                </aside>
                                <aside class="column_block col-md-4">
                                    <div class="block-title">Séries et fictions</div>
                                    <ul>
                                        <BOUCLE_prog_series_fictions(RUBRIQUES){id_rubrique IN 4797,5285,37,5236,992,5268,4984}>
                                        <li><a href="#URL_RUBRIQUE">#TITRE</a> </li>
                                        </BOUCLE_prog_series_fictions>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <aside class="column_block col-md-6">
                                    <div class="block-title">Info et Magazines</div>
                                    <ul>
                                        <BOUCLE_prog_infos_magazines(RUBRIQUES){id_rubrique IN 4602,4603,1412,12,4051,1505,36}>
                                        <li><a href="#URL_RUBRIQUE">#TITRE</a> </li>
                                        </BOUCLE_prog_infos_magazines>
                                    </ul>
                                </aside>
                                <aside class="column_block col-md-6">
                                    <div class="block-title">Communauté</div>
                                    <ul>
                                        <li><a href="http://www.facebook.com/antennereunion?ref=ts&amp;fref=ts" target="_blank">Facebook</a> </li>
                                        <li><a href="https://twitter.com/antennereunion" target="_blank">Twitter</a> </li>
                                        <li><a href="https://plus.google.com/b/107164283983194784588/107164283983194784588/posts" target="_blank">Google +</a> </li>
                                        <!--
                                            <li><a class="nl" href="http://www.antennereunion.fr/spip.php?page=newsletter-landing">Newsletter</a> </li>
                                        -->
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <div class="container-ar">
                <div class="bottom-wrap"> <a class="text-center" href="/"><img alt="" src="http://cdn.antenne.re/antenne/squelettes/assets/img/logo-bottom.png" class="img-responsive"></a>
                    <div class="footer-sociaux" >
                        <ul class="social-links clearfix">
                            <li> <a class="fb-ar tooltip" href="http://www.facebook.com/antennereunion?ref=ts&amp;fref=ts" target="_blank">Facebook<span class="tooltip-content">Facebook</span></a> </li>
                            <li> <a class="tw-ar tooltip" href="https://twitter.com/antennereunion" target="_blank">Twitter <span class="tooltip-content">Twitter</span></a> </li>
                            <li> <a class="google-ar tooltip" href="https://plus.google.com/114617983130532412836/posts" target="_blank">Google+<span class="tooltip-content">Google+</span></a> </li>
                            <li> <a class="nl-ar tooltip" href="http://www.antennereunion.fr/newsletter-inscription">Newsletters<span class="tooltip-content">Newsletters</span></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-copyright">
        <div class="container">
            <div class="inner-copyright container-ar">
                <p>Copyright &copy; 2014  Antenne Réunion TV - Tous droits réservés  -  <a href="mentions-legales">Mentions Légales</a> -  <a href="http://www.antennereunionpublicite.re">Régie publicitaire</a></p>
            </div>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation : true, // Show next and prev buttons
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true,
            autoPlay :5000,
            stopOnHover :true,
            // "singleItem:true" is a shortcut for:
            // items : 1,
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false
        });
    });
</script>