/* Customizing the 'Privacy Settings' Button */
  .qc-cmp-persistent-link {
    background-color: #003a7a !important;
    color: #ffffff !important;
    /* 
      note: both the height and max-height need to be changed 
      to adjust the height
   
    max-height: 50px !important;
    height: 40px !important; 
    width: 100px !important;
    padding: 10px !important; */
  }
/* Button Color */
  .qc-cmp-button,
  .qc-cmp-button.qc-cmp-secondary-button:hover {
    background-color: #003a7a !important;
    border-color: #003a7a !important;
  }

  .qc-cmp-button:hover,
  .qc-cmp-button.qc-cmp-secondary-button {
    background-color: transparent !important;
    border-color: #003a7a !important;
  }
 

/* Button Font Color */
  .qc-cmp-button,
  .qc-cmp-button.qc-cmp-secondary-button:hover {
    color: #ffffff !important;
  }
  .qc-cmp-button:hover,
  .qc-cmp-button.qc-cmp-secondary-button {
    color: #000 !important;
  }
 

/* Link Color */
  .qc-cmp-alt-action,
  .qc-cmp-link {
    color: #000 !important;
  }

  .qc-cmp-alt-action:hover,
  .qc-cmp-link:hover {
    color: #021188 !important;
  }
 

/* Text Color */
  .qc-cmp-main-messaging,
  .qc-cmp-messaging,
  .qc-cmp-sub-title,
  .qc-cmp-privacy-settings-title,
  .qc-cmp-purpose-list,
  .qc-cmp-tab,
  .qc-cmp-title,
  .qc-cmp-vendor-list,
  .qc-cmp-vendor-list-title {
    color: #000 !important;
  }
 

/* Text Font Family 
  .qc-cmp-alt-action,
  .qc-cmp-button,
  .qc-cmp-main-messaging,
  .qc-cmp-messaging,
  .qc-cmp-sub-title,
  .qc-cmp-link,
  .qc-cmp-privacy-settings-title,
  .qc-cmp-purpose-list,
  .qc-cmp-tab,
  .qc-cmp-title,
  .qc-cmp-vendor-list {
    font-family: cursive !important;
  }*/
 

/* Base Text Font Size 
  .qc-cmp-alt-action,
  .qc-cmp-button,
  .qc-cmp-main-messaging,
  .qc-cmp-messaging,
  .qc-cmp-purpose-list,
  .qc-cmp-tab,
  .qc-cmp-vendor-list {
    font-size: 10px !important;
  }
 */

/* Tab Hover Color */
  .qc-cmp-tab:hover {
    background-color: #003a7a !important;
  }
 

/* Toggle On Color */
  .qc-cmp-small-toggle.qc-cmp-toggle-on,
  .qc-cmp-toggle.qc-cmp-toggle-on {
    background-color: #5472ae !important;
    border-color: #5472ae !important;
  }
 

/* Toggle Off Color */
  .qc-cmp-small-toggle,
  .qc-cmp-toggle {
    background-color: #5472ae !important;
    border-color: #5472ae !important;
  }
 

/* Background Color */ 
  .qc-cmp-ui {
    background-color: #fff !important;
  }