@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.content_video_fb_live{
	background: url(https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/bg-videos.jpg)no-repeat;
	position: relative;
	padding-bottom: 30%;
	min-height: 278px;
}
.video-direct_fb_live iframe{
	position: absolute;
	top: 15px;
	right: 17%;
}


.content-img-avant{margin-bottom: 30px;}

.liens-cacher {
  position:relative;
  height:174px;
  width:308px;
  margin:0 auto;
}
.liens-cacher img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


.transparent {
opacity:0;
}
.onclick {
cursor:pointer;
}

.liste-candidats-accordion .page_candidats{padding-top: 20px;}
.fiche_apptitude ul{
	font-family: 'Raleway', sans-serif;;
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
.fiche_apptitude ul li{
	background: url(https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/bg-liste-apptitude.png) no-repeat center left;
	padding-left: 25px;
	margin-bottom: 10px;
}
.fiche_apptitude p{
	font-weight: normal;
	font-family: 'Raleway', sans-serif;;
	margin-bottom: 0;
	margin-top: 20px;
}

.candidat_info ul{
	list-style: none;
	color: #261f13;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;;
	line-height: 2;
	padding-left: 0;
	margin-left: 0;
	font-weight: 500;
}
.candidat_info ul li span.infos{
	font-weight: 300;
}

.fiche_apptitude{    
	font-family: 'Raleway', sans-serif;;
	font-size: 13px;
	padding: 15px;
    box-shadow: 0px 0px 10px 2px #ba9f71 inset;
}
.header_fiche_candidat{
	display: flex;
	align-items: center;
	background: url(https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/fd-page_fiche.jpg) no-repeat center left;
	margin-bottom: 25px;
	background-size: cover;
}

.header_fiche_candidat div{flex-grow: 1;}
.header_fiche_candidat div.video_candidat{text-align: right;}
.header_fiche_candidat div.video_candidat iframe{padding: 10px 10px 0px 0;}
.widget-fb{margin: 30px 0;}
.header_fiche_candidat .separateur{padding: 0 25px;}

a.voirpluscandidat{
	color: #ffffff;
    background: #0134a9;
    text-transform: uppercase;
    font-family: "Maven Pro",sans-serif;
    padding: 8px 15px;
    float: right;
    text-decoration: none;
    margin: 15px 0 40px;
    font-weight: bold;
    font-size: 14px;
}
a.voirpluscandidat:hover{
	background: #e2001a;
}
.liste-candidats-accordion{margin-bottom: 5px;}
.glyphicon-chevron-right:before{font-size: 12px;}

.content-bandeau{margin-bottom:25px; }

.nav>li>a:focus, .nav>li>a:hover{background: none}

.tab-content h3{
	font-size: 16px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;;
	margin-top: 0;
	margin-bottom: 20px;
}
.tab-content p{
	font-size: 13px;
	font-family: 'Myriad pro', sans-serif;
	color: #999999;
}

.tab-content .tab-pane a{
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	/*text-align: right;*/
    display: block;
    margin-top: 15px;
    color: #333333;
}
.tout-sur .active{
	background: none;
}
.tab-content hr{
	border-color: #0134a9;
	width: 100%;
	height: 1px;
}
.tout-sur .nav li{
	color: #505e83;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;;
    font-weight: normal;
}
.nav>li>a{
	padding-right: 5px;
	margin-right: 25px;
	font-weight: 600;
}
ul.nav{
	width: 390px;
    margin: 30px auto 40px;
}
.ar-main-col{padding:40px 0 20px 0;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background: none !important;
	color: #0032ad;
	border-bottom: 2px solid #0032ad;
    border-radius: 0;
}

.thumbnail_candidat{position: relative;}
.thumbnail_candidat span{
	font-size: 22px;
	color: #ffffff;
	font-family: "Helvetica ltd Neue",Helvetica,Arial,sans-serif;
	background: url(https://www.antennereunion.fr/squelettes/assets/img/miss_reunion/feuille.png) no-repeat;
	width: 44px;
	height: 55px;
	position: absolute;
    bottom: 4px;
    left: 5px;
    line-height: 2.45;
    text-align: center;
}



    .chrono{position:absolute;right:0;/*top:81px;*//*background:url(https://www.antennereunion.fr/squelettes/assets/img/bg_chrono.png) no-repeat center bottom;*/}
    .chrono ul{list-style-type:none;width:405px;text-align:center;}
    .chrono ul li{/*float:left;*/margin:0 10px 0 0;color:#fff;font-family:Arial;font-weight:normal;display:inline-block;vertical-align: top;}
    .chrono ul li span{display:block;text-align:center;}
    span.valeur{font-size:50px;line-height:50px;}
    span.text{font-size:12px;font-weight:600;}
    span.deux_point{font-size:55px;line-height:55px;}
     .chrono_inner{background:url(https://www.antennereunion.fr/squelettes/assets/img/bg_chrono.png) no-repeat center bottom;width:100%;float:left;}
                .utc{width:100%;margin:0;padding:4px 0 0 0;/*float:left;*/text-align:right;clear:both;}
                .utc span{color:#fff;font-family:Arial;font-size:12px;font-weight:600;line-height:0;padding-right:20px;}
    @media screen and (max-width:1024px){
        .bandeau-inner.clearfix{display:none;}.feat-cat3 .main-cat ul li{width: 33.333% !important;padding-left: 15px !important;padding-right: 15px !important;
        margin-right: 0 !important;margin-left:0!important;}.feat-cat3 .main-cat ul{margin-left:-15px;margin-right:-15px;}.article-section #cont_desc_twit iframe{width:71px!important;}#main-wrapper.main-wrapper{overflow-x:hidden;}
        span.valeur,span.deux_point{font-size:20px;line-height:10px;}
        span.text{font-size:10px;}
        .chrono ul{width:100%;margin-bottom: 0;}
        .chrono ul li{color:#000;margin:0 5px 0 0;}
        .chrono{top:inherit;right:inherit;display:block;width: 100%;clear: both;position:inherit;margin: 30px 0 0 0;padding-bottom: 0;}
        .content_reseaux_sociaux_top ul{margin-top:20px;}
        .utc span{color:#000;padding-right:0;}
        .utc{text-align:center;}
    }

@media screen and (max-width: 991px){
	.header_fiche_candidat{
		flex-wrap: wrap;
		background-size: cover;
	}
}

@media screen and (max-width: 887px){
	.header_fiche_candidat{background-size: cover;}
	.header_fiche_candidat iframe{width: 100%;}
}
@media screen and (max-width: 767px){
	.tout-sur h3{
		margin-top: 20px
	}
}
@media screen and (max-width: 640px){
	.video-direct_fb_live iframe{
		right: 1%;
	}
}
@media screen and (max-width: 480px){
	.content_video_fb_live{
		background: none;
		padding-bottom: 0;
		min-height: 1px;}
	.video-direct_fb_live iframe {
	    position: relative;
	    top: 0;
	    right: 0;
	    width: 100%;
	}
}