@charset "utf-8";
/* CSS Document */
#page_container{background:none;}
.page_inscriton_nl{width:100%;margin:0;padding:0 15px;}
.page_inscriton_nl #newsletter_modal{width:100%!important;left:0!important;}
.ar-main-col{width:690px;}
.page_inscriton_nl .popup_newsletter .column_left{width:55%!important;}
.page_inscriton_nl .popup_newsletter .column_right{width:40%!important;}
input#mail_user{height:30px!important;}
.page_inscriton_nl .popup_newsletter .column_left img{max-width:150px!important;}
.footer .footer-bottom .text-center{margin:0 auto 20px auto;}
.navbar ul.mainmenu {width: 700px !important;}
@media screen and (max-width:1024px){.page_inscriton_nl #newsletter_modal{margin-left:0!important;margin-right:0!important;margin-bottom:20px!important;}
#main-footer{display:none!important;}
.page_inscriton_nl .popup_newsletter .column_left{width:55%!important;}
.page_inscriton_nl .popup_newsletter .column_right{width:40%!important;}
#companion_top{display:none!important;}
.container{width:100%!important;padding:0 15px!important;}
.wrapper-header .container-ar .logo-ar{width:100%;text-align:center;}
.wrapper-header .container-ar .logo-ar img{margin-left:auto;margin-right:auto;}
.navbar-toggle{position:relative; z-index:100;}
#myNavbar .navbar ul.mainmenu{width:100%!important;}
.wrapper-header .collapsed{width:auto!important;}
}
@media screen and (max-width:991px){.ar-side-col.bloc-right{float:none!important;margin:0 auto;max-width:300px;display:block;clear:both;}.ar-side-col.bloc-right img{max-width:none!important;}.page_inscriton_nl .popup_newsletter .column_right .col-lg-12.col-md-12.col-sm-6.col-xs-12{width:100%!important;}.popup_newsletter .column_right .row div img{max-width:200px;margin:0 auto;}}
@media screen and (max-width:700px){.ar-side-col.bloc-right{margin:0 auto!important;}}
@media screen and (max-width:480px){.page_inscriton_nl .popup_newsletter .column_left{width:100%!important;}
.page_inscriton_nl .popup_newsletter .column_right{width:100%!important;}.popup_newsletter .column_right .row div img{max-width:200px;margin:0 auto;}}
