@charset "utf-8";

@font-face {
    font-family: 'itc_avant_garde_gothic_proMd';
    src: url('https://www.antennereunion.fr/squelettes/assets/fonts/itc_avant_garde_pro_md_regular-webfont.eot');
    src: url('https://www.antennereunion.fr/squelettes/assets/fonts/itc_avant_garde_pro_md_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://www.antennereunion.fr/squelettes/assets/fonts/itc_avant_garde_pro_md_regular-webfont.woff') format('woff'),
    url('https://www.antennereunion.fr/squelettes/assets/fonts/itc_avant_garde_pro_md_regular-webfont.ttf') format('truetype'),
    url('https://www.antennereunion.fr/squelettes/assets/fonts/itc_avant_garde_pro_md_regular-webfont.svg#itc_avant_garde_gothic_proMd') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CSS Document */
.my-cool-layout{width:85%!important;margin:0 auto!important;}
.cc-banner.cc-bottom{background-color:rgba(255, 255, 255, 0.9)!important;box-shadow:0 -5px 5px -5px #bfbfbf;}
.cc-color-override-688238583.cc-window{background-color:rgba(255, 255, 255, 0.9)!important;width:100%!important;max-width:inherit!important;}
.cc-message{color:#053678!important;font-family: 'itc_avant_garde_gothic_proMd';font-size:12px;float:left;display:block;width:80%; box-sizing:border-box;padding-right:20px;}
.cc-link{float:left!important;color:#053678!important;text-decoration:underline;font-family: 'itc_avant_garde_gothic_proMd';font-size:12px;opacity:1;border-right:1px solid #839db6;padding-right:14px;margin-right:14px;}
.cc-link:hover{text-decoration:none;}
.cc-btn.cc-allow{display:none;}
.cc-btn.cc-dismiss{background:#003a7a!important;padding:3px 23px!important;text-decoration:underline;font-family: 'itc_avant_garde_gothic_proMd';font-size:12px;font-weight:normal;text-decoration:none;min-width:inherit!important;float:left;color:#ffffff!important; line-height:normal;}
.cc-btn.cc-dismiss:hover{text-decoration:none!important;}
.couv_bouton{float:right;width:20%; box-sizing:border-box;}
.cc-close{font-size:20px!important;font-family: 'itc_avant_garde_gothic_proMd';color:#053678!important;top:14px!important; line-height:normal;}
.cc-window.cc-banner{padding: 1em 1.8em 0.5em;z-index: 9999999999;}
@media screen and (max-width:1600px){.my-cool-layout{width:95%!important;margin:0 auto!important;}}
@media screen and (max-width:1272px){.cc-link{border-right:0;}}
@media screen and (max-width:768px){.cc-message{width:100%;text-align:center;padding-bottom:10px;}.couv_bouton{width:100%;float:none;text-align:center;}.cc-link{float:none!important;display:inline-block;}.cc-btn.cc-dismiss{float:none;display:inline-block;}.my-cool-layout{width:100%!important;margin:0!important;}}
@media screen and (max-width:320px){.cc-link{margin-bottom:5px;}}
