#page_container{background:none;}
.grille-tv #mainContainer, .programme #mainContainer, .page-inner #mainContainer{margin-top:10px;}
#mainContainer .titre_headline {margin: 0px 0px 20px;padding: 40px 0px 0px 16px !important;background: #ffffff;}
.titre_headline .title-headline {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 35px;font-weight: 700;line-height: 110%;margin: 0 0 5px 0;}
#mainContainer .main-inner {border: 1px solid #cdddeb;padding: 20px 19px;}
.container-section {clear: both;margin: 0px 0px 30px;}
.container-section .media-heading {background-color: #f5f9fc;border: 1px solid #e5e9ed;color: #335572;font-family: "Maven Pro", sans-serif;font-size: 22px;font-weight: 700;line-height: 120%;margin: 0px 0px 20px;padding: 10px 0px 10px 15px;
text-transform: uppercase;}
.container-section .content-bloc ul {border-bottom: 1px solid #cdddeb;margin: 0px 0px 20px;padding: 0px 0px 15px 20px;display:flex;flex-wrap:wrap;box-sizing:border-box;}
.section-sms ul li {color: #007fbe;font-size: 13px;list-style-type:none;margin: 0px 0 15px 0;padding: 0px 7px;width:50%;box-sizing:border-box;border-left:4px solid #0182c3;}
.section-sms ul li a {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 700;line-height: 120%;text-decoration:none;}
.section-sms ul li a:hover {color: #e2001a;}
.archives-button {clear: both;width: 100%;}
.archives-button a {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 15px center #007fbe;color: #ffffff;display:table;font-family: "Maven Pro", sans-serif;font-size: 16px;
font-weight: 700;padding: 10px 25px 10px 40px;text-transform: uppercase;transition: all 300ms ease 0s;text-decoration:none;}
.archives-button a:hover{background-color: #e2001a;}
/*sidebar*/
.widget-tab .widget-title {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 10px;}
.widget-tab .widget-title span {background-color: #007fbe;color: #ffffff;display: inline-block;float: left;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 700;padding: 5px 20px;}
.bloc-right .sidebar {margin: 0px 0px 20px;}
.widget-content .tab-content ul li {list-style-type: none;margin-bottom: 10px;}
.widget-content .tab-content ul li .title-medias .num-count {border: 1px solid #007fbe;color: #007fbe;display: block;float: left;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 700;
line-height: 120%;margin: 5px 10px 0px 0px;padding: 0px 4px;}
.widget-content .tab-content ul li:first-child .title-medias .num-count {background-color: #007fbe;color: #ffffff;}
.widget-content .tab-content ul li .title-medias .item-title {line-height: 20px;}
.widget-content .tab-content ul li .title-medias .item-title a {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 700;}
.widget-content .tab-content ul li .figure-player .meta-title {background-color: #007fbe;bottom: 0px;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 1px 7px 2px;
position: absolute;right: 0px;text-transform: uppercase;}
.morepostag a {background-color: #007fbe;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 5px 15px;text-transform: uppercase;transition: background-color 0.3s ease 0s;
text-decoration:none;}
.list_jeux_sms{list-style-type:none;display:flex!important;}
.list_jeux_sms li{width:33.333%!important;list-style-type:none!important;}
.section-sms ul.list_jeux_sms li{padding:0 10px;margin:0 0 20px 0;border:0;}
.section-sms ul.list_jeux_sms li .format-list{background:#fff;padding:7px;box-shadow: 1px 1px 8px #555;}
.content_liste_jeux_sms{background:url(https://www.antennereunion.fr/squelettes/assets/img/bg/fd_bleu.jpg) no-repeat scroll 0px 0px transparent;background-size: cover;margin:0;padding:20px 0;}
.section-sms ul.list_jeux_sms{margin:0;padding:0;border:0;}
.section-sms ul.list_jeux_sms li .post-fig {margin: 0;}
.section-sms ul.list_jeux_sms .fond_noir {background: none repeat scroll 0px 0px #000000;display: block;height: 100%;overflow: hidden;position: relative;width: 100%;}
.section-sms ul.list_jeux_sms img{max-width:100%;height:auto;}
.section-sms ul.list_jeux_sms .post-fig .icon-video {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll 0px 0px transparent;left:40%;position: absolute;
top: 45px;width:46px;height:46px;top:30%;}
.section-sms ul.list_jeux_sms .post-fig .tile-title {width: 100%;background:#008ac8;padding:2px 5px;text-align:center;}
.section-sms ul.list_jeux_sms .post-fig .tile-title h2{margin:0;}
.section-sms ul.list_jeux_sms .post-fig .tile-title a {color: #ffffff;display: block;font-family: "Maven Pro",sans-serif;font-size: 12px;font-weight:normal;
text-decoration: none;}
.format-video span.roll{background-image:none;}
.section-sms ul.list_jeux_sms .post-texts .title-post {color: #1f4563;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;line-height: 120%;overflow: hidden;margin:0;padding:0;}
.lien_tous_les_jeux_sms{width:100%;margin:0;padding:0;display:flex;justify-content:center;}
.lien_tous_les_jeux_sms a{display:table;margin:0;padding:5px 20px;background:#e30617;color:#fff;text-align:center;font-family: "Maven Pro",sans-serif;font-size: 14px;text-transform:uppercase;}
.lien_tous_les_jeux_sms a:hover{background: #007fbe;}
.container-section.section-sms .media-heading span{font-weight:normal;}
.container-section.section-sms ul.liste_gagnant li{text-transform: uppercase;}
.container-section.section-sms ul.liste_gagnant li .date{display:block;font-weight:normal;text-transform:initial;}
.container-section.section-sms ul.liste_gagnant{border:0;}
.container-section.section-sms .archives-button.standard-btn{display:flex;justify-content:center;}
.jeux #mainContainer .breadcrumbs {padding: 25px 15px 10px 15px;border-left: 1px solid #D8E6F1;border-right: 1px solid #D8E6F1;}
.content_gagnant_sms .content_image_gagnant img{max-width:100%;height:auto;}
.content_gagnant_sms .content_image_gagnant{padding:0 0 20px 0;}
.bloc_bleu_gagnant{width:100%;margin:0 0 20px 0;padding:10px 20px;background:#f5f9fc;border:1px solid #e9eaec;}
.bloc_bleu_gagnant h3{margin:0;padding:0 0 10px 0;font-family: "Maven Pro", sans-serif;color:#3a5477;text-transform:uppercase;line-height:120%;}
.bloc_bleu_gagnant .desc_gagnant{font-size:16px;font-family: "Maven Pro", sans-serif;color:#3a5477;font-weight:bold;}
.content_list_gagnant{width:100%;margin:0;padding:0 0 20px 0;}
.content_list_gagnant ul{margin:0;padding:0;list-style-type:none;}
.content_list_gagnant ul li{padding:0 0 0 20px;font-size:16px;font-family: "Maven Pro", sans-serif;font-weight:bold;color:#000;}
.content_indication_gagnant{display:flex;margin:0;padding:0;justify-content:space-between;font-size:16px;color:#3a5477;font-family: "Maven Pro", sans-serif;align-items:center;}
.content_indication_gagnant .horraire_confirme{font-size:13px;}
.content_indication_gagnant .titre_adresse{font-weight:500;}
.content_indication_gagnant .phone{font-weight:bold;}
.lien_page_gagnant{width:100%;margin:0 0 20px 0;padding:0;/*display:flex;*/justify-content:space-between;}
.lien_page_gagnant .fb-share-button{float:left;margin-bottom:20px;}
.lien_page_gagnant #cont_desc_twit{float:left;margin-top:3px;margin-bottom:20px;}
.lien_page_gagnant a{display:table;background:#0080bf;color:#fff;text-decoration:none;padding:10px 20px;text-align:center;font-family: "Maven Pro", sans-serif;font-size:14px;float:right;}
.lien_page_gagnant a:hover{background: #e2001a;}
.lien_page_gagnant a img{margin-left:10px;}
.page_container .content_accordeon_gagnant button.accordion{background-image:none!important;background-color:#e1e1e1!important;border:1px solid #d5dee5;padding-left: 20px;color: #077bb8;font-family: "Maven Pro", sans-serif;font-weight:500;}
.page_container .content_accordeon_gagnant button.accordion span{font-weight:normal;}
.page_container .content_accordeon_gagnant button.accordion:after{color: #077bb8;}
.content_gagnant_sms .content-slide{width:100%;margin:0;padding:0;position:relative;}
.content_gagnant_sms .content-slide img{width:100%;height:auto;}
.content_gagnant_sms .content-slide .boxcaption{top:inherit;bottom:0;}
button.accordion {cursor: pointer;padding: 10px 18px 10px 50px;width: 100%;border: none;text-align: left;outline: none;font-size: 16px;text-transform: uppercase;transition: 0.4s;
position: relative;}
.panel {padding: 0;background-color: white;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;margin-bottom: 0;box-shadow: none;}
.title-large{clear: both;}
button.accordion:after {content: "\f078";margin-left: 5px;}
button.active:after, button.accordion:after {font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;color: #ffffff;font-size: 16px;
padding-right: 18px;position: absolute;top: 10px;right: 0;}
.liste-row .article-heading {color: #1f4563;font-family: maven pro,sans-serif;font-size: 30px;font-weight: 400;margin: 0 0 20px;}
.liste-row .article-heading span {font-weight: 900;}
.liste-row .article-heading a{text-decoration:none;color: #1f4563;}
.liste-row .article-row .contImg {margin: 0 0 20px;position: relative;}
.liste-row .article-row .contImg img{width:100%;height:auto;}
.liste-row .article-row .contImg .img_caption {background: none repeat scroll 0 0 rgba(0,0,0,.5);bottom: 0;color: #fff;font-family: maven pro,sans-serif;font-size: 18px;
font-weight: 400;left: 0;position: absolute;width: 100%;margin:0;}
.liste-row .article-row .contImg .img_caption span {display: block;padding: 5px 10px 8px;}
.liste-row .a-description{display:flex;justify-content:space-between;margin:0 0 20px 0;padding:0;}
.liste-row .a-description .colonne_gauche_article_photo{width:60%;padding:0 15px 0 0;}
.liste-row .a-description .content_voir_galerie{width:40%;}
.liste-row .article-row .a-description p {color: #1f4563;font-family: maven pro,sans-serif;font-size: 18px;font-weight: 400;}
.liste-row .article-row .a-description p a{color: #1f4563;text-decoration:none;}
.liste-row .article-row .a-description .btn_arrow {background-color: #007fbe;color: #fff;display: table;float: right;font-family: maven pro,sans-serif;font-size: 20px;
font-weight: 500;padding: 10px 20px 9px;text-transform: uppercase;}
.article-row .a-description .btn_arrow:hover {background-color: #e2001a;}
.liste-row .article-row .a-description p a:hover{color: #e2001a;}
.lien_rubrique_lien{width:100%;margin:0;padding:0 0 20px 0;}
.lien_rubrique_lien a{background-color: #007fbe;color: #fff;display: table;font-family: maven pro,sans-serif;font-size: 20px;font-weight: 500;padding: 10px 20px 9px;text-transform: uppercase;}
.lien_rubrique_lien a:hover{background-color: #e2001a;}
.topics-box .topiclist ul li {border-bottom: 1px solid #d8e6f1;}


/*page article*/
.menu-menu2 {background-color: #eff4fa;}
.menu-menu2 ul li a{color:#1f4563;}
.menu-menu2 ul li a.active {background: none repeat scroll 0px 0px #007fbe;color: #ffffff;}
.menu-menu2 ul li a:hover {background: #007fbe;}
.programme-n3 #mainContainer .breadcrumbs {border-bottom: 1px solid #D8E6F1;padding: 25px 15px 10px 15px;}
.breadcrumbs ul li {color: #597d9f!important;float: left;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 400;line-height: 23px;list-style-type: none;}
.breadcrumbs ul li:first-child a {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/fa-home.png) no-repeat scroll 0px 0px transparent;display: inline-block;height: 20px;text-indent: -999em;width: 20px;}
.breadcrumbs ul li a {color: #597d9f!important;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 400;margin: 0px 8px 0px 0px;text-decoration:none;}
.breadcrumbs ul li a:hover {color: #e2001a!important;}
.breadcrumb>li+li::before{color: #c9dded!important;}
#mainContainer .main-inner {border: 1px solid #cdddeb;padding: 20px 19px;}
.programme-n3 section.video_container2 {padding: 15px 15px 10px 15px;background: #ffffff;border-left:1px solid #cdddeb;border-right:1px solid #cdddeb;}
.title-large .headline-large {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 35px;font-weight: 700;line-height: 110%;margin: 0 0 5px 0;}
.title-large .article-meta {color: #1f4563;font-size: 13px;font-family: "Maven Pro", sans-serif;font-weight: normal;font-style: normal;}
.article-section .figure-large {color: #1f4563;font-family: Maven Pro;font-size: 16px;margin: 0px 0px 20px;}
.article-section .social_box, .social_box {width: 100%;}
.article-section .social_box {margin: 0px 0px 20px;}
.page_container .container {padding-left: 0!important;padding-right: 0!important;width: 100%!important;}
.article-section .excerpt {margin: 0px 0px 10px;}
.article-section .excerpt h2 {color: #1F4563;font-family: 'Maven Pro',sans-serif;font-size: 17px;font-weight: 700;line-height: 120%;}
.article-section .text-body {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 20px;padding: 0px 0px 20px;text-align: justify;}
.article-section .text-body p {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;margin: 0px 0px 10px;}
.feat-cat3{margin: 0px 0px 20px;}
.feat-cat3 .title-cat-header {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 20px;}
.s-personnages .title-cat-header span {background: none repeat scroll 0px 0px #007fbe;}
.feat-cat3 .title-cat-header span {background: none repeat scroll 0px 0px #007fbe;color: #ffffff;display: block;float: left;font-family: "Maven Pro", sans-serif;font-weight: 400;padding: 3px 15px 7px;text-transform: uppercase;
font-size: 25px;}
.feat-cat3 .title-cat-header span strong {font-weight: 800;text-transform: uppercase;}
.feat-cat3 .title-cat-header span .fa-chevron-down {font-size: 15px;margin: 0px 0px 0px 15px;vertical-align: middle;}
.feat-cat3 .main-cat ul{display:flex;list-style-type:none;flex-wrap: wrap;margin:0 -15px;padding:0;}
.feat-cat3 .main-cat ul li{width:33.333%;padding:0 15px;}
.feat-cat3 .main-cat ul li .thumbimage {margin: 0px 0px 10px;position: relative;}
.programme-n3 .feat-cat3 .main-cat ul li .thumbimage .icon-video {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll center center transparent;height: 45px;
left:40%;position: absolute;top:30%;width: 46px;}
.feat-cat3 .main-cat ul li .cat-title {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 600;margin:0;padding:0;}
.feat-cat3 .main-cat ul li .cat-title a{color:#1f4563;text-decoration:none;}
.feat-cat3 .main-cat ul li .cat-title a:hover{color: #e2001a;text-decoration:none;}
#video_container #loader_video img{width:75px!important;height:75px!important;}
/*page reglement*/
.content_reglement h2,.content_reglement h3,.content_reglement h1{margin:0 0 20px 0;font-family: "Maven Pro", sans-serif;}
.content_reglement p{color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;margin: 0px 0px 10px;}
.new_lien_reglement{margin:0 0 20px 0;padding:0;}
.container-ar .new_lien_reglement a{text-decoration: underline;color: #007fbe;}
.container-ar .new_lien_reglement a:hover{text-decoration:none;color: #e2001a;}


/*page jeux sms*/
.post_fig.thumbimage.format-video span.roll{background-image:none!important;}
.post_fig.thumbimage.format-video .icon-video{background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll 0px 0px transparent;left:45%;position: absolute;width:46px;height:46px;top:40%;}

/*page inscription*/
#preembule_button{font-family: poppins,sans-serif;font-weight: 500;font-style: normal;text-align: center;color: #fff;font-size: 16px;border: none;padding: 10px 25px;letter-spacing: 1px;
background-color: #007fbe;margin:20px 0;display: block;border: 1px solid transparent;line-height: 20px;cursor: pointer;outline: none;}
#preembule_button:focus,.mon_beau_container .btn-primary:focus{border:0;outline:none;border-radius:0;}
.mon_beau_container .btn-primary{font-family: poppins,sans-serif;font-weight: 500;font-style: normal;text-align: center;color: #fff;font-size: 16px;border: none;padding: 10px 25px;letter-spacing: 1px;
    background-color: #007fbe;margin:20px auto;display: block;border: 1px solid transparent;line-height: 20px;cursor: pointer;outline: none;border-radius:0;}
    #preembule_button:hover,.mon_beau_container .btn-primary:hover{background:#e2001a;border-color:#e2001a;}

.label_titre{font-weight:500;font-size:13px;}
.mb-3{margin:0 0 20px 0;}
.mon_beau_container .form-control{border:1px solid #ccc;border-radius:0;padding:0 5px;height:30px;font-size:12px;color:#000;}
.mon_beau_container .gj-datepicker-bootstrap [role=right-icon] button{border:1px solid #ccc;border-radius:0;}
.mon_beau_container .gj-datepicker-bootstrap [role=right-icon] button .gj-icon{top:5px;}
.mon_beau_container label{font-weight:500;font-size:13px;}
::-webkit-input-placeholder {color:#000 !important;}
:-moz-placeholder { /* Firefox 18- */color:#000 !important;}
::-moz-placeholder { /* Firefox 19+ */color:#000 !important; }
:-ms-input-placeholder { color:#000 !important; }
.mon_beau_container .custom-control-input:checked~.custom-control-label::before {color: #fff;border-color: #000;background-color: #000;}
.mon_beau_container .custom-control-input.is-valid~.custom-control-label,.mon_beau_container .was-validated .custom-control-input:valid~.custom-control-label {color: #000;}
.mon_beau_container .custom-control-input.is-valid:checked~.custom-control-label::before,.mon_beau_container .was-validated .custom-control-input:valid:checked~.custom-control-label::before {border-color: #000;
background-color: #000;}
.mon_beau_container .custom-control-input.is-valid~.custom-control-label::before,.mon_beau_container.was-validated .custom-control-input:valid~.custom-control-label::before{border-color:#000;}
#alert_captcha{text-align:center;border:0;background:transparent;}
.mention_legale{color: #aaa;font-size: 10px;line-height: 15px;text-align: justify;padding: 30px 0 15px;font-family: inherit;}
.mon_beau_container #remerciement{border: 1px solid #f00;padding: 10px;text-align: center;color: #f00;font-size: 18px;margin-bottom: 20px;}

/*page hp AR*/
.page-hp .page_container {width: 100%;}
#slider_header_hp{width:100%;margin:0;padding:0;float:left;}
.wrapper-content {background: none repeat scroll 0 0 #fff;border-left: 1px solid #cdddeb;border-right: 1px solid #cdddeb;padding: 20px 18px;display:flex;flex-direction:row-reverse;align-items:flex-start;}
.column_left {background-color: #f0f5f9;border: 1px solid #cdddeb;margin: 0;padding: 15px 19px;width:60%;}
.column_left .header-block {line-height: 120%;margin: 0 0 16px 0;}
.wrapper-content .column_right {padding:0 5px;width:40%;}
.clearfix:before, .clearfix:after {content: "";display: table;line-height: 0;}
.column_left .header-block a {float: left;margin: 0 20px 0 0;}
.column_left .titleBlock {color: #1f4563;float: left;font-family: maven pro,sans-serif;font-size: 25px;font-weight: 400;text-transform: uppercase;margin:0;}
.column_left .header-block a {float: left;margin: 0 20px 0 0;color:#1f4563;text-decoration:none;}
.column_left .item-info {float: left;margin:0;width:70%;padding:0 20px 20px 0;}
.column_left .item-info .imageContainer {margin: 0 0 12px;}
.wrapper-content .column_left .item-info .imageContainer img {display: block;max-width:100%;height:auto;}
.column_left .tag-title a {color: #007fbe;display: block;font-family: maven pro,sans-serif;font-size: 13px;font-weight: 500;margin: 0 0 5px;text-decoration: none;text-transform: uppercase;}
.column_left .itemDetails .title-item {color: #1f4563;font-family: maven pro,sans-serif;font-size: 17px;font-weight: 600;line-height: 100%;margin: 0 0 10px;text-align: left;}
.column_left .itemDetails .title-item a{text-decoration:none;color: #1f4563;}
.column_left .item-info .description-item {color: #1f4563;font-family: maven pro,sans-serif;font-size: 15px;font-weight: 400;height: 92px;line-height: 120%;overflow: hidden;}
.column_left .item-info .description-item a{text-decoration:none;color: #1f4563;}
.column_left .item-sidebar {float: left;width:30%;}
.column_left .item-sidebar ul{margin:0;padding:0;list-style-type:none;}
.item-sidebar ul li:first-child {margin: 0 0 20px;}
.item-sidebar ul li {list-style-type: none;margin: 0;}
.item-sidebar ul li .thumbcontainer {margin: 0 0 10px;}
.item-sidebar ul li .thumbcontainer a{text-decoration:none;}
.container-ar a{text-decoration:none;}
.item-sidebar ul li .thumbcontainer img{max-width:100%;height:auto;}
.archives-button {clear: both;width: 100%;}
.section-meteo {border-top: 1px solid #cdddeb;float: left;margin-top: 20px;padding-top: 20px;width: 100%;}
.section-meteo .meteo-wrap .blue-btn {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/blue-btn.png) no-repeat scroll 185px center #007fbe;color: #fff;
float: right;font-family: maven pro,sans-serif;font-size: 36px;font-weight: 400;line-height: 120%;padding: 10px 32px 10px 6px;transition: background-color .3s ease 0s;}
.section-meteo .meteo-wrap .blue-btn:hover {background-color: #e2001a;}
.section-meteo .meteo-wrap .blue-btn span {font-weight: 900;}
.section-meteo .meteo-wrap .m-thumbnail {float: left;width: 86px;}
.section-meteo .meteo-wrap .m-thumbnail img{max-width:100%;height:auto;}
.section-meteo .meteo-wrap ul {float: left;margin: 0;padding:0 10px;list-style-type:none;}
.section-meteo .meteo-wrap ul li {line-height: 120%;list-style-type: none;margin: 0 0 5px;}
.section-meteo .meteo-wrap ul li .fa-chevron-right {color: #ccc;font-size: 13px;margin: 0 8px 0 0;}
.section-meteo .meteo-wrap ul li a {color: #066cb8;font-family: maven pro,sans-serif;font-size: 14px;font-weight: 400;}
.section-meteo .meteo-wrap ul li a:hover {color: #e2001a;}
.verticalList {background: none repeat scroll 0 0 #fff;border-left: 1px solid #cdddeb;border-right: 1px solid #cdddeb;padding: 0 19px 20px 19px;}
.content_list_vignette{margin:0 -5px;padding:0;list-style-type:none;display:flex;}
.content_list_vignette li{padding:0 5px;margin:0;}
.content_list_vignette li img{max-width:100%;height:auto;}
.verticalList .innerList .title-list {color: #204563;font-family: maven pro,sans-serif;font-size: 30px;font-weight: 500;line-height: 120%;margin: 0 0 10px;text-transform: uppercase;}
.verticalList .innerList {border-top: 1px solid #cdddeb;padding: 10px 0 0;}
.list_replay{margin:0 -5px;padding:0;list-style-type:none;display:flex;flex-wrap:wrap;}
.list_replay li{width:33.333%;margin:0 0 20px 0;padding:0 5px;}
.verticalList .innerList .list_replay li .post-fig {margin: 0 0 10px;overflow: hidden;position: relative;}
.verticalList .innerList .list_replay .fond_noir,.news-list .list_news .fond_noir{background: none repeat scroll 0 0 #000;display: block;height: 100%;overflow: hidden;position: relative;width: 100%;}
span.roll {background: url(https://cdn.antenne.re/antenne/squelettes/img/bg/lecture-article.png) no-repeat scroll center center transparent;height: 100%;opacity: 0;position: absolute;width: 100%;z-index: 5;}
.format-video span.roll {background-image: none;}
.verticalList .innerList .list_replay img,.news-list .list_news img{max-width:100%;height:auto;}
.verticalList .innerList ul.list_replay li .post-fig .icon-video {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll 0 0 transparent;height:46px;width:46px; left:40%;
position: absolute;top:40%;}
.verticalList .innerList ul.list_replay li .post-fig .tile-title {bottom: 0;left: 0;position: absolute;width: 100%;}
.verticalList .innerList ul.list_replay li .post-fig .tile-title a {background: none repeat scroll 0 0 rgba(0,0,0,.65);color: #fff;display: block;font-family: maven pro,sans-serif;font-size: 15px;font-weight: 500;
line-height: 17px;padding: 10px;text-decoration: none;text-transform: uppercase;}
.verticalList .innerList ul.list_replay .post-texts .title-post {color: #1f4563;font-family: maven pro,sans-serif;font-size: 17px;font-weight: 700;line-height: 120%;overflow: hidden;margin:0;padding:0;}
.verticalList .innerList ul.list_replay .post-texts .title-post a{color:#1f4563;text-decoration:none;}
.verticalList.news-list{display:flex;flex-direction:row-reverse;align-items:flex-start;}
.aside_sondage {padding: 57px 0 0;border-top: 1px solid #cdddeb;width:35%;}
.innerSondage {background-color: #f0f5f9;border: 1px solid #cdddeb;padding: 15px 20px;}
.verticalList .left-sondage {width:65%;padding:20px 30px 0 0;}
.news-list .list_news{margin:0 -5px;padding:0;list-style-type:none;display:flex;flex-wrap:wrap;}
.news-list .list_news li{padding:0 5px;width:50%;margin:0 0 20px 0;}
.news-list .list_news li .post-fig {margin: 0 0 10px;overflow: hidden;position: relative;width:100%!important;height:100%!important;}
.news-list .list_news li .format-video .post-fig .icon-video {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll 0 0 transparent;height:46px;width:46px; left:40%;
position: absolute;top:40%;}
.verticalList .innerList ul li .post-fig .tile-title {bottom: 0;left: 0;position: absolute;width: 100%;}
.verticalList .innerList ul li .post-fig .tile-title a {background: none repeat scroll 0 0 rgba(0,0,0,.65);color: #fff;display: block;font-family: maven pro,sans-serif;font-size: 15px;font-weight: 500;
line-height: 17px;padding: 10px;text-decoration: none;text-transform: uppercase;}
.verticalList .innerList .post-title .title-post {color: #1f4563;font-family: maven pro,sans-serif;font-size: 17px;font-weight: 700;height: auto;line-height: 120%;}
.verticalList .innerList .post-title .title-post a{color: #1f4563;}
.verticalList .innerList .post-title .title-post a:hover,.verticalList .innerList ul.list_replay .post-texts .title-post a:hover{color: #e2001a;}
.bloc_bottom {clear: both;margin: 0;}
.bloc_bottom .adv-bottom {border-top: 1px solid #cdddeb;padding: 20px 0 0;}
.adv-bottom .adv-wrap {margin: 0 auto;}
.pub-applimobile {background-color: #f0f5f9;border: 1px solid #cdddeb;margin: 20px 0 0;position: relative;display:flex;align-items:center;}
.appli-title {font-family: maven pro,sans-serif;margin:0;position: relative;width:50%;padding:20px;}
.appli-image {margin: 0;position: relative;width:50%;}
.titleappli {color: #1f4563;font-size: 28px;font-style: normal;line-height: 120%;text-transform: uppercase;text-align:left!important;}
.txtbloc {margin:0;padding:8px 0 0 25px;display:flex;}
.bloc_bottom .appli-title{text-align:initial!important;}
.flbloc {margin-top: 8px;width: 18px;}
.texteapp {color: #007fbe;font-size: 25px;font-style: normal;font-weight: 400;line-height: 120%;padding-left: 15px;text-transform: uppercase;}
.texteapp a{text-decoration:none;color: #007fbe;}
.dowloadapp {margin: 22px 0 0;text-align: center;}
.textedown {color: #1f4563;font-size: 18px;font-style: normal;font-weight: 700;letter-spacing: -1px;line-height: 140%;text-align: center;}
.appstg {width:100%;margin:0;padding:0;display:flex;justify-content: center;}
.appstg div{padding:0 10px;}
.appli-image img{max-width:100%;height:auto;}
#slider_header_hp .container{width:auto!important;max-width:1400px;}
button.owl-dot.active:after{display:none;}
#slider{position: relative;}
#slider .owl-dots{position:absolute;width:100%;bottom:0;}
#slider.owl-theme .owl-dots .owl-dot span{width:13px;height:13px;background:#fff;}
.slider_replay #slider.owl-theme img{max-width:100%;height:auto;margin:0 auto;width:auto;}
.slider_replay #slider{background:#000;}
.slider_replay #slider.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;background:#214563;}
.slider_replay #slider.owl-theme .owl-dots .owl-dot.active span,.slider_replay #slider.owl-theme .owl-dots .owl-dot span:hover{background:#009eea;}
#slider.owl-theme .owl-dots .owl-dot.active span{background:#007fbe;}
#slider.owl-theme .owl-dots .owl-dot span:focus,#slider.owl-theme .owl-dots .owl-dot:focus{outline:none;border:0;border-radius:0;}
#slider.owl-theme .container_outer{width:100%;margin:0;padding:0;position: absolute;top:0;height:100%;}
#slider.owl-theme .container_outer .container_inner{max-width:1000px;margin:0 auto;height:100%;display:flex;align-items:center;}
.slider_replay #slider.owl-theme .container_outer .container_inner{align-items: flex-end;}
#slider.owl-theme .content_text_slide{background-color: rgba(0, 0, 0, 0.5);color:#fff;width:40%;padding:10px 20px;}
.slider_replay#slider_header_hp{padding:20px 0;}
.slider_replay #slider.owl-theme .content_text_slide{width:100%;margin:0 0 30px 0;background-color: transparent;padding:10px 0;}
#slider.owl-theme .content_text_slide .titre_text_slide{padding: 0 0 10px 0;line-height: 32px;border-bottom: 1px dotted #fff;display: block;margin:0;}
.slider_replay #slider.owl-theme .content_text_slide .titre_text_slide{border-bottom:0;padding:5px 20px 5px 20px;background-color: rgba(77, 97, 109, 0.8);display:table;text-transform:uppercase;}
#slider.owl-theme .content_text_slide .titre_text_slide a{font-size: 31px;font-family: maven pro,sans-serif;font-weight: 700;color:#fff;text-decoration:none;}
.slider_replay #slider.owl-theme .content_text_slide .titre_text_slide a{background:none;}
#slider.owl-theme .content_descrition_slide{margin:0;padding:10px 0;}
.slider_replay #slider.owl-theme .content_descrition_slide{padding:5px 20px;background-color: rgba(50, 135, 164, 0.8);}
#slider.owl-theme .content_descrition_slide p{margin:0;padding:0;font-family: maven pro,sans-serif;font-size: 20px;font-weight: 400!important;}
#slider.owl-theme .content_descrition_slide p a{color:#fff;text-decoration:none;}
#slider.owl-theme .content_lien{width:100%;margin:0;padding:5px 0 0 0;}
#slider.owl-theme .content_lien a{font-family: "Maven Pro",sans-serif;font-size:16px;text-align:center;text-transform:uppercase;background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 15px center #007fbe;font-weight:700; line-height:16px;transition: all 300ms ease 0s;display:table;padding:10px 25px 10px 40px;color:#fff;text-decoration:none;}
#slider.owl-theme .content_lien a p{margin:0;}
#slider.owl-theme .content_lien a:hover{background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 15px center #349ee6;}
.wrapper-content .column_left .itemDetails .title-item a:hover {color: #009eea;}
/*sous menu header*/
.categoriesN1 .progr-bloc-container1 .image-news .icon-video{width:20px;height:20px;left:40%;top:40%;border-radius:50%;}

/* Liste News - replay - etc main */
.titre_headline .title-headline span {font-weight: 900;text-transform: uppercase;}
.container-section .list-container ul{padding: 17px 0 0 0;display:flex;flex-wrap:wrap;margin:0 -15px;}
.container-section .list-container ul li {height: auto;line-height: 120%;list-style-type: none;margin: 0 0 20px 0;overflow: hidden;position: relative;width: 33.333%;padding:0 15px;}
.container-section .wrapper-image .icon-video{background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll center center transparent;height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
.container-section .list-container ul li .panel-item .wrapper-image {position: relative;}
.container-section .wrapper-image .item-title {bottom: 0;display: block!important;height: 35px;left: 0;overflow: hidden;position: absolute;width: 100%;margin:0;}
.container-section .wrapper-image .item-title a {background: none repeat scroll 0 0 rgba(0,0,0,.5);color: #fff;display: block;font-family: maven pro,sans-serif;font-size: 13px;font-weight: 500;line-height: 25px;
padding: 5px 10px;text-decoration: none;text-transform: uppercase;}
.container-section .list-container ul li .title-panel3 {color: #1f4563;font-family: maven pro,sans-serif;font-size: 17px;font-weight: 700;line-height: 100%;margin: 10px 0 0;
text-align: left;}
.container-section .list-container ul li .title-panel3 a{color: #1f4563;}
.container-section .list-container ul li .title-panel{color: #007fbe;font-family: maven pro,sans-serif;font-size: 13px;font-weight: 500;margin: 10px 0 0;text-transform: uppercase;}
.container-section .link-archives{position:inherit;}
.container-section .list-container ul li.item-2 {
}
.container-section .list-container ul li .wrapper-image img {
    max-width:100%;height:auto;
}

.container-section .list-container ul li .title-panel3 a:hover {
    color: #E2001A;
}
.container-section .list-container ul li.item_separator {
    clear: both;
    height: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}
.container-section .list-container ul li:nth-child(4n-1) {
    margin-right: 0px;
}
.bloc-right .row-pub {
    border-top: 1px solid #cdddeb;
    height: 1px;
    margin: 0px 0px 14px;
}
.widget-sponsor span {
    color: #007fbe;
    display: inline-block;
    float: left;
    font-family: "Maven Pro", sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 20px;
    text-transform: uppercase;
}
.post_fig.thumbimage span.roll {background-image: none!important;}
.post_fig.thumbimage .icon-video {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll center center transparent;height: 45px;left:40%;position: absolute;
top:40%;width: 46px;}
.list-cat .thumbimage .icon-video {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll center center transparent;height: 45px;
    left:40%;position: absolute;top: 35%!important;width: 46px;}
.synopsisRow {background-color: #f0f5f9;border: 1px solid #e5e9ed;padding: 5px 10px 15px 20px;margin: 0 0 20px;}
.synopsisRow .txthead {color: #335272;font-size: 22px;font-family: maven pro,sans-serif;font-weight: 400;border-bottom: 1px solid #e5e9ed;padding: 0 0 5px;margin: 0 0 10px;}
.synopsisRow .p-description p {color: #1f4563;font-size: 15px;font-family: maven pro,sans-serif;font-weight: 400;padding: 0 10px;line-height: 120%;}
.page_container button.accordion{background: url(https://www.antennereunion.fr/squelettes/assets/img/Rubrique-Accordion-BG.jpg) no-repeat left top!important;color:#fff;}
.topics-box .topiclist ul li .topic-title {color: #1f4563;font-family: maven pro,sans-serif;font-size: 20px;font-weight: 500;line-height: 100%;margin-bottom: 10px;}
.topics-box .topiclist ul li .topic-title a{color: #1f4563;}
.bonus span {background-color: #007fbe;}
.v-category span {color: #fff;display: inline-block;font-family: maven pro,sans-serif;font-size: 14px;font-weight: 700;margin: 0 0 5px;padding: 2px 10px;text-transform: uppercase;}
.topics-box .topiclist ul li .topic-title {color: #1f4563;font-family: maven pro,sans-serif;font-size: 20px;font-weight: 500;line-height: 100%;margin-bottom: 10px;text-decoration:none;}
.topics-box .topiclist ul li .topic-title a{color:#1f4563;}
.topics-box .topiclist ul li .text-holder .txt-extract {color: #1f4563;font-family: maven pro,sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;margin: 0 0 10px;text-decoration:none;}
.topics-box .topiclist ul li .text-holder .txt-extract a{color: #1f4563;}
.topics-box .topiclist ul li .text-holder .readnext {bottom: 18px;color: #009eea;display: block;font-family: maven pro,sans-serif;font-size: 14px;font-weight: 400;position: absolute;right: 0;text-align: right;}
.container-section.topics-box .format-video span.roll{background-image:none!important;}
.container-section.topics-box span.roll{background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/lecture-article.png) no-repeat scroll center center transparent!important;height: 100%;opacity: 0!important;position: absolute;width: 100%;
z-index: 5;}
.container-section.topics-box .content-box .thumb-wrapper:hover span.roll{opacity:1!important;}
.topics-box .topiclist ul li .thumb-wrapper .icon-video {background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video.png) no-repeat scroll center center transparent;height: 100%;left:0;position: absolute;
top:0;width:100%;}
/*page photo*/
.liste-row#contenu ul.topics.liste-items{margin:0;padding:0;list-style-type:none;}
.liste-row#contenu ul.topics.liste-items img{max-width:100%;height:auto;}
/*bouton partage*/
.dropbtn {
    background-color: #0080bf;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: "Maven Pro", sans-serif;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
      background: #e2001a;
      border:0;
      outline:none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown_lien {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #e2001a;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  
@media screen and (min-width:1001px) {
#page_container .container-ar {
    margin: 0 auto!important;
    width: 1000px!important;
}
}
@media screen and (max-width:1024px) {
    #slider_header_hp .container{padding-left:0;padding-right:0;}
    #myNavbar .navbar ul.mainmenu{width:100%!important;}
    .menu_responsive_cache .btn.btn-primary.dropdown-toggle {background: #007fbe!important;}
    .menu_responsive_cache .btn.btn-primary.dropdown-toggle:focus{border:0;outline:none;}
    .ar-main-col .lien_page_gagnant a img,.ar-main-col .lien_page_gagnant button img{height: 12px!important;width: auto!important;}
    .row.wrapper-header{display:inherit;}
    #sas-relDiv_9622900{display:none!important;}
    .section-bandeau{display:none;}
}
@media screen and (max-width:1000px) {
    .wrapper-content,.verticalList{border:0;}
}
@media screen and (max-width: 991px) {
    .sidebar.facebook_box{text-align:center;}
    #mainContainer .main-inner,.programme-n3 section.video_container2{border:0;}
    #mainContainer .main-inner{padding-top:0;}
    .figure-large.container_article #wrapper{width:100%;height:100%;}
    .figure-large.container_article #wrapper .slideshow{width:100%!important;height:auto!important;}
    .figure-large.container_article #wrapper .content-slide a#prev, .figure-large.container_article #wrapper .content-slide a#next{top:40%;}
    .ar-side-col.bloc-right .sidebar.twitter-box iframe{width:100%!important;}
    .container-section .list-container ul{padding:0;}
}
@media screen and (max-width:768px) {
    #slider.owl-theme .content_text_slide .titre_text_slide a{font-size:20px;}
    #slider.owl-theme .content_descrition_slide p{font-size:16px;}
    #slider.owl-theme .content_lien a{font-size:14px;}
    .wrapper-content{flex-wrap:wrap;}
    .wrapper-content .column_right{width:100%;margin:0;padding:20px 5px;display:none;}
    .wrapper-content .column_left{width:100%;}
    .ar-side-col.bloc-right .sidebar.twitter-box iframe{width:100%!important;}
}
@media screen and (max-width: 640px) {
    .section-sms ul li{width:100%;}
    .titre_headline .title-headline{font-size:20px;}
    .archives-button a{font-size:14px;}
    .list_jeux_sms li{width:100%!important;}
    .section-sms ul.list_jeux_sms li .post-fig{max-height:inherit;}
    .section-sms ul.list_jeux_sms .post-fig .icon-video{left:45%;}
    .feat-cat3 .main-cat ul li{width:100%;margin:0 0 20px 0;}
    .programme-n3 .feat-cat3 .main-cat ul li .thumbimage .icon-video{left:45%;top:35%;}
    #slider.owl-theme .content_text_slide{width:60%;}
    .verticalList.news-list{flex-wrap:wrap;}
    .aside_sondage{width:100%;}
    .verticalList .left-sondage{width:100%;padding: 20px 0 0 0;}
    .news-list .list_news{width:auto;}
    .pub-applimobile{flex-wrap: wrap;}
    .appli-title{width:100%;}
    .appli-image{width:100%;padding:0 20px;}
}
@media screen and (max-width: 600x) {
    #wrapper .slideshow{height:auto!important;}

}
@media screen and (max-width:480px) {
    #slider.owl-theme .content_text_slide .titre_text_slide{line-height:normal;padding-bottom:2px;}
    #slider.owl-theme .content_text_slide{padding:10px;width:100%;}
    #slider.owl-theme .content_text_slide .titre_text_slide a{font-size:16px;}
    #slider.owl-theme .content_descrition_slide{padding:5px 0;}
    #slider.owl-theme .content_descrition_slide p{font-size:12px;}
    #slider.owl-theme .content_lien a{font-size:12px;padding: 5px 25px 5px 35px;}
    #slider .owl-dots{display:none;}
    #slider.owl-theme .content_lien{padding:0;}
    .column_left .item-info{width:100%;padding:0 0 20px 0;}
    .wrapper-content .column_left .item-info .imageContainer img{width:100%;}
    .column_left .item-sidebar{width:100%;}
    .item-sidebar ul li .thumbcontainer img{width:100%;}
    .section-meteo .meteo-wrap .blue-btn{width:100%;margin:0 0 20px 0;background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/blue-btn.png) no-repeat scroll 98% center #007fbe;}
    .content_list_vignette{flex-wrap:wrap;margin:0;}
    .list_replay{margin:0;}
    .content_list_vignette li,.list_replay li,.news-list .list_news li{margin:0 0 20px 0;width:100%;padding:0;}
    .content_list_vignette li img{width:100%;}
    .news-list .list_news{margin:0;}
    .container-section .list-container ul li {margin-right: 0!important; width: 100%!important;}
    #wrapper .slideshow{height:auto!important;}
    .liste-row .a-description{flex-wrap:wrap;}
    .liste-row .a-description .colonne_gauche_article_photo{width:100%;}
    .liste-row .a-description .content_voir_galerie{width:100%;}
    .ar-main-col .lien_page_gagnant button{width:100%;margin:0;}
    .dropdown_lien{width:100%;margin:0 0 20px 0;}
    .lien_page_gagnant{flex-wrap:wrap;}
    .dropdown-content,.lien_page_gagnant a{width:100%;}
    .page_container .content_accordeon_gagnant button.accordion{padding:10px 20px;}
    .page_container button.accordion{padding:10px 20px;font-size:12px;}
    .slider_replay #slider.owl-theme .content_text_slide{margin:0;}

}
@media screen and (max-width:360px) {
    .appstg{flex-wrap:wrap;}
    .appstg div{margin:0 0 20px 0;}
}
@media screen and (max-width:320px) {
    #wrapper .slideshow{height:auto!important;}
}