@charset "utf-8";
/* CSS Document */
.block_top_run_star{background:#f0f5f9!important;border:1px solid #e5e9ed!important;padding:13px 21px!important;margin:0 0 19px 0!important;}
.block_top_run_star h1{border-bottom:1px solid #e5e9ed!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:20px!important;color:#335272!important;margin:0 0 10px 0!important;padding:0 0 5px 0!important;}
.block_top_run_star p{color:#335272!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:16px!important;margin:0 0 26px 0!important;padding:0!important;}
.block_top_run_star p:last-child{margin:0!important;}
.page_dedie_runstar .voir_plus.video-list.actu-en-continu span.roll{width:inherit!important;}
.page_dedie_runstar h2.section-titre-der{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:30px!important;color:#1f4563!important;color:#1f4563!important;}
.page_dedie_runstar .timeline-wrap ul {padding: 20px 0 0;list-style-type:none!important;}
.page_dedie_runstar .timeline-wrap ul li{margin-bottom:75px!important;}
.page_dedie_runstar .linfo-timeline .aside-timeline {background-color: #fff;float: left;padding: 5px 0 0;text-align: center;width:106px;}
.page_dedie_runstar .timeline-content {background-color: #f0f5f9;float:right;padding: 10px 20px;width: 460px;}
.page_dedie_runstar .timeline-wrap ul li.linfo-item{background:url(../images_run_star/timeline_bg.png) no-repeat 48px center!important;}
.page_dedie_runstar .aside-timeline .heureReplay {font-size:25px!important;color:#00335c!important;margin: 0 0 3px 0!important;font-family:"Maven Pro"!important;font-weight:normal!important;}
.page_dedie_runstar .aside-timeline .dateReplay {font-size:12px;color:#4bb0eb;font-family:"Maven Pro"!important;font-weight:normal!important;}
.page_dedie_runstar .meta-replay .titre-replay {font-family:"Maven Pro"!important;font-weight:normal;font-style: normal;font-size:25px;margin: 0 0 10px 0;color:#133754;}
.page_dedie_runstar .linfo-timeline .video-replay{margin: 0 0 15px 0;position: relative;}
.lien_chanson img{width: inherit!important;margin:0 auto!important;}
.lien_chanson a{margin-bottom:20px!important;display:block!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:25px!important;text-decoration:underline!important;color:#007fbe!important;}
.lien_chanson{text-align:center;width:100%;}
.page_dedie_runstar .timeline-wrap ul .icon-video{left:50%!important;top:50%!important;}
.widget-tab .widget-title span{text-transform:uppercase!important;}
.reagit{margin-bottom:20px!important;}
.page_dedie_runstar .block_echange_direct{background:#f0f5f9!important;border:1px solid #cdddeb!important;padding:10px 20px 10px 20px!important;margin:0 0 20px 0!important;}
.page_dedie_runstar .block_echange_direct h2{margin:0 0 10px 0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:30px!important;color:#1f4563!important;line-height:33px!important;}
.page_dedie_runstar .block_titre{background:#f0f5f9!important;border:1px solid #cdddeb!important;padding:13px 14px!important;margin:0 0 30px 0!important;}
.page_dedie_runstar .block_titre h2{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:bold!important;font-size:25px!important;color:#1f4563!important;}
.page_dedie_runstar .list_video ul{list-style-type:none!important;margin:0 0 20px 0!important;}
.page_dedie_runstar .list_video ul li{float: left!important;list-style-type: none!important;margin: 0 15px 10px 0!important;width:199px!important;}
.page_dedie_runstar .list_video ul li a.fond_noir{margin:0 0 5px 0!important;height:113px!important;position:relative!important;}
.page_dedie_runstar .list_video ul li:last-child{margin:0 0 10px 0!important;}
.page_dedie_runstar .list_video ul li .icon-video{background:transparent url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0 0!important;position:absolute!important;left:0!important;top:50%!important;}
.page_dedie_runstar .list_video ul li .hover-vdeos:hover{background:transparent url("https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0 0!important;position:absolute!important;left:76px!important;top:34px!important;}
.page_dedie_runstar .list_video ul li .tile-title a{font-family:"Maven Pro"!important;font-weight:bold!important;font-size:17px!important;color:#1f4563!important;margin:0!important;padding:0!important;}
.page_dedie_runstar span.roll{width:inherit!important;}
.page_dedie_runstar .topics-box .topiclist ul{border:0!important;padding:0!important;}


/*css popup*/
#popup_runstar{position:absolute!important;margin-left:0!important;left:20%!important;right:20%!important;top:50%!important;}
/*text droite*/
.ar-side-col.bloc-right .text-holder h2{font-family:"Maven Pro"!important;margin:5px 0 0 0!important;font-size:17px!important;color:#335572!important;}
.ar-side-col.bloc-right .text-holder p{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-size:14px!important;line-height:14px!important;}
.ar-side-col.bloc-right .text-holder p a{color:#335572!important;}
.ar-side-col.bloc-right .text-holder a{color:#335572!important;text-decoration:none!important;}
.ar-side-col.bloc-right .text-holder .readnext{float:right;bottom: 18px;color:#009eea!important;display: block;font-family: "Maven Pro",sans-serif;font-size: 14px;font-weight: 400;text-align: right;margin-top:10px!important;}
.ar-side-col.bloc-right .text-holder .readnext:hover{color:#e2001a!important;}
.page_dedie_runstar .info_candidat{margin:16px 0 20px 0!important;padding-bottom:20px!important;}
@media screen and (max-width:768px) {
#popup_runstar{width:85%!important;left:2%!important;max-width:none!important;min-width:inherit!important;margin-left:0!important;top:50%!important;right:inherit!important;}}
@media screen and (max-width:480px) {#popup_runstar{width:75%!important;}}
