.popup_newsletter .info-personnel .scan input, .popup_newsletter .info-personnel .scan select{
	width: 100%;
    height: 30px;
    padding: 0 5px;
    margin-top: 5px;
}
.popup_newsletter .info-personnel .scan select, .info-personnel input {
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

#wrapper-newsletter {
	color:#1F4563;
	font-family: "Maven Pro",sans-serif;
	font-size: 15px;
	border: 1px solid rgba(15,70,100,.12);
	padding-bottom: 25px;
	margin: auto;
}
.info-personnel span {
	font-weight: 500;
}
ul.list{
	list-style: none;
	display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex; 
	align-items: center;
	}

ul.list li{
	flex-grow: 1;
	padding: 0 5px;
}
ul.list li input{margin-right: 5px;}
.paragraphe{text-align: center; padding: 15px 25px 15px;}

.titre_frome{text-align: center;}

.logo-antenneR{
	margin: 0 auto 15px;
	width: auto !important;
}

/* FORM CSS */
/* The container-nl */

.form-nl {
	display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex; 
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 25px 0 15px;
}

.container-nl {
	flex: 1 1 auto;
	text-transform: uppercase;
}
.container-nl, .acceptance-nl {
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	font-weight: 500;
}

/* Hide the browser's default checkbox */
.container-nl input, .acceptance-nl input {
    position: absolute;
    opacity: 0;
	cursor: pointer;
	left: 0;
	z-index: 999;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-nl:hover input ~ .checkmark, .acceptance-nl:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-nl input:checked ~ .checkmark, .acceptance-nl input:checked ~ .checkmark {
    background-color: #1f4563;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-nl input:checked ~ .checkmark:after, .acceptance-nl input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-nl .checkmark:after, .acceptance-nl .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

[class*="thumbnail-nl"] {
	display: block;
    padding-top: 10px;
    width: 100%;
}

.title-nl {
	text-transform: uppercase;
}

.g-recaptcha {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	margin: 1em 0 2em;

}
.options_nl {
	padding: 10px 0;
}

.button-abonne {
	font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    border: none;
    padding: 15px 25px;
    letter-spacing: 1px;
    background-color: #007FBE;
    margin: auto;
    display: block;
    border: 1px solid transparent;
    line-height: 20px;
	
}

.terms {
	color: #aaa;
    font-size: 10px;
    line-height: 15px;
    text-align: justify;
	padding: 30px 0 15px;
	font-family: inherit;
}

@media screen and (max-width: 641px) {
	#wrapper-newsletter {
		border: none;
	}

	.paragraphe {
		padding:  15px;
	}
}