#popup .content-slidepopup{
    position: relative;
    width:1024px;
    background:#f9f9f9;
    border:1px solid #cdddeb;
    height:auto;
    padding:60px 190px 0 190px;
    margin:0 0 0 20px;
}
#popup .content-slidepopup a#prevpopup{
    background-image: url("https://www.antennereunion.fr/squelettes/assets/images/prev_arrow1.png");
    background-position: 20px center;
    left: 0;
}
#popup  .content-slidepopup a#nextpopup{
    background-image: url("https://www.antennereunion.fr/squelettes/assets/images/next_arrow1.png");
    background-position: calc(100% - 20px) center;
    background-position: -webkit-calc(100% - 20px) center;
    background-position: -moz-calc(100% - 20px) center;
    right: 0;
}
#popup .content-slidepopup a#prevpopup,#popup  .content-slidepopup a#nextpopup{
    position: absolute;
    top: 0%;/*270px;*/
    z-index: 99;
    background-color: none;/*#474747;*/
    background-repeat: no-repeat;
    background-size: 5% auto;
    bottom: 0;
    height: 100%;
    margin-top: 0;
    opacity: 0.7;
    position: absolute;
    width: 50%;

}
#popup #wrapperpopup {
    width: 1720px;
    padding: 0px;
    position: relative;
    height: 100%;
}
#popup .content{
    height: 100%
}
#popup #wrapperpopup .prevpopup{
    position: absolute;
    bottom: -125px;
    left: -40px;
    z-index: 99;
}
#popup #wrapperpopup .nextpopup{
    position: absolute;
    bottom: -125px;
    right: -40px;
    z-index: 99;
}
#popup .slideshowpopup{
    overflow: hidden;
        width:100% !important;
    /*max-height:800px !important;*/
    height: calc(100% - 45px) !important;
    height: -webkit-calc(100% - 45px)!important;
    height: -moz-calc(100% - 45px)!important;
    background: #000;
}
#popup .slideshowpopup img{
    /*width: 1024px;
    height: 580px;*/
    margin:0 auto;
    margin:0 auto !important;
    /*max-width:1024px !important;*/
    width:100% !important;
    max-height:100% !important;
    height:auto !important;
    left:0;
    right:0;
    max-width: 1024px;
}



#popup #navpopup {
    height: 70px;
    margin: 0 auto;
    max-width:840px
}

#popup a#prevpopup, #popup a#nextpopup {
    position: absolute;
    top: 50%;
    bottom:5px;
    display: block;
    z-index: 99;
    font-size: 80px;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0 10px #000000;
}
#popup a#prevpopup{
    left: 0;
}
#popup a#nextpopup {
    right: 0;
}
#popup .content-slidepopup a#nextpopup:hover, #popup .content-slidepopup a#prevpopup:hover{
    color: #980C13;
}

#popup #navpopup ul li {
    float: left;
    padding: 5px;
}

#popup .boxcaption {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 18px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: block ;
    top: 350px;
}
#popup .boxcaption p{
    color: #FFF;
    font-size: 12px;
    padding: 2px 10px;
}
#popup div.prevpopup a, #popup div.nextpopup a {
    display:block;
    width:26px;
    height:56px
}
.html5gallery-full-screen{z-index:1000000000!important;}
#popup #navpopup {bottom:-105px; width:calc(100% - 50px)!important;width: -webkit-calc(100% - 50px)!important;width: -moz-calc(100% - 50px)!important; padding-bottom:20px !important   /*max-width: 840px*/}
.fsp-close {top:0.65em!important;display:block; width:120px; height:25px; background:#007fbe; color:#fff; text-decoration:none; font-family:"Maven Pro"; font-weight:bold; text-align:center; padding-top:5px;}
#popup .diapo_title {position:absolute;max-height:50px;top:-32px;width:calc(100% - 300px) !important; font-family:'Maven Pro'; font-weight:bold; font-size:24px!important; color:#fff;left:20px}
#popup #pub_area {position:absolute; right:0; top:0;margin-right: 20px;}
#popup .image_title {width:calc(100% - 283px) !important;width: -webkit-calc(100% - 283px)!important;width: -moz-calc(100% - 283px)!important;z-index:100; left:0px; font-family:'Maven Pro'; font-weight:bold; font-size:13px; color:#1f4563;}

.fsp-content {
    max-width:1900px;
    width:100% !important;
    margin:0 0 0 0 !important;
    left:0 !important;
    right: 0 !important;
    top:45px !important;
    z-index: 100001;
    height: calc(100% - 45px) !important;
    height: -webkit-calc(100% - 45px)!important;
    height: -moz-calc(100% - 45px)!important;       
}
#popup{
    height: 100%!important
}
.fsp-wrapper{
    z-index: 100001000!important;
    height: 100%!important
}
#popup #wrapperpopup {
    max-width:1740px;
    width:100% !important;
    height: calc(100% - 200px) !important;
    height: -webkit-calc(100% - 200px)!important;
    height: -moz-calc(100% - 200px)!important;   
	display:block;
}
#popup .content-slidepopup {
    width:calc(100% - 470px) !important;
    width: -webkit-calc(100% - 450px)!important;
    width: -moz-calc(100% - 450px)!important;    
    padding:40px!important;
    height:100%!important;
    min-height: 625px;
    
}
#popup #navpopup li img {
    width:130px !important;
    height:72px !important;
}
#popup .slide2 {
    position:relative;
    /*max-width:1024px;*/
    margin:0 auto;
    max-height:800px;
    height:100%!important;
}
#popup .bloc_next_prev{
    width:100%;
    max-width: 910px;
    position:relative;
    margin:0 auto;
    left: 0;
    bottom: -100%;
}






#wrapper .content-slide{
    position: relative;
}
#wrapper .content-slide a#prev, #wrapper .content-slide a#next{
    position: absolute;
    top: 160px;
    z-index: 99;

}
#wrapper .content-slide a#prev{
    left: 10px;
}
#wrapper .content-slide a#next{
    right: 10px;
}

#wrapper {
    width: 620px;
    margin: 20px auto;
    background: #fff;
    padding: 0px;
    position: relative;
    height: 420px;
}
#wrapper .prev{
    position: absolute;
    bottom: 22px;
    left: 10px;
    z-index: 99;
}
#wrapper .next{
    position: absolute;
    bottom: 22px;
    right: 10px;
    z-index: 99;
}
#wrapper .slideshow{
    overflow: hidden;
    cursor:pointer;
}
#wrapper .slideshow img{
    width: 620px;
    height: 350px;
}

#wrapper #nav {
    height: 70px;
    margin: 0 auto;
}

#wrapper .content-slide a#prev, #wrapper .content-slide a#next {
    position: absolute;
    top: 110px;
    display: block;
    z-index: 99;
    font-size: 80px;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0 10px #000000;
    width: 28px;
    height: 60px;
    text-indent: -999em;
    opacity:0.5;

}
#wrapper .content-slide a#prev{
    left: 25px;
    background: url(https://cdn.antenne.re/linfo/squelettes/assets/jcarousel-lite/images/arrows.png) center top no-repeat;
}
#wrapper .content-slide a#next {

    right: 25px;
    background: url(https://cdn.antenne.re/linfo/squelettes/assets/jcarousel-lite/images/arrows.png) center bottom no-repeat;

}
#wrapper .content-slide a#next:hover, #wrapper .content-slide a#prev:hover{
    opacity:1;
}


#wrapper #nav ul li {
    float: left;
    padding: 5px 0;
    margin: 0 0 0 10px!important;
    height: 72px!important
}
#wrapper .boxcaption {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 18px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: block ;
    top: 350px;
}
#wrapper .boxcaption p{
    color: #FFF;
    font-size: 12px;
    padding: 2px 10px;
}
#wrapperpopup .current-slide .layerOn{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0px #fff inset;
    color: #fff;
    display: block;
    height:46px;
    text-align: center;
    top: 5px;
    width: 130px;
    position:absolute;
    font-family: 'Maven Pro',sans-serif;
    padding-top: 27px;
    cursor:pointer;
}
#wrapper .current-slide .layerOn{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 3px #fff inset;
    color: #fff;
    display: block;
    height:72px;
    text-align: center;
    top: 2px;
    width: 124px;
    position:absolute;
    font-family: 'Maven Pro',sans-serif;
    padding-top: 27px;    
    cursor:pointer;
}
#wrapperpopup .dessous_image{
    position:absolute; 
    z-index:100; 
    bottom:-30px; 
    width:100%;
    min-height: 40px;
    vertical-align: top
}
#wrapperpopup .social_box{
    float:right;
    width:283px
}
#popup .image_alt{
    position:absolute; 
    z-index:100; 
    bottom:50px; 
    text-align: right;
    font-family: 'Maven Pro',sans-serif;
    font-size: 12px;
    right:5px;
    color:#fff
}
/*@media (min-device-width: 768px) and (max-device-width : 1024px) {
    #popup #pub_area{
        display: none!important;
    }
    #wrapperpopup .dessous_image{
        bottom:0px!important;; 
    }    
    #popup .content-slidepopup {
        padding:10px!important;
        width: calc(100% - 60px) !important;
        width: -webkit-calc(100% - 60px)!important;
        width: -moz-calc(100% - 60px)!important;
        height:620px !important;
    }
    #popup #navpopup {
        bottom: -80px;
        font-size: 10px;
    }
    #popup #wrapperpopup .prevpopup{
        bottom: -105px;
        left:-10px
    }
    #popup #wrapperpopup .nextpopup{
        bottom: -105px;
        right: -10px;
    }  
    #popup .image_title {
        width:100%!important
    } 
    #popup .content {
        padding-bottom:10px !important;
    }
}
@media (max-device-width: 767px) {
    #popup #pub_area{
        display: none!important;
    }
    #wrapperpopup .dessous_image{
        bottom:0px!important;; 
    }     
    #popup .content-slidepopup {
        padding: 10px!important;
        width: calc(100% - 60px) !important;
        width: -webkit-calc(100% - 60px)!important;
        width: -moz-calc(100% - 60px)!important;
        height: 450px !important;
    }
    #popup #navpopup {
        bottom: -80px;
    }
    #popup #wrapperpopup .prevpopup{
        bottom: -105px;
        left:-10px
    }
    #popup #wrapperpopup .nextpopup{
        bottom: -105px;
        right: -10px;
    }  
    #popup .image_title {
        width:100%!important;
        font-size: 10px;
    }
    #popup .content {
        padding-bottom:10px !important;
    }
}*/
.html5gallery-title-0{height:320px!important;overflow-y:scroll!important;}
.inner_slider.html5gallery.content-slidepopup{width:70%!important;}
.html5gallery-container-0,.html5gallery-box-0,.html5gallery-elem-0{width:100%!important;left:0!important;}
.html5gallery-elem-img-0,.html5gallery-elem-video-0{width:50%!important;}
.html5gallery-title-0{width:45%!important;margin:0 0 0 10%!important;}
.html5gallery-elem-img-0 img,.html5gallery-elem-video-0 embed{left:0!important;position:relative!important;width:100%!important;max-width:370px!important;}
#pub_area{width:20%!important;margin:0!important;}
#pub_area video{margin:0 auto!important;}
#pub_area img{width:100%!important;max-width:300px!important;height:auto!important;margin:0 auto!important;}
.headerbar .close_Box{margin-right:0!important;}
.html5gallery-container-0{position:relative!important;}
.html5gallery-elem-image-0{padding:0!important;}
.html5gallery-elem-img-0{padding:0!important;}
.html5gallery-elem-0{padding:4px!important;}
#pub_area{display:block!important;}
.html5gallery-right-0{left:inherit!important;}
.html5gallery-car-0{width:100%!important;}
.html5gallery-car-list-0{width:100%!important;left:0!important;}
.html5gallery-car-mask-0{left:5%!important;width:90%!important;position:relative!important;visibility:visible!important;}
.html5gallery-tn-selected-0,.html5gallery-tn-0{display:inline-block!important;}
@media (max-width:1000px) {.html5gallery-car-0,.html5gallery-car-list-0{width:100%!important;left:0!important;}.html5gallery-car-mask-0{left:25px!important;width:100%!important;}}
@media (max-width:767px) {#pub_area {bottom:0!important;margin: 0 !important;position: absolute;width: 100% !important;left:0!important;}.inner_slider.html5gallery.content-slidepopup{width:100%!important;}.section_slider{height:1280px!important;}.html5gallery-full-screen-overlay{height:1500px!important;}.logo_carre_pub_droit{text-align:center!important;}
.html5gallery-elem-img-0,.html5gallery-elem-video-0{
    height: 200px !important;
    width: 100% !important;
}
.html5gallery-title-0 {
    margin: 0% !important;
    top: 260px!important;
    width: 100% !important;
}
.html5gallery-title-0 {
    height: 145px !important;
    overflow-y: scroll !important;
}
.html5gallery-elem-img-0 img,.html5gallery-elem-video-0 embed{max-width:none!important;width:100%!important;}
.html5gallery-elem-img-0{margin-left:0!important;}
/*.html5gallery-car-0{display:none!important;}*/
.inner_slider.html5gallery.content-slidepopup,.html5gallery-container-0,.html5gallery-box-0{padding:0!important;}
.html5gallery-box-0{
    height: 200px !important;
    width: 100% !important;
}
.html5gallery-container-0 div.html5gallery-elem-img-0{
    height: 200px !important;
    width: 100% !important;
}
.html5gallery-title-0{background:#fff!important;left:0!important;}
.section_slider{margin:0!important;}
.html5gallery-elem-0{height:300px!important;}
}

