/* ==========================================================
                  jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/   in page 3
============================================================= */

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize; }
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }
/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; position: relative; -webkit-border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px }
.flex-caption { background: transparent;color: #FFF;font-size: 2.8em;font-weight: bold;margin-bottom: 0;max-width: 50%;  padding: 20px; position: absolute; text-transform: uppercase;top: 35%;z-index: 500;text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.3)}
/* Direction Nav */
.flex-direction-nav a { background: url("../img/bg/bg_direction_nav.png") no-repeat scroll 0 0 #303441;
                        cursor: pointer;display: block;height: 47px;margin: -20px 0 0;opacity: 0;position: absolute;text-indent: -9999px; top: 50%;
                        width: 44px;}
.flex-direction-nav .flex-next { background-position: 100% 0; right: 0; }
.flex-direction-nav .flex-prev { left: 0; }
.flexslider:hover .flex-next { opacity: 0.8; right: 0; }
.flexslider:hover .flex-prev { opacity: 0.8; left: 0; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .disabled { opacity: .3!important; filter:alpha(opacity=30); cursor: default; }
/* Control Nav */
.flex-control-nav { width: 100%; position: absolute; text-align: center;  top: 90%; z-index: 9999;}
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline;
}
.flex-control-paging li a { width: 11px; height: 11px; display: block; background-color: #214563; cursor: pointer; text-indent: -9999px; box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0, 0, 0, 0.7); }
.flex-control-paging li a.flex-active { background-color: #009eea; cursor: default; }
.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }
.flex-control-thumbs img:hover { opacity: 1; }
.flex-control-thumbs .active { opacity: 1; cursor: default; }
@media (min-width: 768px) {
    .flex-caption{font-size:1.5em;text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)}
}
@media (min-width: 320px) and (max-width: 769px){
    .flex-caption{font-size:.9em;text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)}
}	
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 0;
    }
}