.info-personnel label.checkbox-inline{
    width: 100%;
    padding-left: 0;
}
.info-personnel .my-error-class, .my-error-class {
    color: red;
    font-weight: normal;
    font-size: 13px;
}
.content_accept_condition .my-error-class{
	position: absolute;
	bottom: -24px;
}
.info-personnel .legendevideo{
	font-size: 13px;
    font-style: italic;
    margin-bottom: 20px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.breadcrumb>li+li::before {
    color: #c9dded!important;
    content: ""!important;
    display: inline-block!important;
    font-family: FontAwesome!important;
    font-size: 12px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 1!important;
    margin: 0 6px 0 0!important;
}
.spinner-border{
	position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 9;
}
.titre_frome {
    text-align: center;
    padding: 0 15px 15px 15px;
}

.info-personnel a.remove-file{
	position: absolute;
    top: 10px;
    right: -3px;
    background: #fff;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 15px !important;
    z-index: 1;
}
#toTop{
	bottom: 105px;
}
.ar-main-col {
    width: 630px;
}
@media ( max-width: 620px ) {
	.content_accept_condition .my-error-class{
		bottom: -37px;
	}
}