.form_wrap .app_title {
    color: #505050;
    font-family: "Maven Pro",sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 20px 0;
}
.form_wrap {
    border-bottom: 1px solid #d8e6f1;
    margin: 0 0 20px 0;
}

.form_wrap .spip_descriptif{
    display: none; 
}

.form_wrap .formrow {
    margin: 0 0 20px 0;
}
.form_wrap .formrow label, .form_wrap .formrow p{
    color: #505050;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: block;	
    margin: 0 0 5px 0;
}
.form_wrap .formrow label span, .form_wrap .formrow p span{
    color: #c5494b;
}

.form_wrap .formrow .input-large {
    border: 1px solid #bbbbbb;
    width: 157px;
    padding: 5px;
}

.form_wrap .formrow .textarea-large {
    border: 1px solid #bbbbbb;
    width: 480px;
    padding: 5px;
    height: 100px;
}
.form_wrap .formrow .btn_submit {
    cursor: pointer;
    border: 1px solid #3079ed;
    background-color: #498af3;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px 7px 15px;
}
.form_wrap .formrow .subscription-form .subscribe-label {
    font-size: 13px;
}