.form_wrap .formrow .input-large{
    width: 200px;
}
.form_wrap .formrow .input-large.video{
    width: 300px;
}
.form_wrap .formrow label a{
    text-decoration: underline;
}
.form_wrap .formrow label.labelinput{
    font-weight: 600;
}
.form_wrap .formrow.jaccepte {
    margin: 0 0 10px;
}
.form_wrap .formrow .input-large {
    border: 1px solid #bbbbbb;
    height: 25px;
    padding: 5px;
    width: 200px;
}
.form_wrap .formrow p.erreur {
    color: #e2001a;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px;
}
.form_wrap p.formulaire_erreur {
    color: #e2001a;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 5px;
}

.form_wrap p.formulaire_ok {
    color: #2E6089;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 5px;
}

.calendrier_rugby {
    border: 15px solid #e6e6e6;box-shadow: 5px 5px 20px #ccc;display: none;font: 12px Helvetica,sans-serif;padding-bottom: 5px;position: relative;z-index: 100002!important;background-color: #fff; padding:10px;max-width: 630px; }

.calendrier_rugby .modalnav {
    background: url("http://www.linfo.re/squelettes/assets/img/close.png") repeat scroll -40px 0 rgba(0, 0, 0, 0);cursor: pointer;height: 35px;position: absolute;right: -30px;top: -33px;width: 37px;
}