@charset "utf-8";
/* CSS Document */
.form_wrap.generation_runstar .formrow label, .form_wrap.generation_runstar .formrow p {color: #505050;display: block;font-family: "Maven Pro",sans-serif;font-size: 15px;font-weight: 500;margin: 0 0 5px;}
.form_wrap.generation_runstar .formrow label.error {color: #FB3A3A;display: block;font-family: "Maven Pro",sans-serif;font-size: 12px;font-weight: 500;margin: 0 20px 5px;display: inline-block;}
.form_wrap .formrow{margin-bottom:10px!important;}
.form_wrap .formrow .input-large {border: 1px solid #bbbbbb;padding: 5px;width:210px;height:25px;}
.form_wrap .formrow label span, .form_wrap .formrow p span {color: #c5494b!important;font-size:22px!important;}
.formrow .erreur {color: #e2001a;float: left;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 400;margin: 10px 0;width: 100%;}
.formrow .selectpicker{border: 1px solid #bbbbbb;padding: 5px;width:212px!important;height:30px!important;}
.formrow .btn_submit{background-color: #4d90fe!important;background-image: -moz-linear-gradient(center top , #4d90fe, #4787ed)!important;border: 1px solid #3079ed!important;box-shadow: none;color: #fff!important;border-radius: 2px!important;cursor: pointer!important;font-size: 11px!important;font-weight: bold!important;line-height: 27px!important;margin-right:16px!important;min-width: 54px!important;outline: 0 none!important;padding: 0 15px!important;text-align: center!important;white-space: nowrap!important;}
.formrow span.legende{width:100%!important;display:block!important;margin-bottom:10px!important;font-size:12px!important;color:#000!important;font-weight:normal!important;margin-top:5px!important;}

/*pop up*/

.calendrier_rugby .impression{width:100%!important;margin-bottom:10px!important;/*float:left!important;*/}
.calendrier_rugby .impression a{float:right!important;}
.calendrier_rugby .img_impression{margin:10px 0!important;}
.calendrier_rugby p{margin:0 0 10px 0!important;padding:0!important;float:left!important;width:100%!important;}
.calendrier_rugby p label{font-weight:bold!important;margin:0 10px 0 0!important;float:left!important;font-size:18px!important;}
