.programme-tv-resized ul.navJours {
	overflow:hidden;
	min-height:2750px;
}

.programme-tv-resized ul.navJours li {
	width:110px;
}

.table-container-resized section>ul{
	width: 800px
}

.programme-tv-resized{
	min-width:350px !important;
	overflow-y:scroll;
}

.table-container-resized section.lst_jours{
	max-width:330px;
	min-width:330px !important;
}

.table-container-resized section.programme-tv-resized{
	max-width:340px;
	min-width:340px !important;
}
.table-container-resized{
	position: static;
}

.nav-grille a{
	margin-top: 25px;
	left:inherit !important;
	right:inherit !important;
}

.nav-grille .previous-column{
	margin-left: -20px !important;
}

.nav-grille .next-column{
	margin-left: 320px !important;
}

.lst_jours{
	max-height:100px
}


.table-container-resized .nav-grille{
}
