/***Theme Name: Joeta Sytle***/


.menu-menu2{
	display: none;
}

.programme-n3 div.breadcrumbs{
	padding-top: 15px !important;
}

/*.programme-n3 .page_container{
	background: url(../img/habillage_joeta.jpg) no-repeat top center #110c09 !important;
}*/

.container-section .media-heading{
	background: #f5f9fc url(../img/logo-score.png) no-repeat 97% center;
}

.programme-n3 #mainContainer .main-inner{
	padding-top: 0;
}

