.list-selfies ul li {
	float: left;
	list-style-type: none;
	width: 200px;
	margin: 0 15px 20px 0;
}
.list-selfies ul li p{
	color: #1f4563;
	font-family: "Maven Pro",sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.list-selfies ul li.item3 {
	margin-right: 0;
}
.list-selfies ul li .socialSharing img{
	width: auto;
}
.list-selfies {
	position: relative;
}
.modal-selfies {
	background-color: #eff4fa;
	position: absolute;
	top: 115px;
	left: 0;
	border: 1px solid #7c99b6;
	border-radius:15px
}
.modal-selfies .mfp-figure img {
	border-top-right-radius :15px;
	border-top-left-radius :15px;
}
.modal-selfies .mfp-close {
	position: absolute;
	background: url(../img/bg/close_md.png) no-repeat center;
	width: 32px;
	height: 32px;
	right: 0;
	top: 0;
	border: none;
	cursor: pointer;
}
.modal-selfies .lb-details {
	padding: 10px;
}
.modal-selfies .lb-details p {
	color: #09141c;
	font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.modal-selfies .modal_sociaux {
	float: right;
	margin: 25px 0 0 0;
}
.article-section .text-body p a {
	font-weight: 700;
}
.article-section .text-body p a:hover {
	text-decoration: underline;
}