@charset "utf-8";

/* CSS Document */

/*top*/

body a{outline:none!important;}

.header-container .container-ar {background-color: #0a1118!important;margin: 0!important;width:100%!important;}

.header-container .container-ar ul {margin:0!important;width:100%!important;list-style-type:none!important;}

.menu_top ul li {float: left;height: 10px;line-height: 10px;list-style-type: none;margin: 0;}

.menu_top ul li a { border-left: 1px solid #888888!important;color: #999999!important;display: block!important;font-family: "Open Sans",sans-serif!important;font-size: 11px!important;font-weight: 600!important;height: 10px!important;line-height: 10px!important;padding: 0 10px!important;text-decoration: none!important;}

.menu_top ul li:first-child a{border:0!important;}

.menu_top ul li a:hover{color:#fff!important;}

.header-container .menu_top{padding-top:8px!important;padding-bottom:8px!important;}

/*header_image*/

.ad-banner {background: #ffffff none repeat scroll 0 0;padding:5px 0;position:relative;z-index: 99999;}

.container-ar{width:100%!important;margin:0!important;/*text-align:center!important;*/}

.header-container{background-color:#0a1118!important;}

/*header menu*/

.header{background: #ffffff url(../../img/responsive/bg_menu3.png) repeat-x scroll left bottom;box-sizing: border-box;padding: 0;position: relative;width: 100%;z-index: 9999;}

.header .wrapper-header {margin:0;width:100%;position:relative;}

.wrapper-header .container-ar .logo-ar {background-color: #ffffff;float: left;margin: 0 20px 0 0;}

.logo-ar a img {position: absolute;top: 0;width: 150px;z-index: 100;}

.header .nav-container {float: left;margin: 20px 0 17px 155px;width:625px;}

.header .nav-container  .navbar-collapse {float:left!important;/*height:21px!important;*/line-height:21px!important;margin:0!important;padding:0!important; overflow:inherit!important;}

.info-nav {height: auto;margin:0;position: relative;}

.navbar ul.mainmenu {background: transparent none repeat scroll 0 0;margin: 0;list-style-type:none;padding:0!important;}

.social-top {border-right: 1px solid #305c80;float: left;margin:5px 0 0 !important;padding: 0 7px 0 0;position: relative;}

.social-top ul{margin:0!important;padding:0!important;}

.social-top ul li {float: left;list-style-type: none;margin: 0 5px;}

.social-top ul li a {background: transparent url(../../img/responsive/icon-sociaux.png) no-repeat scroll 0 0;display: block;float: left;height: 25px;text-indent: -999em;width: 25px;}

.social-top ul li .fb {background-position: 0 0;}

.social-top ul li .fb:hover{background-position:-56px 0;}

.social-top ul li .twitter {background-position:1px -27px;}

.social-top ul li .twitter:hover{background-position:-55px -27px;}

.social-top ul li .gplus {background-position: 0 -54px;}

.social-top ul li .gplus:hover{background-position:-56px -54px;}

.social-top ul li .nl {background-position: 0 -82px;}

.social-top ul li .nl:hover{background-position:-56px -82px;}

.block-search {margin-top: 10px;min-height: 25px;}

.block-search .input-group-button {height: 25px;margin-bottom: 0;position: absolute;right: 0;top: -1px;width: 25px;}

.block-search .search, .block-search .search:hover {background: transparent url(../../img/responsive/bt-search.png) no-repeat scroll center top;cursor: pointer;display: block;height: 25px;text-indent: -999em;

                                                    width: 100%;}

.navbar-toggle .icon-bar{background-color:#000!important;}

.header-container .container-ar{width:100%!important;margin:0!important;}

.adv-top.ad-banner{width:100%!important;text-align:center!important;}

.categoriesN1{display:none;height: 392px;left: -155px;padding: 10px 0 0;position: absolute;top: 33px;width: 1000px;z-index: 10;}

#menuLareunion {background: #1f4563 url(../../img/responsive/bg-pg.jpg) no-repeat scroll 0 -4px;}

#menuLareunion .menuExclu {background-color: #1f4563;padding: 19px 20px 17px;}

#menuLareunion2 .menuExclu {background-color: #1f4563;padding: 19px 20px 11px;}

.menuExclu .listLiens {border-left: 1px solid #2c618b;float: left;margin: 0 20px 20px 0;padding: 0 0 0 20px;width: 280px;}

.menuExclu .listLiens:first-child {border: 0 none;padding: 0;}

.menuExclu .listLiens .listLiensTitle{color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;margin: 0 0 15px;text-transform: uppercase;}

.menuExclu .listLiens ul li {list-style-type: none;margin: 0 0 6px;text-align:left;}

.menuExclu .listLiens ul{margin:0!important;padding:0!important;}

.menuExclu .listLiens ul li a {color: #97bedf;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 500;text-transform: uppercase;}

.menuExclu .listLiens ul li a:hover{text-decoration:none!important;}

.menuExclu .listLiens ul li a:hover {color: #ffffff;}

.content-slide #nav {height: 60px;overflow: hidden;}

.menuExclu .listLiens .listLiensTitle {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;text-transform: uppercase;text-align:left;}

.menuExclu .listLiens .listLiensTitle  a{color:#fff!important;}

.archives-programme-menu {padding: 10px 0 0;width: 100%;}

.archives-pr {display: inline-block;float: right;font-family: "Maven Pro",sans-serif;font-size: 16px;font-weight: 700;text-transform: uppercase;transition: all 300ms ease 0s;}

.fa-chevron-right {color: #2b5f88;content: "";display: inline-block;font-family: FontAwesome;font-size: 14px;font-style: normal;font-weight: normal;line-height: 1;margin: 0 4px 0 0;}

.archives-pr .fa-chevron-right {color: #2b5f88!important;}

.archives-pr a {color: #ffffff;display: inline-block;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 600;text-transform: uppercase;transition: all 300ms ease 0s;}

.archives-pr a:hover{text-decoration:none!important;}

.news-pr-title {clear: both;color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;margin: 0 0 10px;text-transform: uppercase;width: 100%;text-align:left!important;padding:10px 0;}

.ligne-news {float: left;margin: 0;width: 100%;}

.ligne {border-color: #2c618b;border-style: solid;border-width: 0 0 1px;margin:-10px 0 0 112px;}

.news-block-menu {margin: 0;width: 100%;}

.news-bloc-container {float: left;margin: 0 48px 0 0;width: 272px;text-align:left!important;}

.news-bloc-container .image-news{float: left;height: 65px;margin-right: 10px;overflow: hidden;position: relative;width: 116px;}

.fond_noir {background: #000000 none repeat scroll 0 0;display:block;height: 100%;overflow: hidden;position: relative;width: 100%;}

.page_dedie_runstar span.roll {width: inherit !important;}

span.roll {background: rgba(0, 0, 0, 0) url(../../img/responsive/bg/lecture-article.png) no-repeat scroll center center;height: 100%;opacity: 0;position: absolute;width: 100%;z-index: 5;}

.chapo-bloc {float: left;width: 146px;}

.news-pr-description {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 500;line-height: 100%;text-align:left!important;}

.news-pr-description a{color:#fff!important;}

.news-pr-description a:hover{text-decoration:none!important;color: #97bedf!important;}

.menuExclu .listLiens-programme ul li .news-pr-description-title a,.news-pr-description .news-pr-description-title a {color: #97bedf!important;display: block;font-family: "Maven Pro",sans-serif;

                                                                                                                      font-size: 13px;font-weight: 500;line-height: 100%;margin: 8px 0 0;text-transform: uppercase;}

#menuLareunion2 {background: #1f4563 url(../../img/responsive/bg-pg.jpg) no-repeat scroll 125px -4px;}

.bloc_pub {display: block;height: 21px;position: absolute;right:0;text-align: center;top: -19px;width: 100%;z-index: 10;}

#menuLareunion2 .menuExclu {background-color: #1f4563;padding: 19px 20px 11px;}

.prog-block {margin: 0 0 20px 0;width: auto;}

.menuExclu .listLiens-programme {border-left: 1px solid #2c618b;float: left;height: 334px;margin: 0 20px 0 0;padding: 0 0 0 20px;width: 280px;}

.menuExclu .listLiens-programme:first-child {border: 0 none;padding: 0;}

.menuExclu .listLiens-programme .listLiensTitle-programme {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 700;margin: 0 0 15px;text-transform: uppercase;text-align:left!important;}

.menuExclu .listLiens-programme ul{margin:0!important;padding:0!important;}

.menuExclu .listLiens-programme ul li {list-style-type: none;margin: 0 0 6px;}

.progr-bloc-container1 {float: left;margin-bottom: 10px;width: 272px;}

.image-news {float: left;height: 65px;margin-right: 10px;overflow: hidden;position: relative;width: 116px;margin-bottom:0!important;}

.menuExclu .listLiens-programme ul li a {color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 500;}

.image-news span.roll {width: inherit !important;left:0!important;}

.archives-replay-menu {float: left;padding: 10px 0 0;width: 100%;}

.archives-replay-title {display: inline-block;float: right;font-family: "Maven Pro",sans-serif;font-size: 16px;font-weight: 700;text-transform: uppercase;transition: all 300ms ease 0s;}

.archives-replay-title a {color: #ffffff;display: inline-block;font-family: "Maven Pro",sans-serif;font-size: 17px;font-weight: 600;text-transform: uppercase;transition: all 300ms ease 0s;}

.archives-replay-title a:hover{color:#97bedf;}

.archives-replay-title a:hover{text-decoration:none!important;}

.archives-replay-title .fa-chevron-right {color: #2b5f88;}

.menuExclu .listLiens-programme .listLiensTitle-programme a{color:#fff!important;}

.menuExclu .listLiens-programme ul li .news-pr-description-title a:hover,.news-pr-description .news-pr-description-title a:hover{text-decoration:none!important;color:#fff!important;}

/*page container*/

.section-bandeau {height: 267px;position: relative;}

.section-bandeau .bandeau-inner {bottom: 20px;display: block;padding: 25px 0 0;position: absolute;right: 0;}

.section-bandeau .bandeau-inner .bandeau-right {float: right;position: relative;z-index: 4;}

.bandeau-right .b-title {background: rgba(33, 69, 99, 0.8) none repeat scroll 0 0;clear: both;color: #ffffff;float: right;font-family: "Maven Pro",sans-serif;font-size: 40px;font-weight: 700;padding: 0 20px 5px;}

.menu-menu2 {background-color: #eff4fa;}

.menu-menu2 ul li {float: left;list-style-type: none;margin:0!important;padding:0!important;}

.menu-menu2 ul li a {background: transparent url(../../img/responsive/menu2.gif) no-repeat scroll left center;color: #1f4563;display: block;font-family: "Maven Pro",sans-serif;font-size: 16px;font-weight: 400;

                     line-height: 120%;padding: 12px 20px;text-decoration: none;text-transform: uppercase;transition: all 0.3s ease 0s;}

.menu-menu2 ul{margin:0!important;padding:0!important;}

.menu-menu2 ul li:first-child a{background-image:none!important;}

.menu-menu2 ul li a:hover, .menu-menu2 ul li a.active {background: #007fbe none repeat scroll 0 0;color:#ffffff;}

.programme-n3 #mainContainer .main-inner {border-top: 0 none;padding-top: 15px;}

.page_container .container-ar .main-inner {background-color:#ffffff;}

.programme-n3 #mainContainer .breadcrumbs {border-bottom: 1px solid #d8e6f1!important;padding:25px 15px 10px!important;background:#fff!important;}

.breadcrumb {background-color:#fff!important;border-radius:0!important;list-style: outside none none;margin-bottom:0!important;padding:0!important;}

.breadcrumbs ul li {color: #597d9f;float: left;font-family: "Maven Pro",sans-serif;font-size: 13px;font-weight: 400;line-height: 23px;list-style-type: none;}

.breadcrumbs ul li:first-child a {background: transparent url(../../img/responsive/fa-home.png) no-repeat scroll 0 0;display: inline-block;height: 20px;text-indent: -999em;width: 20px;}

.breadcrumb > li + li::before {color: #c9dded!important;content: ""!important;display: inline-block!important;font-family: FontAwesome!important;font-size: 12px!important;font-style: normal!important;font-weight: normal!important;line-height:1!important;margin: 0 6px 0 0!important;}

.footer {background-color: #214563;}

.header .wrapper-header{width:100%!important;margin:0!important;padding:0!important;background:none!important;}

.header{height:55px!important;}

.footer-copyright .container-ar {background-color:#0a1118;margin: 0;padding: 8px 0;text-align:center;width:100%;}

.footer-copyright p{color: #ffffff;font-family: "Maven Pro",sans-serif;font-size: 12px;font-weight: 400;line-height: 120%;text-align: center;}

.footer-copyright p a{color:#fff!important;text-decoration:#fff!important;}

.programme-n3 .page_container {margin: 0 auto;}

.bloc_bottom{width:100%!important;clear:both!important;text-align:center!important;}

.bloc_bottom .adv-bottom {border-top: 1px solid #cdddeb!important;padding:20px 0 0!important;margin-bottom:20px!important;}

#toTop{background: #007fbe none repeat scroll 0 0;border: medium none;border-radius: 500px;bottom: 20px;color: #ffffff;display: none;font-size: 26px;line-height: 100%;overflow: hidden;padding: 10px;

       position: fixed;right: 20px;text-align: center;text-decoration: none;transition: all 500ms ease 0s;}

#toTop:hover{background-color:#e2001a!important;}

/*footer*/

.footer .container-ar .column_block .block-title{color: #7caacb;font-family: "Open Sans",sans-serif;font-size:18px;font-weight: 400;margin: 0 0 8px;text-align:left;}

.footer .container-ar .column_block ul{border-top: 1px solid #437ca7;padding:14px 0 0;list-style-type:none!important;}

.footer .container-ar .column_block ul li {list-style-type:none;text-align:left!important;}

.footer .container-ar .footer-wrap {padding: 25px 0;}

.footer-bottom{background-color:#101f2c!important;}

.footer-copyright{background-color: #0a1118!important;}

.footer-widgets .row .col-md-12{padding-left:0!important;padding-right:0!important;}

.footer-widgets .row .col-md-7{padding-left:0!important;padding-right:0!important;}

.footer-widgets .row .col-md-5{padding-right:0!important;}

.footer-widgets .col-md-7 .column_block.col-md-4:first-child{padding-left:0!important;}

.footer-widgets .col-md-7 .column_block.col-md-4:last-child{padding-right:0!important;}

.footer-widgets .col-md-5 .column_block.col-md-6:last-child{padding-right:0!important;}

.footer .container-ar .column_block ul li a{color: #7caacb;font-family: "Open Sans",sans-serif;font-size: 13px;font-weight:400;text-decoration:none;}

.footer .container-ar .column_block ul li a:hover{color:#fff!important;}

.footer .footer-bottom .container-ar {background-color: #101f2c;padding: 25px 0 20px;}

.footer .footer-bottom .text-center{margin: 0 0 20px 0;}

.footer .footer-bottom .bottom-wrap{text-align:center!important;}

.footer .footer-bottom .bottom-wrap .text-center img{margin:0 auto!important;display:block!important;}

.footer-sociaux {margin: 0 auto;width:255px;}

.footer-sociaux ul{margin:0;padding:0;}

.footer-sociaux ul li {float:left;list-style-type:none;margin: 0 15px;}

.footer-sociaux ul li a {background: transparent url(../../img/responsive/icon-sociaux-01.png) no-repeat scroll 0 0;display: block;float: left;height:33px;text-indent: -999em;width:33px; opacity:1!important;position:relative!important;}

.tooltip-content::after {border-color: #1a1a1a rgba(0, 0, 0, 0) transparent;border-style: solid;border-width: 7px 7px 0;bottom: -6px;content: "";height: 0;left: 10px;position: absolute;width: 0;}

.tooltip-content {background-color: #1a1a1a;background-image: linear-gradient(to bottom, #404040, #1a1a1a);background-repeat: repeat-x;border-radius: 3px;bottom: 100%;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);color: #ffffff !important;font: 11px/1.6em "Arial",sans-serif;left: 0;margin: 0 0 -7px;min-width: 44px;opacity: 0;padding: 2px 5px;pointer-events: none;position: absolute;text-align: center;text-decoration: none;text-indent: 0;text-shadow: none;transition: opacity 0.3s ease 0s, margin 0.3s ease 0s;visibility: hidden;white-space: nowrap;z-index: 998;}

.footer-sociaux ul li a:hover .tooltip-content{ visibility:visible!important;}

.footer-sociaux ul li .fb-ar{background-position:-37px 0;}

.footer-sociaux ul li .fb-ar:hover{background-position:1px 0;}

.footer-sociaux ul li .tw-ar{background-position:-37px -37px;}

.footer-sociaux ul li .tw-ar:hover{background-position:1px -37px;}

.footer-sociaux ul li .google-ar{background-position: -37px -74px;}

.footer-sociaux ul li .google-ar:hover{background-position:1px -74px;}

.footer-sociaux ul li .nl-ar{background-position: -38px -111px;}

.footer-sociaux ul li .nl-ar:hover{background-position:0 -111px;}

#habillage-link-H,#habillage-link-G,#habillage-link-D{height:auto!important;}

.block-search{min-height:25px;margin-top:10px;}

.block-search .search,.block-search .search:hover{background: url(../../img/responsive/bt-search.png) no-repeat scroll center top transparent;height: 100%;text-indent: -999em;width: 100%;cursor: pointer;display: block;height: 25px;}

.wrapper-header .search-expand .button-search{background: url(../../img/responsive/bt-search.png) no-repeat scroll center 2px transparent;height: 100%;text-indent: -999em;width: 25px;cursor: pointer;display: block;height: 27px; border: medium none;width:25px}

.wrapper-header .search-expand {position: absolute;right: 0px;top: 15px;z-index: 9999;background: #f3f3f3;width: 25px;overflow: hidden;height: 25px;border-radius: 0 12px 12px 0!important;}

.wrapper-header .search-expand input.search, .wrapper-header .search-expand .input-search {width:100%;max-width:315px;border-style:none;background:none;background:hsla(0,0%,100%,0.24) no-repeat  10px center;padding:0px 4px 0px 15px;-moz-transition:all 0.7s ease 0s;-o-transition:all 0.7s ease 0s;-webkit-transition:all 0.7s ease 0s;transition:all 0.7s ease 0s;-webkit-box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;font-family:inherit;color: #9c9c9c;font-size: 13px;font-family: "Maven Pro",sans-serif;font-weight: 400;height: 25px;position: absolute;right: 0;line-height: 25px;border-radius: 0 12px 12px 0!important;}

.input-group-button{position: absolute;top:-1px;right: 0;margin-bottom: 0;width:25px;height:25px;}

.block_top_run_star{background:#f0f5f9!important;border:1px solid #e5e9ed!important;padding:13px 21px!important;margin:0 0 19px 0!important;}

.block_top_run_star h1{border-bottom:1px solid #e5e9ed!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:20px!important;color:#335272!important;margin:0 0 10px 0!important;padding:0 0 5px 0!important;}

.block_top_run_star p{color:#335272!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:16px!important;margin:0 0 26px 0!important;padding:0!important;}

.block_top_run_star p:last-child{margin:0!important;}

.ar-main-col {float: left;margin:17px 0 0 0;width: 630px;}

.programme-n3 .thumbimage {position: relative;}

.ar-main-col .post_fig {margin: 0 0 20px;}

.bloc-right {float: right;width: 310px;}

.bloc-right .row-pub{border-top: 1px solid #cdddeb;height: 1px;margin: 0 0 14px;}

.bloc-right .pub-container{margin: 0 auto 20px;padding: 17px 0 0;width:310px;overflow-x:hidden!important;}
.iframe_pub{width:100%!important;overflow-x:hidden!important;min-height:650px!important;min-height:auto!important;min-height:650px!important;}

.reagit{margin-bottom: 20px !important;}

.widget-tab .widget-title{border-bottom: 1px solid #d8e6f1;margin: 0 0 10px;}

.widget-tab .widget-title span {background-color: #007fbe;color: #ffffff;display: inline-block;float: left;font-family: "Maven Pro",sans-serif;font-size: 20px;font-weight: 700;padding: 5px 20px;}

.page_dedie_runstar .voir_plus.video-list.actu-en-continu span.roll{width:inherit!important;}

.page_dedie_runstar h2.section-titre-der{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:30px!important;color:#1f4563!important;color:#1f4563!important;}

.page_dedie_runstar .timeline-wrap ul {padding: 20px 0 0;list-style-type:none!important;}

.page_dedie_runstar .timeline-wrap ul li{margin-bottom:75px!important;}

.page_dedie_runstar .linfo-timeline .aside-timeline {background-color: #fff;float: left;padding: 5px 0 0;text-align: center;width:106px;}

.page_dedie_runstar .timeline-content {background-color: #f0f5f9;float:right;padding: 10px 20px;width: 460px;min-height:200px!important;min-height:auto!important;min-height:200px!important;}

.page_dedie_runstar .timeline-wrap ul li.linfo-item{background: url(../../img/responsive/timeline_bg.png) no-repeat 48px center!important;}

.page_dedie_runstar .aside-timeline .heureReplay {font-size:25px!important;color:#00335c!important;margin: 0 0 3px 0!important;font-family:"Maven Pro"!important;font-weight:normal!important;}

.page_dedie_runstar .aside-timeline .dateReplay {font-size:12px;color:#4bb0eb;font-family:"Maven Pro"!important;font-weight:normal!important;}

.page_dedie_runstar .meta-replay .titre-replay {font-family:"Maven Pro"!important;font-weight:normal;font-style: normal;font-size:25px;margin: 0 0 10px 0;color:#133754;}

.page_dedie_runstar .linfo-timeline .video-replay{margin: 0 0 15px 0;position: relative;}

/*.page_dedie_runstar .linfo-timeline .video-replay img{display:block;width:100%;}*/

.lien_chanson img{width: inherit!important;margin:0 auto!important;}

.lien_chanson a{margin-bottom:20px!important;display:block!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:25px!important;text-decoration:underline!important;color:#007fbe!important;}

.lien_chanson{text-align:center;width:100%;}

.page_dedie_runstar .timeline-wrap ul .icon-video{left:50%!important;top:50%!important;}

.widget-tab .widget-title span{text-transform:uppercase!important;}

.reagit{margin-bottom:20px!important;}

.page_dedie_runstar .block_echange_direct{background:#f0f5f9!important;border:1px solid #cdddeb!important;padding:10px 20px 10px 20px!important;margin:0 0 20px 0!important;}

.page_dedie_runstar .block_echange_direct h2{margin:0 0 10px 0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:normal!important;font-size:30px!important;color:#1f4563!important;line-height:33px!important;}

.page_dedie_runstar .block_titre{background:#f0f5f9!important;border:1px solid #cdddeb!important;padding:13px 14px!important;margin:0 0 30px 0!important;}

.page_dedie_runstar .block_titre h2{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-weight:bold!important;font-size:25px!important;color:#1f4563!important;}

.page_dedie_runstar .list_video ul{list-style-type:none!important;margin:0 0 20px 0!important;padding:0!important;}

.page_dedie_runstar .list_video ul li{float: left!important;list-style-type: none!important;margin: 0 15px 10px 0!important;width:199px!important;}

.page_dedie_runstar .list_video ul li a.fond_noir{margin:0 0 5px 0!important;height:113px!important;position:relative!important;display:table-cell!important;vertical-align:middle!important;}

.page_dedie_runstar .list_video ul li:last-child{margin:0 0 10px 0!important;}

.page_dedie_runstar .list_video ul li .icon-video{background:transparent url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll 0 0!important;position:absolute!important;left:40%!important;top:40%!important;}
.icon-video{background:transparent url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll 0 0!important;position:absolute!important;left:40%!important;top:40%!important;}
.format-video{background-image:none!important;}
.page_dedie_runstar .list_video ul li .hover-vdeos:hover{background:transparent url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll 0 0!important;position:absolute!important;left:76px!important;top:34px!important;}
.page_dedie_runstar .format-video span.roll{background:rgba(0, 0, 0, 0)!important;}
.page_dedie_runstar .list_video ul li .tile-title a{font-family:"Maven Pro"!important;font-weight:bold!important;font-size:17px!important;color:#1f4563!important;margin:0!important;padding:0!important;}

.page_dedie_runstar span.roll{width:inherit!important;}

.page_dedie_runstar .topics-box .topiclist ul{border:0!important;padding:0!important;list-style-type:none!important;}

.page_dedie_runstar .info_candidat{margin:16px 0 20px 0!important;}

//.contenu_xs .content_block{display:none!important;}

.menu_xs{display:none!important;}

span.roll {background: url(../../img/responsive/lecture-article.png) no-repeat scroll center center;height: 100%;

           opacity: 0;

           position: absolute;

           width: 100%;

           z-index: 5;

}

.video-replay .icon-video {

    background: transparent url(../../img/responsive/ico_video_45.png) no-repeat scroll 0 0;

    height: 45px;

    left: 340px;

    position: absolute;

    top: 190px;

    width: 46px;

}

/*css popup*/

#popup_runstar{position:absolute!important;margin-left:0!important;left:20%!important;right:20%!important;}

#page_container {

    background-color: #0e1223!important;

    background-image: url(https://cdn.antenne.re/antenne/IMG/pub/Habillage-RS_orangina.jpg);

    background-position: center 0;

    background-repeat: no-repeat;

    position: relative;

}

.topics-box .topiclist ul {

    border-top: 1px solid #d8e6f1;

    display: block;

    padding: 20px 0;

}

.topics-box .topiclist ul li {

    line-height: 120%;

    list-style-type: none;

}

.topics-box .topiclist ul li {

    border-bottom: 1px solid #d8e6f1;

    line-height: 120%;

    list-style-type: none;

    margin: 0 0 20px;

    padding: 0 0 20px;

    position: relative;

}

.topics-box .topiclist ul li .thumb-wrapper {

    float: left;

    height: 174px;

    overflow: hidden;

    position: relative;

    width:50%;

    padding-right:15px;

}

.topics-box .topiclist ul li .topic-title {

    color: #1f4563;

    font-family: "Maven Pro",sans-serif;

    font-size: 20px;

    font-weight: 500;

    line-height: 100%;

    margin-top:0;

    margin-bottom: 10px;

}

.topics-box .topiclist ul li .text-holder .txt-extract {

    color: #1f4563;

    font-family: "Maven Pro",sans-serif;

    font-size: 16px;

    font-weight: 400;

    line-height: 120%;

}

.topics-box .topiclist ul li .text-holder .txt-extract a{color: #1f4563;}

.topics-box .topiclist ul li .text-holder .txt-extract a:hover{text-decoration:none;color: #1f4563;}

.topics-box .topiclist ul li .text-holder .readnext {

    bottom: 18px;

    color: #009eea;

    display: block;

    font-family: "Maven Pro",sans-serif;

    font-size: 14px;

    font-weight: 400;

    position: absolute;

    right: 0;

    text-align: right;

}

.topics-box .topiclist ul li .text-holder .readnext:hover{text-decoration:none!important;color:#e2001a;}

.topics-box .topiclist ul li .topic-title a{color: #1f4563;}

.topics-box .topiclist ul li .topic-title a:hover{text-decoration:none;color:#e2001a;}

.topics-box .topiclist ul li .text-holder{float:right;width:50%;}

.topics-box .topiclist ul li .thumb-wrapper img{display:block!important;width:100%!important;height:100%!important;}
.topics-box .topiclist ul li .thumb-wrapper img.jwlogo,.jwlogo{width:44px!important;height:22px!important;}

.cc_container{background:#f5f5f5!important;border-top:1px solid #d9d9d9!important;font-family:"Maven Pro"!important;}

.cc_container .cc_message{color:#1f4563!important;}

.cc_container a.cc_more_info, .cc_container a.cc_more_info:visited{color:#008dce!important;}

.cc_container .cc_btn, .cc_container .cc_btn:visited{background: #007FBE url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 15px center!important;color: #FFF!important;display: inline-block!important;font-family: "Maven Pro",sans-serif!important;font-size: 16px!important;font-weight: 700!important;padding: 10px 25px 10px 32px!important;text-transform: uppercase!important;transition: all 300ms ease 0s!important;border-radius:0!important;}

.cc_container .cc_btn:hover{background-color:#e2001a!important;}
#video_hors_vendredi img,#defaultchat img,#gagnant_prime img,#video_vendredi_avant_primes img,#defaultchathorsvendredi img,#defaultchatavantprime img{width:100%!important;height:auto!important;}
.v-category.bonus span{color:#1b95e0!important;}
.v-category.bonus{margin-bottom:10px!important;}
div#lisere_blanc_G,div#lisere_blanc_D{background:none!important;}
@media screen and (min-width: 1024px) {.container{width:1000px!important;}}

@media screen and (min-width:1001px) {#page_container .container-ar{margin: 0 auto!important;width: 1000px!important;}}

@media screen and (max-width: 1024px){#habillage-link-H,#lien_habillage_G,#habillage-link-D{display:none!important;}#main-footer{display:none!important;}.page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:120px!important;}.page_dedie_runstar .linfo-timeline .video-replay a.decouvre img{max-width:200px!important;}
#playerqwjdIcLZTGfo_335317_logo{width:auto!important;}.post_fig.thumbimage iframe{width:100%!important;/*height:auto!important;*/}
                                      .block_top_run_star{display:none!important;}

                                      /*mobile portrait validee*/

                                      .navbar-toggle{float:left!important;margin-right:0!important;padding:9px 0!important;}

                                      .logo-ar a img{position:inherit!important;}

                                      .wrapper-header .container-ar .logo-ar{float:none!important;background-color:transparent!important;margin:0!important;}

                                      .header .wrapper-header{text-align:center!important;}

                                      .logo-ar a img{max-width:80px!important;height:auto!important;margin-top:10px!important;}

                                      .header-container .container-ar ul{padding:0!important;}

                                      .menu_top ul li a{padding:0 3px!important;font-size:10px!important;}

                                      #page_container{background:none!important;}

                                      .block_soc_search{display:none!important;}

                                      .section-bandeau{height:85px!important;background:#fff!important;}

                                      section-bandeau .bandeau-inner{position:inherit!important;}

                                      .section-bandeau .bandeau-inner .bandeau-right{float:none!important;top:15px!important;}

                                      .bandeau-right .b-title{float:none!important;margin:0 auto!important;display:block!important;width:205px!important;padding:5px 0 5px 0!important;text-align:center!important;font-size:20px!important;}

                                      .programme-n3 #mainContainer .breadcrumbs{display:none!important;}

                                      .menu_xs{display:block!important;width:100%!important;margin:0 0 20px 0!important;padding:0!important;list-style-type:none!important;background:#eff4fa!important;float:left!important;}

                                      .menu_xs li{text-align:center!important;float:left!important;background:#eff4fa url(../../img/responsive/back_list.jpg) no-repeat left center;}

                                      .menu_xs li:first-child{background:#eff4fa!important;}

                                      .menu_xs li span,.menu_xs li a{font-family:"Maven Pro"!important;font-weight:normal!important;font-size:17px!important;text-decoration:none;color:#1f4563!important;text-transform:uppercase!important;display:block!important;padding:5px 30px!important;}

                                      .menu_xs li span:hover,.menu_xs li a:hover,.menu_xs li.active a,.menu_xs li a:focus,.menu_xs li span.active,.menu_xs li.active span:focus,.menu_xs li.active span{cursor:pointer!important;color:#fff!important;background:#007fbe!important;}

                                      .programme-n3 #mainContainer .main-inner{padding-top:0!important;}

                                      .section-bandeau .bandeau-inner{position:inherit!important;}

                                      .ar-main-col {width:66.66666667%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

                                      .bloc-right{width:33.33333333%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

                                      .ar-main-col img {height: auto !important;width: 100% !important;}
 .ar-main-col .topics-box .topiclist ul li .thumb-wrapper img.jwlogo, .ar-main-col .jwlogo{width:44px!important;height:22px!important;}


                                      .page_dedie_runstar .linfo-timeline .aside-timeline{width: 16.66666667%!important;padding-left:3px!important;padding-right:3px!important;}

                                      .page_dedie_runstar .timeline-content{width:83.33333333%!important;padding-left:15px!important;padding-right:15px!important;}

                                      .page_dedie_runstar .timeline-content img{width:100%!important;}
									  .page_dedie_runstar .timeline-content img.jwlogo{width:44px!important;height:22px!important;}

                                      .page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:82px!important;}

                                      .page_dedie_runstar .timeline-wrap ul .icon-video {left: 40% !important;top: 30% !important;}

                                      .page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

                                      .page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url(../../img/responsive/timeline_bg.png) no-repeat scroll 28px center !important;}

                                      .page_dedie_runstar .aside-timeline .dateReplay{font-size:10px!important;}

                                      .ar-side-col.bloc-right img{width:100%!important;height:auto!important;/*max-width:230px!important;*/}

                                      .ar-side-col.bloc-right #divVideo{width:100%!important;height:auto!important;max-width:290px!important;}

                                      .ar-side-col.bloc-right #divVideo video{width:100%!important;height:auto!important;}

                                      .page_dedie_runstar .linfo-timeline .video-replay img{height:auto!important;}

                                      .page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:174px!important;}

                                      #direct .reagit.widget-tab{display:none!important;}

                                      .contenu_xs #reseaux{display:none;}

                                      #reseaux .bloc-right {float:left !important;padding-left: 0 !important;padding-right: 0 !important;width: 100% !important;padding-top:20px!important;}

                                      #reseaux .reagit{width:66.66666667%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

                                      #reseaux .ar-side-col.bloc-right .reagit img{width:100%!important;max-width:inherit!important;}

                                      #reseaux .bloc-right .pub-container{width:33.33333333%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

                                      #reseaux .bloc-right .widget-tab{border-top:0!important;}

                                      #reseaux .bloc-right .row-pub{border:0!important;}

                                      .menu-menu2.hidden-xs{display:none!important;}

                                      .navbar-toggle{display:block!important;}

                                      .navbar-collapse.collapse{display:none!important;}

                                      .navbar-collapse.collapse.in{display:block!important;}

                                      .categoriesN1{display:none!important;}

                                      #myNavbar{background:#fff!important;width:100%!important;height:auto!important;position:absolute!important;left:0!important;top:40px!important;}.info-nav ul li.color-m, .info-nav ul li.color-m2 {

                                          float:none!important;line-height: 110%!important;width:100%!important;text-align:center!important;}.navbar ul li .menu-n1{border:0!important;margin-bottom:10px!important;}

                                      .reagit.widget-tab.visible-xs.visible-sm.hidden-md.hidden-lg{display:block!important;}

                                      .reagit.widget-tab.hidden-xs.hidden-sm.visible-md.visible-lg{display:none!important;}

                                      #companion_top{text-align:center!important;}
									  .adv-top.ad-banner{display:none!important;}

}

@media screen and (max-width:768px) {

    .page_dedie_runstar .list_video ul li{width: 33.33333333%!important;margin:0!important;padding-left:15px!important;padding-right:0!important;}

    .page_dedie_runstar .list_video ul li:first-child{padding-left:0!important;}

    .page_dedie_runstar .list_video ul li .tile-title a{font-size:14px!important;font-weight:normal!important;}

    .topics-box .topiclist ul li .text-holder .readnext {position:inherit!important;margin-top:20px!important;}

    #popup_runstar{width:90%!important;left:3%!important;max-width:inherit!important;min-width:inherit!important;margin-left:0!important;}

    .adv-top.ad-banner img,.bloc_bottom .adv-bottom img{min-width:100px!important;width:100%!important;height:auto!important;max-width:1000px!important;}.logo-ar a img{max-width:100px!important;height:auto!important;width:100%!important;}.header .nav-container {float: left!important;margin: 20px 0 17px 110px!important;width:auto!important;}.info-nav ul li > a.menu-n1{font-size:12px!important;}.social-top{border:0!important;width:50px!important;position:inherit!important;}.social-top li{margin:0 0 5px 0!important;}.block_soc_search{width:50px!important;position:fixed!important;top:30%!important;right:0!important;}.navbar-toggle{margin-right:0!important;padding:0 9px!important;}.block-search{margin-top:110px!important;}#myNavbar{background:#fff!important;width:100%!important;height:auto!important;position:absolute!important;left:0!important;top:40px!important;}.info-nav ul li.color-m, .info-nav ul li.color-m2 {

        float:none!important;line-height: 110%!important;width:100%!important;text-align:center!important;}.navbar ul li .menu-n1{border:0!important;margin-bottom:10px!important;}.section-bandeau .bandeau-inner{left:15px!important;right:inherit!important;}.bandeau-right .b-title{font-size:30px!important}.menu-menu2 ul li a {font-size:13px!important;}

    /*mobile portrait validee*/

    .navbar-toggle{float:left!important;margin-right:0!important;padding:9px 0!important;}

    .logo-ar a img{position:inherit!important;}

    .wrapper-header .container-ar .logo-ar{float:none!important;background-color:transparent!important;margin:0!important;}

    .header .wrapper-header{text-align:center!important;}

    .logo-ar a img{max-width:80px!important;height:auto!important;margin-top:10px!important;}

    .header-container .container-ar ul{padding:0!important;}

    .menu_top ul li a{padding:0 3px!important;font-size:10px!important;}

    #page_container{background:none!important;}

    .block_soc_search{display:none!important;}

    .section-bandeau{height:85px!important;background:#fff!important;}

    section-bandeau .bandeau-inner{position:inherit!important;}

    .section-bandeau .bandeau-inner .bandeau-right{float:none!important;top:15px!important;}

    .bandeau-right .b-title{float:none!important;margin:0 auto!important;display:block!important;width:205px!important;padding:5px 0 5px 0!important;text-align:center!important;font-size:20px!important;}

    .programme-n3 #mainContainer .breadcrumbs{display:none!important;}

    .menu_xs{display:block!important;width:100%!important;margin:0 0 20px 0!important;padding:0!important;list-style-type:none!important;}

    .menu_xs li{text-align:center!important;float:left!important;background:#eff4fa url(../../img/responsive/back_list.jpg) no-repeat left center;}

    .menu_xs li:first-child{background:#eff4fa!important;}

    .menu_xs li span,.menu_xs li a{font-family:"Maven Pro"!important;font-weight:normal!important;font-size:17px!important;text-decoration:none;color:#1f4563!important;text-transform:uppercase!important;display:block!important;padding:5px 30px!important;}

    .menu_xs li span:hover,.menu_xs li a:hover{cursor:pointer!important;color:#fff!important;background:#007fbe!important;}

    .programme-n3 #mainContainer .main-inner{padding-top:0!important;}

    .section-bandeau .bandeau-inner{position:inherit!important;}

    .ar-main-col {/*width:66.66666667%!important;*/width: 58.33333333%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

    .bloc-right{/*width:33.33333333%!important;*/width: 41.66666667%;padding-left:0!important;padding-right:0!important;float:left!important;}

    .ar-main-col img {height: auto !important;width: 100% !important;}
.page_dedie_runstar .aside-timeline .heureReplay{font-size:14px!important;}
.page_dedie_runstar .list_video ul li a.fond_noir{height:68px!important;}
.topics.liste-items .fond_noir {height:105px!important;}
.topics-box .topiclist ul li .thumb-wrapper img{height:auto!important;}
    .page_dedie_runstar .linfo-timeline .aside-timeline{width: 16.66666667%!important;padding-left:3px!important;padding-right:3px!important;}

    .page_dedie_runstar .timeline-content{width:83.33333333%!important;padding-left:15px!important;padding-right:15px!important;}

    .page_dedie_runstar .timeline-content img{width:100%!important;}
	.page_dedie_runstar .timeline-content img.jwlogo{width:44px!important;height:22px!important;}

    .page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:82px!important;}

    .page_dedie_runstar .timeline-wrap ul .icon-video {left: 40% !important;top: 30% !important;}

    .page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

    .page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url(../../img/responsive/timeline_bg.png) no-repeat scroll 28px center !important;}

    .page_dedie_runstar .aside-timeline .dateReplay{font-size:10px!important;}

    .ar-side-col.bloc-right img{width:100%!important;height:auto!important;max-width:230px!important;}

    .page_dedie_runstar .linfo-timeline .video-replay img{height:auto!important;}

    .page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:174px!important;}

    #direct .reagit.widget-tab{display:none!important;}

    .contenu_xs #reseaux{display:none;}

    #reseaux .bloc-right {float:left !important;padding-left: 0 !important;padding-right: 0 !important;width: 100% !important;padding-top:20px!important;}

    #reseaux .reagit{width:66.66666667%!important;padding-left:0!important;padding-right:15px!important;float:left!important;}

    #reseaux .ar-side-col.bloc-right .reagit img{width:100%!important;max-width:inherit!important;}

    #reseaux .bloc-right .pub-container{width:33.33333333%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

    #reseaux .bloc-right .widget-tab{border-top:0!important;}

    #reseaux .bloc-right .row-pub{border:0!important;}

    .page_dedie_runstar .list_video ul li .hover-vdeos:hover{left:40%!important}
	#playerqwjdIcLZTGfo_335317_logo{width:auto!important;}


}

@media screen and (max-width:700px) {
.topics.liste-items .fond_noir{height:100%!important;}
.menu-menu2 ul li a {padding:12px 10px!important;}
#playerqwjdIcLZTGfo_335317_logo{width:auto!important;}


                                     /*mobile portrait validee*/

                                     #reseaux .reagit{width:100%!important;padding-left:0!important;padding-right:0!important;float:none!important;}

                                     #reseaux .bloc-right .pub-container{width:100%!important;padding-left:0!important;padding-right:0!important;float:left!important;}

                                     #reseaux .ar-side-col.bloc-right .reagit img{width:100%!important;max-width:inherit!important;height:auto!important;}

                                     .navbar-toggle{float:left!important;margin-right:0!important;padding:9px 0!important;}

                                     .logo-ar a img{position:inherit!important;}

                                     .wrapper-header .container-ar .logo-ar{float:none!important;background-color:transparent!important;margin:0!important;}

                                     .header .wrapper-header{text-align:center!important;}

                                     .logo-ar a img{max-width:80px!important;height:auto!important;margin-top:10px!important;}

                                     .header-container .container-ar ul{padding:0!important;}

                                     .menu_top ul li a{padding:0 3px!important;font-size:10px!important;}

                                     #page_container{background:none!important;}

                                     .block_soc_search{display:none!important;}

                                     .section-bandeau{height:59px!important;background:#fff!important;}

                                     .section-bandeau .bandeau-inner{position:inherit!important;}

                                     .section-bandeau .bandeau-inner .bandeau-right{float:none!important;top:0!important;}

                                     .bandeau-right .b-title{float:none!important;margin:0 auto!important;display:block!important;width:205px!important;padding:5px 0 5px 0!important;text-align:center!important;font-size:20px!important;}

                                     .block_top_run_star{display:none!important;}

                                     .programme-n3 #mainContainer .breadcrumbs{display:none!important;}

                                     .menu_xs{display:block!important;width:100%!important;margin:0 0 20px 0!important;padding:0!important;list-style-type:none!important;}

                                     .menu_xs li{background:#eff4fa;border-bottom:1px solid #92b1c9;width:100%!important;text-align:center!important;}

                                     .menu_xs li span,.menu_xs li a{font-family:"Maven Pro"!important;font-weight:normal!important;font-size:14px!important;text-decoration:none;color:#1f4563!important;text-transform:uppercase!important;display:block!important;padding:5px 0!important;}

                                     .menu_xs li span:hover,.menu_xs li a:hover{cursor:pointer!important;color:#fff!important;background:#007fbe!important;}

                                     .programme-n3 #mainContainer .main-inner{padding-top:0!important;}

                                     #direct .reagit.widget-tab{display:none!important;}

                                     .contenu_xs #reseaux{display:none;}

                                     .page_dedie_runstar h2.section-titre-der{font-size:17px!important;}

                                     .page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url(../../img/responsive/timeline_bg.png) no-repeat scroll 48px center !important;}

                                     .page_dedie_runstar .aside-timeline .heureReplay{font-size:12px!important;text-align:center!important}

                                     .page_dedie_runstar .aside-timeline .dateReplay{font-size:12px!important;}

                                     .page_dedie_runstar .aside-timeline p{margin:0!important;}

                                     .page_dedie_runstar .meta-replay .titre-replay{font-size:16px!important;}

                                     .lien_chanson a{font-size:16px!important;}

                                     .page_dedie_runstar .linfo-timeline .video-replay img{height:auto!important;}

                                     .page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:174px!important;}

                                     .page_dedie_runstar .linfo-timeline table{width:100%!important;overflow-y: hidden;

    -ms-overflow-style: -ms-autohiding-scrollbar;}

                                     .bloc-right .pub-container{width:100%!important;text-align:center!important;margin:0 0 20px 0!important;}

                                     .ar-side-col.bloc-right{width:100%!important;margin:0!important;padding:0 15px!important;/*text-align:center!important;*/}
									 .ar-side-col.bloc-right .widget-tab .widget-title{text-align:left!important;}

                                     #reseaux .ar-side-col.bloc-right{margin:20px 0 0 0!important;}

                                     .ar-side-col.bloc-right img{width:100%!important;height:auto!important;max-width:inherit!important;}

                                     .ar-main-col{width:100%!important;}.ar-main-col img{width:100%!important;height:auto!important;}

                                     .page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

                                     .ar-main-col{padding-right:0!important;}

                                     .page_dedie_runstar .block_echange_direct h2{font-size:17px!important;}

                                     .page_dedie_runstar .block_titre h2{font-size:17px!important;}

									 .page_dedie_runstar .linfo-timeline table td{width:inherit!important;}
									 .adv-top.ad-banner{display:none!important;}
									 .pub-container.hidden-lg.hidden-md.hidden-sm.visible-xs img{width:100%!important;max-width:inherit!important;}
									 .pub-container.hidden-lg.hidden-md.hidden-sm.visible-xs{width:100%!important;text-align:center!important;display:block!important;}
									 .page_dedie_runstar .list_video ul li a.fond_noir{height:100%!important;}
									 .iframe_pub{margin:0 auto!important;display:block!important;max-width:300px!important;}
									 

}



@media screen and (max-width:480px) {.bandeau-right .b-title{font-size:20px!important;}.menu-menu2 ul li{width:100%!important;float:none!important;}

                                     .ar-main-col{width:100%!important;}.ar-main-col img{width:100%!important;height:auto!important;}

                                     .page_dedie_runstar .linfo-timeline .aside-timeline{width: 16.66666667%!important;padding-left:3px!important;padding-right:3px!important;}

                                     .page_dedie_runstar .timeline-content{width:83.33333333%!important;padding-left:15px!important;padding-right:15px!important;}

                                     .page_dedie_runstar .timeline-content img{width:100%!important;}
									 .page_dedie_runstar .timeline-content img.jwlogo{width:44px!important;height:22px!important;}

                                     .page_dedie_runstar .linfo-timeline .video-replay a.pdf img{max-width:82px!important;}

                                     .page_dedie_runstar .timeline-wrap ul .icon-video {left:30% !important;top: 30% !important;}
									 .icon-video{left:30% !important;top: 30% !important;}

                                     .page_dedie_runstar .timeline-wrap ul li{margin-bottom:28px!important;}

                                     .page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url(../../img/responsive/timeline_bg.png) no-repeat scroll 28px center !important;}

                                     .page_dedie_runstar .aside-timeline .dateReplay{font-size:10px!important;}

                                     .ar-side-col.bloc-right img{width:100%!important;}

                                     #popup_runstar{width:90%!important;} 

                                     .page_dedie_runstar .list_video ul li .hover-vdeos:hover{left:30%!important;}

                                     .page_dedie_runstar .list_video ul li{width:50%!important;height:250px!important;++}

                                     .page_dedie_runstar .list_video ul li:first-child{padding-right:15px!important;}

                                     .page_dedie_runstar .list_video ul li:last-child{padding-left:0!important;padding-right:15px!important;}

                                     .ar-main-col{padding-right:0!important;}

                                     .page_dedie_runstar .block_echange_direct h2{font-size:15px!important;}

                                     .page_dedie_runstar .block_titre h2{font-size:14px!important;}

									 .pub-container.hidden-lg.hidden-md.hidden-sm.visible-xs img{width:100%!important;max-width:inherit!important;}
									 .topics.liste-items .fond_noir{height:100%!important;display:table-cell!important;vertical-align:middle!important;padding:5px 10px!important;}
									 .page_dedie_runstar .list_video ul li .icon-video{width:46px!important;height:46px!important;left:35%!important;top:20%!important;}
									 /*.page_dedie_runstar .list_video ul li .icon-video{left:0!important;top:0!important;}*/
									 span.roll{left:0!important;top:0!important;}

}

@media screen and (max-width:320px) {.page_dedie_runstar .timeline-wrap ul li.linfo-item {background: rgba(0, 0, 0, 0) url(../../img/responsive/timeline_bg.png) no-repeat scroll 16px center !important;}

                                     .page_dedie_runstar .aside-timeline .dateReplay{font-size:8px!important;}

                                     .ar-side-col.bloc-right img{width:100%!important;}
									 .page_dedie_runstar .list_video ul li .icon-video{width:20px!important;height:20px!important;left:40%!important;top:35%!important;background-size:cover!important}
.icon-video{left:40% !important;top:40% !important;width:20px!important;height:20px!important;background-size:cover!important;}
}





//Footer

#lean_overlay {

    position: fixed;z-index:100001;top: 0px;left: 0px;height:100%;width:100%;background: #000;display: none;

}            

.modal_close {

    background: url(http://www.linfo.re/squelettes/assets/img/modal_close.png) repeat scroll 0 0 rgba(0, 0, 0, 0);display: block;height: 14px;position: absolute;right: 12px;top: 12px;width: 14px;z-index: 2;

}



#newsletter_modal {

    border: 15px solid #e6e6e6;box-shadow: 5px 5px 20px #ccc;display: none;font: 12px Helvetica,sans-serif;padding-bottom: 5px;position: relative;z-index: 100002!important;background-color: #fff; padding:10px}



#newsletter_modal .modalnav {

    background: url(http://www.linfo.re/squelettes/assets/img/close.png) repeat scroll -40px 0 rgba(0, 0, 0, 0);cursor: pointer;height: 35px;position: absolute;right: -30px;top: -33px;width: 37px;

}



#lglikes {

    color: #fff;font-size: 40px;margin: 20px auto 10px;text-align: center;padding: 0 50px;      

}



button#ajax_submit_newsletter:hover {

    background: none repeat scroll 0 0 #005c9b;

}



.black_overlay_jeu {

    display: none;

    position: fixed;

    top: 0%;

    left: 0%;

    width: 100%;

    height: 100%;

    background-color: black;

    z-index:100100;

    -moz-opacity: 0.8;

    opacity:.80;

    filter: alpha(opacity=90);

}



.white_content_jeu {

    display: none;

    position: absolute;

    top: 25%;

    left: 25%;

    width: 40%;

    min-height: 350px;

    padding: 16px;

    border: 15px solid #fff;

    background: url(https://www.antennereunion.fr/squelettes/assets/img/BG-pop-up-center.jpg) bottom center no-repeat #007FBE;

    z-index:1002;

    z-index:100101;

}



.white_content_jeu a.btnxjs  {

    position: absolute;

    top:-25px;

    right:-30px;

    z-index:100101;

}



.content {

    width:100%;

    height: auto;

    margin:0 auto;

    text-align: center;

}



.pix-tablette {

    width:115px;

    height:160px;

    margin:0 auto;

    padding-top: 20px;

    padding-bottom: 20px;

} 





p.txt-bold {

    font-family: "Maven Pro",sans-serif;

    font-size: 40px;

    font-weight: bold;

    text-align: center;

    color:#fff;

    margin: 0 auto;

}



p.txt-medium {

    font-family: "Maven Pro",sans-serif;

    font-size: 20px;

    font-weight: normal;

    text-align: center;

    color:#000;

    margin: 0 auto;

}



.btn-play {

    min-width: 150px;

    min-height: 31px;

    background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 30px center #007fbe;

    font-family: "Maven Pro",sans-serif;

    font-size: 16px;

    font-weight: 700;

    color:#fff;

    border: none;

    margin-top: 20px;

    text-transform: uppercase;

    cursor: pointer;

}



.btn-play:hover {

    background-color: red;

} 

/*Cookies*/

.cc_container{background:#f5f5f5!important;border-top:1px solid #d9d9d9!important;font-family:"Maven Pro"!important;}

.cc_container .cc_message{color:#1f4563!important;}

.cc_container a.cc_more_info, .cc_container a.cc_more_info:visited{color:#008dce!important;}

.cc_container .cc_btn, .cc_container .cc_btn:visited{background: #007FBE url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 15px center!important;color: #FFF!important;display: inline-block!important;font-family: "Maven Pro",sans-serif!important;font-size: 16px!important;font-weight: 700!important;padding: 10px 25px 10px 32px!important;text-transform: uppercase!important;transition: all 300ms ease 0s!important;border-radius:0!important;}

.cc_container .cc_btn:hover{background-color:#e2001a!important;}

.cc_banner-wrapper{z-index:1000000000!important;} 

/*text droite*/

.ar-side-col.bloc-right .text-holder h2,#apropos_perdant .text-holder h2{font-family:"Maven Pro"!important;margin:5px 0 0 0!important;font-size:17px!important;color:#335572!important;}

.ar-side-col.bloc-right .text-holder p,#apropos_perdant .text-holder p{margin:0!important;padding:0!important;font-family:"Maven Pro"!important;font-size:14px!important;line-height:14px!important;}

.ar-side-col.bloc-right .text-holder p a,#apropos_perdant .text-holder p a{color:#335572!important;}

.ar-side-col.bloc-right .text-holder a,#apropos_perdant .text-holder a{color:#335572!important;text-decoration:none!important;}

.ar-side-col.bloc-right .text-holder .readnext,#apropos_perdant .text-holder .readnext{float:right;bottom: 18px;color:#009eea!important;display: block;font-family: "Maven Pro",sans-serif;font-size: 14px;font-weight: 400;text-align: right;margin-top:10px!important;}

.ar-side-col.bloc-right .text-holder .readnext:hover,#apropos_perdant .text-holder .readnext:hover{color:#e2001a!important;}

.page_dedie_runstar .info_candidat{margin:16px 0 20px 0!important;padding-bottom:20px!important;}

#newsletter_modal {
    background-color: #fff;
    border: 15px solid #e6e6e6!important;
    box-shadow: 5px 5px 20px #ccc;
    font: 12px Helvetica,sans-serif!important;
    padding: 10px!important;
    position:fixed!important;
    z-index: 100002 !important;
	width:100%!important;max-width:520px!important;
}
.popup_newsletter .column_left {
    background-color: #ffffff !important;
    border: medium none !important;
    float: left!important;
    padding: 5px!important;
    width: 250px!important;
}
input#mail_user {
    border: medium none!important;
    box-shadow: 0 0 5px #9dc7ea!important;
    height: 20px !important;
    padding: 7px!important;
}
button#ajax_submit_newsletter {
    background: #007fbe none repeat scroll 0 0;
    border: medium none !important;
    box-shadow: none !important;
    color: #ffffff;
    display: inline-block;
    font-family: Maven Pro;
    font-size: 15px !important;
    font-weight: 600;
    margin: 0 0 0 5px;
    padding: 6px !important;
}
.popup_newsletter .column_right {
    float: left!important;
    padding: 5px!important;
    width: 200px!important;
}
.popup_newsletter .column_right .row div {
    font-weight: bold!important;
}
.popup_newsletter .column_right .row div:first-child {
    margin-bottom: 21px!important;
}
.popup_newsletter .column_right .row div img {
    height: 290px!important;
    margin-bottom: 5px!important;
    width: 200px!important;
}
#popup_runstar{height:350px!important;font-family: "Maven Pro",sans-serif !important;font-size: 15px !important;z-index:1000000002!important;}
#popup_runstar .text-body{height:300px!important;overflow-y:scroll!important;overflow-x:hidden!important;margin-top:-20px!important;padding:0 0 20px 0!important;font-family: "Maven Pro",sans-serif !important;font-size: 15px !important;}
.scan > span {
    font-size: 13px!important;
    font-weight: bold!important;
}
input#mail_user {
    border: medium none;
    box-shadow: 0 0 5px #9dc7ea;
    height:30px !important;
    padding: 7px;
}
#newsletter_modal {
    background-color: #ffffff;
    border: 10px solid #cdddeb !important;
    box-shadow: none !important;
    color: #1f4563 !important;
    display: none;
    font-family: "Maven Pro",sans-serif !important;
    font-size: 15px !important;
    padding: 10px;
    position: relative;
    z-index: 100002 !important;
}
.popup_newsletter .reglement {
    clear: both!important;
    font-size: 10px!important;
    padding: 5px!important;
    text-align: justify!important;
}
.fb-comments.fb_iframe_widget{width:100%!important;}
.fb-comments.fb_iframe_widget span{width:100%!important;}
.fb-comments.fb_iframe_widget iframe{width:100%!important;}
.menu-menu2 ul li.runstar_rouge a{color:#e2001a!important;}
.grs li{width:20px!important;height:20px!important;margin:0 5px 0 0!important;float:left!important;}
.grs li a{width:20px!important;height:20px!important;background:#2e6089!important;color:#fff!important;text-decoration:none!important;border-radius:50%!important;display:block!important;text-align:center!important;}
.grs li a:hover{background:#009eea!important;}
#main-wrapper{margin-top:0!important;}
#popup_runstar {
        border: 15px solid #e6e6e6;box-shadow: 5px 5px 20px #ccc;display: none;font: 12px Helvetica,sans-serif;padding-bottom: 5px;position: relative;z-index:100000000000002!important;background-color: #fff; padding:10px;max-width: 700px;position:fixed!important ;min-width: 500px;}

    #popup_runstar .modalnav {
        background: url("http://www.linfo.re/squelettes/assets/img/close.png") repeat scroll -40px 0 rgba(0, 0, 0, 0);cursor: pointer;height: 35px;position: absolute;right: -30px;top: -33px;width: 37px;
    }
.jwskipimage.jwskipover,.topics-box .topiclist ul li .thumb-wrapper img.jwskipimage.jwskipover,.topiclist ul li .thumb-wrapper img.jwskipimage.jwskipout{display:none!important;}
.socializer-buttons table td{vertical-align:top!important;}
.socializer-buttons table td div{margin-top:0!important;}
a.sanslientest:hover{text-decoration:none!important;color:#337ab7!important;cursor:default!important;}
a.play_page_video:hover,.bonusvideo:hover{cursor:pointer!important;}
