@charset "utf-8";

/* CSS Document */

.menu-menu2{background:#eff4fa;}

.menu-menu2 ul li a.active, .menu-menu2 ul li a:hover{background:#007fbe;color: #ffffff;}

.menu-menu2 ul li a {background: url('https://www.antennereunion.fr/squelettes/assets/img/bg/menu2.gif') no-repeat scroll left center transparent;color: #1f4563;display: block;font-family: "Maven Pro", sans-serif;font-size: 16px;font-weight: 400;

line-height: 120%;padding: 12px 10px;text-decoration: none;text-transform: uppercase;transition: all 0.3s ease 0s;}

.breadcrumbs ul li:first-child a {background: url('https://www.antennereunion.fr/squelettes/assets/img/bg/fa-home.png') no-repeat scroll 0px 0px transparent;display: inline-block;height: 20px;text-indent: -999em;width: 20px;}

.breadcrumb > li + li:before {color: #c9dded!important;}

.breadcrumbs ul li,.breadcrumbs ul li a{color: #597d9f!important;}

#video_container{margin-bottom:20px;}

.media-heading {background-color: #f5f9fc;border: 1px solid #e5e9ed;color: #335572;font-family: "Maven Pro", sans-serif;font-size: 22px;font-weight: 700;line-height: 120%;

margin: 0px 0px 20px;padding: 5px 0px 5px 15px;text-transform: uppercase;}

.list_photo ul li .img_videos a span, .list_news ul li .img_videos a span, .container-section.topics-box .format-video span.roll, .art_news .list-cat li .thumbimage.thumbimage.format-video span.roll{background: url('https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png') no-repeat scroll center center rgba(0, 0, 0, 0)!important;height: 100%;opacity: 0;position: absolute;width: 100%;z-index: 5;}

.list_photo h3 a{color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 700;line-height: 100%;margin: 10px 0px 0px;text-align: left;}

.list_photo h3{height:27px;}

.content_lien_tout_liste, .lien_voir_tous_les_news, .lien_voir_toutes_les_photos, .lien_voir_toutes_les_video{margin-top:20px;}

.list_photo h3 a:hover{color:#E2001A;}

.content_lien_tout_liste a, .lien_voir_tous_les_news a, .lien_voir_toutes_les_photos a{background: url('https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png') no-repeat scroll 15px center #007fbe;color: #ffffff;display: inline-block;font-family: "Maven Pro", sans-serif;font-size: 16px;font-weight: 700;padding: 10px 25px 10px 40px;text-transform: uppercase;transition: all 300ms ease 0s;}

.content_lien_tout_liste a:hover, .lien_voir_tous_les_news a:hover, .lien_voir_toutes_les_photos a:hover{background: url('https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png') no-repeat scroll 15px center #e2001a!important;color: #ffffff;display: inline-block;font-family: "Maven Pro", sans-serif;font-size: 16px;font-weight: 700;padding: 10px 25px 10px 40px;text-transform: uppercase;transition: all 300ms ease 0s;}

.widget-content .tab-content ul li .figure-player{height:auto;}

.widget-content .tab-content ul li .figure-player .icon-video{top:38%;}

.widget-tab .widget-title span{background-color: #007fbe;color: #ffffff;display: inline-block;float: left;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 700;padding: 5px 20px;}

.widget-tab .widget-title {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 10px;}

.widget-content .tab-content ul li .figure-player .meta-title{    background-color: #007fbe;bottom: 0px;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 1px 7px 2px;position: absolute;right: 0px;text-transform: uppercase;}

.widget-content .tab-content ul li .title-medias .item-title a{    color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 700;}

.morepostag a{    background-color: #007fbe;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 5px 15px;text-transform: uppercase;transition: background-color 0.3s ease 0s;}

.morepostag a:hover{text-decoration:none;}

.widget-content .tab-content ul li .title-medias .num-count{border: 1px solid #007fbe;color: #007fbe;display: block;float: left;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 700;

line-height: 120%;margin: 5px 10px 0px 0px;padding: 0px 4px;}

.widget-content .tab-content ul li:first-child .title-medias .num-count{background-color: #007fbe;color: #ffffff;}

.widget-content .tab-content ul li .title-medias .item-title{line-height: 20px;margin: 0px 0px 0px 27px;}

.widget-content .tab-content ul li .title-medias .item-title a{color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 700;}

.menu-menu2 ul li.active{background-color:transparent;}

.breadcrumbs ul li a:hover{text-decoration:none;color:#e2001a!important;}

.post_fig.thumbimage.format-video span.roll{background:none!important;}

.post_fig.thumbimage.format-video .icon-video{background: url('https://www.antennereunion.fr/squelettes/assets/img//bg/ico_video_45.png') no-repeat scroll center center transparent;height: 45px;left: 45%;position: absolute;top:38%;width: 46px;}

.topics-box .topiclist ul{    border-top: 1px solid #d8e6f1;display: block;padding: 20px 0px;}

.topics-box .topiclist ul li {border-bottom: 1px solid #d8e6f1;line-height: 120%;list-style-type: none;margin: 0px 0px 20px;padding: 0px 0px 20px;position: relative;}

.v-category span{color: #ffffff;display: inline-block;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;margin: 0px 0px 5px;padding: 2px 10px;text-transform: uppercase;}

.bonus span {background-color: #007fbe;}

.topics-box .topiclist ul li .topic-title {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 500;line-height: 100%;margin-bottom: 10px;}

.topics-box .topiclist ul li .topic-title a{color: #1f4563;}

.topics-box .topiclist ul li .text-holder .txt-extract {color: #1F4563;font-family: 'Maven Pro',sans-serif;font-size: 16px;font-weight: 400;line-height: 120%;margin: 0px 0px 10px;}

.topics-box .topiclist ul li .text-holder .readnext{    bottom: 18px;color: #009eea;display: block;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 400;position: absolute;

right: 0px;text-align: right;}

.topics-box .topiclist ul li:last-child{border-bottom: 1px solid #d8e6f1;}

.section-pagination {border-bottom: 1px solid #CDDDEB;display: inline-block;margin: 5px 0px 20px;padding: 0px 0px 20px;text-align: left;width: 100%;}

.section-pagination .info-pagination a:hover, .section-pagination .info-pagination span.current, .section-pagination .pages .on, .section-pagination .pages a:hover{background:#9baeca;border:1px solid #9baeca;}

.section-pagination .info-pagination a, .section-pagination .pages a{border:1px solid #9baeca;color:#96ACC8;}

.programme-n3 section.video_container2{padding: 15px 0 10px 0;background: #ffffff;}

.title-large .headline-large {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 35px;font-weight: 700;line-height: 110%;margin: 0 0 5px 0;}

.title-large .article-meta {color: #1f4563;font-size: 13px;font-family: "Maven Pro", sans-serif;font-weight: normal;font-style: normal;}

.article-section .excerpt h2 {color: #1F4563;font-family: 'Maven Pro',sans-serif;font-size: 17px;font-weight: 700;line-height: 120%;}

.article-section .text-body {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 20px;padding: 0px 0px 20px;text-align: justify;}

.feat-cat3 {margin: 0px 0px 20px;}

.feat-cat3 .title-cat-header {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 20px;}

.feat-cat3 .title-cat-header span{color: #ffffff;display: block;float: left;font-family: "Maven Pro", sans-serif;font-weight: 400;padding: 3px 15px 3px;text-transform: uppercase;font-size: 25px;}

.s-personnages .title-cat-header span {background: none repeat scroll 0px 0px #007fbe;}

.main-cat .list-cat{margin:0 -15px;padding:0;list-style-type:none;}

.feat-cat3 .main-cat ul li {float: left;list-style-type: none;margin:0;width:33.3333%;padding:0 15px;}

.feat-cat3 .title-cat-header span .fa-chevron-down{font-size: 15px;margin: 0px 0px 0px 15px;vertical-align: middle;}

.format-video span.roll{background-image: none;}

.programme-n3 .feat-cat3 .main-cat ul li .thumbimage .icon-video {background: url('https://www.antennereunion.fr/squelettes/assets//img/bg/ico_video_45.png') no-repeat scroll center center transparent;height: 45px;left:38%;position: absolute;top:30%;width: 46px;}

.programme-n3 .feat-cat3 .main-cat ul li .thumbimage img{width:100%!important;height:auto!important;}

.feat-cat3 .main-cat ul li .cat-title{color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 17px;font-weight: 600;}

.feat-cat3 .main-cat ul li .cat-title a{color: #1f4563;}

.feat-cat3 .main-cat ul li .cat-title a:hover{color: #e2001a;text-decoration:none;}



@media screen and (max-width: 1024px){

	#companion_top, .bloc_bottom .adv-bottom {display: none!important;}

	.menu_responsive_cache .btn.btn-primary.dropdown-toggle{background:#007fbe!important;}

	}

@media screen and (max-width:768px){.feat-cat3 .main-cat ul li{width:100%;}}