@charset "utf-8";
/* CSS Document */
.slider-nav img, img {
	display: block;
}
* {
	margin: 0;
	padding: 0;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clear {
	clear: both;
	width: 100%;
	height: 0px;
	overflow: hidden;
}
.container-ar a {
	text-decoration: none;
	color: inherit;
}
a:active, a:focus, img {
	outline: none;
}
a img {
	border: none;
}
.container-ar {
	margin: 0 auto;
	width: 1170px;
	
}
.page_container .container-ar{
	background-color: #ffffff;
}
.grille-tv #mainContainer, .programme #mainContainer{
	margin-top: 10px;
}
.mega-banniere .adv-wrap{
	margin: 0 auto;
	width: 728px;
}
.mega-banniere{
	padding: 20px 0;
}
.header {
	padding: 20px 0;
	box-shadow: 0 -5px 8px #000000;
	width: 100%;
	z-index: 98;
	background: #ffffff;
}
.header-container {
	background-color: #0A1118;
}
.header-container .menu_top {
	background-color: #0A1118;
	padding-top: 8px;
	padding-bottom: 8px;
}
.menu_top ul {
	margin: 0;
}
.menu_top ul li {
	float: left;
	list-style-type: none;
	margin: 0;
	height: 10px;
	line-height: 10px;
}
.menu_top ul li a {
	color: #999999;
	font-size: 11px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	padding: 0 10px;
	border-left: 1px solid #888888;
	display: block;
	line-height: 10px;
	height: 10px;
	text-decoration: none;
}
.menu_top ul li a:hover {
	color: #F0F0F0;
}
.menu_top ul li:first-child a {
	border: none;
	padding-left: 0;
}
.header .nav-container {
	margin: 15px 0 0 6px;
	float: left;
}
.navbar ul {
	margin: 0;
}
.navbar ul li {
	float: left;
	list-style-type: none;
}
.navbar ul li a {
	color: #1F4563;
	font-size: 18px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 700;
	text-decoration: none;
	padding: 0 24px;
	border-right: 1px solid #305C80;
}
.navbar ul li a:hover, .navbar ul li a.active {
	color: #009EEA;
}
.wrapper-header .container-ar .logo-ar {
	float: left;
	margin: 0 20px 0 0;
}
.social-top {
	float: left;
	margin: 10px 10px 0 18px;
}
.social-top ul li {
	list-style-type: none;
	float: left;
	margin: 0 7px;
}
.social-top ul li a {
	display: block;
	float: left;
	height: 32px;
	width: 32px;
	text-indent: -999em;
	background: url(../img/bg/icon-sociaux.png) no-repeat;
}
.social-top ul li .fb {
	background-position: 0 0;
}
.social-top ul li .twitter {
	background-position: 0 -32px;
}
.social-top ul li .gplus {
	background-position: 0 -64px;
}
.social-top ul li .nl {
	background-position: 0 -96px;
}

.social-top ul li .fb:hover {
	background-position: -64px 0;
}
.social-top ul li .twitter:hover {
	background-position: -64px -32px;
}
.social-top ul li .gplus:hover {
	background-position: -64px -64px;
}
.social-top ul li .nl:hover {
	background-position: -64px -96px;
}
.block-search {
	float: left;
	margin: 10px 0 0 0;
}
.block-search span {
	float: left;
	display: block;
	width: 1px;
	border-right: 1px solid #305C80;
	height: 24px;
	margin: 6px 15px 0 0;
}
.block-search .search {
	display: block;
	float: left;
	height: 35px;
	width: 29px;
	text-indent: -999em;
	background: url(../img/bg/search.png) top center no-repeat;
}
.block-search .search:hover {
	background-position: bottom center;
}
.wrapper-header .container-ar{
	position: relative;
}
.wrapper-header .search-expand{
	position: absolute;
	right: 0;
	bottom: -40px;
	padding: 5px 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #cccccc;
	background: #ffffff;
	z-index: 9999;
}
.wrapper-header .search-expand .search{
	color: #009EEA;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 100%;
	padding: 5px;
	background: #fffff;
	border: 1px solid #ffffff;
	width: 248px;
	margin: 0 5px 0 0;
}
.wrapper-header .search-expand .button-search{
	float: right;
	color: #009EEA;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 100%;
	border: none;
	background: #ffffff;
	padding: 5px;
	cursor: pointer;
}
.wrapper-section {
	margin-bottom: 0;
}
.slider-nav {
	position: relative;
	height: 560px;
}
.slider-nav ul li {
	list-style-type: none;
	position: relative;
}
.slider-nav ul li .carousel-caption {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
}
.slider-nav ul li .carousel-caption h2 {
	background: none repeat scroll 0 0 rgba(33,69,99,0.8);
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 900;
	font-size: 60px;
	line-height: 120%;
	padding: 0px 20px 5px;
	display: inline-block;
}
.slider-nav ul li .carousel-caption p {
	background: none repeat scroll 0 0 rgba(0,127,190,0.8);
	color: #FFFFFF;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 120%;
	padding: 3px 20px 8px;
}
.slider-nav ul li .carousel-caption p span{
	font-weight: 900;
}
.slider-indicators {
	bottom: 15px;
	left: 50%;
	list-style: none outside none;
	margin-left: -30%;
	padding-left: 0;
	position: absolute;
	text-align: center;
	width: 60%;
	z-index: 15;
}
.slider-indicators .active {
	background-color: #009EEA;
}
.slider-indicators li {
	background-color: #214563;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	text-indent: -999px;
	width: 10px;
	margin: 0 10px;
}
.slider-nav .carousel-control {
	position: absolute;
	top: 248px;
	width: 31px;
	height: 50px;
}
.slider-nav .left-control {
	background: url(../img/bg/chevron-slide.png) no-repeat top center;
	left: 102px;
}
.slider-nav .right-control {
	background: url(../img/bg/chevron-slide.png) no-repeat bottom center;
	right: 102px;
}
.banner-row {
	background-color: #EFF4FA;
	border-bottom: 1px solid #D8E6F1;
	border-left: 1px solid #D8E6F1;
	border-right: 1px solid #D8E6F1;
	height: 80px;
	border-top: none;
}
.banner-row ul li {
	list-style-type: none;
	float: left;
	line-height: 120%;
	padding: 13px 0 13px 20px;
	width: 370px;
}
.banner-row ul li:first-child {
	background-color: #007FBE;
	padding: 0 20px;
	width: 234px;
}
.banner-row ul li .panel-txt {
	color: #ffffff;
	font-size: 30px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	display: block;
	text-align: center;
	padding: 31px 0;
}
.banner-row ul li .panel-txt span {
	font-weight: 900;
}
.banner-row ul li .panel-date {
	color: #007FBE;
	font-size: 30px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	margin: 0 0 12px 0;
}
.banner-row ul li .panel-desc {
	color: #3674A0;
	font-size: 20px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}
.banner-row ul li .imgwrap {
	float: left;
	margin: 0 15px 0 0;
}
.last-row .panel-default {
	background: url(../img/bg/border-panel.png) left center no-repeat;
	padding-left: 20px;
}
.wrapper-content {
	padding: 20px 19px 20px 19px;
	border-left: 1px solid #CDDDEB;
	border-right: 1px solid #CDDDEB;
}
.wrapper-content .column_left {
	background-color: #F0F5F9;
	padding: 16px 20px;
	width: 708px;
	border: 1px solid #CDDDEB;
	float: left;
	margin: 0 19px 20px 0;
}
.wrapper-content .column_right {
	float: right;
	width: 360px;
}
.wrapper-content .column_left .titleBlock {
	color: #1F4563;
	font-size: 30px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 100%;
	float: left;
}
.wrapper-content .column_left .header-block {
	margin: 0 0 16px 0;
	line-height: 120%;
}
.wrapper-content .column_left .header-block a {
	float: left;
	margin: 0 20px 0 0;
}
.wrapper-content .column_left .item-info .imageContainer {
	margin: 0 0 12px 0;
}
.wrapper-content .column_left .item-info .imageContainer img {
	display: block;
}
.wrapper-content .column_left .item-info {
	float: left;
	width: 446px;
	margin: 0 19px 0 0;
}
.wrapper-content .column_left .tag-title a {
	color: #007FBE;
	font-size: 13px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	margin: 0 0 5px 0;
}
.wrapper-content .column_left .itemDetails .title-item {
	color: #1F4563;
	font-size: 17px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 700;
	margin: 0 0 6px 0;
	line-height: 100%;
}
.wrapper-content .column_left .itemDetails .title-item a:hover {
	color: #009EEA;
}
.wrapper-content .column_left .item-info .description-item {
	color: #1F4563;
	font-size: 16px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	line-height: 120%;
}
.archives-button {
	clear: both;
	width: 100%;
}
.archives-button a {
	background: #007FBE url(../img/bg/chevron-link.png) no-repeat 15px center;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	padding: 3px 25px 5px 40px;
	text-transform: uppercase;
	display: inline-block;
}
.archives-button a:hover {
	background-color: #E2001A;
}
.wrapper-content .column_left .item-sidebar {
	float: left;
	width: 243px;
}
.item-sidebar ul li {
	list-style-type: none;
	margin: 0;
}
.item-sidebar ul li:first-child {
	margin: 0 0 20px 0;
}
.item-sidebar ul li .thumbcontainer {
	margin: 0 0 10px 0;
}
.column_right .adv {
	border: 1px solid #CDDDEB;
	padding: 29px;
	background: url(../img/bg/publicite.png) 29px 10px no-repeat;
}
.column_right .adv:first-child {
	margin: 0 0 20px 0;
}
.section-meteo {
	float: left;
	width: 750px;
}
.section-meteo .meteo-wrap .m-thumbnail {
	float: left;
	width: 99px;
}
.section-meteo .meteo-wrap ul {
	float: left;
	margin: 0 20px 0 12px;
}
.section-meteo .meteo-wrap ul li {
	list-style-type: none;
	line-height: 120%;
	margin: 0 0 5px 0;
}
.section-meteo .meteo-wrap ul li a {
	color: #066CB8;
	font-size: 16px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}
.section-meteo .meteo-wrap ul li a:hover{
	color: #E2001A;
}
.section-meteo .meteo-wrap .m-conteneur {
	float: left;
	padding: 0 0 0 20px;
	border-left: 1px solid #D8E6F1;
	width: 122px;
}
.section-meteo .meteo-wrap .m-text {
	color: #1F4563;
	font-size: 17px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 700;
	margin: 0 0 5px 0;
	text-align: center;
}
.section-meteo .meteo-wrap p {
	float: right;
	color: #004686;
	font-size: 35px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}
.section-meteo .meteo-wrap p span {
	font-size: 20px;
}
.section-meteo .meteo-wrap ul li .fa-chevron-right {
	color: #CCCCCC;
	font-size: 13px;
	margin: 0 8px 0 0;
}
.section-meteo .meteo-wrap .blue-btn {
	background: #007FBE url(../img/bg/blue-btn.png) 232px center no-repeat;
	color: #ffffff;
	font-size: 40px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	line-height: 120%;
	padding: 12px 60px 14px 20px;
	float: right;
}
.section-meteo .meteo-wrap .blue-btn:hover {
	background-color: #E2001A;
}
.section-meteo .meteo-wrap .blue-btn span {
	font-weight: 900;
}
.verticalList {
	padding: 0 19px 20px 19px;
	border-left: 1px solid #CDDDEB;
	border-right: 1px solid #CDDDEB;
}
.verticalList .innerList {
	border-top: 1px solid #CDDDEB;
	padding: 10px 0 0 0;
}
.verticalList .innerList ul li {
	list-style-type: none;
	float: left;
	width: 360px;
	margin: 0 0 20px 25px;
}
.verticalList .innerList ul li:first-child, .verticalList .innerList ul li.item-4 {
	margin-left: 0;
}
.verticalList .innerList .title-list {
	color: #204563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 120%;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
.verticalList .innerList .post-texts p {
	color: #1F4563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	height: 40px;
}
.verticalList .innerList .post-title p {
	color: #1F4563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	height: 40px;
}
.verticalList .innerList ul li .post-fig {
	position: relative;
	width: 360px;
	height: 195px;
	margin: 0 0 10px 0;
}
.verticalList .innerList ul li .post-fig .icon-video {
	background: url(../img/bg/ico_video.png) no-repeat;
	width: 57px;
	height: 57px;
	position: absolute;
	left: 152px;
	top: 58px;
}
.verticalList .innerList ul li .post-fig .tile-title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.verticalList .innerList ul li .post-fig .tile-title a {
	display: block;
	color: #ffffff;
	font-family: 'Maven Pro', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 120%;
	text-decoration: none;
	padding: 3px 20px 5px 20px;
	background: none repeat scroll 0 0 rgba(0,0,0,0.65);
}
.bloc_bottom{
	clear: both;
}
.bloc_bottom .adv-bottom {
	border-top: 1px solid #CDDDEB;
	padding: 20px 0 0 0;
}
.adv-bottom .adv-wrap {
	margin: 0 auto;
	width: 728px;
}
/**Grilles tv**/
.ad-banner{
	background: #ffffff;
	padding: 20px 0;
	z-index: 99;
	position: relative;
	border-bottom: 1px solid #D8E6F1;
}
.ad-banner .adv-inner{
	margin: 0 auto;
	width: 728px;
	
}
#mainContainer .titre_headline{
	padding: 10px 0 0 0;
	margin: 0 0 20px 0;
}
.titre_headline .title-headline{
	color:#1F4563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}
.titre_headline .title-headline span{
	font-weight: 900;
}
#mainContainer .main-inner{
	padding: 19px;
	border: 1px solid #CDDDEB;
}
.grille_programmes{
	clear: both;
}
.programmes_head ul .item-jours{
	list-style-type: none;
	float: left;
	text-align: center;
	line-height: 120%;
	width: 131px;
	padding: 0 0 18px 0;
	margin: 0 0 10px 0;
}
#grille_soirees ul.navJours > li:first-child{
	width: 213px;
}
.grille_programmes ul li .prevSem, .titre_programmes .prevSem{
	color:#ffffff;
	font-family: 'Maven Pro', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 100%;
	padding: 12px 0 15px 0;
	background-color: #007FBE;
}
.grille_programmes ul li .prevSem span, .titre_programmes .prevSem span{
	font-weight: 700;
	font-size: 30px;
	display: block;
	
}
.grille_programmes ul li .emissionInfo a{
	color:#1F4563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 16px 0 20px 0;
	display: block;
	width: 100%;
	background-color: #EFF4FA;
}

#grille_soirees ul li .emissionInfo a:hover, .grille_programmes ul li.active .emissionInfo a{
	background-color: #214563;
	color: #478CC4;

}
.grille_programmes ul li.active{
	background: url(../img/bg/li-grille.png) no-repeat center bottom; 
}
.grille_programmes ul li .emissionInfo a span.dateEmission{
	color: #007FBE;
	font-size: 22px;
	display: block;
	margin: 0 0 3px 0;
}
#grille_soirees ul li .emissionInfo a:hover span, .grille_programmes ul li.active .emissionInfo a span{
	color: #EEF3F9;
}
.containerProgram{
	float: left;
}
.container-emission ul li {
    border-top: 1px solid #CDDDEB;
    line-height: 120%;
    list-style-type: none;
    margin: 0 0 25px;
    padding: 25px 0 0;
    position: relative;
}
.container-emission ul li:first-child{
	border: 0;
}
.container-emission ul li .heureEmission{
	float: left;
	color: #009EEA;
	font-family: 'Maven Pro', sans-serif;
	font-size: 45px;
	font-weight: 400;
	width: 150px;
}
.container-emission ul li .imgEmission{
	float: left;
	width: 263px;
}
.container-emission ul li .resumeEmission {
    float: left;
    height: 137px;
    margin: 0 0 0 20px;
    overflow: hidden;
    vertical-align: top;
    width: 358px;
}
.container-emission ul li .resumeEmission .nomEmission a:hover{
	color: #E2001A;
}
.container-emission ul li .resumeEmission .nomEmission {
    color: #214563;
    font-family: 'Maven Pro',sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 28px;
    margin: -5px 0 10px;
}
.container-emission ul li .resumeEmission .categoryEmission{
	color: #009EEA;
	font-family: 'Maven Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 6px 0;

}
.container-emission ul li .resumeEmission p {
    color: #204563;
    font-family: 'Maven Pro',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 5px;
}
.container-emission ul li .resumeEmission .readnext {
    bottom: -10px;
    color: #009EEA;
    display: block;
    font-family: 'Maven Pro',sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    text-align: right;
}
.container-emission ul li .resumeEmission .readnext:hover{
	color: #E2001A;
}
.bloc-right{
	float: right;
}
.bloc-right .pub-container{
	width: 300px;
	padding: 17px 0 0 0;
	margin: 0 0 20px 0;
	background: url(../img/bg/publicite.png) no-repeat 0 0;
}
.programme-tv{
	margin: 0 0 20px 0;
}
.programme-tv .nav-item .bloc-nav li{
	list-style-type: none;
}
.programme-tv .nav-heure ul li{
	list-style-type: none;
	text-align: left;
}
.programme-tv ul .item-jours{
	list-style-type: none;
	float: left;
	text-align: center;
	line-height: 120%;
	width: 130px;
	margin: 0 0 10px 0;
	border-right: 1px solid #CDDDEB;
	height: 100%;
}
.programme-tv ul li.active{
	background: #F7FAFD;
}
.programme-tv ul.navJours{
}
.programme-tv ul.navJours > li:first-child{
	/*width: 212px;*/
}
.programme-tv .bloc-nav li a{
	color: #214563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 30px 0;
	text-transform: uppercase;
	display: block;
}
.programme-tv .bloc-nav li a:hover, .programme-tv .bloc-nav li a.active, .table-container-semaine ul.bloc-nav  li a.active{
	background: #007FBE url(../img/bg/li-jours.png) no-repeat 180px center;
	color: #FFFFFF;
	
}
.programme-tv .nav-heure li a{
	color: #1F4563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	display: block;
	margin: 0 10px;
	padding: 10px 0;
	border-top: 1px solid #CDDDEB;
}
.programme-tv .nav-heure li:first-child a{
	border: none;
}
.programme-tv .nav-heure li a span{
	color: #007FBE;
	display: block;
}
/***--Programme---*/

.breadcrumbs ul li{
	list-style-type: none;
	float: left;
	color: #597D9F;
	font-family: 'Maven Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 23px;
}
.breadcrumbs ul li a{
	color: #597D9F;
	font-family: 'Maven Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin: 0 8px 0 0;
}
.breadcrumbs ul li:first-child a{
	display: inline-block;
	height: 20px;
	text-indent: -999em;
	width: 20px;
	background: url(../img/bg/fa-home.png) no-repeat;
}
.breadcrumb > li + li:before {
    content:"\f054";
    color: #C9DDED;
    font-size: 12px;
    margin: 0 6px 0 0;
	display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.ar-main-col{
	float: left;
	margin: 17px 0 0 0;
	width: 805px;
}
.p-slide-inner{
	margin: 0 0 20px 0;
}
.p-slide-inner ul li{
	list-style-type: none;
}
.container-section .media-heading{
	color: #335572;
	font-family: 'Maven Pro', sans-serif;
	font-size: 25px;
	font-weight: 900;
	background-color: #F5F9FC;
	border: 1px solid #CDDDEB;
	padding: 3px 0 5px 15px;
	line-height: 120%;
	margin: 0 0 20px 0;
}
.container-section{
	margin: 0 0 30px 0;
}
.container-section .list-container ul li{
	list-style-type: none;
	line-height: 120%;
	float: left;
	margin: 0 24px 20px 0;
}
.container-section .list-container ul li.item-2{
	margin-right: 0;
}
.container-section .list-container ul li .wrapper-image{
	margin: 0 0 10px 0;
}
.container-section .list-container ul li .title-panel{
	color: #1F4563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 20px;
	font-weight: 500;
	
}
.container-section .list-container ul li p{
	color: #007FBE;
	font-family: 'Maven Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	
}

.bloc-right .row-pub{
	border-top: 1px solid #CDDDEB;
	height: 1px;
	margin: 0 0 14px 0;
}
.bloc-right .sidebar{
	margin: 0 0 20px 0;
}
.widget-tab .widget-title {
	border-bottom: 1px solid #D8E6F1;
	margin: 0 0 10px 0;
}
.widget-tab .widget-title span{
	padding: 3px 10px;
	background-color: #007FBE;
	color: #FFFFFF;
	font-family: 'Maven Pro', sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	float: left;
}
.widget-content ul li{
	list-style-type: none;
	float: left;
}
.widget-content ul li a{ 
	color: #666666;
	font-family: 'Maven Pro', sans-serif;
	font-size: 13px;
	font-weight: 700;
}
.widget-content ul.nav-tabs li{
	list-style-type: none;
	float: left;
	margin: 0 10px 0 0;
}
.widget-content ul.nav-tabs li .fa-chevron-right {
    color: #CCCCCC;
    font-size: 13px;
    margin: 0 8px 0 0;
}
.widget-content ul.nav-tabs{
	margin: 0 0 10px 0;
}
.widget-content ul.nav-tabs li.active a{
	color: #066CB8;
}
.widget-content .tab-content ul li .title-medias p a{
	color: #1F4563;
	font-family: 'Maven Pro', sans-serif;
	font-size: 17px;
	font-weight: 700;
}
/*---Footer---*/
.footer {
	background-color: #214563;
}
.footer .container-ar .column_block {
	float: left;
	margin: 0 0 0 74px;
	min-width: 125px;
}
.footer .container-ar .column_block:first-child {
	margin-left: 0;
}
.footer .container-ar .column_block ul li {
	list-style-type: none;
}
.footer .container-ar .footer-wrap {
	padding: 25px 0;
}
.footer .container-ar .column_block ul {
	border-top: 1px solid #437CA7;
	padding: 14px 0 0 0;
}
.footer .container-ar .column_block .block-title {
	color: #7CAACB;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 8px 0;
}
.footer .container-ar .column_block ul li a {
	color: #7CAACB;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.footer .container-ar .column_block ul li a:hover {
	color: #f0f0f0;
}
.footer .footer-bottom {
	background-color: #101F2C;
	padding: 25px 0 20px 0;
}
.footer .footer-bottom .text-center {
	text-align: center;
	display: block;
	margin: 0 auto 20px;
	width: 276px;
}
.footer-copyright {
	background-color: #0A1118;
	padding: 8px 0;
}
.footer-copyright p {
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	line-height: 120%;
}
.footer-sociaux {
	margin: 0 auto;
	width: 320px;
}
.footer-sociaux ul li {
	list-style-type: none;
	float: left;
	margin: 0 15px;
}
.footer-sociaux ul li a {
	display: block;
	float: left;
	height: 32px;
	text-indent: -999em;
	width: 32px;
	background: url(../img/bg/icon-sociaux.png) no-repeat;
}
.footer-sociaux ul li .fb-ar {
	background-position: -32px 0;
}
.footer-sociaux ul li .tw-ar {
	background-position: -32px -32px;
}
.footer-sociaux ul li .google-ar {
	background-position: -32px -64px;
}
.footer-sociaux ul li .mobile-ar {
	background-position: -32px -128px;
}
.footer-sociaux ul li .nl-ar {
	background-position: -32px -96px;
}
.footer-sociaux ul li .fb-ar:hover {
	background-position: 0 0;
}
.footer-sociaux ul li .tw-ar:hover {
	background-position: 0 -32px;
}
.footer-sociaux ul li .google-ar:hover {
	background-position: 0 -64px;
}
.footer-sociaux ul li .mobile-ar:hover {
	background-position: 0 -128px;
}
.footer-sociaux ul li .nl-ar:hover {
	background-position: 0 -96px;
}

/*** POUR LE SLIDE DES COLONNES DE LA TABLE ***/

.table-container {
    width:100%; /* Total width of visible columns + border widths */
    overflow-x:hidden;
	position:relative;
}

.table-container-semaine{
	padding: 20px 0 0 0;
	margin-top:50px;
	min-height:600px;
	height:auto;
	overflow-x:hidden;
}

.table-container-semaine ul.bloc-nav  li a{
    color: #214563;
    display: block;
    font-family: 'Maven Pro',sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0;
    text-transform: uppercase;
	text-align:center;
}

.table-container-anime{
	position:absolute;
	left:210px;
	overflow:none;
	top:0;
}

.titre_programmes{
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	background:#fff;
}

.table-container-soiree {
    overflow:hidden;
	width:820px;
	float:left;
	position:relative;
	height:600px;
}

.sliding-window {
    overflow:hidden;
	min-width:920px;
}

.sliding-window ul, .table-container-semaine ul{
    float:left;
}

.sliding-window-top{
	width:20000px;
	overflow:hidden;
	position:absolute;
	left:0;
}

.container-emission{
	display:inline;
	overflow:hidden;
	float:left;
	margin-right:30px;
}

.titre-header{
	float: left;
    line-height: 120%;
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0 0 18px;
    text-align: center;
	width:213px;
}

.table-container-anime .programme-tv{
	overflow-x:hidden;
	height:auto;
	max-height:600px;
}

.nav-grille a{
	position:absolute;
	color:transparent;
}

.nav-grille .previous-column{
	left:205px;
	background:url("../img/bg/li-nav-l.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
	z-index:200;
}

.nav-grille .next-column{
	right:-7px;
	background:url("../img/bg/li-nav-r.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
	z-index:200;
}

