
.content_desc_faq{margin:0;padding:0;}
.content_desc_faq p{font-family: "Maven Pro";font-size:16px;line-height: 140%;text-align:justify;padding:0 0 20px 0;}
.content_top_dix_question{margin:0;padding:0;}
/*.content_top_dix_question h3{font-family: "Maven Pro";text-transform:uppercase;font-size:18px;color:#0078c1;padding:0 0 20px 0;}*/
.accordion {background-color: #dddddd;color: #0078c1;cursor: pointer;padding:0 4px;width: 100%;text-align: left;border: none;outline: none;transition: 0.4s;margin:0 0 2px 0;font-family: "Maven Pro";font-size:16px;font-weight:bold;text-decoration:underline;}
.accordion.active, .accordion:hover {background-color: #ccc;text-decoration:none;}
.accordion h3{border-left:4px solid #fff;padding:10px 5px;display:block;}
.panel {padding: 0 35px 0 35px;background-color: white;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;margin-bottom: 0;box-shadow: none;font-family: "Maven Pro";font-size:16px;line-height: 140%;}
.accordion.active{margin:0 0 28px 0;} 
