#castings_runstar li {
	float:left !important;
	width:50% !important;
}
#castings_runstar li .text-holder {
	margin-left:0 !important;
}
.cnil_runstar {
	background:#F0F5F9;
	border: 1px solid #E5E9ED;
	padding: 5px 10px 15px 20px;
	margin: 0 0 20px 0;	
}
.cnil_runstar * {
	font-family:"Maven Pro",sans-serif;
}
.cnil_runstar p a {
	text-decoration:underline !important;
	display:block;
	text-align:center !important;
}
.gagnant_image {
	width:100%;
	/*max-width:290px;*/
	height:auto;
}