/**dove**/
.main-top {
	margin: 0 0 40px 0;
}
.p-featured {
	margin: 0 0 40px 0;
}
.wrapper-primary {
	width: 470px;
	margin-right: 20px;
	float: left;
}
.wrapper-secondary {
	width: 470px;
}
.wrapper-primary  h2 {
	color: #1E6573;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 32px;
	font-family: "Maven Pro",sans-serif;
    font-weight: 900;
}
.wrapper-primary p {
	color: #1F4563;
	font-family: "Maven Pro",sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.wrapper-primary p span{
    font-weight: 700;
}
.content-area {
	border-top: 1px solid #cdddeb;
	padding: 20px 0;
	text-align: center;
}
.content-area .btn {
    -moz-user-select: none;
    border-radius: 20px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 25px 10px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;
	color: #FFFFFF;
	font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
	background: url(../img/puce-deo.png) no-repeat 15px center #73BB1F;
}
.section-block {
	padding: 35px 0 0 0;
	position: relative;
}
.section-block img.compresse {
	width: auto;
	position: absolute;
	top: 20px;
	left: 20px;
	
}
.section-block p {
	color: #1F4563;
	font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 400;
	
}
.section-block ul li {
	list-style-type: none;
	color: #1F4563;
	font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 400;
	margin: 0 0 8px 0;
	background: url(../img/puce-li.png) no-repeat 0 5px;
	padding-left: 25px;
}
.section-block ul li span {
	font-weight: 700;
}
.section-block .block-primary {
	float: left;
	width: 440px;
	padding-top: 55px;
	margin-right: 20px;
}
.section-block .block-primary h2{
	text-transform: uppercase;
	color: #1E6573;
	font-family: "Maven Pro",sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}

.section-block .block-secondary {
	display: block;
}
.section-block .block-secondary h3 {
	color: #1F4563;
	font-family: "Maven Pro",sans-serif;
    font-size: 22px;
    font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.section-block .block-secondary h3 span {
	color: #77AC19;
}
.section-inner {
	padding: 10px 15px 40px;
	background: #F0F5F9;
}
.compresse-area {
	width: 70%;
	margin: 0 auto;
}
.breadcrumbs {
	margin-bottom: 10px;
}
.innovation-lists {
	border-top:1px solid #cdddeb !important;
	margin-top:28px;
	padding:40px 0 0 0;
	color: #1F4563;
	font-family: "Maven Pro",sans-serif;
	font-size:15px;
}
.innovation-lists li {
    float: left;
    list-style-type: none;
    margin: 0 0 20px 0;
    width: 280px;
	height:310px;
	padding:18px;
	background:url(../img/compresses-item-bg.jpg) no-repeat bottom center;
}
.innovation-lists li h3 {
	padding:0 0 60px 80px;
}
.innovation-lists .ico1 {
	background:url(../img/ico_compresses_1.jpg) no-repeat left top;
}
.innovation-lists .ico2 {
	background:url(../img/ico_compresses_2.jpg) no-repeat left top;
}
.innovation-lists .ico3 {
	background:url(../img/ico_compresses_3.jpg) no-repeat left top;
}
.compresses_images {
	margin-bottom:20px;
}