
@charset "utf-8";
/* CSS Document */
@font-face {font-family: "Maven Pro Light 200 Regular";
  src: url("https://www.antennereunion.fr/squelettes/assets/fonts/maven_pro_light_200.eot"); /* IE9*/
  src: url("https://www.antennereunion.fr/squelettes/assets/fonts/maven_pro_light_200.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://www.antennereunion.fr/squelettes/assets/fonts/maven_pro_light_200.woff2") format("woff2"), /* chrome、firefox */
  url("https://www.antennereunion.fr/squelettes/assets/fonts/maven_pro_light_200.woff") format("woff"), /* chrome、firefox */
  url("https://www.antennereunion.fr/squelettes/assets/fonts/maven_pro_light_200.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("https://www.antennereunion.fr/squelettes/assets/fonts/maven_pro_light_200.svg#Maven Pro Light 200 Regular") format("svg"); /* iOS 4.1- */
}
#wowslider-container1 .ws-title-wrapper .ws-title.carousel-caption{width:420px!important;bottom:50px!important;left:0;z-index:99999;float:left!important;}
#wowslider-container1 .ws-title p{padding:0!important;}
#wowslider-container1 .ws-title div{width:100%;}
#wowslider-container1 a.ws_prev,#wowslider-container1 a.ws_next{display:none;}
#wowslider-container1 .ws-title span.horaire{/*border-bottom:1px dotted #fff;*/font-family: "Maven Pro", sans-serif;font-size:20px;margin-bottom:0!important;height:inherit!important;background-color:transparent!important;padding:10px 0 10px 0;display:none!important;}
#wowslider-container1 .ws-title .horaire.horaire_vide{line-height:10px;padding-bottom:0;}
#wowslider-container1 .ws-title span.horaire a{font-size:20px!important;font-weight:normal;font-family: "Maven Pro", sans-serif;}
#wowslider-container1 .title-carousel{padding:0 0 10px 0!important;float:none!important;line-height:32px;border-bottom:1px dotted #fff;display:block;}
#wowslider-container1 .title-carousel a{font-size:31px!important;font-family: "Maven Pro", sans-serif;font-weight:bold;}
#wowslider-container1 .ws_bulframe div div{height:auto!important;}
#wowslider-container1 .ws-title .titre_art_caroussel{display:block!important;width:100%!important;margin-bottom:0!important;height: inherit!important;font-family: "itc_avant_garde_gothic_proMd";font-size:20px;font-weight:normal!important;padding-bottom:10px!important;}
.lien_vers_art{height:auto;display:table!important;padding:10px 25px 10px 40px;font-family: "Maven Pro",sans-serif!important;font-size:16px!important;text-align:center;text-transform:uppercase;background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 15px center #007fbe;font-weight:700!important; line-height:16px!important;transition: all 300ms ease 0s;}
.lien_vers_art:hover{background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 15px center #349ee6;}
#wowslider-container1 .ws_bullets a{width:12px;height:12px;background:#fff;}
#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover{background:#007fbe;}
#wowslider-container1 p.desc-carousel{clear:both!important;background-color:rgba(0, 0, 0, 0.5)!important;padding:10px 10px 10px 10px!important;width:400px;}
#wowslider-container1 .ws-title span{float:none!important;background-color:rgba(0, 0, 0, 0.5)!important;display:block!important;padding:10px 10px 0 10px;}
#wowslider-container1 br{display:none!important;}
#wowslider-container1 .title-carousel br,#wowslider-container1 .titre_art_caroussel br{display:block!important;}

@media screen and (max-width:1024px){#wowslider-container1 .ws-title-wrapper .ws-title.carousel-caption{bottom:25px!important;}#wowslider-container1{height:auto!important;}}



