@charset "utf-8";
/* CSS Document */
#page_container{background-image:none;background-color:#fff;}
.section-bandeau{height:auto;}
.breadcrumbs ul li:first-child a{background:url('https://www.antennereunion.fr/squelettes/assets/img/bg/fa-home.png') no-repeat scroll 0px 0px transparent;}
.breadcrumb > li + li:before {color: #c9dded!important;}
.breadcrumbs ul li a {color: #597d9f!important;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 400;margin: 0px 8px 0px 0px;}
.breadcrumbs ul li{color: #597d9f!important;}
.breadcrumbs ul li a:hover {color: #e2001a!important;text-decoration:none;}
.content_nous_rejoindre_large{padding:0 0 40px 0;}
.content_nous_rejoindre_large img{width:100%;height:auto;}
.programme-n3 #mainContainer .main-inner{border:1px solid #cdddeb;border-top:0;border-bottom:0;padding-top:0;}
.programme-n3 #mainContainer .breadcrumbs {background-color: #FFFFFF;border-left: 1px solid #cdddeb;border-right: 1px solid #cdddeb;padding: 10px 17px;border-top:1px solid #cdddeb;border-bottom:0!important;}
.titre_headline .title-headline {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size:30px;font-weight: 700;line-height: 110%;margin: 0 0 5px 0;}
#mainContainer .titre_headline {margin: 0px 0px 20px;padding: 40px 0px 0px 16px !important;background: #ffffff;}
#video_container{padding-bottom:20px;}
.content_liste_emploie_rejoindre_nous{margin:0;padding:0 0 20px 0;}
.content_liste_emploie_rejoindre_nous ul{list-style-type:none;margin:0;padding:0;}
.content_liste_emploie_rejoindre_nous ul li{width:100%;background:#e6e6e6;margin:0 0 2px 0;padding:0 4px;}
.content_liste_emploie_rejoindre_nous ul li .content_gris{border-left:4px solid #fff;border-right:4px solid #fff;padding:0 14px;font-size:22px;font-weight:bold;font-family: "Maven Pro";color:#007fbe;text-decoration:underline;text-transform:uppercase;display:block;}
.content_liste_emploie_rejoindre_nous ul li .content_gris:hover{text-decoration:none;}
.content_liste_emploie_rejoindre_nous ul li .content_gris span{padding:10px 0;display:block;}
.widget-tab .widget-title span {background-color: #007fbe;color: #ffffff;display: inline-block;float: left;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 700;padding: 5px 20px;}
.widget-tab .widget-title {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 10px;}
.widget-content .tab-content ul li .figure-player .meta-title {background-color: #007fbe;bottom: 0px;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 1px 7px 2px;position: absolute;right: 0px;text-transform: uppercase;}
.widget-content .tab-content ul li:first-child .title-medias .num-count {background-color: #007fbe;color: #ffffff;}
.widget-content .tab-content ul li .title-medias .num-count{border: 1px solid #007fbe;color: #007fbe;display: block;float: left;font-size: 13px;line-height: 120%;margin: 5px 10px 0 0;padding: 0 4px;font-family: "Maven Pro", sans-serif;}
.morepostag a {background-color: #007fbe;color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 14px;font-weight: 700;padding: 5px 15px;text-transform: uppercase;transition: background-color 0.3s ease 0s;}
.bloc-bouton-erreur a:hover, .morepostag a:hover {background-color: #e2001a;text-decoration:none;}
.content_offre_emploi_nous_rejoindre{width:100%;margin:0;padding:0 0 20px 0;font-family: "Maven Pro";}
.content_offre_emploi_nous_rejoindre h2{margin:0;padding:0 0 30px 0;font-family: "Maven Pro";font-size:30px;color:#007fbe;font-weight:600;}
.content_offre_emploi_nous_rejoindre ul{margin:0;padding:0;list-style-type:none;}
.content_offre_emploi_nous_rejoindre h3{margin:0;padding:0;font-family: "Maven Pro";font-size:15px;font-weight:normal;color:#ee0013;padding-bottom: 10px;}
.content_offre_emploi_nous_rejoindre .list_text_profil{padding:0 0 0 30px;}
.content_offre_emploi_nous_rejoindre .content_list_pofil .list_text_profil li{margin:0;padding:0;font-family: "Maven Pro";font-size:15px;font-weight:normal;list-style-type:disc; list-style-position: outside;}
.content_offre_emploi_nous_rejoindre .content_list_pofil li{padding:0 0 30px 0;}
.content_offre_emploi_nous_rejoindre p{margin:0;padding:0;font-family: "Maven Pro";font-size:15px;font-weight:normal;}
.content_offre_emploi_nous_rejoindre h4{margin:0;padding:0;font-family: "Maven Pro";font-size:15px;font-weight: 500;}
.lien_consult_offre_emploie a{text-decoration: underline;font-size:15px;color:#007fbe;}
.lien_consult_offre_emploie a:hover{text-decoration:none;}
#valeur_entreprise{background:#e6e6e6;padding:20px;margin:0 0 20px 0;}
#valeur_entreprise h2{margin: 0 0 10px 0;font-family: "Maven pro";font-size: 25px;font-weight: 600;color:#007fbe;}
#valeur_entreprise p{margin: 0 0 10px 0;font-family: "Maven pro";font-size:14px;padding:0;font-weight:normal;}


