#page_container{background:none;}
.direct-container {background-color: #142b3d;}
.direct-containerprogramme {margin: 0px auto;padding-top: 20px;width: 1000px;}
.direct-containerprogramme-video {float: left;margin: 0px auto;width: 646px;}
.direct-block-fl-video {float: left;width: 20px;}
.direct-containerprogramme-tweet {float: right;margin: 0px auto;padding-top: 16px;width: 330px;}
.direct-container-title {margin: 0px auto;padding-top: 10px;}
.titre_headline-directe {padding: 0px;}
.titre_headline-directe .title-headline-direct {color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 30px;font-weight: 400;line-height: 120%;text-transform: none;margin:0;}
.titre_headline-directe .title-headline-direct span {font-weight: 900;}
.direct-br-container {margin: 0px auto;padding: 5px 0px 10px;}
.direct-br-container .breadcrumb{background-color:transparent!important;}
.direct-br-container .breadcrumbs ul li {color: #597d9f!important;float: left;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 400;line-height: 23px;list-style-type: none;}
.direct-br-container .breadcrumbs ul li:first-child a {
    background: url('https://www.antennereunion.fr/squelettes/assets/img/bg/fa-home.png') no-repeat scroll 0px 0px transparent;display: inline-block;height: 20px;text-indent: -999em;width: 20px;}
.direct-br-container .breadcrumb > li + li:before {color: #c9dded!important;content: "";display: inline-block;font-family: FontAwesome;font-size: 12px;font-style: normal;font-weight: normal;line-height: 1;margin: 0px 6px 0px 0px;}
.clear {clear: both;height: 0px;overflow: hidden;width: 100%;}
.direct-containerprogramme-video .video-direct{margin-bottom: 0;}
.direct-containerprogramme-video .titre-replay {color: #214563;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 500;line-height: 25px;margin:10px 0px 5px;text-align: left;}
.direct-containerprogramme-tweet .bouton_twitter p {color: #ffffff;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 400;line-height: 18px;margin-left: 18px;padding-top: 12px;}
.bouton_twitter p span {font-size: 24px;font-weight: 700;}
/*.container-ar.direct_contenu{display:none;}*/
.direct-containerprogramme-video .social-replayDirect{padding:15px 0px;width:100%;clear:both;margin:0;}
.direct-containerprogramme-tweet .bouton_twitter{margin:0 0 20px 0;}
#mainContainer .main-inner {border: 1px solid #cdddeb;padding: 20px 19px;}
.titleBlockdirect {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 30px;font-weight: 400;line-height: 100%;text-transform: none;margin: 0 0 20px 0;}
.container-replay {display: inline;float:left;margin-top:10px;list-style-type:none;}
.container-replay ul{list-style-type:none;}
.ar-main-col ul{margin:0;padding:0;}
.heur-replay {float: left;width: 100px;margin:0 0 10px 0;}
.container-replay ul li .videoReplay {background-color: #f0f5f9;float: none;margin-left: 100px;padding: 15px;width: 500px;}
.container-replay li .heureReplay {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 30px;font-weight: lighter;margin: 5px 0 0 0;padding:0;line-height:100%;text-align: center;}
.container-replay li .dateReplay {color: #009eea;font-family: "Maven Pro", sans-serif;font-size: 15px;font-weight: lighter;margin-top: 6px;text-align: center;width: 97px;}
.ligne-heurreplay {margin-left: 47px;margin-top: 25px;text-align: center;width: 7px;}
.titre-replay {color: #214563;font-family: "Maven Pro", sans-serif;font-size: 20px;font-weight: 500;line-height: 25px;margin: -5px 0px 5px;text-align: left;}
.container-ar a {color: inherit;text-decoration: none;}
.titre-emission-replay {color: #009eea;font-family: "Maven Pro", sans-serif;font-size: 13px;font-weight: 500;margin: 0px 0px 15px;text-align: left;text-transform: uppercase;}
.video-replay{width:100%;position:relative;height:100%;}
.video-replay img{width:100%;height:auto;}
.resumeReplay {color: #1f4563;font-family: "Maven Pro", sans-serif;font-size: 15px;font-weight: 500;line-height: 20px;margin: 15px 0px;overflow: hidden;text-align: left;}
.social-replay {margin: 15px 0px;}
.social-replay td{vertical-align:top;}
.video-replay .icon-video{left:45%;top:45%;}
.widget-tab .widget-title span{background-color:#007fbe;font-family: "Maven Pro", sans-serif;}
.widget-tab .widget-title {border-bottom: 1px solid #d8e6f1;margin: 0px 0px 10px;}
.widget-content .tab-content ul li:first-child .title-medias .num-count {background-color: #007fbe;color: #ffffff;}
.widget-content .tab-content ul li:first-child .title-medias .num-count { background-color: #007fbe;color: #ffffff;}
.widget-content .tab-content ul li .title-medias .num-count {
border: 1px solid #007fbe;
color: #007fbe;
display: block;
float: left;
font-family: "Maven Pro", sans-serif;
font-size: 13px;
font-weight: 700;
line-height: 120%;
margin: 5px 10px 0px 0px;
padding: 0px 4px;
}
.morepostag a {
background-color: #007fbe;
color: #ffffff;
font-family: "Maven Pro",sans-serif;
font-size: 14px;
font-weight: 700;
padding: 5px 15px;
text-transform: uppercase;
transition: background-color 0.3s ease 0s;
}
.widget-content .tab-content ul li .title-medias .item-title {
line-height: 20px;
margin: 0px 0px 0px 27px;
}
.widget-content .tab-content ul li .title-medias .item-title a {
color: #1f4563;
font-family: "Maven Pro", sans-serif;
font-size: 17px;
font-weight: 700;
}
.widget-content .tab-content ul li .figure-player .meta-title {
background-color: #007fbe;
bottom: 0px;
color: #ffffff;
font-family: "Maven Pro", sans-serif;
font-size: 14px;
font-weight: 700;
padding: 1px 7px 2px;
position: absolute;
right: 0px;
text-transform: uppercase;
}
@media screen and (max-width:1024px) {
.direct-containerprogramme{width: 100%;margin: 0;padding: 0 30px;box-sizing: border-box;}
.direct-container-video{width:100%;}
.direct-containerprogramme-video .video-direct{width:100%;height:auto;}
.direct-containerprogramme *{box-sizing: border-box;}
.direct-containerprogramme-video{width:60%;}
.direct-containerprogramme-tweet{width:38%;}
.direct-block-fl-video{width:2%;}
#companion_top{display:none;}
.direct-containerprogramme-video .videoReplay{width:auto!important;}
.logo-ar a img{margin:10px auto 0 auto!important;}
#video_not_authorized{padding:0 10px;}

}
@media screen and (max-width:991px) {
    .ar-main-col{width:66.666%!important;}
    .bloc-right{width:33.333%!important;}
    .container-replay ul li .videoReplay{width:75%;}
    .heur-replay{width:15%;}
}
@media screen and (max-width:768px) {
.direct-containerprogramme-video{width:100%;}
.direct-block-fl-video{display:none;}
.direct-containerprogramme-tweet{width:100%;}
.direct-containerprogramme-tweet .bouton_twitter{padding:0 28px 0 0;}    
.ar-main-col{width:100%!important;}
.bloc-right{width:100%!important;}
.ar-side-col.bloc-right img{max-width:inherit!important;}
}
@media screen and (max-width:480px) {
    .heur-replay{width:100%;float:none;height:auto;}
    .container-replay ul li .videoReplay{width:100%;float:none;margin-left:0;margin-bottom:20px;}
    .ligne-heurreplay{display:none;}
    .container-replay li .heureReplay{text-align:left;}
    .container-replay li .dateReplay{width:100%;text-align:left;}
    .container-replay li .heureReplay{font-size:20px;}
    .titre_headline-directe .title-headline-direct{font-size:20px;}
    .container-replay ul li{margin-bottom:0;}
}
@media screen and (max-width:375px) {
    .direct-containerprogramme-tweet .bouton_twitter p span{font-size:12px;}
    .direct-containerprogramme-tweet .bouton_twitter div{width:100%!important;} 
}
