a {
     text-decoration: none;
}

.slider-nav ul li .carousel-caption h2 a {
     font-weight: 700 ! important;
}

.verticalList .innerList ul li .post-fig .icon-video {
     left: 122px ! important;
     top: 52px ! important;
}

.loading {
     background-image: url("../img/loading-01.gif") ! important;
     background-position: center center ! important;
     background-repeat: no-repeat ! important;
     width: 100%;
}

.loading_hp {
     height: 360px;
}

.loading_programme {
     height: 361px;
}

.loading_replay {
     height: 361px;
}

.loading_carroussel_slideshow {
     height: 362px;
}

.loading_carroussel_thumb {
     height: 67px;
}

.p-slide-inner {
     margin: 0px 0px 20px ! important;
}

.header {
     z-index: 10000 ! important;
}

.programme-n3 div.breadcrumbs {
     background-color: #FFFFFF;
     border-left: 1px solid #D8E6F1;
     border-right: 1px solid #D8E6F1;
     padding: 10px 17px;
}

.programme-n3 section.video_container {
     background-color: #F4F4F4;
     border: 1px solid #D8E6F1;
     clear: both;
     padding: 20px;
}

.programme-n3 section.video_container .ar-main-col {
     margin: 0px;
}

.programme-n3 .thumbimage {
     position: relative;
}

.programme-n3 .title-main-video {
     background: url("../img/data/bg-title-video.fw.png") repeat scroll center center transparent;
     bottom: 0px;
     color: #FFFFFF;
     font-family: 'Maven Pro',sans-serif;
     font-size: 22px;
     left: 0px;
     position: absolute;
     text-decoration: none;
     width: 100%;
	 font-weight: 400;
}
.programme-n3 .title-main-video h1 {
     font-size: 25px ! important;
     font-weight: normal;
}

.programme-n3 p.title_actu_bloc_right {
     margin: 15px 0px;
}

.programme-n3 .widget-wrap:last-child p.title_actu_bloc_right {
     margin: 15px 0px 0px;
}

.programme-n3 .title_actu_bloc_right a {
     color: #335472;
     font-family: 'Maven Pro',sans-serif;
     font-size: 18px;
     font-weight: 500;
     line-height: 1.1%;
     text-decoration: none;
}

.programme-n3 .title-main-video p {
     margin: 0px;
     padding: 3px 10px 5px;
}

.programme-n3 #mainContainer .breadcrumbs {
     border-bottom: 1px solid #D8E6F1;
     padding: 25px 15px 10px 15px;
}

#primary .slider-nav ul li {
    
}

.container-emission ul li .imgEmission {
     width: 263px;
}

.grille_programmes ul li .emissionInfo a span {
     color: #1F4563;
     display: inline;
     font-size: 14px;
     font-weight: 400;
}

.grille_programmes ul li .emissionInfo a span.dateEmission {
     color: #007FBE;
     display: block;
     font-size: 20px;
}

.table-container {
     //overflow-x: hidden;
     position: relative;
     width: 100%;
}

.table-container-semaine {
     height: auto;
     margin-top: 50px;
     min-height: 800px;
     padding: 20px 0px 0px;
}

.table-container-semaine ul.bloc-nav li a {
     color: #214563;
     display: block;
     font-family: 'Maven Pro',sans-serif;
     font-size: 20px;
     font-weight: 400;
     padding: 30px 0px;
     text-align: center;
     text-transform: uppercase;
}

.table-container-anime {
     left: 210px;
     position: absolute;
     top: 0px;
}

.titre_programmes {
     background: none repeat scroll 0% 0% #FFFFFF;
     left: 0px;
     position: absolute;
     top: 0px;
     z-index: 10;
}

.table-container-soiree {
     float: left;
     height: auto;
     min-height: 480px;
     overflow: hidden;
     position: relative;
     width: 640px;
}

.sliding-window {
     min-width: 920px;
     overflow: hidden;
}

.sliding-window ul, .table-container-semaine ul {
     float: left;
}

.sliding-window-top {
     left: 0px;
     overflow: hidden;
     position: absolute;
     width: 20000px;
}

.container-emission {
    display: inline;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.titre-header {
     float: left;
     line-height: 120%;
     list-style-type: none;
     margin: 0px 0px 10px;
     padding: 0px 0px 18px;
     text-align: center;
     width: 213px;
}

.table-container-anime .programme-tv {
     height: auto;
     max-height: 600px;
     overflow: hidden;
}

.nav-grille a {
     color: transparent;
     position: absolute;
}

.nav-grille .previous-column {
     background: url("../img/bg/li-nav-l.png") no-repeat scroll center bottom transparent;
     left: 205px;
     z-index: 200;
}

.nav-grille .next-column {
     background: url("../img/bg/li-nav-r.png") no-repeat scroll center bottom transparent;
     right: -7px;
     z-index: 200;
}

#grille_programmes {
     padding: 0px;
}

.programme-tv .bloc-nav li a:hover, .programme-tv .bloc-nav li a.active, .table-container-semaine ul.bloc-nav li a.active {
     background: url("../img/bg/li-jours.png") no-repeat scroll 170px center #007FBE;
     color: #FFFFFF;
}

.titre_programmes .prevSem {
     background-color: #007FBE;
     color: #FFFFFF;
     font-family: 'Maven Pro',sans-serif;
     font-size: 25px;
     font-weight: 400;
     line-height: 100%;
     padding: 12px 0px 15px;
}

.grille_programmes ul.navJours > li:first-child {
     width: 110px;
}

#grille_soirees ul.navJours > li:first-child {
     width: 190px;
}

.titre_programmes {
     background: none repeat scroll 0% 0% #FFFFFF;
     height: 800px;
     left: 0px;
     position: absolute;
     top: 0px;
     z-index: 10;
     width: 180px;
}

.programme-tv ul.navJours {
     height: 800px;
}

.sliding-window-top {
     left: -670px;
     overflow: hidden;
     position: absolute;
     width: 20000px;
}

.nav-item ul {
     width: 213px;
}

.titre_programmes .prevSem span {
     display: block;
     font-size: 30px;
     font-weight: 700;
}

.table-container-semaine ul.bloc-nav li a {
     font-size: 22px;
     text-transform: uppercase;
}

.titre-header {
     width: 190px;
}

.nav-item ul {
     width: 190px;
}

.table-container-anime {
     left: 190px;
}

.container-emission ul li .resumeEmission {
     text-align: justify;
     width: 213px;
}

.container-emission ul li .imgEmission {
     width: 310px;
}

.verticalList .innerList .post-texts h4 a:hover {
     color: #E2001A;
}

.video #mainContainer .main-inner {
     padding-top: 0px ! important;
}

.topics-box .topiclist ul li .text-holder .txt-extract {
     color: #1F4563;
     font-family: 'Maven Pro',sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 120%;
     margin: 0px 0px 10px;
}

.article-section .excerpt h2 {
     color: #1F4563;
     font-family: 'Maven Pro',sans-serif;
     font-size: 17px;
     font-weight: 700;
     line-height: 120%;
}

.video .topics-box .topiclist ul {
     border-bottom: 0px none ! important;
     padding: 0px ! important;
}

.programme-n3 .title-main-video h1 {
     margin: 0px;
     padding: 3px 10px 5px;
}

.feat-cat3 .main-cat ul li.item-4 {
     margin-left: 0px;
     clear: both;
}

#primary .slider-nav ul.slides li {
     height: 360px ! important;
}

#primary .slider-nav ul.flex-direction-nav li {
     height: auto ! important;
}

.container-section .list-container ul li p a {
     color: #FFFFFF ! important;
}

.banner-row ul li .panel-date a {
     color: #007FBE;
     font-family: 'Maven Pro',sans-serif;
     font-size: 30px;
     font-weight: 400;
     margin: 0px 0px 12px;
}

.banner-row ul li .panel-desc a {
     color: #3674A0;
     font-family: 'Maven Pro',sans-serif;
     font-size: 17px;
     font-weight: 400;
     height: 20px;
     overflow: hidden;
     text-transform: uppercase;
}

.table_newsletter {
     color: #1F4563;
     font-family: 'Maven Pro',sans-serif;
     font-size: 14px;
     margin-bottom: 10px;
}

.table_newsletter tr {
     line-height: 25px;
}

.table_newsletter td {
     vertical-align: top;
}

.table_newsletter td.label {
     font-weight: bold;
     width: 15%;
}

.table_newsletter td span {
     font-style: italic;
     margin-left: 10px;
}

.table_newsletter input[type="text"], .table_newsletter select, .table_newsletter input[type="email"] {
     width: 50%;
}

.table_newsletter ul {
     color: #FF0000;
     font-weight: bold;
     line-height: 25px;
     margin-bottom: 24px;
     margin-left: 15px;
}

.hide_search_btn {
     background: url("../img/bg/clz_btn.png") no-repeat scroll center center transparent;
     cursor: pointer;
     display: block;
     float: left;
     height: 35px;
     text-indent: -999em;
     width: 45px;
}

/*.wrapper-header .search-expand {
     right: 0px;
     top: 15px;
}*/

.popup_newsletter {
     color: #333333;
     font-size: 13px;
     font-style: normal;
     font-weight: normal;
     line-height: 120%;
     max-width: 520px ! important;
     width: 100% ! important;
}

.popup_newsletter .column_right {
     float: left;
     padding: 5px;
     width: 200px;
}

.popup_newsletter .column_right a {
     color: #000000 ! important;
     font-weight: bold;
}

.popup_newsletter .column_left {
     background-color: #FFFFFF ! important;
     border: medium none ! important;
     float: left;
     padding: 5px;
     width: 285px;
}

.popup_newsletter .column_left h3 {
     font-size: 15px;
     margin-top: 15px;
}

.popup_newsletter .reglement {
     clear: both;
     font-size: 10px;
     padding: 5px;
     text-align: justify;
}

.popup_newsletter .scan input {
     margin-bottom: 15px;
}

.popup_newsletter .column_right .row div {
     font-weight: bold;
}

.popup_newsletter .column_right .row div:first-child {
     margin-bottom: 21px;
}

.popup_newsletter .column_right .row div img {
     height: 290px;
     margin-bottom: 5px;
     width: 200px;
}

#newsletter_modal {
     background-color: #FFFFFF;
     border: 10px solid #CDDDEB ! important;
     box-shadow: none ! important;
     color: #1F4563 ! important;
     display: none;
     font-family: "Maven Pro",sans-serif ! important;
     font-size: 15px ! important;
     padding: 10px;
     position: relative;
     z-index: 100002 ! important;
}

.popup_newsletter .column_right .row div {
     font-size: 17px ! important;
     font-weight: 700 ! important;
     line-height: 110% ! important;
}

.scan {
     font-size: 15px;
}

.popup_newsletter .column_left h3 {
     font-size: 17px;
     margin-top: 15px;
}

input#mail_user {
     border: medium none;
     box-shadow: 0px 0px 5px #9DC7EA;
     height: 20px ! important;
     padding: 7px;
}

button#ajax_submit_newsletter {
     background: none repeat scroll 0px 0px #007FBE;
     border: medium none ! important;
     box-shadow: none ! important;
     color: #FFFFFF;
     display: inline-block;
     font-family: Maven Pro;
     font-size: 15px ! important;
     font-weight: 600;
     margin: 0px 0px 0px 5px;
     padding: 6px ! important;
}

.scan > span {
     font-size: 13px;
     font-weight: bold;
}
/*Direct*/
.direct .fond_video {
    background: none repeat scroll 0 0 #101f2c;
    padding-top:15px;
    font-family: 'Maven Pro',sans-serif;
}
.direct .direct_bread {
    padding :5px 0 10px 0!important;
}
.direct .fond_video .ar-main-col{
    margin:0!important;
    width:670px!important;
}
.direct .direct_right {
    margin-top:15px!important;
}
.direct .bouton{
    background-color: #009bd1;
    height: 60px;
}
.direct .fond_gris{
    background-color: #f0f5f9;
    width:500px;
    float:right;
    padding:5px 15px 10px;
    font-family: 'Maven Pro',sans-serif;
    min-height: 400px;  
}
.direct .detail_replay{
    width:100px;
    float:left;
}
.direct img{
    display:inline-block!important;
}
.direct ul li.item_separator{
    clear:both;
}
.direct .fond_video .titre_headline{
    padding:0!important;
}
.direct .fond_video .title-headline{
    color:#fff;
    text-transform: none;
    padding:0!important;
}
.direct .detail_replay .heure_replay{
    color: #1f4563;
    font-family: 'Maven Pro',sans-serif;
    font-size:22px;
    font-weight:400;
}
.direct .detail_replay .date_replay{
    color: #007fbe;
    font-family: 'Maven Pro',sans-serif;
    font-size:13px       
}
.direct .fond_gris .titre_replay{
    color: #1f4563;
    font-size:22px;
    font-weight:400;
}
.direct .fond_gris .rubrique_replay{
    color: #007fbe;
    font-size:15px;
    font-weight:700;
    text-transform:uppercase;
    padding: 5px 0;
}
.direct .widget-title{
    color: #1f4563;
    font-family: 'Maven Pro',sans-serif;
    font-size:27px;
    font-weight:400;
}
.direct .chapo_replay{
    padding:10px 0;
}
.direct .row-pub{
    height: 1px;
    border-top: 1px solid #cdddeb 
}
.direct blockquote
{
  font-style:normal;
  background:url('../img/bg/blockquote.png');
  background-repeat:no-repeat;
  background-position: center;
  min-height: 400px;  
}
.format-video span.roll{
	background-image: none;
}
.adv-top.ad-banner img{width: auto !important;}