@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');
.panel-collapse .panel a[data-toggle="collapse"]:after { content: '\02795'; /* Unicode character for "plus" sign (+) */ font-size: 13px; color: #777; float: right; margin-left: 5px; position: absolute; right: 15px; }
.bodyGrilleTV .panel-collapse .panel.active-sous-accordion a.btn-times:after { content: "\2796";  } 
.panel-body.details{display: flex;padding: 30px 0 30px 20px;}
.panel-body.details .details_txt{padding-left: 20px;font-family:'Raleway', sans-serif;padding-right: 65px;line-height: 1.7;color: #3f3f3f; }
.panel-body.details .details_txt p{font-size: 14px;font-weight: 500;}
.panel-body.details .details_txt a{font-size: 12px; font-weight: bold;color: #3f3f3f;line-height: 1 !important;background: none;}
.panel-body.details .details_txt img{vertical-align: middle;padding-right: 7px;}
.panel:nth-child(even) a{background: #f8f8f8;}
.panel a{display: flex;padding: 6px 0px 6px 20px;text-decoration: none;position: relative;align-items: center;}
.panel{border:none;box-shadow: none;font-family:'Raleway', sans-serif;}
.panel a .time{color:  #2e5a78;font-size: 14px;font-weight: bold;max-width: 120px;width: 100%;font-family:'Raleway', sans-serif;}
.panel a .title{color: #3f3f3f;font-size: 14px;font-weight: normal;font-family:'Raleway', sans-serif;}
.panel h2.panel-title a{background: transparent url(https://www.antennereunion.fr/squelettes/assets/img/assets-grille-tv-refonte/Arrow-down-grille-tv.png) no-repeat center right !important;color: #ffffff;}
.panel-body { padding: 15px 0 15px 0;}
.panel a:hover span{color: #ee0013;}
.active-accordion{border-left:68px solid #4688b6;}

/***Start style if collpase is in****/

#accordion1.panel-group .panel, #accordion2.panel-group .panel, #accordion3.panel-group .panel{position: relative;border-radius: 0; }
#accordion1 .active-accordion .panel-default>.panel-heading, 
#accordion2 .active-accordion .panel-default>.panel-heading, 
#accordion3 .active-accordion .panel-default>.panel-heading{
    position: absolute;
    left: -68px;
    z-index: 999; 
    background: none; 
    border: none; 
    -webkit-transform: rotate(-90deg) translateX(-100%); 
    -moz-transform: rotate(-90deg) translateX(-100%); 
    -ms-transform: rotate(-90deg) translateX(-100%); 
    -o-transform: rotate(-90deg) translateX(-100%); 
    transform: rotate(-90deg) translateX(-100%);  
    -webkit-transform-origin: left top; 
    -moz-transform-origin: left top; 
    -ms-transform-origin: left top; 
    -o-transform-origin: left top; 
    transform-origin: left top; 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
    cursor: vertical-text;
    color: #ffffff;
    font-family:'Raleway', sans-serif;
    font-size: 30px;
}

#accordion1 .active-accordion .panel-default h2.panel-title a, #accordion2 .active-accordion .panel-default h2.panel-title a, #accordion3 .active-accordion .panel-default h2.panel-title a{background: none !important;}
#accordion1 .panel-default:parent < .panel-collapse.collapse.in,  #accordion2 .panel-default:parent < .panel-collapse.collapse.in,  #accordion3 .panel-default:parent < .panel-collapse.collapse.in{border-left: 60px solid #4688b6;}
.panel-group a[data-toggle="collapse"]:after{content: "";}
h2.panel-title{font-size: 30px;font-family: 'Raleway', sans-serif;}
.panel.panel-default{overflow: visible;}
.panel-heading{border-radius: 0;}
.panel{max-height: 100% !important;border-radius: 0;}
.panel-default .panel-heading{border-radius: 0; background-color: rgb(70, 136, 182);}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body { border-top: none !important;}
.active-accordion.panel-default .panel-heading{background-color: transparent !important;}
/***End style if collpase is in****/

.page-inner .title-main-video {
    background: url("https://www.antennereunion.fr/squelettes/assets/img/data/bg-title-video.fw.png") repeat scroll center center transparent;
    bottom: 0;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 22px;
    font-weight: 400;
    left: 0;
    position: absolute;
    text-decoration: none;
    width: 100%;
}

.page-inner .thumbimage{
    position: relative;
}
/***********Start grille TV Refonte************/
a:hover, a{text-decoration: none;}
.programmes_head {background: #b9ddee;}
.programmes_head ul{list-style: none;display: flex;}
.programmes_head ul li{flex-grow: 1;/*padding: 56px 0;*/padding:20px 0;}
.programmes_head .active, .programmes_head ul li:hover{background: #4688b6;}
.programmes_head .active a, .programmes_head .active a span, .programmes_head ul li:hover a span{color: #ffffff;}
.programmes_head .navJours span{display: block;font-size: 14px;color: #3f3f3f;text-align: center;font-family: 'Raleway', sans-serif;}
.header{background: #f4f4f4 !important; height: 100px !important; display: flex; align-items: center;}
.header .container { display: flex; align-items: center;}
.logo-ar a img{top: -5px;}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item{padding: 0 !important;}
.owl-prev{background: url(https://www.antennereunion.fr/squelettes/assets/img/assets-grille-tv-refonte/arrow-to-left.png) no-repeat center center !important; left: -10px;} 
.owl-next{background: url(https://www.antennereunion.fr/squelettes/assets/img/assets-grille-tv-refonte/arrow-to-right.png) no-repeat center center !important;right: -10px;}
.nav-btn.prev-slide, .nav-btn.next-slide{opacity: 0 !important;}
.owl-theme .owl-controls{margin-top: 0!important;}
.owl-theme .owl-controls .owl-buttons div { position: absolute!important; /*top: 30%!important;*/opacity: 1;top:10%!important;}
.owl-carousel .owl-wrapper-outer{margin-left: -20px;}
.navbar ul li a[href="grille-tv"]{border-bottom: 1px solid #007fbe; color: #007fbe !important; padding-bottom: 10px !important;}
.navbar ul li .menu-n1{border-right: none;font-size: 18px!important;}
.Lasemaine{background: #f8f8f8;padding: 20px 0;min-height: 520px;height: auto;}
.title_de_la_semaine{color: #3f3f3f;font-family: "Maven Pro",sans-serif;font-weight: normal;padding-bottom: 40px; padding-left: 15px;}
ul#lesplusvus{list-style: none;font-family: "Maven Pro",sans-serif;padding: 0; margin: 0;}
ul#lesplusvus li .emissionLast{padding: 0 15px;}
ul#lesplusvus li .emissionLast .thumblastgrille img{width: 100%;}
ul#lesplusvus li span{display: block;color: #3f3f3f;line-height: 1;}
ul#lesplusvus li span.lastdateEmission{font-size: 14px;font-family: "Maven Pro",sans-serif;padding-bottom: 10px;text-transform: capitalize;}
ul#lesplusvus li span.titlelastvus{font-size: 18px;padding: 15px 0;font-weight: 500;display: inline-block;line-height: 1;}
ul#lesplusvus li span.valeurEpisode{font-size: 14px;font-weight: 600;font-family: 'Raleway', sans-serif;}
ul#lesplusvus li span.suiteEpisode{font-size: 14px;font-family: 'Raleway', sans-serif;padding-bottom: 10px;display: initial;}
.metasPlusVu{min-height: 90px;}

.Lasemaine .owl-prev{background: url(https://www.antennereunion.fr/squelettes/assets/img/assets-grille-tv-refonte/nav-to-left-les-plus-vus.png) no-repeat center center !important; left: -10px;} 
.Lasemaine .owl-next{background: url(https://www.antennereunion.fr/squelettes/assets/img/assets-grille-tv-refonte/nav-to-right-les-plus-vus.png) no-repeat center center !important;right: -10px;}
.Lasemaine .owl-controls .owl-buttons .owl-prev{left: 94%;}
.Lasemaine .owl-controls .owl-buttons .owl-next{left: 96%;}
.Lasemaine .owl-theme .owl-controls .owl-buttons div{top: 100%!important;}
.Lasemaine .owl-theme .owl-controls .last-prev-slide, .Lasemaine .owl-theme .owl-controls .last-next-slide{opacity: 0 !important;}
.Lasemaine .owl-carousel .owl-wrapper-outer { margin-left: 0;}

.bodyGrilleTV .header .nav-container .info-nav ul li > a.menu-n1{font-size: 13px !important;font-weight: 500;}
.bodyGrilleTV .header .nav-container{max-width: 630px;width: 100%;}
.bodyGrilleTV .header .navbar ul.mainmenu{width: 100%!important;}
.bodyGrilleTV #mainContainer .main-inner{border: none;padding-bottom: 20px;}

@media screen and (min-width: 1001px){ .bodyGrilleTV #page_container .container-ar, .bodyGrilleTV .container { margin: 0 auto!important; max-width: 1000px!important; padding: 0 15px !important; } }
@media screen and (max-width: 768px){.Lasemaine .owl-controls .owl-buttons .owl-prev { left: 90%;}}
@media screen and (max-width: 500px){.panel a .time{max-width: 55px}}

.active-accordion.panel-default .panel-heading {
                background-color: transparent !important;
                position: absolute;
                left: -85px;
                z-index: 999;
                background: none;
                border: none;
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                cursor: vertical-text;
                color: #ffffff;
                font-family: 'Raleway', sans-serif;
                font-size: 30px;
                height: 100%;
            }
            .active-accordion.panel-default .panel-heading h2.panel-title a{height:100%; align-items: baseline;background:none!important;}
            .active-accordion.panel-default .panel-heading h2.panel-title a span{
                background-image:none!important;
                -webkit-transform: rotate(-90deg) translateX(-100%);
                -moz-transform: rotate(-90deg) translateX(-100%);
                -ms-transform: rotate(-90deg) translateX(-100%);
                -o-transform: rotate(-90deg) translateX(-100%);
                transform: rotate(-90deg) translateX(-100%);
                -webkit-transform-origin: left top;
                -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                -o-transform-origin: left top;
                transform-origin: left top;
            }
            .active-accordion.panel-default .panel-heading h2.panel-title{height: 100%;}
            .accordion:hover{background:transparent;}
            .active-accordion.panel-default .panel-heading h2.panel-title a:hover span,.panel-default .panel-heading h2.panel-title a:hover span{color:#fff;}
            .imageUne{position:relative;height:100%;}
            .icone_play{width:100%;height:100%;position:absolute;background: url(https://www.antennereunion.fr/squelettes/assets/img/bg/ico_video_45.png) no-repeat scroll center center transparent;/*left:43%;top:35%;*/}
            .details_txt a{padding-left:0!important;}
            .content_lien_replay{padding:0!important;}
            .imageUne .content_lien_replay:hover .icone_play{background-color: rgba(0, 0, 0, 0.5);}
            .panel-body.ProgrammeGrilleTV{position:relative;z-index:999;}
            @media screen and (max-width:1024px){
                #companion_top.adv-inner{display:none;}
                .bodyGrilleTV .header .nav-container .info-nav ul li>a.menu-n1{font-size: 18px!important;}
            }
            @media screen and (min-width: 1001px){
                .bodyGrilleTV #page_container .container-ar, .bodyGrilleTV .container {width: 100%!important;padding: 0 15px !important;max-width:1000px!important;}
            }
            @media screen and (max-width:640px){
                .panel-body.details{display:block;box-sizing: border-box;}
                .imageUne{width:100%;padding-bottom:20px;}
                .panel-body.details .details_txt{padding-right:0;padding-left:0;}
                .imageUne img{width:100%;height:auto;} 
            }