@charset "utf-8";
@font-face {
    font-family: "maven_problack";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/mavenpro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-black-webfont.woff") format("woff"), url("../fonts/mavenpro-black-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "maven_probold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/mavenpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-bold-webfont.woff") format("woff"), url("../fonts/mavenpro-bold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "maven_promedium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/mavenpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-medium-webfont.woff") format("woff"), url("../fonts/mavenpro-medium-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "maven_proregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/mavenpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-regular-webfont.woff") format("woff"), url("../fonts/mavenpro-regular-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "open_sansregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "open_sanslight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "open_sansbold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "open_sanssemibold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype");
}
iframe {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {

}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
    width: 100%;
}

.container-ar a {
    color: inherit;
    text-decoration: none;
}

a:active, a:focus, img {
    outline: medium none;
}

a {
    transition: color 0.3s ease 0s;
    text-decoration: none;
}

a img {
    border: medium none;
}

.container-ar {
    margin: 0px auto;
    width: 1000px;
}

.page_container {
    margin: 0px;
}

.page_container .container-ar .main-inner {
    background-color: #ffffff;
}

.grille-tv #mainContainer, .programme #mainContainer, .page-inner #mainContainer {
    margin-top: 10px;
}

.mega-banniere .adv-wrap {
    margin: 0px auto;
    width: 728px;
}

.mega-banniere {
    padding: 20px 0px;
}

.header {
    z-index: 9999;
    /*background: url("../img/bg/bg_menu3.png") repeat-x scroll left bottom #ffffff;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 9999;
    min-height:55px;*/
}

.header-container {
    background-color: #0a1118;
}

.header-container .menu_top {
    background-color: #0a1118;
    padding-bottom: 8px;
    padding-top: 8px;
}

.menu_top ul {
    margin: 0px;
}

.menu_top ul li {
    /*float: left;*/
    height: 10px;
    line-height: 10px;
    list-style-type: none;
    margin: 0px;
}

.menu_top ul li a {
    border-left: 1px solid #888888;
    color: #999999;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight: 600;
    height: 10px;
    line-height: 10px;
    padding: 0px 10px;
    text-decoration: none;
}

.menu_top ul li a:hover {
    color: #f0f0f0;
}

.menu_top ul li:first-child a {
    border: medium none;
    padding-left: 0px;
}

.navbar ul.mainmenu {
    background: none repeat scroll 0px 0px transparent;
    margin: 0px;
    /*width: 610px;*/
}

.navbar ul li.color-m {
    float: left;
    list-style-type: none;
}

.navbar ul li .menu-n1 {
    /*border-right: 1px solid #305c80;*/
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 700;
    /*padding: 0px 21%;*/
    text-decoration: none;
    text-transform: uppercase;
}

/*.navbar ul li a.menu-n1:hover, .navbar ul li a.active {
    color: #009eea!important;
    background: none!important
}*/

.wrapper-header .container-ar .logo-ar {
    float: left;
    margin: 0px 20px 0px 0px;
    background-color: #ffffff;
}

.social-top ul li {
    float: left;
    list-style-type: none;
    margin: 0px 5px;
}


.wrapper-header .container-ar {
    position: relative;
}

.wrapper-section {
    margin-bottom: 0px;
}

.wrapper-section .slider-nav {
    margin: 0px;
    overflow: hidden;
    position: relative;
}

.slider-nav ul li {
    list-style-type: none;
    position: relative;
}

#primary .slider-nav ul li {
    height: 360px;
}

.slider-nav ul li .carousel-caption {
    bottom: 30px;
    left: 200px;
    position: absolute;
    width: 1000px;
}

.p-main-slider .slider-nav ul li .carousel-caption {
    bottom: 40px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.slider-nav ul li .carousel-caption h2 {
    background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
    color: #ffffff;
    display: inline-block;
    float: left;
    font-family: "Maven Pro",sans-serif;
    font-weight: 700;
    line-height: 120%;
    padding: 3px 20px 5px;
    text-transform: uppercase;
}

.slider-nav .carousel-caption h2 a {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper-section .slider-nav .carousel-caption .title-carousel, .wrapper-section .slider-nav .carousel-caption .title-carousel a {
    font-size: 15px;
}

.p-main-slider .slider-nav .carousel-caption .title-carousel, .p-main-slider .slider-nav .carousel-caption .title-carousel a {
    font-size: 15px;
}

.slider-nav .carousel-caption .desc-carousel {
    background: none repeat scroll 0px 0px rgba(0, 127, 190, 0.8);
    clear: both;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-weight: 400;
    line-height: 120%;
    padding: 3px 20px 4px;
}

.slider-nav .carousel-caption .desc-carousel a {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.wrapper-section .slider-nav .carousel-caption .desc-carousel, .wrapper-section .slider-nav .carousel-caption .desc-carousel a {
    font-size: 10px;
    margin:0
}

.p-main-slider .slider-nav .carousel-caption .desc-carousel, .p-main-slider .slider-nav .carousel-caption .desc-carousel a {
    font-size: 10px;
}

.slider-nav .carousel-caption .desc-carousel span {
    font-weight: 900;
}

.slider-indicators {
    bottom: 10px;
    left: 50%;
    list-style: none outside none;
    padding-left: 0px;
    position: absolute;
    text-align: center;
    width: 70%;
    z-index: 15;
}

.wrapper-section .slider-indicators {
    margin-left: -30%;
    width: 60%;
}

.slider-indicators .active {
    background-color: #009eea;
}

.slider-indicators li {
    background-color: #214563;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0px 10px;
    text-indent: -999px;
    width: 10px;
}

.p-main-slider .slider-indicators li {
    border: 1px solid #ffffff;
    margin: 0px 5px;
}

.slider-nav .carousel-control {
    height: 60px;
    position: absolute;
    text-decoration: none;
    top: 145px;
    width: 31px;
}

.p-main-slider .slider-nav .carousel-control {
    top: 220px;
}

.p-main-slider {
    margin-top: 5px;
}

.slider-nav .left-control {
    background: url("../img/bg/chevron-slide.png") no-repeat scroll center top transparent;
    left: 102px;
}

.slider-nav .right-control {
    background: url("../img/bg/chevron-slide.png") no-repeat scroll center bottom transparent;
    right: 102px;
}

.p-main-slider .slider-nav .left-control {
    left: 35px;
}

.p-main-slider .slider-nav .right-control {
    right: 35px;
}

.banner-row {
    background-color: #eff4fa;
    height: 70px;
    margin: 0px auto;
}

.banner-row ul li {
    float: left;
    line-height: 120%;
    list-style-type: none;
    width: 40%;
    display:inline-block;
    height:70px;
    padding:5px 1.5% 0 1.5% 
}

.banner-row ul li:first-child {
    background-color: #007fbe;
    width: 20%;
    padding:0
}
.banner-row ul li:first-child .panel-default{
    height:100%;
    vertical-align:middle;    
}
.banner-row ul li:nth-child(2) {
    width: 34%;
}
.banner-row ul li .panel-txt {
    color: #ffffff;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 400;
    height:70px;
    vertical-align:middle;
    display:table-cell
}

.banner-row ul li .panel-txt span {
    font-weight: 900;
}

.banner-row ul li .panel-date {
    color: #007fbe;
    font-family: "Maven Pro",sans-serif;
  font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 5px;
    height:20px;
}

.banner-row ul li .panel-date a {
    color: #007fbe;
    text-decoration: none;
}

.banner-row ul li .panel-desc {
    color: #3674a0;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    overflow: hidden;
    text-transform: uppercase;
    margin:0;
    line-height:15px;
}

.banner-row ul li .panel-desc a {
    color: #3674a0;
    text-decoration: none;
    text-transform: uppercase;
}

.banner-row ul li .imgwrap {
    float: left;
    margin: 0px 15px 0px 0px;
}

.banner-row ul li .imgwrap a {
    display: block;
    height: 52px;
    width: 100px;
}

.last-row .panel-default {
    background: url("../img/bg/border-panel.png") no-repeat scroll left center transparent;
    padding-left:1.5%
}

.last-row .panel-default a {
    text-decoration: none;
}

.wrapper-content {
    background: none repeat scroll 0px 0px #ffffff;
    border-left: 1px solid #cdddeb;
    border-right: 1px solid #cdddeb;
/*    padding: 20px 18px;*/
 padding: 20px 10px;
}

.column_left {
    background-color: #f0f5f9;
    border: 1px solid #cdddeb;
    padding: 15px;
    /*width: 590px;*/
}

.column_right {
    /*float: right;
    width: 310px;*/
    margin-left:0px;
    text-align:center
}

.column_left .titleBlock, .column_left .titleBlock a {
    color: #1f4563;
    /*float: left;*/
    font-family: "Maven Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 7px 0 0 2%;
}

.column_left .header-block {
    line-height: 120%;
    margin: 0px 0px 16px;
}

.column_left .header-block a {
    float: left;
    /*margin: 0px 20px 0px 0px;*/
}

.column_left .item-info .imageContainer {
    margin: 0px 0px 12px;
}

/*.column_left .item-info .imageContainer img {
     display: block;
     margin:0 auto;
     max-width:385px;
     width:100%
}*/
.column_left .item-info .imageContainer {
    position:relative;
    height:auto;
    overflow:hidden;
    width:100%;
    margin:0 auto;
}
.column_left .item-info .imageContainer img{
    width:100%;
    height:auto;
}
.column_left  .item-sidebar .thumbcontainer{
    position:relative;
    overflow:hidden;
}
.column_left  .item-sidebar .thumbcontainer img{
    width:100%;
    height:112px;
}
/*.column_left  .item-sidebar .thumbcontainer  img{
    display: block;
    margin:0 auto;
    max-width:200px;
    width:100%
}*/

.column_left .item-info {
    float: left;
    margin: 0 0 40px 0;
    width: 59%;
}
.row-pub {
    border-top: 1px solid #cdddeb;
    height: 1px;
    background-color: #f5f9fc !important
}
.column_left .imagenews{
    margin: 0 auto;
}
.column_left .imagenewssidebar{
    margin: 0 auto;
    text-align:center
}
.column_left .tag-title a {
    color: #007fbe;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 0px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.column_left .itemDetails .title-item, .column_left .itemDetails .title-item a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 100%;
    margin: 0px 0px 10px;
    text-align: left;
}

.column_left .itemDetails .title-item a:hover {
    color: #009eea;
}

.wrapper-content .column_left .itemDetails .title-item a:hover {
    color: #009eea;
}

.column_left .item-info .description-item, .column_left .item-info .description-item a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 400;
    min-height: 50px;
    line-height: 120%;
    overflow: hidden;
}

.column_left .item-info .description-item a {
    text-decoration: none;
}

.archives-button {
    clear: both;
    width: 100%;
}

.archives-button a {
    background: url("../img/bg/chevron-link.png") no-repeat scroll 15px center #007fbe;
    color: #ffffff;
    display: inline-block;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px 10px 40px;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
}

.archives-button a:hover, .morepostag a:hover {
    background-color: #e2001a;
}

.column_left .item-sidebar {
    float: left;
    width: 39%;
    margin-left:2%
}

.item-sidebar ul li {
    list-style-type: none;
    margin: 0px;
    /*float:left;
    width:49%*/
}

.item-sidebar ul li:first-child {
    /*margin: 0 2% 0 0;*/
}

.item-sidebar ul li .thumbcontainer {
    margin: 0px 0px 10px;
}

.column_right .adv {
    background: url("../img/bg/publicite.png") no-repeat scroll 29px 10px transparent;
    padding-top:30px;
    overflow-x:auto;
    padding-bottom:15px;
}
section.column_right div.adv.pub1 div {
    max-width:300px;
    margin:0 auto;
    overflow:auto;
}

.column_right .adv:first-child {
    margin:0 auto;
}

.section-meteo {
    /*float: left;**/
    min-height: 65px;
    /*width: 635px;*/
}

.section-meteo .meteo-wrap .m-thumbnail {
    float: left;
    min-width: 86px;
}

.section-meteo .meteo-wrap ul {
    float: left;
    margin: 0px 5px;
}

.section-meteo .meteo-wrap ul li {
    line-height: 120%;
    list-style-type: none;
    margin: 0px 0px 5px;
}

.section-meteo .meteo-wrap ul li a {
    color: #066cb8;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.section-meteo .meteo-wrap ul li a:hover {
    color: #e2001a;
}

.section-meteo .meteo-wrap .m-conteneur {
    border-left: 1px solid #d8e6f1;
    /*float: left;
    padding: 0px 0px 0px 10px;*/
    min-width: 122px;
}

.section-meteo .meteo-wrap .m-text {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0px 0px 5px;
    /*text-align: left;*/
}

.section-meteo .meteo-wrap p {
    color: #004686;
    float: right;
    font-family: "Maven Pro",sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.section-meteo .meteo-wrap p span {
    font-size: 20px;
}

.section-meteo .meteo-wrap ul li .fa-chevron-right {
    color: #cccccc;
    font-size: 13px;
    margin: 0px 8px 0px 0px;
}

.section-meteo .meteo-wrap .blue-btn {
    clear:both;
    width: 100%;
    text-align: right;
}
.section-meteo .meteo-wrap .blue-btn a {
    background: url("../img/bg/blue-btn.png") no-repeat scroll 97% center #007fbe;
    color: #ffffff;
    /*float: right;*/
    font-family: "Maven Pro",sans-serif;
    font-size: 35px;
    font-weight: 400;
    min-height: 66px;
    line-height: 120%;
    padding: 10px 30px 10px 10px;
    transition: background-color 0.3s ease 0s;
}


.section-meteo .meteo-wrap .blue-btn a:hover {
    background-color: #e2001a;
}

.section-meteo .meteo-wrap .blue-btn span {
    font-weight: 900;
}

.section-meteo .meteo-wrap .m-conteneur .m-icon {
    display: block;
    text-align: left;
    max-width: 28px;
}

.verticalList {
    background: none repeat scroll 0px 0px #ffffff;
    border-left: 1px solid #cdddeb;
    border-right: 1px solid #cdddeb;
    padding: 0px 19px 20px;
}

.verticalList .innerList {
    border-top: 1px solid #cdddeb;
    padding: 10px 0px 0px;
}

.verticalList .innerList ul li {
    list-style-type: none;
    width:49%;  
    float:left;
    margin-right: 1%;
    padding-bottom:10px;
}
.verticalList .innerList ul li:nth-child(3n-1) {
         margin-left: 1%;
         margin-right: 0;
}

.verticalList .innerList .title-list {
    color: #204563;
    font-family: "Maven Pro",sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    margin: 0px 0px 10px;
    text-transform: uppercase;
}

.verticalList .innerList .post-texts .title-post , .verticalList .innerList .post-texts .title-post a{
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 120%;
    overflow: hidden;
    min-height: 41px;
}

.verticalList .innerList .post-texts p a:hover, .verticalList .innerList .post-title p a:hover {
    color: #e2001a;
}

.verticalList .innerList .post-title .title-post, .verticalList .innerList .post-title .title-post  a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    height: auto;
    line-height: 120%;
    min-height: 62px;     
}
.verticalList .innerList .post-title .title-post a:hover{
    color: #E2001A;
}
.verticalList .innerList ul li .post-fig {
    max-height: 300px;
    margin: 0px 0px 10px;
    overflow: hidden;
    position: relative;
}

.verticalList .innerList ul li .post-fig .icon-video {
    background: url("http://art.antenne.re/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
    left: 100px;
    position: absolute;
    top: 45px;
}

.verticalList .innerList ul li .post-fig .tile-title {
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.verticalList .innerList ul li .post-fig .tile-title a {
    background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.65);
    color: #ffffff;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.bloc_bottom {
    clear: both;
    margin: 0px;
}
.bloc-linfo{
    margin-top:15px;
}
.bloc_bottom .adv-bottom {
    border-top: 1px solid #cdddeb;
    padding: 20px 0px 0px 0;
}

.adv-bottom .adv-wrap {
    height: auto;
    margin: 0px auto;
    max-width:300px;
    overflow:auto;
    width:100%;
}

.ad-banner {
    background: none repeat scroll 0px 0px #ffffff;
    padding: 5px 0px;
    position: relative;
    z-index: 99999;
}

.ad-banner .adv-inner {
    /*margin: 0px auto;
    width: 728px;*/
}

.ad-banner .adv-inner .adsbygoogle {
    display: block ! important;
}
#mainContainer .titre_headline {
    margin: 0px 0px 20px;
    padding: 10px 0px 0px;
}
.titre_headline .title-headline {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 110%;
    margin: 0 0 5px 0;
}
.titre_headline .title-headline span {
    font-weight: 900;
}
#mainContainer .main-inner {
    border: 1px solid #cdddeb;
    padding: 10px 10px 20px 10px;
}
.grille_programmes {
    clear: both;
}
.programmes_head ul .item-jours {
    float: left;
    line-height: 120%;
    list-style-type: none;
    /*margin: 0px 0px 10px;*/
    /*padding: 0px 0px 18px;*/
    text-align: center;
    width: 4.76%;
    
}
/*.grille_programmes ul.navJours > li:first-child {
    width: 190px;
}*/
.grille_programmes ul li .prevSem {
    background-color: #007fbe;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 100%;
    padding: 12px 0px 15px;
}
.grille_programmes ul li .prevSem span {
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.grille_programmes ul li .emissionInfo a {
    background-color: #eff4fa;
    color: #1f4563;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0px 20px;
    width: 100%;
}

.grille_programmes ul li .emissionInfo a:hover, .grille_programmes ul li.active .emissionInfo a {
    background-color: #214563;
    color: #478cc4;
}

.grille_programmes ul li.active {
    /*background: url("../img/bg/li-grille.png") no-repeat scroll center bottom transparent;*/
}

.grille_programmes ul li .emissionInfo a span {
    color: #007fbe;
    display: block;
    font-size: 20px;
    margin: 0px 0px 3px;
}

.grille_programmes ul li .emissionInfo a:hover span, .grille_programmes ul li.active .emissionInfo a span {
    color: #eef3f9;
}

.containerProgram {
    /*max-width: 640px;*/
}

.container-emission ul li {
    border-top: 1px solid #cdddeb;
    line-height: 120%;
    list-style-type: none;
    margin: 0px 10px 25px 0px;
    padding: 25px 0px 0px;
    position: relative;
}

.container-emission ul li:first-child {
    border: 0px none;
}

.container-emission ul li .heureEmission {
    color: #009eea;
    float: left;
    font-family: "Maven Pro",sans-serif;
    font-size: 28px;
    font-weight: 400;
    width: 97px;
}

.container-emission ul li .imgEmission {
    float: left;
    height:auto;
    width:49%
}

.container-emission ul li .imgEmission img {
    height: auto;
    width: 100%;
}

.container-emission ul li .resumeEmission {
    color: #204563;
    font-family: Maven Pro;
    font-size: 15px;
    min-height: 125px;
    margin: 0px;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}

.container-emission ul li .resumeEmission .nomEmission {
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: -5px 0px 5px;
    text-align: left;
    text-transform: uppercase;
    color: #009eea;
}
.container-emission ul li .resumeEmission .nomEmission a:hover {
    color: #e2001a;
}


.container-emission ul li .resumeEmission .categoryEmission {
    color: #009eea;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 0px 0px 6px;
}

.container-emission ul li .resumeEmission p {
    color: #204563;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 120%;
    margin: 0px 0px 5px;
}

.container-emission ul li .resumeEmission p strong {
    font-size: 17px;
    font-weight: 700;
}
.container-emission ul li .resumeEmission p strong a:hover{
    color: #e2001a;
}
.container-emission ul li .resumeEmission .readnext {
    bottom: -5px;
    color: #009eea;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0px;
    text-align: right;
}

.container-emission ul li .resumeEmission .readnext:hover, .topics-box .topiclist ul li .text-holder .readnext:hover {
    color: #e2001a;
}

.bloc-right {
    max-width: 310px;
    width:100%;
    margin:0 auto;
}
.replay-n2 .bloc-right{
    margin: 17px 0px 0px;
}

.bloc-right .pub-container {
    background: url("../img/bg/publicite.png") no-repeat scroll 3px 0px transparent;
    margin: 0px auto 20px;
    padding: 17px 0px 0px;
    width: 100%;
}

#grille_programmes {
    clear: both;
    padding: 0px 0px 0px;
    background-color:#eff4fa;
}

.programme-tv {
    margin: 0px 0px 30px;
}

.programme-tv .nav-item .bloc-nav li {
    list-style-type: none;
}

.programme-tv .nav-heure ul li {
    list-style-type: none;
    text-align: left;
}

.programme-tv ul .item-jours {
    border-bottom: 1px solid #cdddeb;
    float: left;
    line-height: 120%;
    list-style-type: none;
    margin: 0px 0px 10px;
    text-align: center;
    width: 14.28%
}

.programme-tv ul li.active {
    background: none repeat scroll 0px 0px #f7fafd;
}

.programme-tv ul.navJours {
    /*height: 470px;*/
}
/*
.programme-tv ul.navJours > li:first-child {
    width: 188px;
}*/

.programme-tv .bloc-nav li a {
    color: #214563;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0px;
    text-transform: uppercase;
}

.programme-tv .bloc-nav li a:hover, .programme-tv .bloc-nav li a.active {
    background: url("../img/bg/li-jours.png") no-repeat scroll 162px center #007fbe;
    color: #ffffff;
}
.programme-tv .nav-heure li a {
     /*border-top: 1px solid #cdddeb;*/
     color: #1f4563;
     display: block;
     font-family: 'Maven Pro',sans-serif;
     font-size: 16px;
     font-weight: 400;
     padding: 10px 0px;
     text-align: left;
}

.programme-tv .nav-heure li:first-child a {
    border: medium none;
}

.programme-tv .nav-heure li a span {
    color: #007fbe;
    display: block;
    text-align:center
}
.programme-tv .nav-heure li span {
    text-align:center
}

.breadcrumbs ul li {
    color: #597d9f;
    float: left;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    list-style-type: none;
}

.breadcrumbs ul li a {
    color: #597d9f;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0px 8px 0px 0px;
}

.breadcrumbs ul li a:hover {
    color: #e2001a;
}

.breadcrumbs ul li:first-child a {
    background: url("../img/bg/fa-home.png") no-repeat scroll 0px 0px transparent;
    display: inline-block;
    height: 20px;
    text-indent: -999em;
    width: 20px;
}

.breadcrumb > li + li:before {
    color: #c9dded;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0px 6px 0px 0px;
}

.ar-main-col {
    /*float: left;*/
    margin: 17px 0px 0px;
    /*width: 630px*/
}

.page-g2 .ar-main-col {
    border: 0px none;
}

.p-slide-inner {
    margin: 0px 0px 20px;
    position: relative;
}

.p-slide-inner ul li {
    list-style-type: none;
}

.container-section .media-heading {
    background-color: #f5f9fc;
    border: 1px solid #e5e9ed;
    color: #335572;
    font-family: "Maven Pro",sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    margin: 0px 0px 20px;
    padding: 5px 0px 10px 15px;
    text-transform: uppercase;
}

.container-section {
    clear: both;
    margin: 0px 0px 30px;
}
.container-section .list-container ul li {
    height: auto;
    line-height: 120%;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    float:left;
    width:32.33%!important;
    margin-right:1%;
}
.container-section .list-container ul li:nth-child(4n-2) {
    margin-right: 0.5%;
    margin-left:0.5%;
}
.container-section .list-container ul li:nth-child(4n-1) {
    margin-right: 0;
    margin-left:1%;
}
.container-section .list-container ul li .thumbimage img{
    max-height:113px;
    width:100%;
}
.container-section .list-container ul li .wrapper-image img {
    width:100%;
    max-height:113px;
}
.container-section .list-container ul li .title-panel, .container-section .list-container ul li .title-panel a {
    color: #007fbe;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0px;
    text-transform: uppercase;
}
.container-section .list-container ul li .title-panel3, .container-section .list-container ul li .title-panel3 a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 100%;
    margin: 10px 0px;
    text-align: left;
}
.container-section .list-container ul li .title-panel3 a:hover{
    color: #E2001A;
}
.personnage .list-container ul li .title-panel {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.personnage .list-container ul li .title-panel span {
    color: #007fbe;
}

.container-section .list-container ul li .title-panel a:hover {
    color: #e2001a;
}

.container-section .list-container ul li p {
    color: #007fbe;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.bloc-right .row-pub {
    border-top: 1px solid #cdddeb;
    height: 1px;
    margin: 0px 0px 14px;
}

.bloc-right .sidebar {
    margin: 0px 0px 20px;
}

.widget-tab .widget-title {
    border-bottom: 1px solid #d8e6f1;
    margin: 0px 0px 10px;
}

.widget-tab .widget-title span {
    background-color: #007fbe;
    color: #ffffff;
    display: inline-block;
    float: left;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 20px;
}

.widget-content ul li {
    list-style-type: none;
    width:49%;  
    float:left;
    margin-right: 1%;
    padding-bottom:10px;

}
.widget-content ul li:nth-child(3n-1) {
         margin-left: 1%;
         margin-right: 0;
}

.widget-content ul.nav-tabs li a {
    color: #666666;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.widget-content ul.nav-tabs li a:hover {
    color: #e2001a;
}

.widget-content ul.nav-tabs li {
    float: left;
    list-style-type: none;
    margin: 0px 10px 0px 0px;
}

.widget-content ul.nav-tabs li .fa-chevron-right {
    color: #cccccc;
    font-size: 13px;
    margin: 0px 8px 0px 0px;
}

.widget-content ul.nav-tabs {
    margin: 0px 0px 10px;
}

.widget-content ul.nav-tabs li.active a {
    color: #066cb8;
}
.widget-content .tab-content ul li .content_sidebar img{
    width:100%;
}
.widget-content .tab-content ul li .content_sidebar{
    margin: 0 auto;
    width:100%;
}
.widget-content .tab-content ul li .figure-player {
    margin: 0 0 12px;
    position: relative;
}
.widget-content .tab-content ul li .figure-player img{
    width:100%;
    height:174px
}

.widget-content .tab-content ul li .figure-player .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
    height: 45px;
    left: 38%;
    position: absolute;
    top: 35%;
    width: 46px;
}

.widget-content .tab-content ul li .figure-player .meta-title {
    background-color: #007fbe;
    bottom: 0px;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 1px 7px 2px;
    position: absolute;
    right: 0px;
    text-transform: uppercase;
    bottom:4px;
}

.widget-content .tab-content ul li .figure-player a:hover .meta-title {
    background-color: #e2001a;
}

.widget-content .tab-content ul li .title-medias .item-title {
    line-height: 20px;
    margin: 0px 0px 0px 27px;
}

.widget-content .tab-content ul li .title-medias .item-title a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.widget-content .tab-content ul li .title-medias .item-title a:hover {
    color: #e2001a;
}

.widget-content .tab-content ul li .title-medias p {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.widget-content .tab-content ul li .title-medias .num-count {
    border: 1px solid #007fbe;
    color: #007fbe;
    display: block;
    float: left;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 120%;
    margin: 5px 10px 0px 0px;
    padding: 0px 4px;
}

.widget-content .tab-content ul li:first-child .title-medias .num-count {
    background-color: #007fbe;
    color: #ffffff;
}

.morepostag a {
    background-color: #007fbe;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: background-color 0.3s ease 0s;
}

.wrapper-image .item-title {
    bottom: 0px;
    display: block ! important;
    height: 35px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.wrapper-image .item-title a {
    background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.jscroll-loading {
    margin: 20px auto;
    text-align: center;
    width: 32px;
}

.jscroll-loading img {
    margin: 0px auto;
}

.menu-menu2 {
    background-color: #eff4fa;
}

.menu-menu2 ul li {
    /*float: left;*/
    list-style-type: none;
}

.menu-menu2 ul li a {
    background: url("../img/bg/menu2.gif") no-repeat scroll left center transparent;
    color: #1f4563;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.menu-menu2 ul li:first-child a {
    background-image: none;
}

.menu-menu2 ul li a:hover, .menu-menu2 ul li a.active {
    background: none repeat scroll 0px 0px #007fbe!important;
    color: #ffffff;
}

.programme-n3 #mainContainer .main-inner {
    border-top: 0px none;
    padding-top: 15px;
}

.article-chapo p {
    color: #335272;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;
}

.article-chapo p strong {
    font-weight: 700;
}

.topics-box .topiclist ul {
    display: block;
}
.topics-box .topiclist ul li .content-box{
    width:100%;
    margin:0 auto;
}
.topics-box .topiclist ul li:first-child,.topics-box .topiclist ul li:last-child {
    border-bottom: none;
}
.topics-box .topiclist ul li {
    border-bottom: 1px solid #d8e6f1;
    line-height: 120%;
    list-style-type: none;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    position: relative;
}

.topics-box .topiclist ul li .thumb-wrapper {
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    width:49%;
}
.topics-box .topiclist ul li .thumb-wrapper img{
    max-height:300px;
    width:100%!important;
}

.topics-box .topiclist ul li .topic-title {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
}

.topics-box .topiclist ul li .topic-title a:hover {
    color: #e2001a;
}
.topics-box .topiclist ul li .text-holder {
    padding-left: 2%;
    width:49%;
    float:left
}

.topics-box .topiclist ul li .text-holder p.txt-extract {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 0px 0px 10px;
}

.topics-box .topiclist ul li .text-holder .readnext {
    bottom: 18px;
    color: #009eea;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 0px;
    text-align: right;
}

.topics-box .topiclist ul li .thumb-wrapper .icon-video {
    background: url("../img/bg/ico_video.png") no-repeat scroll 0px 0px transparent;
    height: 57px;
    left: 44%;
    position: absolute;
    top: 39%;
    width: 57px;
}

.section-bandeau {
    height: 267px;
    position: relative;
}

.section-bandeau .bandeau-inner {
    bottom: 20px;
    display: block;
    padding: 25px 0px 0px;
    position: absolute;
    right: 0px;
}

.section-bandeau .bandeau-inner .logo-bd {
    bottom: 20px;
    display: block;
    left: 0px;
    position: absolute;
}

.section-bandeau .bandeau-inner .fond-bd {
    left: 0px;
    position: absolute;
    top: 0px;
}

.section-bandeau .bandeau-inner .bandeau-right {
    float: right;
    position: relative;
    z-index: 4;
}

.bandeau-right .b-title {
    background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
    clear: both;
    color: #ffffff;
    float: right;
    font-family: "Maven Pro",sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 0px 20px 5px;
}

.bandeau-right p {
    background: none repeat scroll 0px 0px rgba(0, 127, 190, 0.8);
    clear: both;
    color: #ffffff;
    float: right;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 24px;
    padding: 3px 20px 10px;
    text-align: right;
}

.bandeau-right p span {
    font-weight: 900;
}

.bandeau-right .top-parraine {
    background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
    clear: both;
    color: #ffffff;
    float: right;
    font-family: "Maven Pro",sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 7px;
    text-align: right;
    text-transform: uppercase;
}

.bloc-parraine {
    background: none repeat scroll 0px 0px #ffffff;
    clear: both;
    float: right;
    padding: 5px;
}

.bloc-parraine li {
    float: left;
    list-style-type: none;
    margin: 0px 5px;
}

.jeuxblock {
    line-height: 120%;
    margin: 0px auto 20px;
    /*max-width:500px;*/
    width:100%
}

.jeuxblock .image-on-right {
    margin: 0px 0px 10px;
    text-align:center
}

.jeuxblock .entry-sharing {
    /*float: right;*/
    max-width: 360px;
    width:100%;
    overflow:auto;
    margin: 4px 0px;
}

.jeuxblock .entry-content, .jeuxblock .entry-content a{
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.jeuxblock .entry-content a:hover {
    color: #e2001a;
}

.container-section .content-bloc ul {
    border-bottom: 1px solid #cdddeb;
    margin: 0px 0px 20px;
    padding: 0px 0px 15px;
}

.section-gagnant ul li {
    line-height: 120%;
    list-style-type: none;
    margin: 0px auto;
    max-width: 310px;
    float:left;
    width:32.33%!important;
    margin-right:1%;
}
.section-gagnant ul li:nth-child(4n-2) {
    margin-right: 0.5%;
    margin-left:0.5%;
}
.section-gagnant ul li:nth-child(4n-1) {
    margin-right: 0;
    margin-left:1%;
}
.section-gagnant ul li .gagnant-thumb {
    height: 94px;
    margin: 0 0 10px;
    width: 100%;
}

.section-gagnant .gagnant-title {
    color: #007fbe;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.section-sms ul li a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.section-sms ul li a:hover {
    color: #e2001a;
}

.section-sms ul li {
    color: #007fbe;
    float: left;
    font-size: 13px;
    list-style-type: square;
    margin: 0px 5px 10px 20px;
    padding: 0px 0px 0px 5px;
    max-width: 285px;
    width:90%
}

.main-inner .title-large {
    width: 640px;
}

.title-large .headline-large {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 110%;
    margin: 0 0 5px 0;
}

.title-large .headline-large span {
    color: #007fbe;
}

.title-large .headline-large span {
    font-weight: 400;
}

.title-large .headline-large span.date-t {
    color: #1f4563;
    display: block;
    font-size: 20px;
}

.article-section .figure-large {
    color: #1f4563;
    font-family: Maven Pro;
    font-size: 16px;
    margin: 0px 0px 20px;
}
.article-section .figure-large img{
    width:100%;
}
.article-section .social_box {
    margin: 0px 0px 20px;
}

.article-section .social_box, .social_box {
    width: 100%;
    overflow:auto;
}

.article-section .excerpt {
    margin: 0px 0px 10px;
}

.article-section .excerpt p , .article-section .excerpt h2{
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 120%;
}

.article-section .excerpt p span {
    color: #007fbe;
}

.article-section .text-body{
    border-bottom: 1px solid #d8e6f1;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    text-align: justify;
    color:#204563
}
.article-section .text-body a{
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    text-align: justify;
    color:#204563
}
.article-section .text-body h2 {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin: 0px 0px 20px;
}

.article-section .text-body h3 {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 120%;
    margin: 0px 0px 20px;
}

.article-section .text-body p {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 0px 0px 10px;
}

.article-section .text-body div {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.article-section .text-body div strong {
    font-weight: 700;
}

.article-section .text-body p strong {
    color: #007fbe;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0px 5px;
}

.comment-tabs {
    margin: 0px 0px 20px;
}

.comment-tabs .title-comment {
    color: #19334a;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 10px;
}

.comment-tabs .box-comment {
    background-color: #f4f4f4;
    padding: 10px;
    overflow-x: auto;
    max-width:610px;
    margin: 0 auto;
}

.feat-cat3 {
    margin: 0px 0px 20px;
}

.feat-cat3 .title-cat-header {
    border-bottom: 1px solid #d8e6f1;
    margin: 0px 0px 20px;
}

.feat-cat3 .title-cat-header span {
    background: none repeat scroll 0px 0px #1f4563;
    color: #ffffff;
    display: block;
    float: left;
    font-family: "Maven Pro",sans-serif;
    font-weight: 400;
    padding: 3px 15px 7px;
    text-transform: uppercase;
}

.s-personnages .title-cat-header span {
    background: none repeat scroll 0px 0px #007fbe;
}

.feat-cat3 .title-cat-header span .fa-chevron-down {
    font-size: 15px;
    margin: 0px 0px 0px 15px;
    vertical-align: middle;
}

.widget-tab .widget-title span .fa-chevron-right {
    font-size: 15px;
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
}

.feat-cat3 .title-cat-header span strong {
    font-weight: 800;
    text-transform: uppercase;
}

.feat-cat3 .main-cat ul li {
    float: left;
    list-style-type: none;
    margin-right:1%;
    width:32.33%
}

.feat-cat3 .main-cat ul li:nth-child(4n-2) {
    margin-right: 0.5%;
    margin-left:0.5%;
}
.feat-cat3 .main-cat ul li:nth-child(4n-1) {
    margin-right: 0;
    margin-left:1%;
}

.feat-cat3 .main-cat ul li .thumbimage {
    margin: 0px 0px 10px;
    position: relative;
}

.feat-cat3 .main-cat ul li .thumbimage .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
    height: 45px;
    left: 85px;
    position: absolute;
    top: 25px;
    width: 46px;
}

.feat-cat3 .main-cat ul li .cat-title, .feat-cat3 .main-cat ul li .cat-title a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.feat-cat3 .main-cat ul li .cat-title a:hover {
    color: #e2001a;
}

.feat-cat3 .main-cat ul li .cat-title span {
    color: #007fbe;
    font-weight: 700;
}

.feat-cat3 .main-cat ul li .capty-caption {
    background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
    bottom: 0px;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    left: 0px;
    position: absolute;
    width: 100%;
}

.feat-cat3 .main-cat ul li .capty-caption p {
    padding: 3px 10px 5px;
}

.article-row {
    border-bottom: 1px solid #d8e6f1;
    margin: 0px auto 20px auto;
    padding: 0px 0px 20px;
    width:100%;
}
.article-row:last-child {
    border-bottom: none;
}
.article-row img{
    width:100%;
}
.liste-row .article-heading, .liste-row .article-heading a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 20px;
}

.liste-row .article-heading span {
    font-weight: 900;
}

.liste-row .article-row .contImg {
    margin: 0px 0px 10px;
    position: relative;
}

.liste-row .article-row .contImg .img_caption {
    background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
    bottom: 0px;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
    left: 0px;
    position: absolute;
    width: 100%;
    bottom:4px;
}

.liste-row .article-row .contImg .img_caption span {
    display: block;
    padding: 5px 10px 8px;
}

.liste-row .article-row .a-description p, .liste-row .article-row .a-description p a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.liste-row .article-row .a-description .btn_arrow {
    background-color: #007fbe !important;
    color: #ffffff;
    display: block;
    float: right;
    font-family: "Maven Pro",sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 20px 9px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    margin-left:5px;
    width:100px;
}

.article-row .a-description .btn_arrow:hover {
    background-color: #e2001a;
}

.btn_arrow .fa-chevron-right {
    font-size: 13px;
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
}

.content-slide .slideshow {
    margin: 0px 0px 20px;
}

.content-slide #nav ul li {
    float: left;
    list-style-type: none;
    margin: 0px 0px 0px 8px;
    width: 85px;
    overflow: hidden;    
    height: 63px;
}

.content-slide #nav ul li:first-child {
    margin-left: 0px;
}

.wrapper-section .slider-nav .carousel-caption h2, .wrapper-section .slider-nav .carousel-caption h2 a {
    display: inline;
    font-size: 55px;
    overflow: hidden;
    padding-bottom: 0px;
}

.slider-nav .carousel-caption h2 {
    /*background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);*/
    color: #ffffff;
    display: inline-block;
    font-family: "Maven Pro",sans-serif;
    font-weight: 700;
    line-height: 120%;
    padding: 0px 14px 5px;
    text-transform: uppercase;
}

.slider-nav ul li {
    list-style-type: none;
}

.content-slide {
    position: relative;
}

.content-slide a#prev {
    left: 10px;
}

.content-slide a#prev {
    background: url("../img/bg/chevron-slide.png") no-repeat scroll center top transparent;
    left: 25px;
}

.content-slide a#next {
    background: url("../img/bg/chevron-slide.png") no-repeat scroll center bottom transparent;
    right: 42px;
}

.content-slide a#prev, .content-slide a#next {
    color: #ffffff;
    display: block;
    font-size: 80px;
    height: 50px;
    position: absolute;
    text-decoration: none;
    text-indent: -999em;
    text-shadow: 0px 0px 10px #000000;
    top: 150px;
    width: 31px;
    z-index: 99;
}

#wrapper {
    background: none repeat scroll 0px 0px #ffffff;
    padding: 0px;
    position: relative;
}

#wrapper .prev {
    bottom: 22px;
    left: 30px;
    position: absolute;
    z-index: 99;
}

#wrapper .next {
    bottom: 22px;
    position: absolute;
    right: 40px;
    z-index: 99;
}

.fig-player {
    position: relative;
}

.fig-player .icon-video {
    background: url("../img/bg/ico_video_86.png") no-repeat scroll 0px 0px transparent;
    height: 86px;
    left: 297px;
    position: absolute;
    top: 134px;
    width: 86px;
}

.v-category span {
    color: #ffffff;
    display: inline-block;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 0px 5px;
    padding: 2px 10px;
    text-transform: uppercase;
}

.replay span {
    background-color: #e2001a;
}

.bonus span {
    background-color: #007fbe;
}

.shareDiv {
    float: left;
    width: 100%;
}

.shareDiv img {
    width: 244px;
}

.meta-info p {
    color: #335272;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 5px;
    text-transform: uppercase;
}

.meta-info p label {
    color: #1faaeb;
}

.tooltip {
    position: relative;
}

.tooltip:hover .tooltip-content, .tooltip:focus .tooltip-content {
    margin-bottom: 7px;
    opacity: 1;
    visibility: visible;
}

.tooltip-content {
    background-color: #1a1a1a;
    background-image: linear-gradient(to bottom, #404040, #1a1a1a);
    background-repeat: repeat-x;
    border-radius: 3px;
    bottom: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #ffffff ! important;
    font: 11px/1.6em "Arial",sans-serif;
    left: 0px;
    margin: 0px 0px -7px;
    min-width: 44px;
    opacity: 0;
    padding: 2px 5px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    transition: opacity 0.3s ease 0s, margin 0.3s ease 0s;
    visibility: hidden;
    white-space: nowrap;
    z-index: 998;
}

.tooltip-content:after {
    border-color: #1a1a1a rgba(0, 0, 0, 0) transparent;
    border-style: solid;
    border-width: 7px 7px 0px;
    bottom: -6px;
    content: "";
    height: 0px;
    left: 10px;
    position: absolute;
    width: 0px;
}

.tooltip.tooltip-top-right:hover .tooltip-content, .tooltip.tooltip-top-right:focus .tooltip-content {
    margin-left: 7px;
}

.tooltip-top-right .tooltip-content {
    left: auto;
    right: 0px;
}

.tooltip-top-right .tooltip-content:after {
    left: auto;
    right: 5px;
}

.tooltip.tooltip-right:hover .tooltip-content, .tooltip.tooltip-right:focus .tooltip-content {
    margin-left: 7px;
}

.tooltip-right .tooltip-content {
    bottom: auto;
    left: 100%;
    margin: -7px 0px 0px -7px;
    top: 3px;
}

.tooltip-right .tooltip-content:after {
    border-color: rgba(0, 0, 0, 0) #2b2b2b rgba(0, 0, 0, 0) transparent;
    border-width: 5px 5px 5px 0px;
    bottom: auto;
    left: -5px;
    top: 6px;
}

.tooltip.tooltip-left:hover .tooltip-content, .tooltip.tooltip-left:focus .tooltip-content {
    margin-right: 7px;
}

.tooltip-left .tooltip-content {
    bottom: auto;
    left: auto;
    margin: -7px -7px 0px 0px;
    right: 100%;
    top: 3px;
}

.tooltip-left .tooltip-content:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2b2b2b;
    border-width: 5px 0px 5px 5px;
    bottom: auto;
    left: auto;
    right: -5px;
    top: 6px;
}

.tooltip.tooltip-bottom:hover .tooltip-content, .tooltip.tooltip-bottom:focus .tooltip-content {
    margin-top: 7px;
}

.tooltip-bottom .tooltip-content {
    bottom: auto;
    margin: -7px 0px 0px;
    top: 100%;
}

.tooltip-bottom .tooltip-content:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #404040;
    border-width: 0px 7px 7px;
    bottom: auto;
    top: -7px;
}

.btn, .core-form .btn {
    -moz-user-select: none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;
}

#toTop {
    background: none repeat scroll 0px 0px #007fbe;
    border-radius: 500px;
    border: medium none;
    bottom: 20px;
    color: #ffffff;
    display: none;
    font-size: 26px;
    line-height: 100%;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    transition: all 500ms ease 0s;
}

#toTop:hover {
    background: none repeat scroll 0px 0px #e2001a;
}

#toTopHover:before {
    color: #ffffff;
    content: "?";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.p-main-slider .image_wrapper {
    margin: 0px 0px 20px;
    position: relative;
}

.image_wrapper .image_caption {
    background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.6);
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.image_wrapper .image_caption p {
    color: #ffffff;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 21px;
    font-weight: 400;
    padding: 10px;
}

.p-main-slider .image_wrapper .icon-video {
    background: url("../img/bg/ico_video.png") no-repeat scroll 0px 0px transparent;
    height: 57px;
    left: 300px;
    position: absolute;
    top: 150px;
    width: 57px;
}

.ar-main-col .parraine li {
    border-top: 1px solid #d8e6f1;
    float: left;
    height: 200px;
    list-style-type: none;
    margin: 0px 0px 20px;
    padding: 20px 0px 0px;
    text-align: center;
    vertical-align: bottom;
    width: 212px;
}

.ar-main-col .parraine li p {
    color: #1f4563;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.ar-main-col .parraine li p a:hover {
    color: #e2001a;
}

.ar-main-col .parraine li a.logo-p {
    display: block;
    height: 155px;
    margin: 0px 0px 20px;
    position: relative;
    vertical-align: bottom;
}

.ar-main-col .parraine li a.logo-p img {
    bottom: 0px;
    position: absolute;
}

.videoar .player-screen {
    margin: 0px 0px 20px;
}

.title-player {
    color: #1f4563;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 20px;
}

.title-player span {
    font-weight: 700;
}

.videoar {
    margin: 0px 0px 10px;
}

.videoar .social_box {
    margin: 0px 0px 20px;
}

.twttr-sandbox {
    border: 1px solid #d8e6f1;
}

.wrapper-twttr {
    padding: 20px;
}

.widget-container {
    margin: 0px 0px 20px;
    padding: 17px 0px 0px;
}

.footer {
    background-color: #214563;
}
.footer .footer-widgets{
    background-color: #214563;
}

.footer .column_block {
    margin: 0px 0px 0px 20px;
    /*float: left;
    margin: 0px 0px 0px 55px;*/
}


.footer  .column_block ul li {
    list-style-type: none;
}

.footer .footer-wrap {
    padding: 10px 0 25px 0;
}

.footer .column_block ul {
    border-top: 1px solid #437ca7;
    padding: 14px 0px 0px;
}

.footer .column_block .block-title {
    color: #7caacb;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 8px;
}

.footer .column_block ul li a {
    color: #7caacb;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.footer .column_block ul li a:hover {
    color: #f0f0f0;
}

.footer .footer-bottom {
    background-color: #101f2c;
    padding:15px 0;
        min-height: 175px;
}
.footer .footer-bottom .container-ar{
    background-color: #101f2c;
    padding: 25px 0px 20px;
}

.footer .footer-bottom .text-center {
    display: block;
    margin: 0px auto 20px;
    text-align: center;
    /*width: 276px;*/
}

.footer-copyright {
    background-color: #0a1118;
}

.footer-copyright{
    background-color: #0a1118;
    padding: 8px 0px;
}

.footer-copyright p {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin:0
}

.footer-sociaux ul li {
    /*float: left;*/
    list-style-type: none;
    margin: 0px 2% 0 0;
    display:inline-block
}

#container-s {
    position: relative;
    width: 300px;
}

#container-s .caret-left {
    background: url("../img/bg/fa-caret-left.png") no-repeat scroll 0px 0px transparent;
    height: 18px;
    left: -13px;
    position: absolute;
    top: 160px;
    width: 7px;
}

#tabbox {
    height: 40px;
}

#tabbox ul li {
    float: left;
    list-style-type: none;
    width: 150px;
}

#panel {
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    height: 318px;
}

.container-ar .tab {
    color: #ffffff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 39px;
    line-height: 40px;
    padding: 0px 0px 0px 47px;
    text-align: center;
    text-decoration: none;
}

.facebook {
    margin-left: 8px;

}

#twitter {
    background: url("../img/twitter-tab.png") no-repeat scroll 0px 0px #9bd8f3;
}

#facebook {
    background: url("../img/facebook-tab.png") no-repeat scroll 0px 0px #91a8d6;
}

.select {
    background-color: #666666;
}

.li-twitter #twitter.select {
    background-color: #24aeeb;
}

.li-facebook #facebook.select {
    background-color: #3c5a98;
}

#twitterbox {
    display: block;
}

#facebookbox {
    display: none;
}

.socialbox {
    height: 300px;
    padding: 15px 0px 0px;
}

.wrap-404 {
    padding: 20px 0px 0px;
}

.wrap-404 h2 {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    margin: 0px 0px 20px;
}

.wrap-404 p {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 0px 0px 10px;
}

.wrap-404 p a {
    color: #007fbe;
}

.adv-bottom a img {
    height: 90px;
    max-width: 728px;
    width: auto;
}

.flex-control-paging li a {
    background: none repeat scroll 0px 0px #214563;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
}

.verticalList .innerList ul li .post-fig .icon-video {
    height: 46px;
    left: 122px ! important;
    top: 52px ! important;
    width: 46px;
}

.container-slide {
    margin: 0px auto;
    /*width: 1400px;*/
}

iframe {
    display: block;
    margin:0 auto;
}

.sliderStrip {
    /*background: url("http://art.antenne.re/squelettes/assets/img/line.png") repeat scroll center center transparent;*/
}

.wrapper-image .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
    height: 45px;
    left: 44%;
    position: absolute;
    top: 39%;
    width: 46px;
}

.list-cat .thumbimage .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
    height: 45px;
    left: 45%;
    position: absolute;
    top: 39% ! important;
    width: 46px;
}

.thumbimage .span.roll {
    background: url("../img/bg/lecture-article.png") no-repeat scroll center center rgba(0, 0, 0, 0.4);
}

.programme-n3 section.video_container {
    background-color: #f5f9fc ! important;
    border-color: -moz-use-text-color #d8e6f1 #d8e6f1 ! important;
    border-style: none solid solid ! important;
    border-width: medium 1px 1px ! important;
    clear: both ! important;
    padding: 20px ! important;
}

.programme-n3 .feat-cat3 .main-cat ul li .thumbimage .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
    height: 45px;
    left: 44%;
    position: absolute;
    top: 39%;
    width: 46px;
}

.container-section .list-container ul li p {
    color: #007fbe;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.programme-n3 .title_actu_bloc_right a {
    color: #335472;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px ! important;
    font-weight: 600 ! important;
    line-height: 100%;
    text-decoration: none;
}

.logo-ar a img {
    position: absolute;
    top: 5px;
    width: 150px;
}

.logo-ar h1 {

}

.header .nav-container {
    float: left;
    margin: 20px 0px 17px 155px;
    width: 660px;
}

.programme #mainContainer .main-inner {
    padding: 10px 10px 20px;
}

.video_container .thumbimage .icon-video {
    background: url("/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll center center transparent;
    height: 45px;
    left: 46%;
    position: absolute;
    top: 40%;
    width: 46px;
}

.video_container .thumbimage {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.video_container .thumbimage img{
    width:100%;
    height:auto;
}
.video_container .thumbimage .title-main-video a{
    color: #ffffff;
    font-weight:normal;
} 
.video_container .thumbimage .title-main-video{
    background: url("../img/data/bg-title-video.fw.png") repeat scroll center center transparent;
    bottom: 0;
    color: #ffffff;
    font-family: 'Maven Pro',sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    position: absolute;
    text-decoration: none;
    width: 100%;
    }
.ar-side-col .format-video .icon-video {
    background: url("/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll center center transparent;
    height: 45px;
    left: 64px;
    position: absolute;
    top: 29px;
    width: 46px;
}

.video_container div.chapo_article {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 0px 0px 10px;
}

.container-section .list-container ul li .capty-caption {
    background: none repeat scroll 0px 0px transparent;
    bottom: 0px;
    color: #ffffff;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    left: 0px;
    position: absolute;
    width: 100%;
}

.container-section .list-container ul li:nth-child(4n-1) {
    margin-right: 0px;
}

.container-section .list-container ul li.item_separator {
    clear: both;
    height: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.colonne_gauche_article_photo {
    margin-top: -9px;
    text-align: justify;
    width: 60%;
}

.footer-sociaux {
    /*margin: 0px auto;
    max-width: 200px;*/
    width: 100%;
    overflow:auto;
}

.footer-sociaux ul li a {
    background: url("../img/bg/icon-sociaux-01.png") no-repeat scroll 0px 0px transparent;
    display: block;
    /*float: left;*/
    height: 33px;
    text-indent: -999em;
    width: 33px;
}

.social-top ul li a {
    background: url("../img/bg/icon-sociaux.png") no-repeat scroll 0px 0px transparent;
    display: block;
    float: left;
    height: 25px;
    text-indent: -999em;
    width: 25px;
}

.footer-sociaux ul li .fb-ar {
    background-position: -37px 0px;
}

.footer-sociaux ul li .tw-ar {
    background-position: -37px -37px;
}

.footer-sociaux ul li .google-ar {
    background-position: -37px -74px;
}

.footer-sociaux ul li .nl-ar {
    background-position: -38px -111px;
}

.footer-sociaux ul li .fb-ar:hover {
    background-position: 1px 0px;
}

.footer-sociaux ul li .tw-ar:hover {
    background-position: 1px -37px;
}

.footer-sociaux ul li .google-ar:hover {
    background-position: 1px -74px;
}

.footer-sociaux ul li .nl-ar:hover {
    background-position: 0px -111px;
}

.social-top ul li .fb {
    background-position: 0px 0px;
}

.social-top ul li .twitter {
    background-position: 1px -27px;
}

.social-top ul li .gplus {
    background-position: 0px -54px;
}

.social-top ul li .nl {
    background-position: 0px -82px;
}

.social-top ul li .fb:hover {
    background-position: -56px 0px;
}

.social-top ul li .twitter:hover {
    background-position: -55px -27px;
}

.social-top ul li .gplus:hover {
    background-position: -56px -54px;
}

.social-top ul li .nl:hover {
    background-position: -56px -82px;
}

.widget-wrap.actu1 > a {
    display: inline-block;
    float: left;
    margin: 0px 10px 20px 0px;
}

.programme-n3 .actu1 .title_actu_bloc_right {
    line-height: 120%;
    margin: 0px ! important;
    overflow: hidden;
}

.widget-wrap.actu1 {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 18px 0;
}
.widget-wrap.actu1:first-child{
    border-bottom: 1px solid #c0d1de;
}   
.programme-n3 .widget-wrap.actu1 img {
    max-width: 250px;
    width:100%
}
.fond_noir {
    background: none repeat scroll 0px 0px #000000;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.img_actu1 {
   text-align:center;
    position: relative;
    float:left;
    width:49%;
    margin-right:2%
}

.article-section .text-body span {
    color: #007fbe ! important;
    font-weight: 400;
}

.titre_headline-directe .title-headline-direct {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    text-transform: none;
}

.titre_headline-directe .title-headline-direct span {
    font-weight: 900;
}

.programme-n2 .main-inner.clearfix {
    padding: 10px 10px 20px ! important;
}

.article-section .text-body span {
    color: #007fbe ! important;
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
}

.direct-container-title {
    margin: 0px auto;
    /*    padding-top: 10px;*/
}

.news .containerProgram {
    position: relative;
   /*max-width: 630px;*/
   width:100%;
    /*margin: 17px auto 0 auto;*/
}

.news .container-emission ul li .resumeEmission {
    width:49%;
    padding-left:2%
}

.mention .ar-main-col {
    color: #1f4563;
    font-family: Maven Pro;
}

.mention .ar-main-col strong {
    font-size: 17px;
}

.mention .ar-main-col > img {
    display: inline-block;
    margin: 10px 10px 0px 0px;
    width: 15%;
}

.mention #mainContainer .main-inner {
    padding: 10px 19px 20px;
}

.news .container-emission {
    margin: 0px;
    width: 100%;
}

.news #mainContainer .main-inner {
    padding: 10px 10px 20px;
}

.news .emission-list > li {
    border-bottom: 1px solid #cdddeb;
    border-top: medium none;
    margin: 0px 0px 12px;
    padding: 10px 0px 25px;
}

.direct-container {
    background-color: #142b3d;
    height: auto;
}

* {
    margin: 0px;
    padding: 0px;
}

.programme-n3 div.breadcrumbs {
    padding: 10px 17px;
    background-color: #fff;
}

.direct-container-breadcrumbs-direct {
    margin: 0px auto;
}

.titre_headline-directe {
    padding: 0px 20px;
    font-family: "Maven Pro",sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 110%;
    margin: 0 0 5px 0;
    color:#fff;
}

.titre_headline-directe {
    padding: 0px;
}

.video-direct {
    /*float: left;*/
    margin: 0 auto;
    width: 100%;
}

.direct-container-video {
    margin: 0px auto;
    /*    width: 646px;*/
}

* {
    padding: 0px;
}

.direct-br-container {
    margin: 0px auto;
    /*    padding: 5px 0px 10px;*/
    padding-top: 0px;
}

.news .container-emission ul li .resumeEmission .nomEmission, .news .container-emission ul li .resumeEmission .nomEmission a {
    color: #204563;
    text-transform: none;
}

.news .container-emission ul li .resumeEmission .categoryEmission, .news .container-emission ul li .resumeEmission .categoryEmission a {
    color: #009eea;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.news .container-emission ul li .resumeEmission .categoryEmission a:hover{
    color: #e2001a;
}
.twitter-box .previewContent img {
    margin: 0;
}

.news .main-inner .title-large {
    margin: 0px 0px 10px;
}

.news .title-large .headline-large, .news .title-large .headline-large a {
    color: #204563;
    font-size: 20px;
    font-weight: 500;
}
.news .title-large .headline-large a:hover{
    color: #e2001a;
}
.news .article-section {
    color: #204563;
    font-family: Maven Pro;
}

.news .article-section .excerpt {
    margin: 0px 0px 5px;
}

.news .article-section .figure-large {
    margin: 0px 0px 0px;
    width:100%;
}
.news .article-section .figure-large img{
    width:100%;
}
.news .emission-list > li .emissionInfo{
    margin:0 auto;
    width:100%
}
.news .article-section .excerpt > a {
    color: #009eea;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.news .article-section .excerpt > a:hover{
    color: #e2001a;
}
.archive #mainContainer .titre_headline {
    margin: 0px 0px 20px;
    padding: 20px 0px 0px;
}
.archive .breadcrumbs {
    margin: 0px 0px 10px;
}
body.archive {
    color: #1f4563 ! important;
}
.archive .bloc-right {
    float: right;
    position: absolute;
    right: 20px;
    top: 77px;
    width: 310px;
}

.titleBlockdirect {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.container-replay {
    display: inline;
    float: left;
    margin-top: 10px;
}

* {
    padding: 0px;
}

.container-replay ul li:first-child {
    border: 0px none;
}

.container-replay ul li {
    line-height: 120%;
    list-style-type: none;
    margin: 0px 0px 25px 0px;
    position: relative;
}

.container-replay li .heureReplay {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: center;
}

.container-replay li .dateReplay {
    color: #009eea;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 6px;
    text-align: center;
    width: 100%;
}

.container-replay ul li {
    line-height: 120%;
    list-style-type: none;
}

.container-replay ul li .imgEmission {

}

.container-replay ul li .imgEmission {
    background-color: #000000;
    float: none;
    height: 460px;
    margin-left: 100px;
    padding: 15px;
    width: 500px;
}

* {
    margin: 0px;
}

* {
    padding: 0px;
}

.video-replay {
    position: relative;
    text-align:center
}

.heur-replay {
    float: left;
    height: 468px;
    width:20%
}

.titre-replay , .titre-replay  a{
    color: #214563;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: -5px 0px 5px;
    text-align: left;
}

.titre-emission-replay, .titre-emission-replay a {
    color: #009eea;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 0px 15px;
    text-align: left;
    text-transform: uppercase;
}

.resumeReplay {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 15px 0px;
    overflow: hidden;
    text-align: left;
}

.resumeReplayL {
    color: #007fbe;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    margin: 10px 0px 5px;
    text-align: left;
}

.container-replay ul li .videoReplay {
    background-color: #f0f5f9;
    float: left;
    padding: 2%;
    width:76%;
    /*     width: 500px;*/
}
.container-replay ul li .videoReplay .video-replay img{
    width:100%
}
.social-replay {
    margin: 15px 0px;
}

.ligne-heurreplay {
    text-align: center;
}

.direct-containerprogramme {
    margin: 0px auto;
    padding-top: 20px;
    /*width: 1000px;*/
}

.social-replayDirect {
    margin: 15px 0px;
    overflow:auto;
}

.direct-containerprogramme-video {
    /*float: left;*/
    margin: 0px auto;
    /*max-width: 646px;
    overflow:auto;*/
}

.direct_contenu .main-inner {
    border-top: 0px none ! important;
}

.direct_contenu .main-inner .ar-main-col {
    margin-top: 0px;
}

.direct-containerprogramme-tweet {
    /*float: right;*/
    margin: 0px auto;
    padding-top: 16px;
    width:100%;
    /*    width: 330px;*/
}

.direct-container-suivez {
    margin: 0px auto;
    padding-top: 0px;
    width: 330px;
}

.direct-container-suivez-fl {
    margin: 0px auto;
    padding-top: 0px;
    width: 330px;
}

.direct-container-suivez-tweet {
    margin: 0px auto;
    padding-top: 0px;
    width: 330px;
}

.programme-n3 .icon-video.post-format {
    /*top: 17px;*/
}

.post-fig .icon-video.post-format {
   /*top: 150px;*/
}

.video-replay .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll 0 0 transparent;
    height: 45px;
    left: 45%;
    position: absolute;
    top: 42%;
    width: 46px;
}

.bouton_twitter p {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 18px;
    padding-top: 12px;
}

.bouton_twitter p span {
    font-size: 18px;
    font-weight: 700;
}

.direct-block-fl-video {
    /*    float: left;*/
    width: 20px;
}

.social-top {
    /*float: left;
     margin: 18px 0px 0px ! important;
     position: relative;*/
    padding: 0 7px;
}

.twitter-box .previewContent img {
    display: none;
}

.list-container {
    position: relative;
}

.list-content {
    float: right;
    padding: 20px 0px 0px;
    width: 462px;
}

.list-content ul.grid-l {
    float: left;
    margin: 0px 5px 20px 0px;
    width: 225px;
}

.list-content ul.grid-2 {
    margin: 0px 0px 20px;
}

.list-content ul.grid-l:first-child {
    border-right: 1px solid #d8e6f1;
}

.list-content ul.grid-l li, .list-content ul.grid-2 li {
    color: #1f4563;
    font-size: 13px;
    line-height: 120%;
    list-style-type: none;
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 0px 5px;
}

.list-content ul.grid-l li a, .list-content ul.grid-2 li a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.list-content ul.grid-l li a:hover, .list-content ul.grid-2 li a:hover {
    color: #009eea;
}

.list-content .archives-button {
    text-align: right;
}

.menu-content .media-heading {
    background-color: #f5f9fc;
    border: 1px solid #e5e9ed;
    color: #335572;
    font-family: "Maven Pro",sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    margin: 0px 0px 10px;
    padding: 4px 0px 8px 12px;
    text-transform: uppercase;
}

.feat-cat3 .thumbimage img {
    height: 113px;
    width:100%
}

.container-section .list-container ul li .panel-item .wrapper-image {
    /*height: 113px;*/
    position: relative;
}

#menuLareunion .menuExclu {
    background-color: #1f4563;
    padding: 19px 20px 17px 20px;
}
#menuLareunion2 .menuExclu {
    background-color: #1f4563;
    padding: 19px 20px 11px 20px;
}
.menuExclu .listLiens {
    border-left: 1px solid #2c618b;
    float: left;
    margin: 0px 20px 20px 0px;
    padding: 0px 0px 0px 20px;
    width: 280px;
}

.menuExclu .listLiens:first-child {
    border: 0px none;
    padding: 0px;
}

.menuExclu .listLiens .listLiensTitle {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0px 0px 15px;
    text-transform: uppercase;
}
.menuExclu .listLiens ul li {
    list-style-type: none;
    margin: 0px 0px 6px;
}

.menuExclu .listLiens ul li a {
    color: #97bedf;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.menuExclu .listLiens ul li a:hover{
    color: #ffffff;
}
.content-slide #nav{
    height: 60px;
    overflow: hidden;
}
/*jeannot*/
.archives-programme-menu {
    padding: 10px 0px 0px;
    width: 100%;
}

.tout-pr {
    width: 100%;
}

.archives-pr {
    display: inline-block;
    float: right;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
}

.archives-pr a {
    color: #ffffff;
    display: inline-block;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
}

.archives-pr a:hover{
    color: #97bedf;
}

.fa-chevron-right {
    color: #2b5f88;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0px 4px 0px 0px;
}

.news-pr-title {
    clear: both;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0px 0px 15px;
    padding: 10px 0px;
    text-transform: uppercase;
    width: 100%;
}

.news-pr-title {
    clear: both;
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0px 0px 10px;
    text-transform: uppercase;
    width: 100%;
}

.title-news {
    float: left;
    width: 12%;
}

.ligne-news {
    float: left;
    margin: 0px;
    width: 100%;
}

.ligne {
    border-color: #2c618b;
    border-style: solid;
    border-width: 0px 0px 1px;
    margin: -10px 0px 0px 112px;
}

.prog-block {
    margin: 0px;
    width: auto;
}

.news-block-menu {
    margin: 0px;
    width: 100%;
}

.news-bloc-container {
    float: left;
    margin: 0px 48px 0px 0px;
    width: 272px;
}

.news-bloc-container2 {
    float: left;
    width: 272px;
}

.image-news {
    float: left;
    margin-right: 10px;
    width: 116px;
    height: 65px;
    overflow: hidden;
}

.chapo-bloc {
    float: left;
    width: 146px;
}

.news-pr-description {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
}
.news-pr-description a:hover{
    color: #97bedf;
}
.menuExclu .listLiens-programme ul li .news-pr-description-title a, .news-pr-description-title a{
    color: #97bedf;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    display: block;
    margin: 8px 0 0 0;
}
.menuExclu .listLiens-programme ul li .news-pr-description-title a:hover, .news-pr-description-title a:hover{
    color: #ffffff;
}
/*Jeannot Menu2*/
.prog-block-liste {
    margin: 0;
    width: auto;
}

/*listLiens-programme*/
.menuExclu .listLiens-programme:first-child {
    border: 0 none;
    padding: 0;
}

.menuExclu .listLiens-programme {
    border-left: 1px solid #2c618b;
    float: left;
    margin: 0 20px 0 0;
    padding: 0 0 0 20px;
    width: 280px;
    height: 334px;
}

/*listLiensTitle-programme*/
.menuExclu .listLiens-programme .listLiensTitle-programme {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.menuExclu .listLiens-programme ul li {
    list-style-type: none;
    margin: 0 0 6px;
}


.menuExclu .listLiens-programme ul li a {
    color: #ffffff;
    font-family: "Maven Pro",sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.menuExclu .listLiens-programme ul li a:hover{
    color: #97bedf;
}
.menuExclu .listLiens-programme ul li .news-pr-description-title a:hover{
    color: #ffffff;
}
.progr-bloc-container1 {
    float: left;
    margin-bottom: 10px;
    width: 272px;
}

.archives-replay-menu {
    float: left;
    padding: 10px 0 0;
    width: 100%;
}

.archives-replay-title {
    display: inline-block;
    float: right;
    font-family: "Maven Pro",sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
}
.archives-replay-title a {
    color: #ffffff;
    display: inline-block;
    font-family: "Maven Pro",sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
}

.archives-replay-title a:hover{
    color: #97bedf;
}

.archives-replay-title .fa-chevron-right {
    color: #2B5F88;
}

.archives-pr .fa-chevron-right{
    color: #2B5F88;
}
#menuLareunion {
    background: url("../img/bg/bg-pg.jpg") no-repeat scroll 0 -4px #1f4563;
}

#menuLareunion2 {
    background: url("../img/bg/bg-pg.jpg") no-repeat scroll 125px -4px #1f4563;
}
.title-bar{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.title-bar a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
    color: #ffffff;
    display: block;
    font-family: "Maven Pro",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.title-large .article-meta{
    color: #1f4563;
    font-size: 13px;
    font-family: "Maven Pro",sans-serif;
    font-weight: normal;
    font-style: normal;
}
.categoriesN1 {
    display: none;
    left: -324px;
    padding: 10px 0 0 0;
    position: absolute;
    top: 40px;
    width: 1000px;
    z-index: 10;
    height: 392px;
}



.section-sms2 ul li a {
    color: #1f4563;
    font-family: "Maven Pro",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.section-sms2 ul li a:hover {
    color: #e2001a;
}

.section-sms2 ul li {
    color: #007fbe;
    float: left;
    font-size: 13px;
    list-style-type: square;
    margin: 0px 5px 10px 20px;
    padding: 0px 0px 0px 5px;
    width: 100%;
}
/*Recherche*/
.block-search{
    min-height:25px;
    padding:0 0 0 7px;

    /*margin-top:10px;*/
}
.block-search a.search .info-nav-txt,.block-search a.search:hover .info-nav-txt{
    background: url("../img/bg/bt-search.png") no-repeat scroll center top;
    height: 100%;
    text-indent: -999em;
    cursor: pointer;
    display: block;
    height: 25px;
    min-width:25px;
}
.wrapper-header .search-expand .button-search{
    background: url("../img/bg/bt-search.png") no-repeat scroll center 2px  #f3f3f3;
    height: 100%;
    text-indent: -999em;
    width: 0px;
    cursor: pointer;
    display: block;
    height: 27px; 
    border: medium none;
    width:32px
}
.wrapper-header .search-expand {
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 9999;
    background: #f3f3f3;
    width: 25px;
    overflow: hidden;
}
.wrapper-header .search-expand input.search, .wrapper-header .search-expand .input-search {
    width:100%;
    max-width:285px;
    border-style:none;
    background:none;
    background:hsla(0,0%,100%,0.24) no-repeat  10px center;
    padding:2px 4px 4px 15px;
    -moz-transition:all 0.7s ease 0s;
    -o-transition:all 0.7s ease 0s;
    -webkit-transition:all 0.7s ease 0s;
    transition:all 0.7s ease 0s;
    -webkit-box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;
    box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;
    font-family:inherit;
    color: #9c9c9c;
    font-size: 15px;
    font-family: "Maven Pro",sans-serif;
    font-weight: 400;
}
.boutton-ok{
    position: absolute;
   top:0;
    right: 0;
}
.input-group-button{
    min-width:33px;
}
.verticalList .innerList ul li h3{
    margin: 0!important;
}
.verticalList .innerList .post-fig{
    /*max-width: 310px;
    height: 174px;*/
}
.verticalList .innerList ul li .format-list {
    /*max-width: 310px!important;*/
    margin: 0 auto;
}
.verticalList .innerList ul li .post-fig .icon-video {
    left: 42%!important;
    top:38%!important;
}
.verticalList .innerList ul li .post-fig img{
    width: 100%;
    height:174px;
}
/*Menu push*/
.header
{
	text-align: center;
}
.header
{
/*	background: #777;*/
        background: url("../img/bg/bg_menu3.png") repeat-x scroll left bottom #ffffff;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 50px;

	box-sizing: border-box;	
	width: 100%;
	height: 50px;
	/*padding: 0 50px;*/
}
.header a.contacts
{
	background: center center no-repeat transparent;
	/*background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );*/
        background-image:url("../img/bg/ico-menu.png");
        background-repeat:no-repeat;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 10px;
        
}
.content
{
	padding: 150px 50px 50px 50px;
}
.mm-menu{
    background-color:#214563!important;
}
.mm-list li a{
    padding:0 10px 0 20px!important;
    line-height: 40px;
}
.mm-list li{
    background-color:#214563;
    border-bottom:1px solid #cdddeb!important
}
.mm-search input{
    font-size:13px!important;
    background-color:#f3f3f3!important;
    color:#000!important;
    height:25px
}
.mm-list li:first-child{
    border-top:1px solid #cdddeb!important
}
.mm-list li.social-top{
    background-color:#007fbe;
}
.mm-list li.social-top li {
    background-color:#007fbe;
    vertical-align:middle;
}
.mm-list li.social-top span{
    width: 25px;
    display:inline-block;
    position:relative;
    top:5px;
    height:25px;
    background: url("../img/bg/icon-sociaux.png") no-repeat scroll 0px 0px transparent!important;
}
.mm-list li.social-top span.fb {
    background-position: 0px 0px!important;
}

.mm-list li.social-top span.twitter {
    background-position: 1px -27px!important;
}

.mm-list li.social-top span.gplus {
    background-position: 0px -54px!important;
}

.mm-list li.social-top span.nl {
    background-position: 0px -82px!important;
}

.mm-list li.social-top span.fb:hover {
    background-position: -56px 0px!important;
}

.mm-list li.social-top span.twitter:hover {
    background-position: -55px -27px!important;
}

.mm-list li.social-top span.gplus:hover {
    background-position: -56px -54px!important;
}

.mm-list li.social-top span.nl:hover {
    background-position: -56px -82px!important;
}
.mm-list a, .mm-list a:hover{
    /*color:#1f4563 !important;*/
        color:#fff!important;
    font-family: "Maven Pro",sans-serif !important;
    font-size: 15px !important;
}
.mm-list a.menu_principale, .mm-list a.menu_principale:hover{
    font-weight: 700;
    text-transform: uppercase
}
.mm-menu > .mm-search {
    font-family: "Maven Pro",sans-serif !important;
}
.header
{
        position: fixed;
        width: 100%;
        box-sizing: border-box;
}
.menu-header{
    min-height: 40px;
}
.wrap-404{
    text-align:center
}
.wrap-404 img{
    max-width:620px;
    width:100%
}
.item_separator{
    clear:both;
    width:100%!important;
}
.ar-main-col-news {
    float: left;
    margin: 17px 0px 0px;
    width: 59%!important
}
.ar-side-col-news{
    width:39%;
    margin-left:2%;
    float:left;
}
.pub-programme{
    width:100%;
    text-align:center;
    overflow:auto;
}
.ar-side-col div.twitter-box{
    margin:10px 0;
}
@media screen and (orientation:landscape) {
    .column_left  .item-sidebar .thumbcontainer img{
        height:174px;
    }   
    .verticalList .innerList ul li .post-fig img{
        height:240px;
    }
    .container-section .list-container ul li .wrapper-image img{
        max-height:174px;
    }
    .container-section .list-container ul li .thumbimage img{
        max-height:174px;
    }
    .feat-cat3 .thumbimage img {
        height: 174px;
    }
    .widget-content .tab-content ul li .figure-player img{
        height:240px;
    }
}
* {
     margin: 0px;
     padding: 0px;
}

.clearfix {
    
}

.clearfix:before, .clearfix:after {
     content: "";
     display: table;
     line-height: 0;
}

.clearfix:after {
     clear: both;
}

.clear {
     clear: both;
     height: 0px;
     overflow: hidden;
     width: 100%;
}


a:active, a:focus, img {
     outline: medium none;
}

a {
     transition: color 0.3s ease 0s;
}

a img {
     border: medium none;
}

.container-ar {
     margin: 0px auto;
     width: 1000px;
}

.page_container {
     margin: 1px 0px 0px;
}

.page_container .container-ar {
     background-color: #ffffff;
}

.grille-tv #mainContainer, .programme #mainContainer, .page-inner #mainContainer {
     margin-top: 10px;
}


.titre_headline .title-headline {
     color: #1f4563;
     font-family: 'Maven Pro',sans-serif;
     font-size: 30px;
     font-weight: 400;
     line-height: 120%;
     text-transform: uppercase;
}

.titre_headline .title-headline span {
     font-weight: 900;
}


.grille_programmes {
     clear: both;
}

.programme-tv ul.navJours > li:first-child {
}

.grille_programmes ul li .prevSem {
     background-color: #007fbe;
     color: #ffffff;
     font-family: 'Maven Pro',sans-serif;
     font-size: 25px;
     font-weight: 400;
     line-height: 100%;
     padding: 12px 0px 15px;
}

.grille_programmes ul li .prevSem span {
     display: block;
     font-size: 30px;
     font-weight: 700;
}

.grille_programmes ul li .emissionInfo a {
     background-color: #eff4fa;
     color: #1f4563;
     display: block;
     font-family: 'Maven Pro',sans-serif;
     font-size: 13px;
     font-weight: 400;
     padding: 16px 0px 20px;
     width: 100%;
}

.grille_programmes ul li .emissionInfo a:hover, .grille_programmes ul li.active .emissionInfo a {
     background-color: #214563;
     color: #478cc4;
}

.grille_programmes ul li.active {
     /*background: url("../img/bg/li-grille.png") no-repeat scroll center bottom transparent;*/
}

.grille_programmes ul li .emissionInfo a span {
     color: #007fbe;
     display: block;
     font-size: 20px;
     margin: 0px 0px 3px;
}

.grille_programmes ul li .emissionInfo a:hover span, .grille_programmes ul li.active .emissionInfo a span {
     color: #eef3f9;
}


#grille_programmes {
     padding: 20px 0px 0px;
}

.programme-tv {
     margin: 0px 0px 30px;
}

.programme-tv .nav-item .bloc-nav li {
     list-style-type: none;
}

.programme-tv .nav-heure ul li {
     list-style-type: none;
     text-align: left;
}

.programme-tv ul li.active {
     background: none repeat scroll 0% 0% #f7fafd;
}

.programme-tv ul.navJours {
}


.programme-tv .bloc-nav li a {
     color: #214563;
     display: block;
     font-family: 'Maven Pro',sans-serif;
     font-size: 20px;
     font-weight: 400;
     padding: 30px 0px;
     text-transform: uppercase;
}

.programme-tv .bloc-nav li a:hover, .programme-tv .bloc-nav li a.active {
     background: url("../img/bg/li-jours.png") no-repeat scroll 162px center #007fbe;
     color: #ffffff;
}

.programme-tv .nav-heure li:first-child a {
     border: medium none;
}

.programme-tv .nav-heure li a span {
     color: #007fbe;
     display: block;
}

a{
    text-decoration: none;
}

/* Début Grille TV*/

.grille_programmes ul li .emissionInfo a span{
    color: #1f4563;
    display: inline;
    font-size: 14px;
    font-weight: 400;
}
.grille_programmes ul li .emissionInfo a span.dateEmission {
    color: #007fbe;
    display: block;
    font-size: 20px;
}
.table-container {
    width:94%; /* Total width of visible columns + border widths */
        margin-left:3%;
    overflow-x:hidden;
    position:relative;
}

.table-container-semaine{
    padding: 20px 0 0 0;
    margin-top:0px;
    min-height:800px;
    height:auto;
    overflow-x:hidden;
}

.table-container-semaine ul.bloc-nav  li a{
    color: #214563;
    display: block;
    font-family: 'Maven Pro',sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0;
    text-transform: uppercase;
    text-align:center;
}

.table-container-anime{
    position:absolute;
    /*left:210px;*/
    overflow:none;
    top:0;
}

.titre_programmes{
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    background:#fff;
}


.sliding-window {
    overflow:hidden;
    /*min-width:920px;*/
}

.sliding-window ul, .table-container-semaine ul{
    /*float:left;*/
}

.sliding-window-top{
    width:20000px;
    overflow:hidden;
    position:absolute;
    left:0;
}

.container-emission{
    display:inline;
    overflow:hidden;
    float:left;
    margin-right:30px;
}


.table-container-anime .programme-tv{
    overflow-x:hidden;
    height:auto;
    /*max-height:600px;*/
}

.nav-grille a{
    position:absolute;
    color:transparent;
}

.nav-grille .previous-column{
    /*left:205px;*/
    background:url("../img/bg/li-nav-l.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    z-index:200;
}

.nav-grille .next-column{
    /*right:-7px;*/
    background:url("../img/bg/li-nav-r.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    z-index:200;
}

#grille_programmes {
    padding: 0;
}
.programme-tv .bloc-nav li a:hover, .programme-tv .bloc-nav li a.active, .table-container-semaine ul.bloc-nav li a.active {
    background: url("../img/bg/li-jours.png") no-repeat scroll 180px center #007fbe;
    color: #ffffff;
}
.titre_programmes .prevSem {
    background-color: #007fbe;
    color: #ffffff;
    font-family: 'Maven Pro',sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 100%;
    padding: 12px 0 15px;
}

.titre_programmes{
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    background:#fff;
    height: 800px;
}

.programme-tv ul.navJours {
	overflow: scroll;
}


.sliding-window-top{
    width:20000px;
    overflow:hidden;
    position:absolute;
    /*left:0;*/
    left:-670px;
}

.nav-item ul {
    width: 213px;
}


.table-container-semaine ul.bloc-nav li a {
    font-size: 25px;
    text-transform: uppercase;
}

.titre-header {
    width: 190px;
}

.nav-item ul {
    width: 190px;
}

.table-container-anime {
    /*left: 190px;*/
}


.programme-tv-resized ul.navJours {
	overflow:hidden;
	min-height:2750px;
	margin-left:-100%;
}

.programme-tv-resized ul.navJours li {
    /*width: 100%;*/
}
.programme-tv-resized ul.navJours li .nav-heure .item-heure img{
    width: 100%;
    max-width:300px;
    max-height:174px;
}

.table-container-resized section>ul{
	width: 700%;
            /*width:100%*/
}

.programme-tv-resized{
	width:100%;
	overflow-y:auto;
}

/*.table-container-resized section.lst_jours{
	max-width:330px;
	min-width:330px !important;
}*/

.table-container-resized section.programme-tv-resized{
	/*max-width:340px;
	min-width:340px !important;*/
}
.table-container-resized{
	position: static;
}
.nav-grille a{
	margin-top: 28px;
	/*left:inherit !important;
	right:inherit !important;*/
}

.nav-grille .previous-column{
	left: 0
}

.nav-grille .next-column{
	right:0
}

.lst_jours{
	max-height:100px
}


.table-container-resized .nav-grille{
}

.programme-tv .nav-heure li h2 {
	 border-top: 1px solid #cdddeb;
	 color: #007fbe;
	 display: block;
	 font-family: "Maven Pro",sans-serif;
	 font-size: 16px;
	 font-weight: 400;
	/* margin: 0px 10px;*/
	 padding: 10px 0px;
	 text-align: left;
}

.programme-tv .nav-heure li h2 span {
	 display: block;
}

.programme-tv .nav-heure li h2 span.grilletv-no-link {
	 color: #999999;
}




