.content_direct_miss_reunion{margin:15px 0 20px 0;padding:10px 10px 0 10px;width:100%;float:left;background:#fff;}
.content_liste_partenaire_miss_reunion ul{display:flex;background: transparent;padding:20px 10px;list-style-type: none;justify-content:space-between;align-items: center;margin:0 0 20px 0;}
.content_liste_partenaire_miss_reunion ul li{padding:0 20px;}
.content_liste_candidat .titre_list{font-family:'ralewayregular'!important;color:#9d8c2e;}
.content_liste_candidat .titre_list span{position:relative;top:3px;}
.liste_candidat_miss{display:flex;flex-wrap:wrap;list-style-type:none;margin:15px;}
.liste_candidat_miss li{width:25%;padding:0 5px;margin-bottom:10px;}
.liste_candidat_miss li img{max-width:100%!important;height:auto!important;}
.direct-container{padding-bottom:20px;}
.social-top{margin-top:5px!important;}
.visible-mobile{display:none;}
.visible-desktop{display:block;}
.content_vignette_miss_reunion_direct{width:100%;margin:0 0 20px 0;padding:0;background:url("../images/bg-missruncrown.jpg") no-repeat center top;background-size:cover;color:#fff;text-align:center;float:left;}
.content_logo_miss_reunion{width:100%;margin:0 0 60px 0;padding:0;text-align:center;}
.content_logo_miss_reunion img{max-width:346px;margin:0 auto;}
.envoyant, .soutenez, .textMiss{font-family:"Maven Pro",sans-serif !important;font-size:20px;line-height:120%;margin:10px 0 5px 0;padding:0;color: #9d8c2e;}
.soutenez span{font-weight:600;}
.envoyant .numero{background:#0046b8;padding: 3px 10px;border-radius: 8px;display: inline-block;font-weight:700;font-family:'ralewaylight'!important;color: #ffffff;}
.envoyant .etoile{max-width:12px;display:inline-block;    position: relative;margin: -6px 0 0 3px;}
.envoyant span{font-family:'ralewaylight'!important;font-weight:600;}
.prixCondition{
    margin: 15px auto;
    display: inline-block;
    padding: 0 15px;
    text-align: initial;
}
.textReglement a{
    font-family:'ralewayregular'!important;
    font-weight:700;
    font-style: italic;
    font-size: 14px;
    color: #9d8c2e;
}

.content_prix{
    margin:0 0 6px 0;
    font-family: 'maven pro',sans-serif!important;
    font-size: 12px;
    font-weight: 500; 
    color: #9d8c2e;    
    display: flex;
    align-items: center;}
.content_prix img{max-width:79px;display:inline-block;margin-right: 10px; }
.bloc_bottom{width:100%;margin:0 0 20px 0;padding:0;float:left;}
.bloc_bottom #WEB_MBAN_BTF{max-width:700px;margin:0 auto;}
.content_liste_partenaire_miss_reunion{
    padding-top: 25px;
}
.imgseparateur img{
    width: auto;
    margin: 0 auto;
}
.envoyant span.blockInMobile{
    font-family: "Maven Pro",sans-serif !important;
    font-weight: normal;
}
.bloc_bottom .adv-bottom{
    border: none !important;
}
@media screen and (max-width:1024px) {
    #main-footer{display:block!important;}
    .footer-sociaux ul{display:flex;justify-content: center;align-items: center;}
    .footer-sociaux ul li{float:none;}
    .navbar-toggle{position:relative;z-index:10;}
    .navbar-toggle.collapsed{width:auto!important;}
    .footer-copyright{padding:10px 0;}
    .footer-copyright a{display:inline-block;}
}
@media screen and (max-width:700px) {
    .bloc-right .pub-container{max-width: 300px;margin:0 auto 20px auto!important; }    
}
@media screen and (max-width:480px) {
    .Téléphonie{
        display: block !important;
        margin: 0 auto;
    }
    .envoyant span.blockInMobile{
        display: block;
        font-family: "Maven Pro",sans-serif !important;
        font-weight: normal;
    }
    .content_prix img {
        max-width: 65px;
    }
    .content_liste_partenaire_miss_reunion ul li{padding:5px;}
    .content_liste_partenaire_miss_reunion ul{justify-content: space-between;}
    .liste_candidat_miss li, .content_liste_partenaire_miss_reunion ul li{width:50%;}
    .visible-mobile{display:block;}
.visible-desktop{display:none;}
.envoyant br{display:block;}
.soutenez span{display:block;}
.soutenez{font-size:16px;}
.envoyant{font-size:16px;padding: 0 17px;}
.envoyant .numero{margin:0 0 10px 0;}
.direct-containerprogramme{padding:0 15px;}
.content_logo_miss_reunion{padding:0 30px;}
.titre_list{font-size: 18px;padding-bottom: 5px;}
}