@charset "utf-8";
/* CSS Document */
body a{ outline:none;}
.content_top{background:#0a1119;padding-bottom: 8px;padding-top: 8px;}
.menu_top_miss{list-style-type:none;margin:0;padding:0;}
.menu_top_miss li{float: left;height: 10px;line-height: 10px;list-style-type: none;margin: 0;}
.menu_top_miss li a {border-left: 1px solid #888888;color: #999999;display: block;font-family: "Open Sans",sans-serif;font-size: 11px;font-weight: 600;height: 10px;line-height: 10px;padding: 0 10px;
text-decoration: none;}
.menu_top_miss li:first-child a{border:0;}


