.slider-nav ul li .carousel-caption h2{
	background-color: #214563;
}
.slider-nav ul li .carousel-caption p{
	background-color: #007FBE;
}
.verticalList .innerList ul li .post-fig .tile-title a{
	background-color: #000000;
}