@charset "utf-8";

@font-face {
  font-family: "maven_problack";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mavenpro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-black-webfont.woff") format("woff"), url("../fonts/mavenpro-black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "maven_probold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mavenpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-bold-webfont.woff") format("woff"), url("../fonts/mavenpro-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "maven_promedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mavenpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-medium-webfont.woff") format("woff"), url("../fonts/mavenpro-medium-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "maven_proregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mavenpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-regular-webfont.woff") format("woff"), url("../fonts/mavenpro-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "open_sansregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "open_sanslight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "open_sansbold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "open_sanssemibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype");
}

.slider-nav img, img {
     display: block;
     width: 100%;
}

iframe {
     display: block;
}

* {
     margin: 0px;
     padding: 0px;
}

.clearfix {
    
}

.clearfix:before, .clearfix:after {
     content: "";
     display: table;
     line-height: 0;
}

.clearfix:after {
     clear: both;
}

.clear {
     clear: both;
     height: 0px;
     overflow: hidden;
     width: 100%;
}

.container-ar a {
     color: inherit;
     text-decoration: none;
}

a:active, a:focus, img {
     outline: medium none;
}

a {
     transition: color 0.3s ease 0s;
}

a img {
     border: medium none;
}

.container-ar {
     margin: 0px auto;
     width: 1000px;
}

.page_container {
     margin: 1px 0px 0px;
}

.page_container .container-ar .main-inner {
     background-color: #FFFFFF;
}

.grille-tv #mainContainer, .programme #mainContainer, .page-inner #mainContainer {
     margin-top: 10px;
}

.mega-banniere .adv-wrap {
     margin: 0px auto;
     width: 728px;
}

.mega-banniere {
     padding: 20px 0px;
}

.header {
     background: none repeat scroll 0px 0px #FFFFFF;
     box-shadow: 0px -5px 8px #000000;
     padding: 0px;
     position: relative;
     width: 100%;
     z-index: 9999;
}

.header-container {
     background-color: #0A1118;
}

.header-container .menu_top {
     background-color: #0A1118;
     padding-bottom: 8px;
     padding-top: 8px;
}

.menu_top ul {
     margin: 0px;
}

.menu_top ul li {
     float: left;
     height: 10px;
     line-height: 10px;
     list-style-type: none;
     margin: 0px;
}

.menu_top ul li a {
     border-left: 1px solid #888888;
     color: #999999;
     display: block;
     font-family: "Open Sans",sans-serif;
     font-size: 11px;
     font-weight: 600;
     height: 10px;
     line-height: 10px;
     padding: 0px 10px;
     text-decoration: none;
}

.menu_top ul li a:hover {
     color: #F0F0F0;
}

.menu_top ul li:first-child a {
     border: medium none;
     padding-left: 0px;
}


.navbar ul.mainmenu{
     background: none repeat scroll 0px 0px transparent;
     margin: 0px;
     width: 610px;
}

.navbar ul li.color-m {
     float: left;
     list-style-type: none;
     
}

.navbar ul li .menu-n1 {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: 700;
	 padding: 20px 0;
     text-decoration: none;
	 text-transform: uppercase;
}
.nav-container .navbar ul li > a.menu-n1{
	display: block;
}
.navbar ul li .menu-n1 span{
	border-right: 1px solid #305C80;
	padding: 0px 12px;
}
.navbar ul li a.menu-n1:hover, .navbar ul li a.active {
     color: #009EEA;
}

.wrapper-header .container-ar .logo-ar {
     float: left;
     margin: 0px 20px 0px 0px;
}

.social-top {
     float: left;
     margin: 13px 10px 0px;
}

.social-top ul li {
     float: left;
     list-style-type: none;
     margin: 0px 5px;
}

.block-search {
     float: left;
     margin: 15px 0px 0px;
}

.block-search span {
     border-right: 1px solid #305C80;
     display: block;
     float: left;
     height: 20px;
     margin: 2px 11px 0px 5px;
     width: 1px;
}

.block-search .search {
     background: url("../img/bg/search.png") no-repeat scroll center top transparent;
     display: block;
     float: left;
     height: 25px;
     text-indent: -999em;
     width: 25px;
}

.block-search .search:hover {
     background-position: center bottom;
}

.wrapper-header .container-ar {
     position: relative;
}

.wrapper-header .search-expand {
     background: none repeat scroll 0px 0px #FFFFFF;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px #CCCCCC;
     padding: 5px 2px;
     position: absolute;
     right: 0px;
     top: 5px;
     z-index: 9999;
}

.wrapper-header .search-expand .search {
     border: 1px solid #FFFFFF;
     color: #009EEA;
     font-family: "Open Sans",sans-serif;
     font-size: 13px;
     font-weight: 400;
     height: 21px;
     line-height: 100%;
     margin: 0px 5px 0px 0px;
     padding: 0px 0px 0px 5px;
     width: 248px;
}

.wrapper-header .search-expand .button-search {
     background: none repeat scroll 0px 0px #FFFFFF;
     border: medium none;
     color: #009EEA;
     cursor: pointer;
     float: right;
     font-family: "Open Sans",sans-serif;
     font-size: 13px;
     font-weight: 400;
     line-height: 100%;
     padding: 5px;
}

.wrapper-section {
     margin-bottom: 0px;
}

.wrapper-section .slider-nav {
     margin: 0px;
     overflow: hidden;
     position: relative;
}

.slider-nav ul li {
     list-style-type: none;
     position: relative;
}

#primary .slider-nav ul li {
     height: 360px;
}

.slider-nav ul li .carousel-caption {
     bottom: 30px;
     left: 200px;
     position: absolute;
     width: 1000px;
}

.p-main-slider .slider-nav ul li .carousel-caption {
     bottom: 40px;
     left: 0px;
     position: absolute;
     width: 100%;
}

.slider-nav ul li .carousel-caption h2 {
     background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
     color: #FFFFFF;
     display: inline-block;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-weight: 700;
     line-height: 120%;
     padding: 3px 20px 5px;
     text-transform: uppercase;
}

.slider-nav .carousel-caption h2 a {
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-weight: 900;
     text-decoration: none;
     text-transform: uppercase;
}

.wrapper-section .slider-nav .carousel-caption .title-carousel, .wrapper-section .slider-nav .carousel-caption .title-carousel a {
     font-size: 40px;
}

.p-main-slider .slider-nav .carousel-caption .title-carousel, .p-main-slider .slider-nav .carousel-caption .title-carousel a {
     font-size: 25px;
}

.slider-nav .carousel-caption .desc-carousel {
     background: none repeat scroll 0px 0px rgba(0, 127, 190, 0.8);
     clear: both;
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-weight: 400;
     line-height: 120%;
     padding: 3px 20px 8px;
}

.slider-nav .carousel-caption .desc-carousel a {
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-weight: 400;
     text-decoration: none;
}

.wrapper-section .slider-nav .carousel-caption .desc-carousel, .wrapper-section .slider-nav .carousel-caption .desc-carousel a {
     font-size: 22px;
}

.p-main-slider .slider-nav .carousel-caption .desc-carousel, .p-main-slider .slider-nav .carousel-caption .desc-carousel a {
     font-size: 20px;
}

.slider-nav .carousel-caption .desc-carousel span {
     font-weight: 900;
}

.slider-indicators {
     bottom: 10px;
     left: 50%;
     list-style: none outside none;
     padding-left: 0px;
     position: absolute;
     text-align: center;
     width: 70%;
     z-index: 15;
}

.wrapper-section .slider-indicators {
     margin-left: -30%;
     width: 60%;
}

.slider-indicators .active {
     background-color: #009EEA;
}

.slider-indicators li {
     background-color: #214563;
     border-radius: 10px;
     cursor: pointer;
     display: inline-block;
     height: 10px;
     margin: 0px 10px;
     text-indent: -999px;
     width: 10px;
}

.p-main-slider .slider-indicators li {
     border: 1px solid #FFFFFF;
     margin: 0px 5px;
}

.slider-nav .carousel-control {
     height: 60px;
     position: absolute;
     text-decoration: none;
     top: 145px;
     width: 31px;
}

.p-main-slider .slider-nav .carousel-control {
     top: 220px;
}

.p-main-slider {
     margin-top: 5px;
}

.slider-nav .left-control {
     background: url("../img/bg/chevron-slide.png") no-repeat scroll center top transparent;
     left: 102px;
}

.slider-nav .right-control {
     background: url("../img/bg/chevron-slide.png") no-repeat scroll center bottom transparent;
     right: 102px;
}

.p-main-slider .slider-nav .left-control {
     left: 35px;
}

.p-main-slider .slider-nav .right-control {
     right: 35px;
}

.banner-row {
     background-color: #EFF4FA;
     height: 70px;
     margin: 0px auto;
     width: 1000px;
}

.banner-row ul li {
     float: left;
     line-height: 120%;
     list-style-type: none;
     padding: 10px 0px 10px 20px;
     width: 350px;
}

.banner-row ul li:first-child {
     background-color: #007FBE;
     padding: 0px 0px 0px 20px;
     width: 234px;
}

.banner-row ul li .panel-txt {
     color: #FFFFFF;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: 400;
     padding: 25px 0px 26px;
     text-align: left;
}

.banner-row ul li .panel-txt span {
     font-weight: 900;
}

.banner-row ul li .panel-date {
     color: #007FBE;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: 400;
     margin: 0px 0px 12px;
}

.banner-row ul li .panel-date a {
     color: #007FBE;
     text-decoration: none;
}

.banner-row ul li .panel-desc {
     color: #3674A0;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 400;
     height: 20px;
     overflow: hidden;
     text-transform: uppercase;
}

.banner-row ul li .panel-desc a {
     color: #3674A0;
     text-decoration: none;
     text-transform: uppercase;
}

.banner-row ul li .imgwrap {
     float: left;
     margin: 0px 15px 0px 0px;
}

.banner-row ul li .imgwrap a {
     display: block;
     height: 52px;
     width: 100px;
}

.last-row .panel-default {
     background: url("../img/bg/border-panel.png") no-repeat scroll left center transparent;
     padding-left: 20px;
}

.last-row .panel-default a {
     text-decoration: none;
}

.wrapper-content {
     background: none repeat scroll 0px 0px #FFFFFF;
     border-left: 1px solid #CDDDEB;
     border-right: 1px solid #CDDDEB;
     padding: 20px 18px;
}

.column_left {
     background-color: #F0F5F9;
     border: 1px solid #CDDDEB;
     float: left;
     margin: 0px 15px 20px 0px;
     padding: 15px 19px;
     width: 590px;
}

.wrapper-content .column_right {
     float: right;
     width: 310px;
}

.column_left .titleBlock {
     color: #1F4563;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-size: 25px;
     font-weight: 400;
     line-height: 100%;
     text-transform: uppercase;
}

.column_left .header-block {
     line-height: 120%;
     margin: 0px 0px 16px;
}

.column_left .header-block a {
     float: left;
     margin: 0px 20px 0px 0px;
}

.column_left .item-info .imageContainer {
     margin: 0px 0px 12px;
}

.wrapper-content .column_left .item-info .imageContainer img {
     display: block;
}

.column_left .item-info {
     float: left;
     margin: 0px 20px 20px 0px;
     width: 408px;
}

.column_left .tag-title a {
     color: #007FBE;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 13px;
     font-weight: 500;
     margin: 0px 0px 5px;
     text-decoration: none;
     text-transform: uppercase;
}

.column_left .itemDetails .title-item {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 600;
     line-height: 100%;
     margin: 0px 0px 10px;
     text-align: left;
}

.column_left .itemDetails .title-item a:hover {
     color: #009EEA;
}

.wrapper-content .column_left .itemDetails .title-item a:hover {
     color: #009EEA;
}

.column_left .item-info .description-item {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: 400;
     height: 92px;
     line-height: 120%;
     overflow: hidden;
}

.column_left .item-info .description-item a {
     text-decoration: none;
}

.archives-button {
     clear: both;
     width: 100%;
}

.archives-button a {
     background: url("../img/bg/chevron-link.png") no-repeat scroll 15px center #007FBE;
     color: #FFFFFF;
     display: inline-block;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 700;
     padding: 10px 25px 10px 40px;
     text-transform: uppercase;
     transition: all 300ms ease 0s;
}

.archives-button a:hover, .morepostag a:hover {
     background-color: #E2001A;
}

.column_left .item-sidebar {
     float: left;
     width: 162px;
}

.item-sidebar ul li {
     list-style-type: none;
     margin: 0px;
}

.item-sidebar ul li:first-child {
     margin: 0px 0px 20px;
}

.item-sidebar ul li .thumbcontainer {
     margin: 0px 0px 10px;
}

.column_right .adv {
     background: url("../img/bg/publicite.png") no-repeat scroll 29px 10px transparent;
     padding: 0px 3px;
}

.column_right .adv:first-child {
     margin: 0px 0px 12px;
}

.section-meteo {
     float: left;
     height: 65px;
     width: 635px;
}

.section-meteo .meteo-wrap .m-thumbnail {
     float: left;
     width: 86px;
}

.section-meteo .meteo-wrap ul {
     float: left;
     margin: 0px 10px;
}

.section-meteo .meteo-wrap ul li {
     line-height: 120%;
     list-style-type: none;
     margin: 0px 0px 5px;
}

.section-meteo .meteo-wrap ul li a {
     color: #066CB8;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 400;
}

.section-meteo .meteo-wrap ul li a:hover {
     color: #E2001A;
}

.section-meteo .meteo-wrap .m-conteneur {
     border-left: 1px solid #D8E6F1;
     float: left;
     padding: 0px 0px 0px 10px;
     width: 122px;
}

.section-meteo .meteo-wrap .m-text {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 700;
     margin: 0px 0px 5px;
     text-align: left;
}

.section-meteo .meteo-wrap p {
     color: #004686;
     float: right;
     font-family: "Maven Pro",sans-serif;
     font-size: 35px;
     font-weight: 200;
}

.section-meteo .meteo-wrap p span {
     font-size: 20px;
}

.section-meteo .meteo-wrap ul li .fa-chevron-right {
     color: #CCCCCC;
     font-size: 13px;
     margin: 0px 8px 0px 0px;
}

.section-meteo .meteo-wrap .blue-btn {
     background: url("../img/bg/blue-btn.png") no-repeat scroll 194px center #007FBE;
     color: #FFFFFF;
     float: right;
     font-family: "Maven Pro",sans-serif;
     font-size: 36px;
     font-weight: 400;
     height: 45px;
     line-height: 120%;
     padding: 10px 40px 10px 10px;
     transition: background-color 0.3s ease 0s;
}

.section-meteo .meteo-wrap .blue-btn:hover {
     background-color: #E2001A;
}

.section-meteo .meteo-wrap .blue-btn span {
     font-weight: 900;
}

.section-meteo .meteo-wrap .m-conteneur .m-icon {
     display: block;
     text-align: left;
     width: 28px;
}

.verticalList {
     background: none repeat scroll 0px 0px #FFFFFF;
     border-left: 1px solid #CDDDEB;
     border-right: 1px solid #CDDDEB;
     padding: 0px 19px 20px;
}

.verticalList .innerList {
     border-top: 1px solid #CDDDEB;
     padding: 10px 0px 0px;
}

.verticalList .innerList ul li {
     float: left;
     list-style-type: none;
     margin: 0px 0px 20px 15px;
     width: 310px;
}

.verticalList .innerList ul li:first-child, .verticalList .innerList ul li.item-4 {
     clear: both;
     margin-left: 0px;
}

.verticalList .innerList .title-list {
     color: #204563;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: 500;
     line-height: 120%;
     margin: 0px 0px 10px;
     text-transform: uppercase;
}

.verticalList .innerList .post-texts .title-post {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 120%;
     overflow: hidden;
}

.verticalList .innerList .post-texts p a:hover, .verticalList .innerList .post-title p a:hover {
     color: #E2001A;
}

.verticalList .innerList .post-title .title-post {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: 500;
     height: auto;
     line-height: 120%;
}

.verticalList .innerList ul li .post-fig {
     height: 174px;
     margin: 0px 0px 10px;
     overflow: hidden;
     position: relative;
}

.verticalList .innerList ul li .post-fig .icon-video {
     background: url("http://art.antenne.re/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
     left: 100px;
     position: absolute;
     top: 45px;
     z-index: 9;
}

.verticalList .innerList ul li .post-fig .tile-title {
     bottom: 0px;
     left: 0px;
     position: absolute;
     width: 100%;
}

.verticalList .innerList ul li .post-fig .tile-title a {
     background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.65);
     color: #FFFFFF;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 600;
     line-height: 17px;
     padding: 10px;
     text-decoration: none;
}

.bloc_bottom {
     clear: both;
     margin: 0px;
}

.bloc_bottom .adv-bottom {
     border-top: 1px solid #CDDDEB;
     padding: 20px 0px 0px;
}

.adv-bottom .adv-wrap {
     height: 90px;
     margin: 0px auto;
     width: 728px;
}

.ad-banner {
     background: none repeat scroll 0px 0px #FFFFFF;
     padding: 5px 0px;
     position: relative;
     z-index: 99999;
}

.ad-banner .adv-inner {
     margin: 0px auto;
     width: 728px;
}

.ad-banner .adv-inner .adsbygoogle {
     display: block ! important;
}

#mainContainer .titre_headline {
     margin: 0px 0px 20px;
     padding: 10px 0px 0px;
}

.titre_headline .title-headline {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: 400;
     line-height: 120%;
     text-transform: uppercase;
}

.titre_headline .title-headline span {
     font-weight: 900;
}

#mainContainer .main-inner {
     border: 1px solid #CDDDEB;
     padding: 20px 19px;
}

.grille_programmes {
     clear: both;
}

.programmes_head ul .item-jours {
     float: left;
     line-height: 120%;
     list-style-type: none;
     margin: 0px 0px 10px;
     padding: 0px 0px 18px;
     text-align: center;
     width: 110px;
}

.grille_programmes ul.navJours > li:first-child {
     width: 190px;
}

.grille_programmes ul li .prevSem {
     background-color: #007FBE;
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 25px;
     font-weight: 400;
     line-height: 100%;
     padding: 12px 0px 15px;
}

.grille_programmes ul li .prevSem span {
     display: block;
     font-size: 30px;
     font-weight: 700;
}

.grille_programmes ul li .emissionInfo a {
     background-color: #EFF4FA;
     color: #1F4563;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 13px;
     font-weight: 400;
     padding: 15px 0px 20px;
     width: 100%;
}

.grille_programmes ul li .emissionInfo a:hover, .grille_programmes ul li.active .emissionInfo a {
     background-color: #214563;
     color: #478CC4;
}

.grille_programmes ul li.active {
     background: url("../img/bg/li-grille.png") no-repeat scroll center bottom transparent;
}

.grille_programmes ul li .emissionInfo a span {
     color: #007FBE;
     display: block;
     font-size: 20px;
     margin: 0px 0px 3px;
}

.grille_programmes ul li .emissionInfo a:hover span, .grille_programmes ul li.active .emissionInfo a span {
     color: #EEF3F9;
}

.containerProgram {
     float: left;
     width: 640px;
}

.container-emission ul li {
     border-top: 1px solid #CDDDEB;
     line-height: 120%;
     list-style-type: none;
     margin: 0px 10px 25px 0px;
     padding: 25px 0px 0px;
     position: relative;
}

.container-emission ul li:first-child {
     border: 0px none;
}

.container-emission ul li .heureEmission {
     color: #009EEA;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-size: 28px;
     font-weight: 400;
     width: 97px;
}

.container-emission ul li .imgEmission {
     float: left;
     height: 174px;
     width: 310px;
}

.container-emission ul li .imgEmission img {
     height: 174px;
     width: 310px;
}

.container-emission ul li .resumeEmission {
     color: #204563;
     float: left;
     font-family: Maven Pro;
     font-size: 15px;
     height: 125px;
     margin: 0px 0px 0px 20px;
     overflow: hidden;
     vertical-align: top;
     width: 298px;
}

.container-emission ul li .resumeEmission .nomEmission a:hover {
     color: #E2001A;
}

.container-emission ul li .resumeEmission .nomEmission {
     color: #214563;
     font-family: "Maven Pro",sans-serif;
     font-size: 22px;
     font-weight: 500;
     line-height: 25px;
     margin: -5px 0px 5px;
     text-align: left;
}

.container-emission ul li .resumeEmission .categoryEmission {
     color: #009EEA;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 400;
     margin: 0px 0px 6px;
}

.container-emission ul li .resumeEmission p {
     color: #204563;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: normal;
     line-height: 120%;
     margin: 0px 0px 5px;
}

.container-emission ul li .resumeEmission .readnext {
     bottom: -5px;
     color: #009EEA;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     position: absolute;
     right: 0px;
     text-align: right;
}

.container-emission ul li .resumeEmission .readnext:hover, .topics-box .topiclist ul li .text-holder .readnext:hover {
     color: #E2001A;
}

.bloc-right {
     float: right;
     width: 310px;
}


.replay-n2 .bloc-right, .programme-n2 .bloc-right {
     margin: 17px 0px 0px;
}

.bloc-right .pub-container {
     background: url("../img/bg/publicite.png") no-repeat scroll 3px 0px transparent;
     margin: 0px auto 20px;
     padding: 17px 0px 0px;
     width: 300px;
}

#grille_programmes {
     clear: both;
     padding: 20px 0px 0px;
}

.programme-tv {
     margin: 0px 0px 30px;
}

.programme-tv .nav-item .bloc-nav li {
     list-style-type: none;
}

.programme-tv .nav-heure ul li {
     list-style-type: none;
     text-align: left;
}

.programme-tv ul .item-jours {
     border-right: 1px solid #CDDDEB;
     float: left;
     line-height: 120%;
     list-style-type: none;
     margin: 0px 0px 10px;
     text-align: center;
     width: 109px;
}

.programme-tv ul li.active {
     background: none repeat scroll 0px 0px #F7FAFD;
}

.programme-tv ul.navJours {
     height: 470px;
}

.programme-tv ul.navJours > li:first-child {
     width: 188px;
}

.programme-tv .bloc-nav li a {
     color: #214563;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 400;
     padding: 30px 0px;
     text-transform: uppercase;
}

.programme-tv .bloc-nav li a:hover, .programme-tv .bloc-nav li a.active {
     background: url("../img/bg/li-jours.png") no-repeat scroll 162px center #007FBE;
     color: #FFFFFF;
}

.programme-tv .nav-heure li a {
     border-top: 1px solid #CDDDEB;
     color: #1F4563;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     margin: 0px 10px;
     padding: 10px 0px;
     text-align: left;
}

.programme-tv .nav-heure li:first-child a {
     border: medium none;
}

.programme-tv .nav-heure li a span {
     color: #007FBE;
     display: block;
}

.breadcrumbs ul li {
     color: #597D9F;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-size: 13px;
     font-weight: 400;
     line-height: 23px;
     list-style-type: none;
}

.breadcrumbs ul li a {
     color: #597D9F;
     font-family: "Maven Pro",sans-serif;
     font-size: 13px;
     font-weight: 400;
     margin: 0px 8px 0px 0px;
}

.breadcrumbs ul li a:hover {
     color: #E2001A;
}

.breadcrumbs ul li:first-child a {
     background: url("../img/bg/fa-home.png") no-repeat scroll 0px 0px transparent;
     display: inline-block;
     height: 20px;
     text-indent: -999em;
     width: 20px;
}

.breadcrumb > li + li:before {
     color: #C9DDED;
     content: "";
     display: inline-block;
     font-family: FontAwesome;
     font-size: 12px;
     font-style: normal;
     font-weight: normal;
     line-height: 1;
     margin: 0px 6px 0px 0px;
}

.ar-main-col {
     float: left;
     margin: 17px 0px 0px;
     width: 630px;
}

.page-g2 .ar-main-col {
     border: 0px none;
}

.p-slide-inner {
     margin: 0px 0px 20px;
     position: relative;
}

.p-slide-inner ul li {
     list-style-type: none;
}

.container-section .media-heading {
     background-color: #F5F9FC;
     border: 1px solid #E5E9ED;
     color: #335572;
     font-family: "Maven Pro",sans-serif;
     font-size: 22px;
     font-weight: 700;
     line-height: 120%;
     margin: 0px 0px 20px;
     padding: 5px 0px 10px 15px;
     text-transform: uppercase;
}

.container-section {
     clear: both;
     margin: 0px 0px 30px;
}

.container-section .list-container ul li {
     float: left;
     height: auto;
     line-height: 120%;
     list-style-type: none;
     margin: 0px 15px 20px 0px;
     overflow: hidden;
     position: relative;
     width: 200px;
}

.container-section .list-container ul li.item-2 {
    
}

.container-section .list-container ul li .wrapper-image img {
     height: 113px ! important;
     width: 200px ! important;
}

.container-section .list-container ul li .title-panel {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 600;
     margin: 10px 0px 0px;
}

.personnage .list-container ul li .title-panel {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 18px;
     font-weight: 400;
}

.personnage .list-container ul li .title-panel span {
     color: #007FBE;
}

.container-section .list-container ul li .title-panel a:hover {
     color: #E2001A;
}

.container-section .list-container ul li p {
     color: #007FBE;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: 700;
     text-transform: uppercase;
}

.bloc-right .row-pub {
     border-top: 1px solid #CDDDEB;
     height: 1px;
     margin: 0px 0px 14px;
}

.bloc-right .sidebar {
     margin: 0px 0px 20px;
}

.widget-tab .widget-title {
     border-bottom: 1px solid #D8E6F1;
     margin: 0px 0px 10px;
}

.widget-tab .widget-title span {
     background-color: #007FBE;
     color: #FFFFFF;
     display: inline-block;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 700;
     padding: 5px 20px;
}

.widget-content ul li {
     list-style-type: none;
     margin: 0px 0px 20px;
}

.widget-content ul.nav-tabs li a {
     color: #666666;
     font-family: "Maven Pro",sans-serif;
     font-size: 13px;
     font-weight: 700;
}

.widget-content ul.nav-tabs li a:hover {
     color: #E2001A;
}

.widget-content ul.nav-tabs li {
     float: left;
     list-style-type: none;
     margin: 0px 10px 0px 0px;
}

.widget-content ul.nav-tabs li .fa-chevron-right {
     color: #CCCCCC;
     font-size: 13px;
     margin: 0px 8px 0px 0px;
}

.widget-content ul.nav-tabs {
     margin: 0px 0px 10px;
}

.widget-content ul.nav-tabs li.active a {
     color: #066CB8;
}

.widget-content .tab-content ul li .figure-player {
     margin: 0px 0px 12px;
     position: relative;
}

.widget-content .tab-content ul li .figure-player .icon-video {
     background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
     height: 45px;
     left: 125px;
     position: absolute;
     top: 65px;
     width: 46px;
}

.widget-content .tab-content ul li .figure-player .meta-title {
     background-color: #007FBE;
     bottom: 0px;
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 700;
     padding: 1px 7px 2px;
     position: absolute;
     right: 0px;
     text-transform: uppercase;
}

.widget-content .tab-content ul li .figure-player a:hover .meta-title {
     background-color: #E2001A;
}

.widget-content .tab-content ul li .title-medias .item-title {
     line-height: 20px;
     margin: 0px 0px 0px 27px;
}

.widget-content .tab-content ul li .title-medias .item-title a {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 700;
}

.widget-content .tab-content ul li .title-medias .item-title a:hover {
     color: #E2001A;
}

.widget-content .tab-content ul li .title-medias p {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
}

.widget-content .tab-content ul li .title-medias .num-count {
     border: 1px solid #007FBE;
     color: #007FBE;
     display: block;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-size: 13px;
     font-weight: 700;
     line-height: 120%;
     margin: 5px 10px 0px 0px;
     padding: 0px 4px;
}

.widget-content .tab-content ul li:first-child .title-medias .num-count {
     background-color: #007FBE;
     color: #FFFFFF;
}

.morepostag a {
     background-color: #007FBE;
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 700;
     padding: 5px 15px;
     text-transform: uppercase;
     transition: background-color 0.3s ease 0s;
}

.wrapper-image .item-title {
     display: block ! important;
     height: 35px;
     left: 0px;
     overflow: hidden;
     position: absolute;
     top: 78px;
     width: 100%;
}

.wrapper-image .item-title a {
     background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
     color: #FFFFFF;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 500;
     line-height: 25px;
     padding: 5px 10px;
     text-decoration: none;
}

.wrapper-image .icon-video {
     background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
     height: 57px;
     left: 120px;
     position: absolute;
     top: 54px;
     width: 57px;
}

.jscroll-loading {
     margin: 20px auto;
     text-align: center;
     width: 32px;
}

.jscroll-loading img {
     margin: 0px auto;
}

.menu-menu2 {
     background-color: #EFF4FA;
}

.menu-menu2 ul li {
     float: left;
     list-style-type: none;
}

.menu-menu2 ul li a {
     background: url("../img/bg/menu2.gif") no-repeat scroll left center transparent;
     color: #1F4563;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 18px;
     font-weight: 400;
     line-height: 120%;
     padding: 12px 25px;
     text-decoration: none;
     text-transform: uppercase;
     transition: all 0.3s ease 0s;
}

.menu-menu2 ul li:first-child a {
     background-image: none;
}

.menu-menu2 ul li a:hover, .menu-menu2 ul li a.active {
     background: none repeat scroll 0px 0px #007FBE;
     color: #FFFFFF;
}

.programme-n3 #mainContainer .main-inner {
     border-top: 0px none;
     padding-top: 15px;
}

.article-chapo p {
     color: #335272;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 120%;
     margin-bottom: 20px;
}

.article-chapo p strong {
     font-weight: 700;
}

.topics-box .topiclist ul {
     border-top: 1px solid #D8E6F1;
     display: block;
     padding: 20px 0px;
}

.topics-box .topiclist ul li {
     border-bottom: 1px solid #D8E6F1;
     line-height: 120%;
     list-style-type: none;
     margin: 0px 0px 20px;
     padding: 0px 0px 20px;
     position: relative;
}

.topics-box .topiclist ul li .thumb-wrapper {
     float: left;
     position: relative;
     width: 310px;
}

.topics-box .topiclist ul li .topic-title {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 500;
     line-height: 100%;
     margin-bottom: 10px;
}

.topics-box .topiclist ul li .topic-title a:hover {
     color: #E2001A;
}

.topics-box .topiclist ul li .text-holder {
     margin-left: 320px;
}

.topics-box .topiclist ul li .text-holder p.txt-extract {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 120%;
     margin: 0px 0px 10px;
}

.topics-box .topiclist ul li .text-holder .readnext {
     bottom: 18px;
     color: #009EEA;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 400;
     position: absolute;
     right: 0px;
     text-align: right;
}

.topics-box .topiclist ul li .thumb-wrapper .icon-video {
     background: url("../img/bg/ico_video.png") no-repeat scroll 0px 0px transparent;
     height: 57px;
     left: 100px;
     position: absolute;
     top: 50px;
     width: 57px;
}

.section-bandeau {
     height: 267px;
     position: relative;
}

.section-bandeau .bandeau-inner {
     bottom: 20px;
     display: block;
     padding: 25px 0px 0px;
     position: absolute;
     right: 0px;
}

.section-bandeau .bandeau-inner .logo-bd {
     bottom: 20px;
     display: block;
     left: 0px;
     position: absolute;
}

.section-bandeau .bandeau-inner .fond-bd {
     left: 0px;
     position: absolute;
     top: 0px;
}

.section-bandeau .bandeau-inner .bandeau-right {
     float: right;
     position: relative;
     z-index: 4;
}

.bandeau-right .b-title {
     background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
     clear: both;
     color: #FFFFFF;
     float: right;
     font-family: "Maven Pro",sans-serif;
     font-size: 40px;
     font-weight: 700;
     padding: 0px 20px 5px;
}

.bandeau-right p {
     background: none repeat scroll 0px 0px rgba(0, 127, 190, 0.8);
     clear: both;
     color: #FFFFFF;
     float: right;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 400;
     margin: 0px 0px 24px;
     padding: 3px 20px 10px;
     text-align: right;
}

.bandeau-right p span {
     font-weight: 900;
}

.bandeau-right .top-parraine {
     background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
     clear: both;
     color: #FFFFFF;
     float: right;
     font-family: "Maven Pro",sans-serif;
     font-size: 12px;
     font-weight: 700;
     padding: 2px 7px;
     text-align: right;
     text-transform: uppercase;
}

.bloc-parraine {
     background: none repeat scroll 0px 0px #FFFFFF;
     clear: both;
     float: right;
     padding: 5px;
}

.bloc-parraine li {
     float: left;
     list-style-type: none;
     margin: 0px 5px;
}

.jeuxblock {
     line-height: 120%;
     margin: 0px 0px 20px;
}

.jeuxblock .image-on-right {
     margin: 0px 0px 10px;
}

.jeuxblock .entry-sharing {
     float: right;
     margin: 4px 0px 0px;
}

.jeuxblock .entry-content {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 700;
}

.jeuxblock .entry-content a:hover {
     color: #E2001A;
}

.container-section .content-bloc ul {
     border-bottom: 1px solid #CDDDEB;
     margin: 0px 0px 20px;
     padding: 0px 0px 15px;
}

.section-gagnant ul li {
     float: left;
     line-height: 120%;
     list-style-type: none;
     margin: 0px 0px 0px 15px;
     width: 200px;
}

.section-gagnant ul li:first-child {
     margin-left: 0px;
}

.section-gagnant ul li .gagnant-thumb {
     margin: 0px 0px 10px;
}

.section-gagnant .gagnant-title {
     color: #007FBE;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 500;
     text-align: center;
}

.section-sms ul li a {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 500;
     line-height: 120%;
}

.section-sms ul li a:hover {
     color: #E2001A;
}

.section-sms ul li {
     color: #007FBE;
     float: left;
     font-size: 13px;
     list-style-type: square;
     margin: 0px 5px 10px 20px;
     padding: 0px 0px 0px 5px;
     width: 285px;
}

.main-inner .title-large {
     width: 640px;
}

.title-large .headline-large {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 35px;
     font-weight: 700;
     line-height: 110%;
}

.title-large .headline-large span {
     color: #007FBE;
}

.title-large .headline-large span {
     font-weight: 400;
}

.title-large .headline-large span.date-t {
     color: #1F4563;
     display: block;
     font-size: 20px;
}

.article-section .figure-large {
     color: #1F4563;
     font-family: Maven Pro;
     font-size: 16px;
     margin: 0px 0px 20px;
}

.article-section .social_box {
     margin: 0px 0px 20px;
}

.article-section .social_box, .social_box {
     width: 100%;
}

.article-section .excerpt {
     margin: 0px 0px 10px;
}

.article-section .excerpt p {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 700;
     line-height: 120%;
}

.article-section .excerpt p span {
     color: #007FBE;
}

.article-section .text-body {
     border-bottom: 1px solid #D8E6F1;
     margin: 0px 0px 20px;
     padding: 0px 0px 20px;
}

.article-section .text-body h2 {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 700;
     line-height: 120%;
     margin: 0px 0px 20px;
}

.article-section .text-body h3 {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 700;
     line-height: 120%;
     margin: 0px 0px 20px;
}

.article-section .text-body p {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 120%;
     margin: 0px;
}

.article-section .text-body div {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 120%;
}

.article-section .text-body div strong {
     font-weight: 700;
}

.article-section .text-body p strong {
     color: #007FBE;
     display: inline-block;
     font-size: 16px;
     font-weight: 500;
     margin: 15px 0px 5px;
}

.comment-tabs {
     margin: 0px 0px 20px;
}

.comment-tabs .title-comment {
     color: #19334A;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 400;
     margin: 0px 0px 10px;
}

.comment-tabs .box-comment {
     background-color: #F4F4F4;
     padding: 10px;
}

.feat-cat3 {
     margin: 0px 0px 20px;
}

.feat-cat3 .title-cat-header {
     border-bottom: 1px solid #D8E6F1;
     margin: 0px 0px 20px;
}

.feat-cat3 .title-cat-header span {
     background: none repeat scroll 0px 0px #1F4563;
     color: #FFFFFF;
     display: block;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-weight: 400;
     padding: 3px 15px 7px;
     text-transform: uppercase;
}

.s-personnages .title-cat-header span {
     background: none repeat scroll 0px 0px #007FBE;
}

.feat-cat3 .title-cat-header span .fa-chevron-down {
     font-size: 15px;
     margin: 0px 0px 0px 15px;
     vertical-align: middle;
}

.widget-tab .widget-title span .fa-chevron-right {
     font-size: 15px;
     margin: 0px 0px 0px 10px;
     vertical-align: middle;
}

.feat-cat3 .title-cat-header span strong {
     font-weight: 800;
     text-transform: uppercase;
}

.feat-cat3 .main-cat ul li {
     float: left;
     list-style-type: none;
     margin: 0px 0px 20px 15px;
     width: 200px;
}

.feat-cat3 .main-cat ul li:first-child {
     margin-left: 0px;
}

.feat-cat3 .main-cat ul li .thumbimage {
     margin: 0px 0px 10px;
     position: relative;
}

.feat-cat3 .main-cat ul li .thumbimage .icon-video {
     background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
     height: 45px;
     left: 85px;
     position: absolute;
     top: 25px;
     width: 46px;
}

.feat-cat3 .main-cat ul li .cat-title {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px;
     font-weight: 600;
}

.feat-cat3 .main-cat ul li .cat-title a:hover {
     color: #E2001A;
}

.feat-cat3 .main-cat ul li .cat-title span {
     color: #007FBE;
     font-weight: 700;
}

.feat-cat3 .main-cat ul li .capty-caption {
     background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
     bottom: 0px;
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     left: 0px;
     position: absolute;
     width: 100%;
}

.feat-cat3 .main-cat ul li .capty-caption p {
     padding: 3px 10px 5px;
}

.article-row {
     border-bottom: 1px solid #D8E6F1;
     margin: 0px 0px 20px;
     padding: 0px 0px 20px;
}

.liste-row .article-heading {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: 400;
     margin: 0px 0px 20px;
}

.liste-row .article-heading span {
     font-weight: 900;
}

.liste-row .article-row .contImg {
     margin: 0px 0px 20px;
     position: relative;
}

.liste-row .article-row .contImg .img_caption {
     background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
     bottom: 0px;
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 18px;
     font-weight: 400;
     left: 0px;
     position: absolute;
     width: 100%;
}

.liste-row .article-row .contImg .img_caption span {
     display: block;
     padding: 5px 10px 8px;
}

.liste-row .article-row .a-description p {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 18px;
     font-weight: 400;
}

.liste-row .article-row .a-description .btn_arrow {
     background-color: #007FBE;
     color: #FFFFFF;
     display: block;
     float: right;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 500;
     padding: 10px 20px 9px;
     text-transform: uppercase;
}

.article-row .a-description .btn_arrow:hover {
     background-color: #E2001A;
}

.btn_arrow .fa-chevron-right {
     font-size: 13px;
     margin: 0px 0px 0px 10px;
     vertical-align: middle;
}

.content-slide .slideshow {
     margin: 0px 0px 20px;
}

.content-slide #nav ul li {
     float: left;
     list-style-type: none;
     margin: 0px 0px 0px 8px;
     width: 121px;
}

.content-slide #nav ul li:first-child {
     margin-left: 0px;
}

.wrapper-section .slider-nav .carousel-caption h2, .wrapper-section .slider-nav .carousel-caption h2 a {
     display: inline;
     font-size: 55px;
     overflow: hidden;
     padding-bottom: 0px;
}

.slider-nav .carousel-caption h2 {
     background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
     color: #FFFFFF;
     display: inline-block;
     font-family: "Maven Pro",sans-serif;
     font-weight: 700;
     line-height: 120%;
     padding: 0px 14px 5px;
     text-transform: uppercase;
}

.slider-nav ul li {
     list-style-type: none;
}

.content-slide {
     position: relative;
}

.content-slide a#prev {
     left: 10px;
}

.content-slide a#prev {
     background: url("../img/bg/chevron-slide.png") no-repeat scroll center top transparent;
     left: 25px;
}

.content-slide a#next {
     background: url("../img/bg/chevron-slide.png") no-repeat scroll center bottom transparent;
     right: 42px;
}

.content-slide a#prev, .content-slide a#next {
     color: #FFFFFF;
     display: block;
     font-size: 80px;
     height: 50px;
     position: absolute;
     text-decoration: none;
     text-indent: -999em;
     text-shadow: 0px 0px 10px #000000;
     top: 150px;
     width: 31px;
     z-index: 99;
}

#wrapper {
     background: none repeat scroll 0px 0px #FFFFFF;
     padding: 0px;
     position: relative;
}

#wrapper .prev {
     bottom: 22px;
     left: 30px;
     position: absolute;
     z-index: 99;
}

#wrapper .next {
     bottom: 22px;
     position: absolute;
     right: 40px;
     z-index: 99;
}

.fig-player {
     position: relative;
}

.fig-player .icon-video {
     background: url("../img/bg/ico_video_86.png") no-repeat scroll 0px 0px transparent;
     height: 86px;
     left: 297px;
     position: absolute;
     top: 134px;
     width: 86px;
}

.v-category span {
     color: #FFFFFF;
     display: inline-block;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 700;
     margin: 0px 0px 5px;
     padding: 2px 10px;
     text-transform: uppercase;
}

.replay span {
     background-color: #E2001A;
}

.bonus span {
     background-color: #007FBE;
}

.shareDiv {
     float: left;
     width: 100%;
}

.shareDiv img {
     width: 244px;
}

.meta-info p {
     color: #335272;
     font-family: "Maven Pro",sans-serif;
     font-size: 14px;
     font-weight: 400;
     margin: 0px 0px 5px;
     text-transform: uppercase;
}

.meta-info p label {
     color: #1FAAEB;
}

.tooltip {
     position: relative;
}

.tooltip:hover .tooltip-content, .tooltip:focus .tooltip-content {
     margin-bottom: 7px;
     opacity: 1;
     visibility: visible;
}

.tooltip-content {
     background-color: #1A1A1A;
     background-image: linear-gradient(to bottom, #404040, #1A1A1A);
     background-repeat: repeat-x;
     border-radius: 3px;
     bottom: 100%;
     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
     color: #FFFFFF ! important;
     font: 11px/1.6em "Arial",sans-serif;
     left: 0px;
     margin: 0px 0px -7px;
     min-width: 44px;
     opacity: 0;
     padding: 2px 5px;
     pointer-events: none;
     position: absolute;
     text-align: center;
     text-decoration: none;
     text-indent: 0px;
     text-shadow: none;
     transition: opacity 0.3s ease 0s, margin 0.3s ease 0s;
     visibility: hidden;
     white-space: nowrap;
     z-index: 998;
}

.tooltip-content:after {
     border-color: #1A1A1A rgba(0, 0, 0, 0) transparent;
     border-style: solid;
     border-width: 7px 7px 0px;
     bottom: -6px;
     content: "";
     height: 0px;
     left: 10px;
     position: absolute;
     width: 0px;
}

.tooltip.tooltip-top-right:hover .tooltip-content, .tooltip.tooltip-top-right:focus .tooltip-content {
     margin-left: 7px;
}

.tooltip-top-right .tooltip-content {
     left: auto;
     right: 0px;
}

.tooltip-top-right .tooltip-content:after {
     left: auto;
     right: 5px;
}

.tooltip.tooltip-right:hover .tooltip-content, .tooltip.tooltip-right:focus .tooltip-content {
     margin-left: 7px;
}

.tooltip-right .tooltip-content {
     bottom: auto;
     left: 100%;
     margin: -7px 0px 0px -7px;
     top: 3px;
}

.tooltip-right .tooltip-content:after {
     border-color: rgba(0, 0, 0, 0) #2B2B2B rgba(0, 0, 0, 0) transparent;
     border-width: 5px 5px 5px 0px;
     bottom: auto;
     left: -5px;
     top: 6px;
}

.tooltip.tooltip-left:hover .tooltip-content, .tooltip.tooltip-left:focus .tooltip-content {
     margin-right: 7px;
}

.tooltip-left .tooltip-content {
     bottom: auto;
     left: auto;
     margin: -7px -7px 0px 0px;
     right: 100%;
     top: 3px;
}

.tooltip-left .tooltip-content:after {
     border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2B2B2B;
     border-width: 5px 0px 5px 5px;
     bottom: auto;
     left: auto;
     right: -5px;
     top: 6px;
}

.tooltip.tooltip-bottom:hover .tooltip-content, .tooltip.tooltip-bottom:focus .tooltip-content {
     margin-top: 7px;
}

.tooltip-bottom .tooltip-content {
     bottom: auto;
     margin: -7px 0px 0px;
     top: 100%;
}

.tooltip-bottom .tooltip-content:after {
     border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #404040;
     border-width: 0px 7px 7px;
     bottom: auto;
     top: -7px;
}

.btn, .core-form .btn {
     -moz-user-select: none;
     border-radius: 3px;
     box-shadow: none;
     cursor: pointer;
     display: inline-block;
     padding: 3px 10px;
     position: relative;
     text-align: center;
     text-decoration: none;
     text-shadow: none;
     vertical-align: middle;
     white-space: nowrap;
}

#toTop {
     background: none repeat scroll 0px 0px #007FBE;
     border-radius: 500px;
     border: medium none;
     bottom: 20px;
     color: #FFFFFF;
     display: none;
     font-size: 26px;
     line-height: 100%;
     overflow: hidden;
     padding: 10px;
     position: fixed;
     right: 20px;
     text-align: center;
     text-decoration: none;
     transition: all 500ms ease 0s;
}

#toTop:hover {
     background: none repeat scroll 0px 0px #E2001A;
}

#toTopHover:before {
     color: #FFFFFF;
     content: "?";
     font-family: FontAwesome;
     font-size: 16px;
     font-style: normal;
     font-weight: normal;
}

.p-main-slider .image_wrapper {
     margin: 0px 0px 20px;
     position: relative;
}

.image_wrapper .image_caption {
     background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.6);
     bottom: 0px;
     left: 0px;
     position: absolute;
}

.image_wrapper .image_caption p {
     color: #FFFFFF;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 21px;
     font-weight: 400;
     padding: 10px;
}

.p-main-slider .image_wrapper .icon-video {
     background: url("../img/bg/ico_video.png") no-repeat scroll 0px 0px transparent;
     height: 57px;
     left: 300px;
     position: absolute;
     top: 150px;
     width: 57px;
}

.ar-main-col .parraine li {
     border-top: 1px solid #D8E6F1;
     float: left;
     height: 200px;
     list-style-type: none;
     margin: 0px 0px 20px;
     padding: 20px 0px 0px;
     text-align: center;
     vertical-align: bottom;
     width: 212px;
}

.ar-main-col .parraine li p {
     color: #1F4563;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 18px;
     font-weight: 400;
}

.ar-main-col .parraine li p a:hover {
     color: #E2001A;
}

.ar-main-col .parraine li a.logo-p {
     display: block;
     height: 155px;
     margin: 0px 0px 20px;
     position: relative;
     vertical-align: bottom;
}

.ar-main-col .parraine li a.logo-p img {
     bottom: 0px;
     position: absolute;
}

.videoar .player-screen {
     margin: 0px 0px 20px;
}

.title-player {
     color: #1F4563;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 400;
     margin: 0px 0px 20px;
}

.title-player span {
     font-weight: 700;
}

.videoar {
     margin: 0px 0px 10px;
}

.videoar .social_box {
     margin: 0px 0px 20px;
}

.twttr-sandbox {
     border: 1px solid #D8E6F1;
}

.wrapper-twttr {
     padding: 20px;
}

.widget-container {
     margin: 0px 0px 20px;
     padding: 17px 0px 0px;
}

.footer {
     background-color: #214563;
}

.footer .container-ar .column_block {
     float: left;
     margin: 0px 0px 0px 55px;
     max-width: 187px;
     min-width: 100px;
}

.footer .container-ar .column_block:first-child {
     margin-left: 0px;
}

.footer .container-ar .column_block ul li {
     list-style-type: none;
}

.footer .container-ar .footer-wrap {
     padding: 25px 0px;
}

.footer .container-ar .column_block ul {
     border-top: 1px solid #437CA7;
     padding: 14px 0px 0px;
}

.footer .container-ar .column_block .block-title {
     color: #7CAACB;
     font-family: "Open Sans",sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin: 0px 0px 8px;
}

.footer .container-ar .column_block ul li a {
     color: #7CAACB;
     font-family: "Open Sans",sans-serif;
     font-size: 13px;
     font-weight: 400;
     text-decoration: none;
}

.footer .container-ar .column_block ul li a:hover {
     color: #F0F0F0;
}

.footer .footer-bottom {
     background-color: #101F2C;
     padding: 25px 0px 20px;
}

.footer .footer-bottom .text-center {
     display: block;
     margin: 0px auto 20px;
     text-align: center;
     width: 276px;
}

.footer-copyright {
     background-color: #0A1118;
     padding: 8px 0px;
}

.footer-copyright p {
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 12px;
     font-weight: 400;
     line-height: 120%;
     text-align: center;
}

.footer-sociaux {
     margin: 0px auto;
     width: 250px;
}

.footer-sociaux ul li {
     float: left;
     list-style-type: none;
     margin: 0px 15px;
}

#container-s {
     position: relative;
     width: 300px;
}

#container-s .caret-left {
     background: url("../img/bg/fa-caret-left.png") no-repeat scroll 0px 0px transparent;
     height: 18px;
     left: -13px;
     position: absolute;
     top: 160px;
     width: 7px;
}

#tabbox {
     height: 40px;
}

#tabbox ul li {
     float: left;
     list-style-type: none;
     width: 150px;
}

#panel {
     background-color: #FFFFFF;
     border-bottom: 1px solid #DFDFDF;
     border-left: 1px solid #DFDFDF;
     border-right: 1px solid #DFDFDF;
     height: 318px;
}

.container-ar .tab {
     color: #FFFFFF;
     display: block;
     font-family: "Open Sans",sans-serif;
     font-size: 13px;
     font-weight: 600;
     height: 39px;
     line-height: 40px;
     padding: 0px 0px 0px 47px;
     text-align: center;
     text-decoration: none;
}

.facebook {
     margin-left: 8px;
}

#twitter {
     background: url("../img/twitter-tab.png") no-repeat scroll 0px 0px #9BD8F3;
}

#facebook {
     background: url("../img/facebook-tab.png") no-repeat scroll 0px 0px #91A8D6;
}

.select {
     background-color: #666666;
}

.li-twitter #twitter.select {
     background-color: #24AEEB;
}

.li-facebook #facebook.select {
     background-color: #3C5A98;
}

#twitterbox {
     display: block;
}

#facebookbox {
     display: none;
}

.socialbox {
     height: 300px;
     padding: 15px 0px 0px;
}

.wrap-404 {
     padding: 20px 0px 0px;
}

.wrap-404 h2 {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 28px;
     font-weight: 400;
     line-height: 120%;
     margin: 0px 0px 20px;
}

.wrap-404 p {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 120%;
     margin: 0px 0px 10px;
}

.wrap-404 p a {
     color: #007FBE;
}

.adv-bottom a img {
     height: 90px;
}

.flex-control-paging li a {
     background: none repeat scroll 0px 0px #214563;
     border-radius: 10px;
     cursor: pointer;
     display: block;
     height: 11px;
     text-indent: -9999px;
     width: 11px;
}

.verticalList .innerList ul li .post-fig .icon-video {
     height: 46px;
     left: 122px ! important;
     top: 52px ! important;
     width: 46px;
}

.container-slide {
     margin: 0px auto;
     width: 1400px;
}

iframe {
     display: block;
}

.sliderStrip {
     background: url("http://art.antenne.re/squelettes/assets/img/line.png") repeat scroll center center transparent;
}

.wrapper-image .icon-video {
     background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
     height: 45px;
     left: 80px;
     position: absolute;
     top: 15px;
     width: 46px;
}

.programme-n3 section.video_container {
     background-color: #F5F9FC ! important;
     border-color: -moz-use-text-color #D8E6F1 #D8E6F1 ! important;
     border-style: none solid solid ! important;
     border-width: medium 1px 1px ! important;
     clear: both ! important;
     padding: 20px ! important;
}

.programme-n3 .feat-cat3 .main-cat ul li .thumbimage .icon-video {
     background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
     height: 45px;
     left: 80px;
     position: absolute;
     top: 35px;
     width: 46px;
     z-index: 1000;
}

.container-section .list-container ul li p {
     color: #007FBE;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: 700;
     height: 20px;
     line-height: 20px;
     text-transform: uppercase;
}

.programme-n3 .title_actu_bloc_right a {
     color: #335472;
     font-family: "Maven Pro",sans-serif;
     font-size: 17px ! important;
     font-weight: 600 ! important;
     line-height: 100%;
     text-decoration: none;
}

.logo-ar a img {
     position: absolute;
     top: 5px;
     width: 150px;
}

.logo-ar h1 {
    
}

.header .nav-container {
    float: left;
    margin: 0px 0 0px 155px;
    width: 660px;
}
.wrapper-content .column_left {
     width: 595px;
}

.programme #mainContainer .main-inner {
     padding: 5px 19px 20px;
}

.video_container .thumbimage .icon-video {
     background: url("/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll center center transparent;
     height: 45px;
     left: 280px;
     position: absolute;
     top: 150px;
     width: 46px;
     z-index: 1000;
}

.video_container div.chapo_article {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 120%;
     margin: 0px 0px 10px;
}

.container-section .list-container ul li .capty-caption {
     background: none repeat scroll 0px 0px transparent;
     bottom: 0px;
     color: #FFFFFF;
     display: block;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 400;
     left: 0px;
     position: absolute;
     width: 100%;
}

.container-section .list-container ul li:nth-child(4n-1) {
     margin: 0px;
}

.container-section .list-container ul li.item_separator {
     clear: both;
     margin: 0px;
     width: 100%;
}

.colonne_gauche_article_photo {
     margin-top: -9px;
     text-align: justify;
     width: 60%;
}

.footer-sociaux {
     margin: 0px auto;
     width: 255px;
}

.footer-sociaux ul li a {
     background: url("../img/bg/icon-sociaux-01.png") no-repeat scroll 0px 0px transparent;
     display: block;
     float: left;
     height: 33px;
     text-indent: -999em;
     width: 33px;
}

.social-top ul li a {
     background: url("../img/bg/icon-sociaux.png") no-repeat scroll 0px 0px transparent;
     display: block;
     float: left;
     height: 25px;
     text-indent: -999em;
     width: 25px;
}

.footer-sociaux ul li .fb-ar {
     background-position: -37px 0px;
}

.footer-sociaux ul li .tw-ar {
     background-position: -37px -37px;
}

.footer-sociaux ul li .google-ar {
     background-position: -37px -74px;
}

.footer-sociaux ul li .nl-ar {
     background-position: -38px -111px;
}

.footer-sociaux ul li .fb-ar:hover {
     background-position: 1px 0px;
}

.footer-sociaux ul li .tw-ar:hover {
     background-position: 1px -37px;
}

.footer-sociaux ul li .google-ar:hover {
     background-position: 1px -74px;
}

.footer-sociaux ul li .nl-ar:hover {
     background-position: 0px -111px;
}

.social-top ul li .fb {
     background-position: 0px 0px;
}

.social-top ul li .twitter {
     background-position: 1px -27px;
}

.social-top ul li .gplus {
     background-position: 0px -54px;
}

.social-top ul li .nl {
     background-position: 0px -82px;
}

.social-top ul li .fb:hover {
     background-position: -56px 0;
}

.social-top ul li .twitter:hover {
     background-position: -55px -27px;
}

.social-top ul li .gplus:hover {
     background-position: -56px -54px;
}

.social-top ul li .nl:hover {
     background-position: -56px -82px;
}

.widget-wrap.actu1 > a {
     display: inline-block;
     float: left;
     margin: 0px 10px 20px 0px;
}

.programme-n3 .actu1 .title_actu_bloc_right {
     height: 100px;
     margin: 0px ! important;
     overflow: hidden;
}

.widget-wrap.actu1:last-child {
     margin: 0px ! important;
}

.widget-wrap.actu1 {
     border-bottom: 1px solid #C0D1DE;
     clear: both;
     display: block;
     height: 120px;
     margin: 0px 0px 45px;
     overflow: hidden;
     padding: 0px 0px 34px;
}

.programme-n3 .widget-wrap.actu1 img {
     height: 102px;
     width: 180px;
}

.fond_noir {
     background: none repeat scroll 0px 0px #000000;
     display: block;
     height: 100%;
     overflow: hidden;
     position: relative;
     width: 100%;
}

.img_actu1 {
     float: left;
     height: 102px;
     margin: 0px 10px 0px 0px;
     width: 180px;
}

.article-section .text-body span {
     color: #007FBE ! important;
     font-weight: 400;
}

.titre_headline-directe .title-headline-direct {
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: 400;
     line-height: 120%;
     text-transform: none;
}

.titre_headline-directe .title-headline-direct span {
     font-weight: 900;
}

.programme-n2 .main-inner.clearfix {
     padding: 10px 20px 20px ! important;
}

.article-section .text-body span {
     color: #007FBE ! important;
     font-weight: 400;
}

* {
     margin: 0px;
     padding: 0px;
}

.direct-container-title {
     margin: 0px auto;
     padding-top: 10px;
}

.news .containerProgram {
     position: relative;
     width: 630px;
}

.news .container-emission ul li .resumeEmission {
     width: 300px;
}

.mention .ar-main-col {
     color: #1F4563;
     font-family: Maven Pro;
}

.mention .ar-main-col strong {
     font-size: 17px;
}

.mention .ar-main-col > img {
     display: inline-block;
     margin: 10px 10px 0px 0px;
     width: 15%;
}

.mention #mainContainer .main-inner {
     padding: 10px 19px 20px;
}

.news .container-emission {
     margin: 0px;
     width: 100%;
}

.news #mainContainer .main-inner {
     padding: 10px 19px 20px;
}

.news .emission-list > li {
     border-bottom: 1px solid #CDDDEB;
     border-top: medium none;
     margin: 0px 0px 12px;
     padding: 10px 0px 25px;
}

.direct-container {
     background-color: #142B3D;
     height: 520px;
}

* {
     margin: 0px;
     padding: 0px;
}

.programme-n3 div.breadcrumbs {
     padding: 10px 17px;
}

.direct-container-breadcrumbs-direct {
     margin: 0px auto;
}

.titre_headline-directe {
     padding: 0px 20px;
}

.titre_headline-directe {
     padding: 0px;
}

.video-direct {
     float: left;
     height: 356px;
     margin: 0px auto;
     width: 646px;
}

.direct-container-video {
     margin: 0px auto;
     width: 646px;
}

* {
     padding: 0px;
}

.direct-br-container {
     margin: 0px auto;
     padding: 5px 0px 10px;
}

.news .container-emission ul li .resumeEmission .nomEmission {
     color: #204563;
}

.news .container-emission ul li .resumeEmission .categoryEmission {
      color: #009EEA;
    font-weight: 600;
    text-transform: uppercase;
}

.twitter-box .previewContent img {
    
}

.news .main-inner .title-large {
     margin: 0px 0px 10px;
}

.news .title-large .headline-large {
     color: #204563;
    font-size: 30px;
    font-weight: 500;
}

.news .article-section {
     color: #204563;
     font-family: Maven Pro;
}

.news .article-section .excerpt {
     margin: 0px 0px 5px;
}

.news .article-section .figure-large {
     margin: 0px 0px 10px;
}

.news .article-section .excerpt > a {
     color: #009EEA;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.archive #mainContainer .titre_headline {
     margin: 0px 0px 20px;
     padding: 20px 0px 0px;
}

.programme .column_left .item-info .imageContainer {
     height: 231px ! important;
     width: 410px ! important;
}

.archive .breadcrumbs {
     margin: 0px 0px 10px;
}

body.archive {
     color: #1F4563 ! important;
}

.archive .bloc-right {
     float: right;
     position: absolute;
     right: 20px;
     top: 77px;
     width: 310px;
}

.titleBlockdirect {
     color: #1F4563;
     float: left;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: 400;
     line-height: 100%;
     text-transform: uppercase;
}

.container-replay {
     display: inline;
     float: left;
     margin-top: 10px;
}

* {
     padding: 0px;
}

.container-replay ul li:first-child {
     border: 0px none;
}

.container-replay ul li {
     line-height: 120%;
     list-style-type: none;
     margin: 0px 10px 25px 0px;
     position: relative;
}

.container-replay li .heureReplay {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 30px;
     font-weight: lighter;
     margin-top: 15px;
     text-align: center;
}

.container-replay li .dateReplay {
     color: #009EEA;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: lighter;
     margin-top: 6px;
     text-align: center;
     width: 97px;
}

.container-replay ul li {
     line-height: 120%;
     list-style-type: none;
}

.container-replay ul li .imgEmission {
    
}

.container-replay ul li .imgEmission {
     background-color: #000000;
     float: none;
     height: 460px;
     margin-left: 100px;
     padding: 15px;
     width: 500px;
}

* {
     margin: 0px;
}

* {
     padding: 0px;
}

.video-replay {
    
}

.heur-replay {
     float: left;
     height: 468px;
     width: 100px;
}

.titre-replay {
     color: #214563;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 500;
     line-height: 25px;
     margin: -5px 0px 5px;
     text-align: left;
}

.titre-emission-replay {
     color: #009EEA;
     font-family: "Maven Pro",sans-serif;
     font-size: 16px;
     font-weight: 600;
     margin: 0px 0px 15px;
     text-align: left;
     text-transform: uppercase;
}

.resumeReplay {
     color: #1F4563;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: 500;
     line-height: 20px;
     margin: 15px 0px;
     overflow: hidden;
     text-align: left;
}

.resumeReplayL {
     color: #007FBE;
     font-family: "Maven Pro",sans-serif;
     font-size: 15px;
     font-weight: 500;
     line-height: 15px;
     margin: 10px 0px 5px;
     text-align: left;
}

.container-replay ul li .videoReplay {
     background-color: #F0F5F9;
     float: none;
     margin-left: 100px;
     padding: 15px;
     width: 500px;
}

.social-replay {
     margin: 15px 0px;
     width: 266px;
}

.ligne-heurreplay {
     height: 385px;
     margin-left: 47px;
     margin-top: 25px;
     text-align: center;
     width: 7px;
}

.direct-containerprogramme {
     margin: 0px auto;
     padding-top: 20px;
     width: 1000px;
}

.social-replayDirect {
     float: left;
     margin: 15px 0px;
     width: 266px;
}

.direct-containerprogramme-video {
     float: left;
     margin: 0px auto;
     width: 646px;
}

.direct_contenu .main-inner {
     border-top: 0px none ! important;
}

.direct_contenu .main-inner .ar-main-col {
     margin-top: 0px;
}

.direct-containerprogramme-tweet {
     float: right;
     margin: 0px auto;
     padding-top: 16px;
     width: 330px;
}

.direct-container-suivez {
     margin: 0px auto;
     padding-top: 0px;
     width: 330px;
}

.direct-container-suivez-fl {
     margin: 0px auto;
     padding-top: 0px;
     width: 330px;
}

.direct-container-suivez-tweet {
     margin: 0px auto;
     padding-top: 0px;
     width: 330px;
}

.programme-n3 .icon-video.post-format {
     top: 17px;
     z-index: 100;
}

.post-fig .icon-video.post-format {
     top: 150px;
}

.video-replay .icon-video {
     background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
     height: 45px;
     left: 340px;
     position: absolute;
     top: 190px;
     width: 46px;
}

.bouton_twitter p {
     color: #FFFFFF;
     font-family: "Maven Pro",sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 18px;
     margin-left: 18px;
     padding-top: 12px;
}

.bouton_twitter p span {
     font-size: 24px;
     font-weight: 700;
}

.direct-block-fl-video {
     float: left;
     width: 20px;
}
.social-top {
    float: left;
    margin: 15px 0 0 !important;
    position: relative;
}
.twitter-box .previewContent img {
    display: none;
}
.list-container {
    position: relative;
}
.list-content{
	float: right;
	width: 460px;
}
.list-content ul.grid-l{
	float: left;
	width: 225px;
	margin: 0 5px 20px 0;
}
.list-content ul.grid-l li{
	color: #1F4563;
    font-size: 13px;
    line-height: 120%;
    list-style-type: none;
    margin: 0 0 8px 10px;
    padding: 0 0 0 5px;
}
.list-content ul.grid-l li a{
	color: #1F4563;
    font-family: 'Maven Pro',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.list-content .archives-button{
	text-align: right;
}

.menu-content .media-heading {
    background-color: #f5f9fc;
    border: 1px solid #e5e9ed;
    color: #335572;
    font-family: "Maven Pro",sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    margin: 0 0 20px;
    padding: 5px 0 10px 15px;
    text-transform: uppercase;
}
.feat-cat3 .thumbimage img {
    height: 113px;
    width: 200px;
}
