@charset "utf-8";
@font-face {
	font-family: "maven_problack";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/mavenpro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-black-webfont.woff") format("woff"), url("../fonts/mavenpro-black-webfont.ttf") format("truetype");
}
@font-face {
	font-family: "maven_probold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/mavenpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-bold-webfont.woff") format("woff"), url("../fonts/mavenpro-bold-webfont.ttf") format("truetype");
}
@font-face {
	font-family: "maven_promedium";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/mavenpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-medium-webfont.woff") format("woff"), url("../fonts/mavenpro-medium-webfont.ttf") format("truetype");
}
@font-face {
	font-family: "maven_proregular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/mavenpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-regular-webfont.woff") format("woff"), url("../fonts/mavenpro-regular-webfont.ttf") format("truetype");
}
@font-face {
	font-family: "open_sansregular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype");
}
@font-face {
	font-family: "open_sanslight";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype");
}
@font-face {
	font-family: "open_sansbold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype");
}
@font-face {
	font-family: "open_sanssemibold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype");
}
.slider-nav img, img {
	display: block;
	width: 100%;
}
iframe {
	display: block;
}
* {
	margin: 0px;
	padding: 0px;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.clear {
	clear: both;
	height: 0px;
	overflow: hidden;
	width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	outline: none;
}
input.input-search:focus, input.button-search:focus {
	outline-style: none;
}
input.button-search:focus {
	outline: none;
}
.container-ar a {
	color: inherit;
	text-decoration: none;
}
a:active, a:focus, img {
	outline: medium none;
}
a {
	transition: color 0.3s ease 0s;
}
a img {
	border: medium none;
}
.container-ar {
	margin: 0px auto;
	width: 1000px;
}
.page_container {
	margin: 1px auto 0px;
}
.page-hp .page_container {
	width: 1400px;
}
.page_container .container-ar .main-inner {
	background-color: #ffffff;
}
.grille-tv #mainContainer, .programme #mainContainer, .page-inner #mainContainer {
	margin-top: 10px;
}
.mega-banniere .adv-wrap {
	margin: 0px auto;
	width: 728px;
}
.mega-banniere {
	padding: 20px 0px;
}
.header {
	background: url("../img/bg/bg_menu3.png") repeat-x left bottom #ffffff;
	/* border-bottom: 1px solid rgba(0,0,0,0.15);*/
	box-sizing: border-box;
	/*box-shadow: 0px -5px 8px #000000;*/
	padding: 0px;
	position: relative;
	width: 100%;
	z-index: 9999;
}
.header-container {
	background-color: #0a1118;
}
.header-container .menu_top {
	background-color: #0a1118;
	padding-bottom: 8px;
	padding-top: 8px;
}
.header .wrapper-header {
	width: 1000px;
	margin: 0 auto;
	background: url("../img/bg/bg_menu3.png") repeat-x left bottom #ffffff;
}
.page-hp .header .wrapper-header {
	width: 1400px;
}
.header-container .container-ar {
	width: 1000px;
	margin: 0 auto;
	background-color: #0a1118;
}
.page-hp .header-container .container-ar {
	width: 1400px;
}
.header-container .container-ar ul {
	width: 1000px;
	margin: 0 auto;
}
.menu_top ul li {
	float: left;
	height: 10px;
	line-height: 10px;
	list-style-type: none;
	margin: 0px;
}
.menu_top ul li a {
	border-left: 1px solid #888888;
	color: #999999;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	font-weight: 600;
	height: 10px;
	line-height: 10px;
	padding: 0px 10px;
	text-decoration: none;
}
.menu_top ul li a:hover {
	color: #f0f0f0;
}
.menu_top ul li:first-child a {
	border: medium none;
	padding-left: 0px;
}
.navbar ul.mainmenu {
	background: none repeat scroll 0px 0px transparent;
	margin: 0px;
	width: 610px;
}
.navbar ul li.color-m {
	float: left;
	list-style-type: none;
}
.navbar ul li .menu-n1 {
	border-right: 1px solid #305c80;
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 700;
	padding: 0px 12px;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar ul li a.menu-n1:hover, .navbar ul li a.active {
	color: #009eea;
}
.wrapper-header .container-ar .logo-ar {
	float: left;
	margin: 0px 20px 0px 0px;
	background-color: #ffffff;
}
.social-top ul li {
	float: left;
	list-style-type: none;
	margin: 0px 5px;
}
/*
.block-search {
     float: left;
     margin: 15px 0px 0px;
}

.block-search span {
     border-right: 1px solid #305c80;
     display: block;
     float: left;
     height: 20px;
     margin: 2px 11px 0px 5px;
     width: 1px;
}

.block-search .search{
     background: url("../img/bg/bt-search.png") no-repeat scroll center top #f3f3f3;
     display: block;
     float: left;
     height: 25px;
     text-indent: -999em;
     width: 25px;
	 border: none;
	 cursor: pointer;
}
.wrapper-header .search-expand .button-search{
	background: url("../img/bg/bt-search.png") no-repeat scroll center top #f3f3f3;
     display: block;
     float: left;
     height: 25px;
     text-indent: -999em;
     width: 25px;
	 border: none;
	 cursor: pointer;
}
.block-search .search:hover {
     background-position: center bottom;
}*/

.wrapper-header .container-ar {
	position: relative;
}
/*
.wrapper-header .search-expand {
     position: absolute;
     right: 0px;
     top: 5px;
     z-index: 9999;
	 background: #f3f3f3;
	 width: 25px;
	 overflow: hidden;
}*/
.wrapper-header .collapsed {
	width: 255px;
}
/*
.wrapper-header .search-expand input.search, .wrapper-header .search-expand .input-search {
    width:100%;
	border-style:none;
	background:none;
	background:hsla(0,0%,100%,0.24) no-repeat  10px center;
	padding:2px 4px 4px 15px;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	transition:all 0.7s ease 0s;
	-webkit-box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;
	box-shadow:0 1px 5px 1px hsla(0,0%,0%,0.3) inset;
	font-family:inherit;
	color: #9c9c9c;
	font-size: 14px;
	font-family: "Maven Pro",sans-serif;
	font-weight: 400;
	height: 19px;
}*/
.input-group-button {
	position: absolute;
	top: 0;
	right: 0;
}
/*.wrapper-header .search-expand .button-search {
     background: url("../img/bg/bt-search.png") no-repeat scroll left top transparent;
     border: medium none;
     color: #009eea;
     cursor: pointer;
     float: right;
     font-family: "Open Sans",sans-serif;
     font-size: 13px;
     font-weight: 400;
     line-height: 100%;
	 width: 25px;
	 height: 24px;
	 text-indent: -9999px;
	display: block;	 
}*/

.wrapper-section {
	margin-bottom: 0px;
}
.wrapper-section .slider-nav {
	margin: 0px;
	overflow: hidden;
	position: relative;
}
.slider-nav ul li {
	list-style-type: none;
	position: relative;
}
#primary .slider-nav ul li {
	height: 360px;
}
.slider-nav ul li .carousel-caption {
	bottom: 30px;
	left: 200px;
	position: absolute;
	width: 1000px;
}
.p-main-slider .slider-nav ul li .carousel-caption {
	bottom: 40px;
	left: 0px;
	position: absolute;
	width: 100%;
}
.slider-nav ul li .carousel-caption h2, .slider-nav .carousel-caption .title-carousel {
	background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
	color: #ffffff;
	display: inline-block;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-weight: 700;
	line-height: 120%;
	padding: 3px 20px 5px;
	text-transform: uppercase;
}
.slider-nav .carousel-caption h2 a, .slider-nav .carousel-caption .title-carousel a {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
}
.wrapper-section .slider-nav .carousel-caption .title-carousel, .wrapper-section .slider-nav .carousel-caption .title-carousel a {
	font-size: 40px;
}
.p-main-slider .slider-nav .carousel-caption .title-carousel, .p-main-slider .slider-nav .carousel-caption .title-carousel a {
	font-size: 25px;
}
.slider-nav .carousel-caption .desc-carousel {
	background: none repeat scroll 0px 0px rgba(0, 127, 190, 0.8);
	clear: both;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	line-height: 120%;
	padding: 3px 20px 8px;
}
.slider-nav .carousel-caption .desc-carousel a {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	text-decoration: none;
}
.wrapper-section .slider-nav .carousel-caption .desc-carousel, .wrapper-section .slider-nav .carousel-caption .desc-carousel a {
	font-size: 22px;
}
.p-main-slider .slider-nav .carousel-caption .desc-carousel, .p-main-slider .slider-nav .carousel-caption .desc-carousel a {
	font-size: 20px;
}
.slider-nav .carousel-caption .desc-carousel span {
	font-weight: 900;
}
.slider-indicators {
	bottom: 10px;
	left: 50%;
	list-style: none outside none;
	padding-left: 0px;
	position: absolute;
	text-align: center;
	width: 70%;
	z-index: 15;
}
.wrapper-section .slider-indicators {
	margin-left: -30%;
	width: 60%;
}
.slider-indicators .active {
	background-color: #009eea;
}
.slider-indicators li {
	background-color: #214563;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 0px 10px;
	text-indent: -999px;
	width: 10px;
}
.p-main-slider .slider-indicators li {
	border: 1px solid #ffffff;
	margin: 0px 5px;
}
.slider-nav .carousel-control {
	height: 60px;
	position: absolute;
	text-decoration: none;
	top: 145px;
	width: 31px;
}
.p-main-slider .slider-nav .carousel-control {
	top: 220px;
}
.p-main-slider {
	margin-top: 5px;
}
.slider-nav .left-control {
	background: url("../img/bg/chevron-slide.png") no-repeat scroll center top transparent;
	left: 102px;
}
.slider-nav .right-control {
	background: url("../img/bg/chevron-slide.png") no-repeat scroll center bottom transparent;
	right: 102px;
}
.p-main-slider .slider-nav .left-control {
	left: 35px;
}
.p-main-slider .slider-nav .right-control {
	right: 35px;
}
.banner-row {
	background-color: #eff4fa;
	height: 70px;
	margin: 0px auto;
	width: 1000px;
}
.banner-row ul li {
	float: left;
	line-height: 120%;
	list-style-type: none;
	padding: 10px 0px 10px 20px;
	width: 350px;
}
.banner-row ul li:first-child {
	background-color: #007fbe;
	padding: 0px 0px 0px 20px;
	width: 234px;
}
.banner-row ul li .panel-txt {
	color: #ffffff;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 30px;
	font-weight: 400;
	padding: 25px 0px 26px;
	text-align: left;
}
.banner-row ul li .panel-txt span {
	font-weight: 900;
}
.banner-row ul li .panel-date {
	color: #007fbe;
	font-family: "Maven Pro", sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0px 0px 12px;
}
.banner-row ul li .panel-date a {
	color: #007fbe;
	text-decoration: none;
}
.banner-row ul li .panel-desc {
	color: #3674a0;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 400;
	height: 20px;
	overflow: hidden;
	text-transform: uppercase;
}
.banner-row ul li .panel-desc a {
	color: #3674a0;
	text-decoration: none;
	text-transform: uppercase;
}
.banner-row ul li .imgwrap {
	float: left;
	margin: 0px 15px 0px 0px;
}
.banner-row ul li .imgwrap a {
	display: block;
	height: 52px;
	width: 100px;
}
.last-row .panel-default {
	background: url("../img/bg/border-panel.png") no-repeat scroll left center transparent;
	padding-left: 20px;
}
.last-row .panel-default a {
	text-decoration: none;
}
.wrapper-content {
	background: none repeat scroll 0px 0px #ffffff;
	border-left: 1px solid #cdddeb;
	border-right: 1px solid #cdddeb;
	padding: 20px 18px;
}
.column_left {
	background-color: #f0f5f9;
	border: 1px solid #cdddeb;
	float: left;
	margin: 0px 15px 0 0;
	padding: 15px 19px;
	width: 590px;
}
.wrapper-content .column_right {
	float: right;
	width: 310px;
}
.column_left .titleBlock {
	color: #1f4563;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 11px 0 0 0;
}
.column_left .header-block {
	line-height: 120%;
	margin: 0px 0px 16px;
}
.column_left .header-block a {
	float: left;
	margin: 0px 20px 0px 0px;
}
.column_left .item-info .imageContainer {
	margin: 0px 0px 12px;
}
.wrapper-content .column_left .item-info .imageContainer img {
	display: block;
}
.column_left .item-info {
	float: left;
	margin: 0px 20px 20px 0px;
	width: 408px;
}
.column_left .tag-title a {
	color: #007fbe;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin: 0px 0px 5px;
	text-decoration: none;
	text-transform: uppercase;
}
.column_left .itemDetails .title-item {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 600;
	line-height: 100%;
	margin: 0px 0px 10px;
	text-align: left;
}
.column_left .itemDetails .title-item a:hover {
	color: #009eea;
}
.wrapper-content .column_left .itemDetails .title-item a:hover {
	color: #009eea;
}
.column_left .item-info .description-item {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 92px;
	line-height: 120%;
	overflow: hidden;
}
.column_left .item-info .description-item a {
	text-decoration: none;
}
.archives-button {
	clear: both;
	width: 100%;
}
.archives-button a {
	background: url("../img/bg/chevron-link.png") no-repeat scroll 15px center #007fbe;
	color: #ffffff;
	display: inline-block;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 25px 10px 40px;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
}
.archives-button a:hover, .morepostag a:hover {
	background-color: #e2001a;
}
.column_left .item-sidebar {
	float: left;
	width: 162px;
}
.item-sidebar ul li {
	list-style-type: none;
	margin: 0px;
}
.item-sidebar ul li:first-child {
	margin: 0px 0px 20px;
}
.item-sidebar ul li .thumbcontainer {
	margin: 0px 0px 10px;
}
.column_right .adv {
	background: url("../img/bg/publicite.png") no-repeat scroll 29px 10px transparent;
	padding: 0px 3px;
}
.column_right .adv:first-child {
	margin: 0px 0px 12px;
}
.section-meteo {
	float: left;
	height: 65px;
	width: 595px;
	padding: 20px 0 0 0;
	border-top: 1px solid #cdddeb;
}
.section-meteo .meteo-wrap .m-thumbnail {
	float: left;
	width: 86px;
}
.section-meteo .meteo-wrap ul {
	float: left;
	margin: 0px 10px;
}
.section-meteo .meteo-wrap ul li {
	line-height: 120%;
	list-style-type: none;
	margin: 0px 0px 5px;
}
.section-meteo .meteo-wrap ul li a {
	color: #066cb8;
	font-family: "Maven Pro", sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.section-meteo .meteo-wrap ul li a:hover {
	color: #e2001a;
}
.section-meteo .meteo-wrap .m-conteneur {
	border-left: 1px solid #d8e6f1;
	float: left;
	padding: 0px 0px 0px 10px;
	width: 122px;
}
.section-meteo .meteo-wrap .m-text {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin: 0px 0px 5px;
	text-align: left;
}
.section-meteo .meteo-wrap p {
	color: #004686;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 35px;
	font-weight: 200;
}
.section-meteo .meteo-wrap p span {
	font-size: 20px;
}
.section-meteo .meteo-wrap ul li .fa-chevron-right {
	color: #cccccc;
	font-size: 13px;
	margin: 0px 8px 0px 0px;
}
.section-meteo .meteo-wrap .blue-btn {
	background: url("../img/bg/blue-btn.png") no-repeat scroll 185px center #007fbe;
	color: #ffffff;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 36px;
	font-weight: 400;
	height: 45px;
	line-height: 120%;
	padding: 10px 32px 10px 6px;
	transition: background-color 0.3s ease 0s;
}
.section-meteo .meteo-wrap .blue-btn:hover {
	background-color: #e2001a;
}
.section-meteo .meteo-wrap .blue-btn span {
	font-weight: 900;
}
.section-meteo .meteo-wrap .m-conteneur .m-icon {
	display: block;
	text-align: left;
	width: 28px;
}
.verticalList {
	background: none repeat scroll 0px 0px #ffffff;
	border-left: 1px solid #cdddeb;
	border-right: 1px solid #cdddeb;
	padding: 0px 19px 20px;
}
.verticalList .innerList {
	border-top: 1px solid #cdddeb;
	padding: 10px 0px 0px;
}
.verticalList .innerList ul li {
	float: left;
	list-style-type: none;
	margin: 0px 0px 20px 14px;
	width: 310px;
}
.verticalList .innerList ul li:first-child, .verticalList .innerList ul li.item-4 {
	clear: both;
	margin-left: 0px;
}
.verticalList .innerList .title-list {
	color: #204563;
	font-family: "Maven Pro", sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 120%;
	margin: 0px 0px 10px;
	text-transform: uppercase;
}
.verticalList .innerList .post-texts .title-post {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 120%;
	overflow: hidden;
}
.verticalList .innerList .post-texts p a:hover, .verticalList .innerList .post-title p a:hover {
	color: #e2001a;
}
.verticalList .innerList .post-title .title-post {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	height: auto;
	line-height: 120%;
}
.verticalList .innerList .post-title .title-post a:hover {
	color: #E2001A;
}
.verticalList .innerList ul li .post-fig {
	height: 174px;
	margin: 0px 0px 10px;
	overflow: hidden;
	position: relative;
}
.verticalList .innerList ul li .post-fig .icon-video {
	background: url("http://art.antenne.re/squelettes/assets/img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
	left: 100px;
	position: absolute;
	top: 45px;
}
.verticalList .innerList ul li .post-fig .tile-title {
	bottom: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
}
.verticalList .innerList ul li .post-fig .tile-title a {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.65);
	color: #ffffff;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.bloc_bottom {
	clear: both;
	margin: 0px;
}
.bloc_bottom .adv-bottom {
	border-top: 1px solid #cdddeb;
	padding: 20px 0px 0px;
}
.adv-bottom .adv-wrap {
	height: 90px;
	margin: 0px auto;
	width: 728px;
}
.ad-banner {
	background: none repeat scroll 0px 0px #ffffff;
	padding: 5px 0px;
	position: relative;
	z-index: 99999;
}
.ad-banner .adv-inner {
	margin: 0px auto;
	width: 728px;
}
.ad-banner .adv-inner .adsbygoogle {
	display: block ! important;
}
#mainContainer .titre_headline {
	margin: 0px 0px 20px;
	padding: 40px 0px 0px 16px !important;
	background: #ffffff;
}
.titre_headline .title-headline {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 110%;
	margin: 0 0 5px 0;
}
.titre_headline .title-headline span {
	font-weight: 900;
	text-transform: uppercase;
}
#mainContainer .main-inner {
	border: 1px solid #cdddeb;
	padding: 20px 19px;
}
.grille_programmes {
	clear: both;
}
.programmes_head ul .item-jours {
	float: left;
	line-height: 120%;
	list-style-type: none;
	margin: 0px 0px 10px;
	padding: 0px 0px 18px;
	text-align: center;
	width: 110px;
}
.grille_programmes ul.navJours > li:first-child {
	width: 190px;
}
.grille_programmes ul li .prevSem {
	background-color: #007fbe;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 100%;
	padding: 12px 0px 15px;
}
.grille_programmes ul li .prevSem span {
	display: block;
	font-size: 30px;
	font-weight: 700;
}
.grille_programmes ul li .emissionInfo a {
	background-color: #eff4fa;
	color: #1f4563;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 15px 0px 20px;
	width: 100%;
}
.grille_programmes ul li .emissionInfo a:hover, .grille_programmes ul li.active .emissionInfo a {
	background-color: #214563;
	color: #478cc4;
}
.grille_programmes ul li.active {
	background: url("../img/bg/li-grille.png") no-repeat scroll center bottom transparent;
}
.grille_programmes ul li .emissionInfo a span {
	color: #007fbe;
	display: block;
	font-size: 20px;
	margin: 0px 0px 3px;
}
.grille_programmes ul li .emissionInfo a:hover span, .grille_programmes ul li.active .emissionInfo a span {
	color: #eef3f9;
}
.containerProgram {
	float: left;
	width: 640px;
}
.container-emission ul li {
	border-top: 1px solid #cdddeb;
	line-height: 120%;
	list-style-type: none;
	margin: 0px 10px 25px 0px;
	padding: 25px 0px 0px;
	position: relative;
}
.container-emission ul li:first-child {
	border: 0px none;
}
.container-emission ul li .heureEmission {
	color: #009eea;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-size: 28px;
	font-weight: 400;
	width: 97px;
}
.container-emission ul li .imgEmission {
	float: left;
	height: 174px;
	width: 310px;
}
.container-emission ul li .imgEmission img {
	height: 174px;
	width: 310px;
}
.container-emission ul li .resumeEmission {
	color: #204563;
	float: left;
	font-family: Maven Pro;
	font-size: 15px;
	height: 125px;
	margin: 0px 0px 0px 20px;
	overflow: hidden;
	vertical-align: top;
	width: 298px;
}
.container-emission ul li .resumeEmission .nomEmission {
	font-family: "Maven Pro", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	margin: -5px 0px 5px;
	text-align: left;
	text-transform: uppercase;
	color: #009eea;
}
.container-emission ul li .resumeEmission .nomEmission a:hover {
	color: #e2001a;
}
.container-emission ul li .resumeEmission .categoryEmission {
	color: #009eea;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin: 0px 0px 6px;
}
.container-emission ul li .resumeEmission p {
	color: #204563;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 120%;
	margin: 0px 0px 5px;
}
.container-emission ul li .resumeEmission p strong {
	font-size: 17px;
	font-weight: 700;
}
.container-emission ul li .resumeEmission p strong a:hover {
	color: #e2001a;
}
.container-emission ul li .resumeEmission .readnext {
	bottom: -5px;
	color: #009eea;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: absolute;
	right: 0px;
	text-align: right;
}
.container-emission ul li .resumeEmission .readnext:hover, .topics-box .topiclist ul li .text-holder .readnext:hover {
	color: #e2001a;
}
.bloc-right {
	float: right;
	width: 310px;
}
.ar-side-col.bloc-right {
	margin-top: 0px;
}
.replay-n2 .bloc-right, .programme-n2 .bloc-right {
	margin: 17px 0px 0px;
}
.bloc-right .pub-container {
	background: url("../img/bg/publicite.png") no-repeat scroll 3px 0px transparent;
	margin: 0px auto 20px;
	padding: 17px 0px 0px;
	width: 300px;
}
#grille_programmes {
	clear: both;
	padding: 20px 0px 0px;
}
.programme-tv {
	margin: 0px 0px 30px;
}
.programme-tv .nav-item .bloc-nav li {
	list-style-type: none;
}
.programme-tv .nav-heure ul li {
	list-style-type: none;
	text-align: left;
}
.programme-tv ul .item-jours {
	border-right: 1px solid #cdddeb;
	float: left;
	line-height: 120%;
	list-style-type: none;
	margin: 0px 0px 10px;
	text-align: center;
	width: 109px;
}
.programme-tv ul li.active {
	background: none repeat scroll 0px 0px #f7fafd;
}
.programme-tv ul.navJours {
	height: 470px;
}
.programme-tv ul.navJours > li:first-child {
	width: 188px;
}
.programme-tv .bloc-nav li a {
	color: #214563;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 30px 0px;
	text-transform: uppercase;
}
.programme-tv .bloc-nav li a:hover, .programme-tv .bloc-nav li a.active {
	background: url("../img/bg/li-jours.png") no-repeat scroll 162px center #007fbe;
	color: #ffffff;
}
.programme-tv .nav-heure li a {
	border-top: 1px solid #cdddeb;
	color: #1f4563;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0px 10px;
	padding: 10px 0px;
	text-align: left;
}
.programme-tv .nav-heure li:first-child a {
	border: medium none;
}
.programme-tv .nav-heure li a span {
	color: #007fbe;
	display: block;
}
.breadcrumbs ul li {
	color: #597d9f;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 23px;
	list-style-type: none;
}
.breadcrumbs ul li a {
	color: #597d9f;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin: 0px 8px 0px 0px;
}
.breadcrumbs ul li a:hover {
	color: #e2001a;
}
.breadcrumbs ul li:first-child a {
	background: url("../img/bg/fa-home.png") no-repeat scroll 0px 0px transparent;
	display: inline-block;
	height: 20px;
	text-indent: -999em;
	width: 20px;
}
.breadcrumb > li + li:before {
	color: #c9dded;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin: 0px 6px 0px 0px;
}
.ar-main-col {
	float: left;
	margin: 17px 0px 0px;
	width: 630px;
}
.page-g2 .ar-main-col {
	border: 0px none;
}
.p-slide-inner {
	margin: 0px 0px 20px;
	position: relative;
}
.p-slide-inner ul li {
	list-style-type: none;
}
.container-section .media-heading {
	background-color: #f5f9fc;
	border: 1px solid #e5e9ed;
	color: #335572;
	font-family: "Maven Pro", sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 120%;
	margin: 0px 0px 20px;
	padding: 5px 0px 10px 15px;
	text-transform: uppercase;
}
.container-section {
	clear: both;
	margin: 0px 0px 30px;
}
.container-section .list-container ul li {
	float: left;
	height: auto;
	line-height: 120%;
	list-style-type: none;
	margin: 0px 15px 20px 0px;
	overflow: hidden;
	position: relative;
	width: 200px;
}
.container-section .list-container ul li.item-2 {
}
.container-section .list-container ul li .wrapper-image img {
	height: 113px ! important;
	width: 200px ! important;
}
.container-section .list-container ul li .title-panel {
	color: #007fbe;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin: 10px 0px 0px;
	text-transform: uppercase;
}
.container-section .list-container ul li .title-panel3 {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 100%;
	margin: 10px 0px 0px;
	text-align: left;
}
.container-section .list-container ul li .title-panel3 a:hover {
	color: #E2001A;
}
.personnage .list-container ul li .title-panel {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.personnage .list-container ul li .title-panel span {
	color: #007fbe;
}
.container-section .list-container ul li .title-panel a:hover {
	color: #e2001a;
}
.container-section .list-container ul li p {
	color: #007fbe;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.bloc-right .row-pub {
	border-top: 1px solid #cdddeb;
	height: 1px;
	margin: 0px 0px 14px;
}
.bloc-right .sidebar {
	margin: 0px 0px 20px;
}
.widget-tab .widget-title {
	border-bottom: 1px solid #d8e6f1;
	margin: 0px 0px 10px;
}
.widget-tab .widget-title span {
	background-color: #007fbe;
	color: #ffffff;
	display: inline-block;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 20px;
}
.widget-content ul li {
	list-style-type: none;
	margin: 0px 0px 20px;
}
.widget-content ul.nav-tabs li a {
	color: #666666;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 700;
}
.widget-content ul.nav-tabs li a:hover {
	color: #e2001a;
}
.widget-content ul.nav-tabs li {
	float: left;
	list-style-type: none;
	margin: 0px 10px 0px 0px;
}
.widget-content ul.nav-tabs li .fa-chevron-right {
	color: #cccccc;
	font-size: 13px;
	margin: 0px 8px 0px 0px;
}
.widget-content ul.nav-tabs {
	margin: 0px 0px 10px;
}
.widget-content ul.nav-tabs li.active a {
	color: #066cb8;
}
.widget-content .tab-content ul li .figure-player {
	margin: 0px 0px 12px;
	position: relative;
	height: 174px;
}
.widget-content .tab-content ul li .figure-player .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
	height: 45px;
	left: 125px;
	position: absolute;
	top: 65px;
	width: 46px;
}
.widget-content .tab-content ul li .figure-player .meta-title {
	background-color: #007fbe;
	bottom: 0px;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 1px 7px 2px;
	position: absolute;
	right: 0px;
	text-transform: uppercase;
}
.widget-content .tab-content ul li .figure-player a:hover .meta-title {
	background-color: #e2001a;
}
.widget-content .tab-content ul li .title-medias .item-title {
	line-height: 20px;
	margin: 0px 0px 0px 27px;
}
.widget-content .tab-content ul li .title-medias .item-title a {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
}
.widget-content .tab-content ul li .title-medias .item-title a:hover {
	color: #e2001a;
}
.widget-content .tab-content ul li .title-medias p {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.widget-content .tab-content ul li .title-medias .num-count {
	border: 1px solid #007fbe;
	color: #007fbe;
	display: block;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 120%;
	margin: 5px 10px 0px 0px;
	padding: 0px 4px;
}
.widget-content .tab-content ul li:first-child .title-medias .num-count {
	background-color: #007fbe;
	color: #ffffff;
}
.morepostag a {
	background-color: #007fbe;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 15px;
	text-transform: uppercase;
	transition: background-color 0.3s ease 0s;
}
.wrapper-image .item-title {
	bottom: 0px;
	display: block ! important;
	height: 35px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.wrapper-image .item-title a {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 25px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.jscroll-loading {
	margin: 20px auto;
	text-align: center;
	width: 32px;
}
.jscroll-loading img {
	margin: 0px auto;
}
.menu-menu2 {
	background-color: #eff4fa;
}
.menu-menu2 ul li {
	float: left;
	list-style-type: none;
}
.menu-menu2 ul li a {
	background: url("../img/bg/menu2.gif") no-repeat scroll left center transparent;
	color: #1f4563;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	padding: 12px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
.menu-menu2 ul li:first-child a {
	background-image: none;
}
.menu-menu2 ul li a:hover, .menu-menu2 ul li a.active {
	background: none repeat scroll 0px 0px #007fbe;
	color: #ffffff;
}
.programme-n3 #mainContainer .main-inner {
	border-top: 0px none;
	padding-top: 15px;
}
.article-chapo p {
	color: #335272;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 20px;
}
.article-chapo p strong {
	font-weight: 700;
}
.topics-box .topiclist ul {
	border-top: 1px solid #d8e6f1;
	display: block;
	padding: 20px 0px;
}
.topics-box .topiclist ul li {
	border-bottom: 1px solid #d8e6f1;
	line-height: 120%;
	list-style-type: none;
	margin: 0px 0px 20px;
	padding: 0px 0px 20px;
	position: relative;
}
.topics-box .topiclist ul li .thumb-wrapper {
	float: left;
	height: 174px;
	overflow: hidden;
	position: relative;
	width: 310px;
}
.topics-box .topiclist ul li .topic-title {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 100%;
	margin-bottom: 10px;
}
.topics-box .topiclist ul li .topic-title a:hover {
	color: #e2001a;
}
.topics-box .topiclist ul li .text-holder {
	margin-left: 320px;
}
.topics-box .topiclist ul li .text-holder p.txt-extract {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	margin: 0px 0px 10px;
}
.topics-box .topiclist ul li .text-holder .readnext {
	bottom: 18px;
	color: #009eea;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 14px;
	font-weight: 400;
	position: absolute;
	right: 0px;
	text-align: right;
}
.topics-box .topiclist ul li .thumb-wrapper .icon-video {
	background: url("../img/bg/ico_video.png") no-repeat scroll 0px 0px transparent;
	height: 57px;
	left: 100px;
	position: absolute;
	top: 50px;
	width: 57px;
}
.section-bandeau {
	height: 267px;
	position: relative;
}
.section-bandeau .bandeau-inner {
	bottom: 20px;
	display: block;
	padding: 25px 0px 0px;
	position: absolute;
	right: 0px;
}
.section-bandeau .bandeau-inner .logo-bd {
	bottom: 20px;
	display: block;
	left: 0px;
	position: absolute;
}
.section-bandeau .bandeau-inner .fond-bd {
	left: 0px;
	position: absolute;
	top: 0px;
}
.section-bandeau .bandeau-inner .bandeau-right {
	float: right;
	position: relative;
	z-index: 4;
}
.bandeau-right .b-title {
	background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
	clear: both;
	color: #ffffff;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 40px;
	font-weight: 700;
	padding: 0px 20px 5px;
}
.bandeau-right p {
	background: none repeat scroll 0px 0px rgba(0, 127, 190, 0.8);
	clear: both;
	color: #ffffff;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin: 0px 0px 24px;
	padding: 3px 20px 10px;
	text-align: right;
}
.bandeau-right p span {
	font-weight: 900;
}
.bandeau-right .top-parraine {
	background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
	clear: both;
	color: #ffffff;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding: 2px 7px;
	text-align: right;
	text-transform: uppercase;
}
.bloc-parraine {
	background: none repeat scroll 0px 0px #ffffff;
	clear: both;
	float: right;
	padding: 5px;
}
.bloc-parraine li {
	float: left;
	list-style-type: none;
	margin: 0px 5px;
}
.jeuxblock {
	line-height: 120%;
	margin: 0px 0px 20px;
}
.jeuxblock .image-on-right {
	margin: 0px 0px 10px;
}
.jeuxblock .entry-sharing {
	float: right;
	margin: 4px 0px 0px;
}
.jeuxblock .entry-content {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
}
.jeuxblock .entry-content a:hover {
	color: #e2001a;
}
.container-section .content-bloc ul {
	border-bottom: 1px solid #cdddeb;
	margin: 0px 0px 20px;
	padding: 0px 0px 15px;
}
.section-gagnant ul li {
	float: left;
	line-height: 120%;
	list-style-type: none;
	margin: 0px 0px 0px 15px;
	width: 200px;
}
.section-gagnant ul li.item-4, .section-gagnant ul li:first-child {
	margin-left: 0px;
}
.section-gagnant ul li .gagnant-thumb {
	margin: 0px 0px 10px;
	height: 94px;
}
.section-gagnant .gagnant-title {
	color: #007fbe;
	font-family: "Maven Pro", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}
.section-sms ul li a {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 120%;
}
.section-sms ul li a:hover {
	color: #e2001a;
}
.section-sms ul li {
	color: #007fbe;
	float: left;
	font-size: 13px;
	list-style-type: square;
	margin: 0px 5px 10px 20px;
	padding: 0px 0px 0px 5px;
	width: 285px;
}
.main-inner .title-large {
	width: 640px;
}
.title-large .headline-large {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 110%;
	margin: 0 0 5px 0;
}
.title-large .headline-large span {
	color: #007fbe;
}
.title-large .headline-large span {
	font-weight: 400;
}
.title-large .headline-large span.date-t {
	color: #1f4563;
	display: block;
	font-size: 20px;
}
.article-section .figure-large {
	color: #1f4563;
	font-family: Maven Pro;
	font-size: 16px;
	margin: 0px 0px 20px;
}
.article-section .social_box {
	margin: 0px 0px 20px;
}

.article-section .social_box, .social_box {
	width: 100%;
}
.article-section .excerpt {
	margin: 0px 0px 10px;
}
.article-section .excerpt p {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 120%;
}
.article-section .excerpt p span {
	color: #007fbe;
}
.article-section .text-body {
	border-bottom: 1px solid #d8e6f1;
	margin: 0px 0px 20px;
	padding: 0px 0px 20px;
	text-align: justify;
}
.article-section .text-body h2 {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 120%;
	margin: 0px 0px 20px;
}
.article-section .text-body h3 {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 120%;
	margin: 0px 0px 20px;
}
.article-section .text-body p {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	margin: 0px 0px 10px;
}
.article-section .text-body div {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
}
.article-section .text-body div strong {
	font-weight: 700;
}
.article-section .text-body p strong {
	/*color: #007fbe;*/
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	margin: 15px 0px 5px;
}
.comment-tabs {
	margin: 0px 0px 20px;
}
.comment-tabs .title-comment {
	color: #19334a;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin: 0px 0px 10px;
}
.comment-tabs .box-comment {
	background-color: #f4f4f4;
	padding: 10px;
}
.feat-cat3 {
	margin: 0px 0px 20px;
}
.feat-cat3 .title-cat-header {
	border-bottom: 1px solid #d8e6f1;
	margin: 0px 0px 20px;
}
.feat-cat3 .title-cat-header span {
	background: none repeat scroll 0px 0px #1f4563;
	color: #ffffff;
	display: block;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	padding: 3px 15px 7px;
	text-transform: uppercase;
	font-size: 25px;
}
.s-personnages .title-cat-header span {
	background: none repeat scroll 0px 0px #007fbe;
}
.feat-cat3 .title-cat-header span .fa-chevron-down {
	font-size: 15px;
	margin: 0px 0px 0px 15px;
	vertical-align: middle;
}
.widget-tab .widget-title span .fa-chevron-right {
	font-size: 15px;
	margin: 0px 0px 0px 10px;
	vertical-align: middle;
}
.feat-cat3 .title-cat-header span strong {
	font-weight: 800;
	text-transform: uppercase;
}
.feat-cat3 .main-cat ul li {
	float: left;
	list-style-type: none;
	margin: 0px 0px 20px 15px;
	width: 200px;
}
.feat-cat3 .main-cat ul li:first-child {
	margin-left: 0px;
}
.feat-cat3 .main-cat ul li .thumbimage {
	margin: 0px 0px 10px;
	position: relative;
}
.feat-cat3 .main-cat ul li .thumbimage .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
	height: 45px;
	left: 85px;
	position: absolute;
	top: 25px;
	width: 46px;
}
.feat-cat3 .main-cat ul li .cat-title {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 600;
}
.feat-cat3 .main-cat ul li .cat-title a:hover {
	color: #e2001a;
}
.feat-cat3 .main-cat ul li .cat-title span {
	color: #007fbe;
	font-weight: 700;
}
.feat-cat3 .main-cat ul li .capty-caption {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
	bottom: 0px;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	left: 0px;
	position: absolute;
	width: 100%;
}
.feat-cat3 .main-cat ul li .capty-caption p {
	padding: 3px 10px 5px;
}
.article-row {
	border-bottom: 1px solid #d8e6f1;
	margin: 0px 0px 20px;
	padding: 0px 0px 20px;
}
.liste-row .article-heading {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0px 0px 20px;
}
.liste-row .article-heading span {
	font-weight: 900;
}
.liste-row .article-row .contImg {
	margin: 0px 0px 20px;
	position: relative;
}
.liste-row .article-row .contImg .img_caption {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.5);
	bottom: 0px;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 18px;
	font-weight: 400;
	left: 0px;
	position: absolute;
	width: 100%;
}
.liste-row .article-row .contImg .img_caption span {
	display: block;
	padding: 5px 10px 8px;
}
.liste-row .article-row .a-description p {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.liste-row .article-row .a-description p a:hover {
	color: #e2001a;
}
.liste-row .article-row .a-description .btn_arrow {
	background-color: #007fbe;
	color: #ffffff;
	display: block;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 20px 9px;
	text-transform: uppercase;
}
.article-row .a-description .btn_arrow:hover {
	background-color: #e2001a;
}
.btn_arrow .fa-chevron-right {
	font-size: 13px;
	margin: 0px 0px 0px 10px;
	vertical-align: middle;
}
.content-slide .slideshow {
	margin: 0px 0px 20px;
}
.content-slide #nav ul li {
	float: left;
	list-style-type: none;
	margin: 0px 0px 0px 8px;
	width: 121px;
}
.content-slide #nav ul li:first-child {
	margin-left: 0px;
}
.wrapper-section .slider-nav .carousel-caption h2, .wrapper-section .slider-nav .carousel-caption h2 a {
	display: inline;
	font-size: 55px;
	overflow: hidden;
	padding-bottom: 0px;
}
.slider-nav .carousel-caption h2 {
	background: none repeat scroll 0px 0px rgba(33, 69, 99, 0.8);
	color: #ffffff;
	display: inline-block;
	font-family: "Maven Pro", sans-serif;
	font-weight: 700;
	line-height: 120%;
	padding: 0px 14px 5px;
	text-transform: uppercase;
}
.slider-nav ul li {
	list-style-type: none;
}
.content-slide {
	position: relative;
}
.content-slide a#prev {
	left: 10px;
}
.content-slide a#prev {
	background: url("../img/bg/chevron-slide.png") no-repeat scroll center top transparent;
	left: 25px;
}
.content-slide a#next {
	background: url("../img/bg/chevron-slide.png") no-repeat scroll center bottom transparent;
	right: 42px;
}
.content-slide a#prev, .content-slide a#next {
	color: #ffffff;
	display: block;
	font-size: 80px;
	height: 50px;
	position: absolute;
	text-decoration: none;
	text-indent: -999em;
	text-shadow: 0px 0px 10px #000000;
	top: 150px;
	width: 31px;
	z-index: 99;
}
#wrapper {
	background: none repeat scroll 0px 0px #ffffff;
	padding: 0px;
	position: relative;
}
#wrapper .prev {
	bottom: 22px;
	left: 30px;
	position: absolute;
	z-index: 99;
}
#wrapper .next {
	bottom: 22px;
	position: absolute;
	right: 40px;
	z-index: 99;
}
.fig-player {
	position: relative;
}
.fig-player .icon-video {
	background: url("../img/bg/ico_video_86.png") no-repeat scroll 0px 0px transparent;
	height: 86px;
	left: 297px;
	position: absolute;
	top: 134px;
	width: 86px;
}
.v-category span {
	color: #ffffff;
	display: inline-block;
	font-family: "Maven Pro", sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 0px 0px 5px;
	padding: 2px 10px;
	text-transform: uppercase;
}
.replay span {
	background-color: #e2001a;
}
.bonus span {
	background-color: #007fbe;
}
.shareDiv {
	float: left;
	width: 100%;
}
.shareDiv img {
	width: 244px;
}
.meta-info p {
	color: #335272;
	font-family: "Maven Pro", sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0px 0px 5px;
	text-transform: uppercase;
}
.meta-info p label {
	color: #1faaeb;
}
.tooltip {
	position: relative;
}
.tooltip:hover .tooltip-content, .tooltip:focus .tooltip-content {
	margin-bottom: 7px;
	opacity: 1;
	visibility: visible;
}
.tooltip-content {
	background-color: #1a1a1a;
	background-image: linear-gradient(to bottom, #404040, #1a1a1a);
	background-repeat: repeat-x;
	border-radius: 3px;
	bottom: 100%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	color: #ffffff ! important;
	font: 11px/1.6em "Arial", sans-serif;
	left: 0px;
	margin: 0px 0px -7px;
	min-width: 44px;
	opacity: 0;
	padding: 2px 5px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-shadow: none;
	transition: opacity 0.3s ease 0s, margin 0.3s ease 0s;
	visibility: hidden;
	white-space: nowrap;
	z-index: 998;
}
.tooltip-content:after {
	border-color: #1a1a1a rgba(0, 0, 0, 0) transparent;
	border-style: solid;
	border-width: 7px 7px 0px;
	bottom: -6px;
	content: "";
	height: 0px;
	left: 10px;
	position: absolute;
	width: 0px;
}
.tooltip.tooltip-top-right:hover .tooltip-content, .tooltip.tooltip-top-right:focus .tooltip-content {
	margin-left: 7px;
}
.tooltip-top-right .tooltip-content {
	left: auto;
	right: 0px;
}
.tooltip-top-right .tooltip-content:after {
	left: auto;
	right: 5px;
}
.tooltip.tooltip-right:hover .tooltip-content, .tooltip.tooltip-right:focus .tooltip-content {
	margin-left: 7px;
}
.tooltip-right .tooltip-content {
	bottom: auto;
	left: 100%;
	margin: -7px 0px 0px -7px;
	top: 3px;
}
.tooltip-right .tooltip-content:after {
	border-color: rgba(0, 0, 0, 0) #2b2b2b rgba(0, 0, 0, 0) transparent;
	border-width: 5px 5px 5px 0px;
	bottom: auto;
	left: -5px;
	top: 6px;
}
.tooltip.tooltip-left:hover .tooltip-content, .tooltip.tooltip-left:focus .tooltip-content {
	margin-right: 7px;
}
.tooltip-left .tooltip-content {
	bottom: auto;
	left: auto;
	margin: -7px -7px 0px 0px;
	right: 100%;
	top: 3px;
}
.tooltip-left .tooltip-content:after {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2b2b2b;
	border-width: 5px 0px 5px 5px;
	bottom: auto;
	left: auto;
	right: -5px;
	top: 6px;
}
.tooltip.tooltip-bottom:hover .tooltip-content, .tooltip.tooltip-bottom:focus .tooltip-content {
	margin-top: 7px;
}
.tooltip-bottom .tooltip-content {
	bottom: auto;
	margin: -7px 0px 0px;
	top: 100%;
}
.tooltip-bottom .tooltip-content:after {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #404040;
	border-width: 0px 7px 7px;
	bottom: auto;
	top: -7px;
}
.btn, .core-form .btn {
	-moz-user-select: none;
	border-radius: 3px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	padding: 3px 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	vertical-align: middle;
	white-space: nowrap;
}
#toTop {
	background: none repeat scroll 0px 0px #007fbe;
	border-radius: 500px;
	border: medium none;
	bottom: 20px;
	color: #ffffff;
	display: none;
	font-size: 26px;
	line-height: 100%;
	overflow: hidden;
	padding: 10px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	transition: all 500ms ease 0s;
}
#toTop:hover {
	background: none repeat scroll 0px 0px #e2001a;
}
#toTopHover:before {
	color: #ffffff;
	content: "?";
	font-family: FontAwesome;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}
.p-main-slider .image_wrapper {
	margin: 0px 0px 20px;
	position: relative;
}
.image_wrapper .image_caption {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.6);
	bottom: 0px;
	left: 0px;
	position: absolute;
}
.image_wrapper .image_caption p, .image_wrapper .image_caption h2, .title-main-video h2 {
	color: #ffffff;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 21px;
	font-weight: 400;
	padding: 10px;
}
.p-main-slider .image_wrapper .icon-video {
	background: url("../img/bg/ico_video.png") no-repeat scroll 0px 0px transparent;
	height: 57px;
	left: 300px;
	position: absolute;
	top: 150px;
	width: 57px;
}
.ar-main-col .parraine li {
	border-top: 1px solid #d8e6f1;
	float: left;
	height: 200px;
	list-style-type: none;
	margin: 0px 0px 20px;
	padding: 20px 0px 0px;
	text-align: center;
	vertical-align: bottom;
	width: 212px;
}
.ar-main-col .parraine li p {
	color: #1f4563;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.ar-main-col .parraine li p a:hover {
	color: #e2001a;
}
.ar-main-col .parraine li a.logo-p {
	display: block;
	height: 155px;
	margin: 0px 0px 20px;
	position: relative;
	vertical-align: bottom;
}
.ar-main-col .parraine li a.logo-p img {
	bottom: 0px;
	position: absolute;
}
.videoar .player-screen {
	margin: 0px 0px 20px;
}
.title-player {
	color: #1f4563;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin: 0px 0px 20px;
}
.title-player span {
	font-weight: 700;
}
.videoar {
	margin: 0px 0px 10px;
}
.videoar .social_box {
	margin: 0px 0px 20px;
}
.twttr-sandbox {
	border: 1px solid #d8e6f1;
}
.wrapper-twttr {
	padding: 20px;
}
.widget-container {
	margin: 0px 0px 20px;
	padding: 17px 0px 0px;
}
.footer {
	background-color: #214563;
}
.footer .footer-widgets {
	width: 1000px;
	margin: 0 auto;
	background-color: #214563;
}
.page-hp .footer .footer-widgets {
	width: 1400px;
}
.footer .footer-widgets .container-ar {
	background-color: #214563;
}
.footer .container-ar .column_block {
	float: left;
	margin: 0px 0px 0px 55px;
	max-width: 187px;
	min-width: 100px;
}
.footer .container-ar .column_block:first-child {
	margin-left: 0px;
}
.footer .container-ar .column_block ul li {
	list-style-type: none;
}
.footer .container-ar .footer-wrap {
	padding: 25px 0px;
}
.footer .container-ar .column_block ul {
	border-top: 1px solid #437ca7;
	padding: 14px 0px 0px;
}
.footer .container-ar .column_block .block-title {
	color: #7caacb;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0px 0px 8px;
}
.footer .container-ar .column_block ul li a {
	color: #7caacb;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
}
.footer .container-ar .column_block ul li a:hover {
	color: #f0f0f0;
}
.footer .footer-bottom {
	background-color: #101f2c;
}
.footer .footer-bottom .container-ar {
	background-color: #101f2c;
	padding: 25px 0px 20px;
	margin: 0 auto;
	width: 1000px;
}
.page-hp .footer .footer-bottom .container-ar {
	width: 1400px;
}
.footer .footer-bottom .text-center {
	display: block;
	margin: 0px auto 20px;
	text-align: center;
	width: 276px;
}
.footer-copyright {
	background-color: #0a1118;
}
.footer-copyright .container-ar {
	background-color: #0a1118;
	padding: 8px 0px;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}
.page-hp .footer-copyright .container-ar {
	width: 1400px;
}
.footer-copyright p {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 120%;
	text-align: center;
}
.footer-sociaux {
	margin: 0px auto;
	width: 250px;
}
.footer-sociaux ul li {
	float: left;
	list-style-type: none;
	margin: 0px 15px;
}
#container-s {
	position: relative;
	width: 300px;
}
#container-s .caret-left {
	background: url("../img/bg/fa-caret-left.png") no-repeat scroll 0px 0px transparent;
	height: 18px;
	left: -13px;
	position: absolute;
	top: 160px;
	width: 7px;
}
#tabbox {
	height: 40px;
}
#tabbox ul li {
	float: left;
	list-style-type: none;
	width: 150px;
}
#panel {
	background-color: #ffffff;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	height: 318px;
}
.container-ar .tab {
	color: #ffffff;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 600;
	height: 39px;
	line-height: 40px;
	padding: 0px 0px 0px 47px;
	text-align: center;
	text-decoration: none;
}
.facebook {
	margin-left: 8px;
}
#twitter {
	background: url("../img/twitter-tab.png") no-repeat scroll 0px 0px #9bd8f3;
}
#facebook {
	background: url("../img/facebook-tab.png") no-repeat scroll 0px 0px #91a8d6;
}
.select {
	background-color: #666666;
}
.li-twitter #twitter.select {
	background-color: #24aeeb;
}
.li-facebook #facebook.select {
	background-color: #3c5a98;
}
#twitterbox {
	display: block;
}
#facebookbox {
	display: none;
}
.socialbox {
	height: 300px;
	padding: 15px 0px 0px;
}
.wrap-404 {
	padding: 20px 0px 0px;
}
.wrap-404 h2 {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 120%;
	margin: 0px 0px 20px;
}
.wrap-404 p {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	margin: 0px 0px 10px;
}
.wrap-404 p a {
	color: #007fbe;
}
.adv-bottom a img {
	height: 90px;
}
.flex-control-paging li a {
	background: none repeat scroll 0px 0px #214563;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	height: 11px;
	text-indent: -9999px;
	width: 11px;
}
.verticalList .innerList ul li .post-fig .icon-video {
	height: 46px;
	left: 122px ! important;
	top: 52px ! important;
	width: 46px;
}
.page-hp .container-slide {
	margin: 0px auto;
	width: 1400px;
	/*max-width: 1400px;*/ 
	min-width: 1000px;
}
iframe {
	display: block;
}
.sliderStrip {
	background: url("http://art.antenne.re/squelettes/assets/img/line.png") repeat scroll center center transparent;
}
.page-hp .row-wrapper {
	background: url("http://art.antenne.re/squelettes/assets/img/line.png") repeat scroll center center transparent;
	width: 1400px;
	margin: 0 auto;
}
.wrapper-image .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
	height: 45px;
	left: 80px;
	position: absolute;
	top: 15px;
	width: 46px;
}
.list-cat .thumbimage .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
	height: 45px;
	left: 80px;
	position: absolute;
	top: 30px ! important;
	width: 46px;
}
.thumbimage .span.roll {
	background: url("../img/bg/lecture-article.png") no-repeat scroll center center rgba(0, 0, 0, 0.4);
}
.programme-n3 section.video_container {
	background-color: #f5f9fc ! important;
	border-color: -moz-use-text-color #d8e6f1 #d8e6f1 ! important;
	border-style: none solid solid ! important;
	border-width: medium 1px 1px ! important;
	clear: both ! important;
	padding: 20px ! important;
}
.programme-n3 .feat-cat3 .main-cat ul li .thumbimage .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
	height: 45px;
	left: 80px;
	position: absolute;
	top: 35px;
	width: 46px;
}
.container-section .list-container ul li p {
	color: #007fbe;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 700;
	height: 20px;
	line-height: 20px;
	text-transform: uppercase;
}
.programme-n3 .title_actu_bloc_right a {
	color: #335472;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px ! important;
	font-weight: 600 ! important;
	line-height: 100%;
	text-decoration: none;
}
.logo-ar a img {
	position: absolute;
	top: 5px;
	width: 150px;
}
.logo-ar h1 {
}
.header .nav-container {
	float: left;
	margin: 20px 0px 17px 155px;
	width: 660px;
}
.wrapper-content .column_left {
	width: 595px;
}
.programme #mainContainer .main-inner {
	padding: 5px 19px 20px;
}
.video_container .thumbimage .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
	height: 45px;
	left: 280px;
	position: absolute;
	top: 150px;
	width: 46px;
}
.programme-n3 .ar-side-col .format-video .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.video_container div.chapo_article {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	margin: 0px 0px 10px;
}
.container-section .list-container ul li .capty-caption {
	background: none repeat scroll 0px 0px transparent;
	bottom: 0px;
	color: #ffffff;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	left: 0px;
	position: absolute;
	width: 100%;
}
.container-section .list-container ul li:nth-child(4n-1) {
	margin-right: 0px;
}
.container-section .list-container ul li.item_separator {
	clear: both;
	height: 0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;
}
.colonne_gauche_article_photo {
	margin-top: -9px;
	text-align: justify;
	width: 60%;
}
.footer-sociaux {
	margin: 0px auto;
	width: 255px;
}
.footer-sociaux ul li a {
	background: url("../img/bg/icon-sociaux-01.png") no-repeat scroll 0px 0px transparent;
	display: block;
	float: left;
	height: 33px;
	text-indent: -999em;
	width: 33px;
}
.social-top ul li a {
	background: url("../img/bg/icon-sociaux.png") no-repeat scroll 0px 0px transparent;
	display: block;
	float: left;
	height: 25px;
	text-indent: -999em;
	width: 25px;
}
.footer-sociaux ul li .fb-ar {
	background-position: -37px 0px;
}
.footer-sociaux ul li .tw-ar {
	background-position: -37px -37px;
}
.footer-sociaux ul li .google-ar {
	background-position: -37px -74px;
}
.footer-sociaux ul li .nl-ar {
	background-position: -38px -111px;
}
.footer-sociaux ul li .fb-ar:hover {
	background-position: 1px 0px;
}
.footer-sociaux ul li .tw-ar:hover {
	background-position: 1px -37px;
}
.footer-sociaux ul li .google-ar:hover {
	background-position: 1px -74px;
}
.footer-sociaux ul li .nl-ar:hover {
	background-position: 0px -111px;
}
.social-top ul li .fb {
	background-position: 0px 0px;
}
.social-top ul li .twitter {
	background-position: 1px -27px;
}
.social-top ul li .gplus {
	background-position: 0px -54px;
}
.social-top ul li .nl {
	background-position: 0px -82px;
}
.social-top ul li .fb:hover {
	background-position: -56px 0px;
}
.social-top ul li .twitter:hover {
	background-position: -55px -27px;
}
.social-top ul li .gplus:hover {
	background-position: -56px -54px;
}
.social-top ul li .nl:hover {
	background-position: -56px -82px;
}
.widget-wrap.actu1 > a {
	display: inline-block;
	float: left;
	margin: 0px 10px 20px 0px;
}
.programme-n3 .actu1 .title_actu_bloc_right {
	height: 95px;
	line-height: 100%;
	margin: 0px ! important;
	overflow: hidden;
}
.widget-wrap.actu1:last-child {
	border: 0px none;
	margin: 0px ! important;
}
.widget-wrap.actu1 {
	border-bottom: 1px solid #c0d1de;
	clear: both;
	display: block;
	margin: 18px 0px 36px;
	overflow: hidden;
	padding: 8px 0px 42px;
}
.programme-n3 .widget-wrap.actu1 img {
	height: 102px;
	width: 180px;
}
.fond_noir {
	background: none repeat scroll 0px 0px #000000;
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.img_actu1 {
	float: left;
	height: 102px;
	margin: 0px 10px 0px 0px;
	position: relative;
	width: 180px;
}
.article-section .text-body span {
	color: #007fbe ! important;
	font-weight: 400;
}
.titre_headline-directe .title-headline-direct {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 120%;
	text-transform: none;
}
.titre_headline-directe .title-headline-direct span {
	font-weight: 900;
}
.programme-n2 .main-inner.clearfix {
	padding: 10px 20px 20px ! important;
}
.article-section .text-body span {
	color: #007fbe ! important;
	font-weight: 400;
}
* {
	margin: 0px;
	padding: 0px;
}
.direct-container-title {
	margin: 0px auto;
	padding-top: 10px;
}
.news .containerProgram {
	position: relative;
	width: 630px;
	margin: 17px 0 0 0;
}
.news .container-emission ul li .resumeEmission {
	width: 300px;
}
.mention .ar-main-col {
	color: #1f4563;
	font-family: Maven Pro;
}
.mention .ar-main-col strong {
	font-size: 17px;
}
.mention .ar-main-col > img {
	display: inline-block;
	margin: 10px 10px 0px 0px;
	width: 15%;
}
.mention #mainContainer .main-inner {
	padding: 10px 19px 20px;
}
.news .container-emission {
	margin: 0px;
	width: 100%;
}
.news #mainContainer .main-inner {
	padding: 10px 19px 20px;
}
.news .emission-list > li {
	border-bottom: 1px solid #cdddeb;
	border-top: medium none;
	margin: 0px 0px 12px;
	padding: 10px 0px 25px;
}
.direct-container {
	background-color: #142b3d;
	height: 520px;
}
* {
	margin: 0px;
	padding: 0px;
}
.programme-n3 div.breadcrumbs {
	padding: 10px 17px;
}
.direct-container-breadcrumbs-direct {
	margin: 0px auto;
}
.titre_headline-directe {
	padding: 0px 20px;
}
.titre_headline-directe {
	padding: 0px;
}
.video-direct {
	float: left;
	height: 356px;
	margin: 0px auto;
	width: 646px;
}
.direct-container-video {
	margin: 0px auto;
	width: 646px;
}
* {
	padding: 0px;
}
.direct-br-container {
	margin: 0px auto;
	padding: 5px 0px 10px;
}
.news .container-emission ul li .resumeEmission .nomEmission {
	color: #204563;
	text-transform: none;
}
.news .container-emission ul li .resumeEmission .categoryEmission {
	color: #009eea;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.news .container-emission ul li .resumeEmission .categoryEmission a:hover {
	color: #e2001a;
}
.twitter-box .previewContent img {
	margin: 0;
}
.news .main-inner .title-large {
	margin: 0px 0px 10px;
}
.news .title-large .headline-large {
	color: #204563;
	font-size: 20px;
	font-weight: 500;
}
.news .title-large .headline-large a:hover {
	color: #e2001a;
}
.news .article-section {
	color: #204563;
	font-family: Maven Pro;
}
.news .article-section .excerpt {
	margin: 0px 0px 5px;
}
.news .article-section .figure-large {
	margin: 0px 0px 5px;
}
.news .article-section .excerpt > a {
	color: #009eea;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.news .article-section .excerpt > a:hover {
	color: #e2001a;
}
.archive #mainContainer .titre_headline {
	margin: 0px 0px 20px;
	padding: 20px 0px 0px;
}
.programme .column_left .item-info .imageContainer {
	height: 231px ! important;
	width: 410px ! important;
}
.archive .breadcrumbs {
	margin: 0px 0px 10px;
}
body.archive {
	color: #1f4563 ! important;
}
.archive .bloc-right {
	float: right;
	position: absolute;
	right: 20px;
	top: 77px;
	width: 310px;
}
.titleBlockdirect {
	color: #1f4563;
	float: left;
	font-family: "Maven Pro", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 100%;
	text-transform: none;
	margin: 0 0 20px 0;
}
.container-replay {
	display: inline;
	float: left;
	margin-top: 10px;
}
* {
	padding: 0px;
}
.container-replay ul li:first-child {
	border: 0px none;
}
.container-replay ul li {
	line-height: 120%;
	list-style-type: none;
	margin: 0px 10px 25px 0px;
	position: relative;
}
.container-replay li .heureReplay {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 30px;
	font-weight: lighter;
	margin-top: 15px;
	text-align: center;
}
.container-replay li .dateReplay {
	color: #009eea;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: lighter;
	margin-top: 6px;
	text-align: center;
	width: 97px;
}
.container-replay ul li {
	line-height: 120%;
	list-style-type: none;
}
.container-replay ul li .imgEmission {
}
.container-replay ul li .imgEmission {
	background-color: #000000;
	float: none;
	height: 460px;
	margin-left: 100px;
	padding: 15px;
	width: 500px;
}
* {
	margin: 0px;
}
* {
	padding: 0px;
}
.video-replay {
}
.heur-replay {
	float: left;
	height: 468px;
	width: 100px;
}
.titre-replay {
	color: #214563;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	margin: -5px 0px 5px;
	text-align: left;
}
.titre-emission-replay {
	color: #009eea;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin: 0px 0px 15px;
	text-align: left;
	text-transform: uppercase;
}
.resumeReplay {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
	margin: 15px 0px;
	overflow: hidden;
	text-align: left;
}
.resumeReplayL {
	color: #007fbe;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
	margin: 10px 0px 5px;
	text-align: left;
}
.container-replay ul li .videoReplay {
	background-color: #f0f5f9;
	float: none;
	margin-left: 100px;
	padding: 15px;
	width: 500px;
}
.social-replay {
	margin: 15px 0px;
	width: 266px;
}
.ligne-heurreplay {
	height: 385px;
	margin-left: 47px;
	margin-top: 25px;
	text-align: center;
	width: 7px;
}
.direct-containerprogramme {
	margin: 0px auto;
	padding-top: 20px;
	width: 1000px;
}
.social-replayDirect {
	float: left;
	margin: 15px 0px;
	width: 266px;
}
.direct-containerprogramme-video {
	float: left;
	margin: 0px auto;
	width: 646px;
}
.direct_contenu .main-inner {
	border-top: 0px none ! important;
}
.direct_contenu .main-inner .ar-main-col {
	margin-top: 0px;
}
.direct-containerprogramme-tweet {
	float: right;
	margin: 0px auto;
	padding-top: 16px;
	width: 330px;
}
.direct-container-suivez {
	margin: 0px auto;
	padding-top: 0px;
	width: 330px;
}
.direct-container-suivez-fl {
	margin: 0px auto;
	padding-top: 0px;
	width: 330px;
}
.direct-container-suivez-tweet {
	margin: 0px auto;
	padding-top: 0px;
	width: 330px;
}
.programme-n3 .icon-video.post-format {
/*top: 17px;*/
}
.post-fig .icon-video.post-format {
	top: 150px;
}
.video-replay .icon-video {
	background: url("../img/bg/ico_video_45.png") no-repeat scroll 0px 0px transparent;
	height: 45px;
	left: 340px;
	position: absolute;
	top: 190px;
	width: 46px;
}
.bouton_twitter p {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 18px;
	margin-left: 18px;
	padding-top: 12px;
}
.bouton_twitter p span {
	font-size: 24px;
	font-weight: 700;
}
.direct-block-fl-video {
	float: left;
	width: 20px;
}
.social-top {
	float: left;
	margin: 15px 0px 0px ! important;
	position: relative;
	padding: 0 7px 0 0;
	border-right: 1px solid #305c80;
}
.twitter-box .previewContent img {
	display: none;
}
.list-container {
	position: relative;
}
.list-content {
	float: right;
	padding: 20px 0px 0px;
	width: 462px;
}
.list-content ul.grid-l {
	float: left;
	margin: 0px 5px 20px 0px;
	width: 225px;
}
.list-content ul.grid-2 {
	margin: 0px 0px 20px;
}
.list-content ul.grid-l:first-child {
	border-right: 1px solid #d8e6f1;
}
.list-content ul.grid-l li, .list-content ul.grid-2 li {
	color: #1f4563;
	font-size: 13px;
	line-height: 120%;
	list-style-type: none;
	margin: 0px 0px 10px 10px;
	padding: 0px 0px 0px 5px;
}
.list-content ul.grid-l li a, .list-content ul.grid-2 li a {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	text-transform: uppercase;
}
.list-content ul.grid-l li a:hover, .list-content ul.grid-2 li a:hover {
	color: #009eea;
}
.list-content .archives-button {
	text-align: right;
}
.menu-content .media-heading {
	background-color: #f5f9fc;
	border: 1px solid #e5e9ed;
	color: #335572;
	font-family: "Maven Pro", sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 120%;
	margin: 0px 0px 10px;
	padding: 4px 0px 8px 12px;
	text-transform: uppercase;
}
.feat-cat3 .thumbimage img {
	height: 113px;
	width: 200px;
}
.container-section .list-container ul li .panel-item .wrapper-image {
	height: 113px;
	position: relative;
}
#menuLareunion .menuExclu {
	background-color: #1f4563;
	padding: 19px 20px 17px 20px;
}
#menuLareunion2 .menuExclu {
	background-color: #1f4563;
	padding: 19px 20px 11px 20px;
}
.menuExclu .listLiens {
	border-left: 1px solid #2c618b;
	float: left;
	margin: 0px 20px 20px 0px;
	padding: 0px 0px 0px 20px;
	width: 280px;
}
.menuExclu .listLiens:first-child {
	border: 0px none;
	padding: 0px;
}
.menuExclu .listLiens .listLiensTitle {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin: 0px 0px 15px;
	text-transform: uppercase;
}
.menuExclu .listLiens ul li {
	list-style-type: none;
	margin: 0px 0px 6px;
}
.menuExclu .listLiens ul li a {
	color: #97bedf;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.menuExclu .listLiens ul li a:hover {
	color: #ffffff;
}
.content-slide #nav {
	height: 60px;
	overflow: hidden;
}
/*jeannot*/
.archives-programme-menu {
	padding: 10px 0px 0px;
	width: 100%;
}
.tout-pr {
	width: 100%;
}
.archives-pr {
	display: inline-block;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
}
.archives-pr a {
	color: #ffffff;
	display: inline-block;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
}
.archives-pr a:hover {
	color: #97bedf;
}
.fa-chevron-right {
	color: #2b5f88;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin: 0px 4px 0px 0px;
}
.news-pr-title {
	clear: both;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin: 0px 0px 15px;
	padding: 10px 0px;
	text-transform: uppercase;
	width: 100%;
}
.news-pr-title {
	clear: both;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin: 0px 0px 10px;
	text-transform: uppercase;
	width: 100%;
}
.title-news {
	float: left;
	width: 12%;
}
.ligne-news {
	float: left;
	margin: 0px;
	width: 100%;
}
.ligne {
	border-color: #2c618b;
	border-style: solid;
	border-width: 0px 0px 1px;
	margin: -10px 0px 0px 112px;
}
.prog-block {
	margin: 0px;
	width: auto;
}
.news-block-menu {
	margin: 0px;
	width: 100%;
}
.news-bloc-container {
	float: left;
	margin: 0px 48px 0px 0px;
	width: 272px;
}
.news-bloc-container2 {
	float: left;
	width: 272px;
}
.image-news {
	float: left;
	margin-right: 10px;
	width: 116px;
	height: 65px;
	overflow: hidden;
	position: relative;
}
.chapo-bloc {
	float: left;
	width: 146px;
}
.news-pr-description {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 100%;
}
.news-pr-description a:hover {
	color: #97bedf;
}
.menuExclu .listLiens-programme ul li .news-pr-description-title a, .news-pr-description-title a {
	color: #97bedf;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 100%;
	display: block;
	margin: 8px 0 0 0;
}
.menuExclu .listLiens-programme ul li .news-pr-description-title a:hover, .news-pr-description-title a:hover {
	color: #ffffff;
}
/*Jeannot Menu2*/
.prog-block-liste {
	margin: 0;
	width: auto;
}
/*listLiens-programme*/
.menuExclu .listLiens-programme:first-child {
	border: 0 none;
	padding: 0;
}
.menuExclu .listLiens-programme {
	border-left: 1px solid #2c618b;
	float: left;
	margin: 0 20px 0 0;
	padding: 0 0 0 20px;
	width: 280px;
	height: 334px;
}
/*listLiensTitle-programme*/
.menuExclu .listLiens-programme .listLiensTitle-programme {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin: 0 0 15px;
	text-transform: uppercase;
}
.menuExclu .listLiens-programme ul li {
	list-style-type: none;
	margin: 0 0 6px;
}
.menuExclu .listLiens-programme ul li a {
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 13px;
	font-weight: 500;
}
.menuExclu .listLiens-programme ul li a:hover {
	color: #97bedf;
}
.menuExclu .listLiens-programme ul li .news-pr-description-title a:hover {
	color: #ffffff;
}
.progr-bloc-container1 {
	float: left;
	margin-bottom: 10px;
	width: 272px;
}
.archives-replay-menu {
	float: left;
	padding: 10px 0 0;
	width: 100%;
}
.archives-replay-title {
	display: inline-block;
	float: right;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
}
.archives-replay-title a {
	color: #ffffff;
	display: inline-block;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
}
.archives-replay-title a:hover {
	color: #97bedf;
}
.archives-replay-title .fa-chevron-right {
	color: #2B5F88;
}
.archives-pr .fa-chevron-right {
	color: #2B5F88;
}
#menuLareunion {
	background: url("../img/bg/bg-pg.jpg") no-repeat scroll 0 -4px #1f4563;
}
#menuLareunion2 {
	background: url("../img/bg/bg-pg.jpg") no-repeat scroll 125px -4px #1f4563;
}
.title-bar {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.title-bar a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
	color: #ffffff;
	display: block;
	font-family: "Maven Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.title-large .article-meta {
	color: #1f4563;
	font-size: 13px;
	font-family: "Maven Pro", sans-serif;
	font-weight: normal;
	font-style: normal;
}
.categoriesN1 {
	display: none;
	left: -155px;
	padding: 10px 0 0 0;
	position: absolute;
	top: 33px;
	width: 1000px;
	z-index: 10;
	height: 392px;
}
.section-sms2 ul li a {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 120%;
}
.section-sms2 ul li a:hover {
	color: #e2001a;
}
.section-sms2 ul li {
	color: #007fbe;
	float: left;
	font-size: 13px;
	list-style-type: square;
	margin: 0px 5px 10px 20px;
	padding: 0px 0px 0px 5px;
	width: 100%;
}
#wowslider-container1 .ws-title span {
	display: block;
	float: left;
}
.programme-n3 section.video_container2 {
	padding: 15px 20px 10px 20px;
	background: #ffffff;
	border-left: 1px solid #CDDDEB;
	border-right: 1px solid #CDDDEB;
}
.jw-tab-focus:focus {
	outline: 0 !important;
}
.block-search {
	min-height: 25px;
	margin-top: 10px;
}
.block-search .search, .block-search .search:hover {
	background: url("../img/bg/bt-search.png") no-repeat scroll center top transparent;
	height: 100%;
	text-indent: -999em;
	width: 100%;
	cursor: pointer;
	display: block;
	height: 25px;
}
.wrapper-header .search-expand .button-search {
	background: url("../img/bg/bt-search.png") no-repeat scroll center 2px transparent;
	height: 100%;
	text-indent: -999em;
	width: 25px;
	cursor: pointer;
	display: block;
	height: 27px;
	border: medium none;
	width: 25px
}
.wrapper-header .search-expand {
	position: absolute;
	right: 0px;
	top: 15px;
	z-index: 9999;
	background: #f3f3f3;
	width: 25px;
	overflow: hidden;
	height: 25px;
	border-radius: 0 12px 12px 0;
}
.wrapper-header .search-expand input.search, .wrapper-header .search-expand .input-search {
	width: 100%;
	max-width: 290px;
	border-style: none;
	background: none;
	background: hsla(0,0%,100%,0.24) no-repeat 10px center;
	padding: 0px 4px 0px 15px;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	-webkit-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	-webkit-box-shadow: 0 1px 5px 1px hsla(0,0%,0%,0.3) inset;
	box-shadow: 0 1px 5px 1px hsla(0,0%,0%,0.3) inset;
	font-family: inherit;
	color: #9c9c9c;
	font-size: 13px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	height: 25px;
	position: absolute;
	right: 0;
	line-height: 25px;
}
.input-group-button {
	position: absolute;
	top: -1px;
	right: 0;
	margin-bottom: 0;
	width: 25px;
	height: 25px;
}
.table-container-semaine {
	clear: both;
}
body.programme-n3 {
	background-position: center 180px;
	background-repeat: no-repeat;
}
.archive .tous_les h2 {
	font-weight: 400;
	display: inline;
	font-size: 16px;
}
.archive .tous_les h2 a:hover {
	color: #e2001a;
}
#primary .ws-title-wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.image-news .icon-video {
	background: url("../img/bg/ico_video25.png") no-repeat scroll center center transparent;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.container-emission ul li .resumeEmission .titreEmission {
	color: #1f4563;
	font-family: "Maven Pro", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 120%;
	margin: 0 0 5px 0;
}
.programme-n3 .page_container {
	margin: 0 auto;
}
.topiclist ul li {
	list-style-type: none;
}
/***popup_fan***/
.popup_fan {
	width: 620px;
	margin: 20px auto;
	position: relative;
}
.popup_fan .button-close {
	position: absolute;
	right: -19px;
	top: -14px;
	background: url(../img/bt-close.png) no-repeat center;
	cursor: pointer;
	width: 43px;
	height: 43px;
}
.popup_fan .cboxContent {
	background: #ffffff;
	border: 10px solid #1F4563;
	padding: 10px;
	text-align: center;
}
.popup_fan .cboxContent p {
	color: #1F4563;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 10px 0;
}
.popup_fan .cboxContent img {
	width: auto;
}
.popup_fan .cboxContent .logo-img {
	display: block;
	margin: 0 auto 15px auto;
}
.popup_fan .cboxContent .aligncenter {
	color: #126CB6;
	font-size: 40px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 10px 0;
}
.popup_fan .cboxContent .page_fan {
	color: #1F4563;
	font-size: 28px;
	font-weight: bold;
}
.share_btn {
	position: relative;
	text-align: center;
	margin: 0 auto 5px auto;
	width: 62px;
	padding: 22px 0 0 10px;
}
.share_btn .fleche_fan {
	position: absolute;
	display: block;
	top: 0;
	left: -33px;
}
/******mail**/
.mail_content{
	display: none;
}
.social_box img {
	width: auto;
}
.social_box table {
	float: left;
}
.social_box .share-figures {
	margin: 0 0 0 15px;
	float: left;
	
}
.social_box .share-figures li {
	list-style-type: none;
	margin: 0 0 0 10px;
	float: left;
}

.mail_content .title-cat-header span {
	background-color: #007fbe;
}
.container_mail { 
	background-color: #eff4fa;
	padding: 20px 60px 15px 20px;
	border-bottom: 1px solid #d8e6f1;
	border-left: 1px solid #d8e6f1;
	border-right: 1px solid #d8e6f1;
}
.mail_content .title-cat-header {
	margin: 0;
}
.inline-field .control-label {
	color: #1f4563;
	font-size: 16px;
	font-family: "Maven Pro", sans-serif;
	font-variant: 500;
	margin: 0 20px 0 0;
	width: 120px;
	text-align: right;
	display: inline-block;
}
.inline-field {
	margin: 0 0 20px 0;
}
.inline-field  .input_label {
	border: 1px solid #cdddeb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	padding: 3px 6px 5px;
	width: 388px;
	color: #1f4563;
	font-size: 16px;
	font-family: "Maven Pro", sans-serif;
	font-variant: 400;
}
.form-submit .btn_mail{
	color: #ffffff;
	font-size: 24px;
	font-family: "Maven Pro", sans-serif;
	font-variant: 500;
	background-color: #007fbe;
	text-transform: uppercase;
	border: 0;
	text-align: center;
	padding: 6px 20px 7px 20px;
	cursor: pointer;
	float: right;
}
.form-submit .btn_mail:hover {
	background-color: #e2001a;
}
.message-field {
	border: 1px solid #cdddeb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	padding: 10px 10px 15px 10px;
	margin: 0 0 20px 143px;
	background-color: #ffffff;
}
.message-field .mail-content {
	width: 100%;
	border: 0;
	font-family: "Maven Pro", sans-serif;
	font-variant: 500;
	font-size: 16px;
	
}
.container_mail .checkbox {
	margin: 0 0 9px 143px;
}
.container_mail .checkbox label{
	color: #768082;
	font-family: "Maven Pro", sans-serif;
	font-variant: 400;
	font-size: 13px;
	padding-left: 25px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 95%;
}
.container_mail .checkbox label input {
	 margin-left: -20px;
	 margin-top: 2px;
    position: absolute;
}
.layout-wrapper .thumbnail-image-wrapper {
	width: 129px;
	float: left;
	margin: 0 15px 10px 0;
}
.layout-wrapper .lead-article-title {
	color: #1f4563;
	font-size: 16px;
	font-family: "Maven Pro", sans-serif;
	font-variant: 500;
	margin: 0 0 9px 0;
}
.layout-wrapper p {
	color: #1f4563;
	font-size: 14px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
}



.container_mail input[type=radio],
.container_mail input[type=checkbox] {
	display: none;
}
.container_mail label:before {
	content: "";
	display: inline-block;

	width: 14px;
	height: 14px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 2px;
	background-color: #ffffff;
	/*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
	border: 1px solid #007fbe;
}

.container_mail .radio label:before {
	border-radius: 8px;
}
.container_mail .checkbox label {
	margin-bottom: 0px;
}
.container_mail .checkbox label:before {
    border-radius: 3px;
}

.container_mail input[type=radio]:checked + label:before {
    content: "\2022";
    color: #007fbe;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

.container_mail input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #007fbe;
	text-align: center;
    line-height: 15px;
}
.featured-info {
	margin: 0 0 20px 0;
}

/* pub appli mobile AR*/


.pub-applimobile {
    background-color: #f0f5f9;
    border: 1px solid #cdddeb;
    display: table;
    height: 240px;
    margin: 20px 0 0;
    position: relative;
    width: 958px;
}

.appli-title {
    display: table;
    float: left;
    font-family: "Maven Pro",sans-serif;
    margin: 20px;
    position: relative;
}

.titleappli {
    color: #1f4563;
    font-size: 28px;
    font-style: normal;
    line-height: 120%;
    margin-top: 1px;
    text-transform: uppercase;
}

.txtbloc {
    clear: both;
    display: table;
    margin: 8px 0 0 40px;
    width: 421px;
}

.flbloc {
    float: left;
    margin-top: 8px;
    width: 18px;
}


.texteappbloc {
    float: left;
    width: 402px;
}

.texteapp {
    color: #007fbe;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    line-height: 120%;
    margin-left: 15px;
    text-transform: uppercase;
}

.dowloadapp {
    margin: 22px 0 0;
    text-align: center;
}


.textedown {
    color: #1f4563;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 140%;
    text-align: center;
    width: auto;
}


.appstg {
    margin-left: 80px;
    margin-top: 11px;
    width: 300px;
}


.appstore {
    float: left;
    text-align: center;
    width: 144px;
}


.googleplay {
    float: left;
    margin-left: 10px;
    width: 144px;
}


.appli-image {
    display: block;
    float: right;
    margin: 28px 28px 0 0;
    position: relative;
    width: 415px;
}


/******appli***/
.section-appli img {
	width: auto;
}
.section-appli .appli-container {
	background: #f0f5f9;
	border: 1px solid #d0dfec;
	padding: 10px;
	margin: 0 0 20px 0;
}
.titre_headline .font-35 {
	font-size: 35px;
}
.document-title {
	color: #335572;
	font-size: 22px;
	margin: 0 0 20px 0;
	font-family: "Maven Pro", sans-serif;
	font-weight: 500;
}
.app-orig-desc {
	float: left;
	width: 208px;
	margin: 20px 50px 0 20px;
}
.app-orig-desc p {
	color: #335572;
	font-size: 15px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	text-align: justify;
	margin: 0 0 10px 0;
}
.app-orig-desc p span {
	font-weight: 500;
}
.details-actions ul li {
	list-style-type: none;
	float: left;
	width: 299px;
}
.details-actions ul li:first-child {
	margin: 0 10px 0 0;
}
.details-actions p {
	color: #335572;
	font-size: 14px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 500;
}
.details-actions p a {
	float: right;
}
.details-actions p span {
	display: block;
	padding: 5px 0 0 0;
}
.cover-image {
	width: 305px;
	margin: 0 0 25px 0;
}
.appli-container2 {
	border-top: 1px solid #d0dfec;
	padding: 15px 0 0 0;
}
.document-title2 {
	color: #335572;
	font-size: 22px;
	margin: 0 0 20px 0;
	font-family: "Maven Pro", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
.app-orig-desc2 p {
	color: #335572;
	font-size: 15px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	margin: 0 0 10px 0;
}
.app-orig-desc2 p span{
	font-weight: 500;
}
.cover-image2 {
	width: 348px;
	float: left;
	margin: 0 20px 40px 0;
}
.app-orig-desc2 {
	margin: 0 0 20px 0;
}
.app-orig-desc2 p {
	color: #335572;
	font-size: 15px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
}
.app-orig-desc2 p span{
	font-weight: 500;
}
.details-actions2 p{
	color: #335572;
	font-size: 14px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 500;
	text-align: center;
}
.details-actions2 p img{
	display: inline;
	margin: 0 3px 0 0;
}
.details-actions2 p span{
	display: block;
	margin: 0 0 10px 0;
}

/**programme***/
.synopsisRow{
	background-color: #F0F5F9;
	border: 1px solid #E5E9ED;
	padding: 5px 10px 15px 20px;
	margin: 0 0 20px 0;
}
.synopsisRow .p-description p {
	color: #1F4563;
	font-size: 15px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	padding: 0 10px;	
	line-height: 120%;
}
.synopsisRow .txthead {
	color: #335272;
	font-size: 22px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	border-bottom: 1px solid #E5E9ED;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
}
.synopsisRow img {
	width: auto;
}
.synopsisRow .p-visuel {
	float: left;
	margin: 3px 20px 10px 0;
}

.ar-main-col .post_fig {
	margin: 0 0 20px 0;
}


.thumbimage .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
    height: 45px;
    left: 280px;
    position: absolute;
    top: 150px;
    width: 46px;
}

.container-section  .wrapper-image .icon-video {
    background: url("../img/bg/ico_video_45.png") no-repeat scroll center center transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.programme-n3 #mainContainer .p-breadcrumbs {
	border: 0;
	padding: 20px 16px 5px;
} 
.p-infos span{
	background-color: #E2001A;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	padding: 2px 10px 3px 10px;
	display: inline-block;
	margin: 0 0 5px 0;
}

/***sondage**/

.sondage_container .polls-title {
	color: #335272;
	font-size: 22px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid #E5E9ED;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
}
.sondage_container {
	margin: 0 0 20px 0;
	
}
.polls-widget .img-polls {
	width: 166px;
	float: left;
	margin: 5px 0 0 0;
} 

.sondage_container .form-polls ul li {
	list-style-type: none;
}
.sondage_container  .form-polls p {
	color: #1F4563;
	font-family: "Maven Pro", sans-serif;
	font-weight: 700;
	font-size: 17px;
	margin: 0 0 10px 0;
}
.sondage_container .form-polls ul {
	display: block;
	margin: 0 0 10px 0;
}
.form-polls ul li label {
	color: #1F4563;
	font-size: 15px;
	font-family: "Maven Pro", sans-serif;
	font-weight: 400;
	margin: 0 0 0 5px;
}
.sondage_container  .ar-polls {
	border: none;
	display: block;
	margin: 0 0 5px 185px;
	
}
.sondage_container .btn-pools .button-blue {
	background: url("../img/bg/chevron-link.png") no-repeat scroll 15px center #007fbe;
	color: #ffffff;
	display: inline-block;
	font-family: "Maven Pro", sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 25px 10px 40px;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
	border: none;
	float: right;
	cursor: pointer;
}
.sondage_container .btn-pools .button-blue:hover {
	background-color: #E2001A;
}
.sondage_container .share-panel img {
	width: auto;
}
.sondage_container .share-panel {
	float: left;
	margin: 12px 0 0 0;
}
.ar-polls ul li .progress {
	border: 1px solid #E5E9ED;
	background: #ffffff;
	width: 200px;
	height: 15px;
}
.ar-polls ul li .progress .progress-bar {
	background-color: #007FBE;
	height: 15px;
	
}
.progress-resultat p {
	float: right;
	color: #1F4563;
	font-size: 13px !important;
	font-family: "Maven Pro", sans-serif;
	font-weight: 500 !important;
	margin: 0 !important;
}
.progress-resultat p span{
	font-weight: 700;
}
.form-polls ul.polls-resultat li label {
    margin: 0;
}
.total_votes span {
	background:  #007fbe;
	color: #ffffff;
	display: inline-block;
	font-family: "Maven Pro", sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 5px 10px 6px 30px;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
	border: none;
	float: right;
	cursor: pointer;
	text-align: right;
}
.total_votes label {
	display: inline-block;
	margin: 5px 0 0 0;
}
.page_vote .polls-widget {
	border-bottom: 1px solid #cdddeb;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}
.page_vote .p-last {
	border: none;
	margin: 0;
	padding: 0;
}
#polls-header .polls-header{
	background-color: #007fbe;
	color: #ffffff;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 6px 10px 7px 20px;
	text-transform: uppercase;
}
#polls-header .polls-header span{
	font-weight: 700;
	
}