@charset "utf-8";
    @font-face {
    font-family: avantgarde_lt_bookregular;
    src: url(../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.eot);
    src: url(../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.woff) format('woff'), url(../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: avantgarde_lt_bookbold;
    src: url(../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.eot);
    src: url(../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.woff) format('woff'), url(../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: itc_avant_garde_gothic_proxlt;
    src: url(../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.eot);
    src: url(../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.woff) format('woff'), url(../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.ttf) format('truetype'), url(../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.svg#itc_avant_garde_gothic_proXLt) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: itc_avant_garde_gothic_promd;
    src: url(../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.eot);
    src: url(../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.woff) format('woff'), url(../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.ttf) format('truetype'), url(../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.svg#itc_avant_garde_gothic_proMd) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: itc_avant_garde_gothic_stdemi;
    src: url(../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.eot);
    src: url(../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.woff) format('woff'), url(../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: patuaone-regular;
    src: url(../fonts_cdm/PatuaOne-Regular.eot?) format('eot'), url(../fonts_cdm/PatuaOne-Regular.woff) format('woff'), url(../fonts_cdm/PatuaOne-Regular.ttf) format('truetype'), url(../fonts_cdm/PatuaOne-Regular.svg#PatuaOne-Regular) format('svg');
}
@font-face {
    font-family: helveticaneue-condensedbold;
    src: url(../fonts_cdm/HelveticaNeue-CondensedBold_gdi.eot);
    src: url(../fonts_cdm/HelveticaNeue-CondensedBold_gdi.eot?#iefix) format('embedded-opentype'), url(../fonts_cdm/HelveticaNeue-CondensedBold_gdi.woff) format('woff'), url(../fonts_cdm/HelveticaNeue-CondensedBold_gdi.ttf) format('truetype'), url(../fonts_cdm/HelveticaNeue-CondensedBold_gdi.svg#HelveticaNeue-CondensedBold) format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0-10FFFF;
}
@font-face {
    font-family: gothamnarrow-book;
    src: url(../fonts_cdm/GothamNarrow-Book_gdi.eot);
    src: url(../fonts_cdm/GothamNarrow-Book_gdi.eot?#iefix) format('embedded-opentype'), url(../fonts_cdm/GothamNarrow-Book_gdi.woff) format('woff'), url(../fonts_cdm/GothamNarrow-Book_gdi.ttf) format('truetype'), url(../fonts_cdm/GothamNarrow-Book_gdi.svg#GothamNarrow-Book) format('svg');
    font-weight: 325;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0020-2212;
}

:root { 
  --bleu-color: #0084a4;
  --orange-color:#e1550a;
    --gris-color:#5f5f5f;
    --orangeclaire-color:#fcdbaf;
  --font-Montserrat:'Montserrat', sans-serif;;
   }
* {
    box-sizing: border-box;
}
.content_liste_pull_cdm2018 {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 20px 0;
    background: url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_liste_gpe_cdm.jpg) no-repeat left top;
    background-size: cover;
    float: left;
}
.content_head_pull {
    width: 100%;
    margin: 0;
    padding: 0 0 30px;
    float: left;
}
.content_inner_pull {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.content_logo_ar {
    width: 20%;
    float: left;
}
.content_logo_ar img {
    max-width: 150px;
}
.logo_coupe_du_monde {
    width: 10%;
    float: right;
}
.logo_coupe_du_monde img {
    float: right;
    max-width: 82px;
    margin-top: -10px;
}
.content_titre_pull {
    width: 70%;
    float: left;
}
.content_titre_pull img {
    margin: 0 auto;
    display: block;
    max-width: 374px;
}
.content_liste_des_groupes {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.content_liste_des_groupes ul {
    list-style-type: none;
}
.content_liste_des_groupes .bloc_liste {
    margin: 0 -10px;
}
.content_liste_des_groupes .bloc_liste .liste {
    width: 25%;
    float: left;
    padding: 0 10px;
    margin: 0 0 30px;
}
.content_liste_des_groupes .titre_groupe {
    width: 100%;
    background: #007fbe;
    text-align: center;
    color: #fff;
    font-family: itc_avant_garde_gothic_promd;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0;
    border-radius: 8px 0 0 0;
    margin: 0 0 5px;
}
.content_liste_des_groupes .liste_groupe {
    margin: 0;
    padding: 0;
}
.content_liste_des_groupes .liste_groupe li {
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
    float: left;
}
.content_liste_des_groupes .liste_groupe li:last-child a {
    border-right: 1px solid #b9cfdc;
    border-bottom: 1px solid #b9cfdc;
    border-radius: 0 0 8px 0;
    margin: 0;
}
.content_liste_des_groupes .liste_groupe li a {
    width: 100%;
    display: block;
    color: #444;
    text-decoration: none;
    float: left;
    padding: 7px 9px;
    background: #fff;
    border-right: 1px solid #b9cfdc;
}
.content_liste_des_groupes .liste_groupe li a:hover {
    background: #ccdfee;
}
.content_liste_des_groupes .liste_groupe .nom_pays {
    float: left;
    font-family: var(--font-Montserrat);
    color: #444;
    font-size: 16px;
}
.content_liste_des_groupes .liste_groupe .drapeaux {
    float: right;
}
.content_liste_des_groupes .liste_groupe .drapeaux img {
    width: 30px;
    height: 20px;
    box-shadow: 1px 1px 5px #555;
}
.both {
    width: 100%;
    clear: both;
}
.show {
    display: block;
}
.content_calendrier_par_pays {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.content_calendrier_par_pays_inner {
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
}
.content_calendrier_par_pays .calendrier {
    float: left;
    display: flex;
    flex-direction: column;
}

.content_calendrier_par_pays .par_pays button {
    position: relative;
    z-index: 100;
    background: url(../img_euros/bg-fleche-par-pays.jpg) no-repeat right 3px;
    border: 0;
    font-family: var(--font-Montserrat);
    font-size: 14px;
    color:var(--bleu-color);
    font-weight: 600;
    margin: 10px 0 13px 0;
    padding: 0 23px 0 0;
}
.content_calendrier_par_pays .par_pays button:hover {
    text-decoration: underline;
}
.content_calendrier_par_pays .par_pays button:focus {
    border: 0;
    outline: none;
}
.content_calendrier_par_pays .dropdown-content {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    display: none;
}
.content_liste_par_pays {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 10px 10px;
    background-color: var(--bleu-color) ;
    background-size: cover;
    float: left;
    border-radius: 15px;
}
.content_liste_par_pays ul {
    list-style-type: none;
}
.content_liste_par_pays .liste_par_pays {
    width: 100%;
    margin: 0 0 0 5px;
    padding: 0;
    float: left;
}
.content_liste_par_pays .liste_par_pays .liste_pays_outer {
    width: 25%;
    margin: 0;
    padding: 0 10px 0 0;
    float: left;
}
.content_liste_par_pays .liste_par_pays .liste_pays_outer ul {
    margin: 0;
    padding: 0;
}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li {
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
    float: left;
    height: 40px;
}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a {
    display: block;
    background: #fff;
    padding: 10px 9px;
    /*border-right: 1px solid #c9d8db;*/
    width: 100%;
    float: left;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a:hover, .content_liste_par_pays .liste_par_pays .liste_pays_outer li a.active {
    background-color: var(--orange-color);
}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a:hover span.nom_pays, .content_liste_par_pays .liste_par_pays .liste_pays_outer li a.active span.nom_pays {
    color: #fff;
}

.calendrier{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.content_calendrier_par_pays .calendrier img {
    width: 100%;
    height: auto;
    max-width: 110px;
    margin: 0 auto;
}
.content_calendrier_par_pays .calendrier span {
    font-family: var(--font-Montserrat);
    font-size: 45px;
    font-weight: 700;
    color:var(--bleu-color);
}
.liste_pays_inner .nom_pays {
    float: left;
    font-family: var(--font-Montserrat);
    color: var(--bleu-color);
    font-size: 12px;
    font-weight: 600;
}
.liste_pays_inner .drapeaux {
    float: right;
}
.liste_pays_inner .drapeaux img {
    width: 25px;
    height: 16px;
    box-shadow: 1px 1px 5px #555;
}
.content_list_tab {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    float: left;
    /*border-bottom: 1px solid var(--bleu-color);*/
}
.content_calendrier_par_pays .content_list_tab{border-bottom: 1px solid var(--bleu-color);}
.content_list_tab .tab {
    background:transparent;
    border:none;
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    float: left;
}
.content_list_tab .list_tab_match {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content_list_tab .list_tab_match li {
    margin: 0;
    padding: 0;
    float: left;
}
.content_list_tab .groupe span {
    float: left;
    margin: 0;
    padding: 15px 7px;
    font-size: 16px;
    font-family: var(--font-Montserrat);
    font-weight: 700;
    color:#5f5f5f;
}
.content_list_tab .groupe li {
    margin: 0 3px;
    padding: 0 1px 0 0;
    float: left;
}
.content_list_tab .list_tab_match li.groupe.trois_col{
    margin-right: 5px;
}
.content_list_tab .groupe li a {
    background: var(--orange-color);
    padding: 4px 4px;
}
.content_list_tab .tabcontent {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.content_list_tab .liste_groupe {
    list-style-type: none;
}
/*.content_list_tab .liste_tous_les_match {
    width: 28%}
.content_list_tab .groupe {
    width: 50%}
.content_list_tab .list_tab_match .phase_finale {
    width: 22%;
    float: right;
}*/
.content_list_tab .trois_col a {
    background: 0 0;
    border: 0;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--font-Montserrat);
    font-weight: 600;
    color: #fff;
    outline: none;
    width: 100%;
    display: block;
    text-align: center;
    background: var(--orange-color);
    line-height: normal;
}
.groupe.trois_col{
    display: flex;
    align-items: center;
}
.content_list_tab .trois_col a.active, .content_list_tab .trois_col a:hover {
    color: #fff;
    background: var(--bleu-color);
    /*background: var(--orange-color);*/
}
.content_bloc_list_match {
    width: 100%;
    border: 1px solid var(--orangeclaire-color);
    margin: 0 0 20px;
    padding: 10px 20px;
    list-style-type: none;
    float: left;
    border-radius: 14px;
}
.content_bloc_list_match ul {
    list-style-type: none;
}
.content_bloc_list_match .titre_date {
    width: 100%;
    margin: 0;
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid var(--orangeclaire-color);
    font-size: 12px;
    font-family: var(--font-Montserrat);
    font-weight: 600;
    color: var(--bleu-color);
}
.content_bloc_list_match .titre_date::first-letter{text-transform: uppercase;}
.content_bloc_list_match .match {
    width: 100%;
    margin: 0;
    padding: 8px 5px;
    /*float: left;*/
    display:flex;
    flex-wrap:wrap;
    align-items: center;
/*    border-bottom: 1px dotted #cdddeb;*/
}
.content_bloc_list_match .match .gpe {
    width: 20%;
    /*float: left;*/
    font-family: var(--font-Montserrat);
    font-size: 12px;
    font-weight: 600;
    color: #5f5f5f;
    padding-top: 3px;
    text-transform: uppercase;
}
.content_bloc_list_match .match .match_gpe {
    width: 70%;
    /*float: left;*/
    padding-top: 0;
    display:flex;
    flex-wrap: wrap;
}
.content_bloc_list_match .match .match_gpe .gpe_gauche {
    display: inline-block;
    text-align: center;
    width: 40%}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score {
    text-align: center;
    font-family: var(--font-Montserrat);
    font-size: 12px;
    font-weight: 600;
    color: var(--orange-color);
    display: inline-block;
    width: 15%;padding:2px 0 0 0;}
.content_bloc_list_match .match .match_gpe .gpe_droite {
    display: inline-block;
    text-align: center;
    width: 40%}
.content_bloc_list_match .match .diffuse_AR {
    width: 10%;
    /*float: left;*/
    /*min-height: 33px;*/
    display:none;
}

.content_bloc_list_match .match.sur_AR .diffuse_AR {display:block;}

/*.content_bloc_list_match .match.sur_AR {
    background: #ccdfee;
}*/
/*.content_bloc_list_match .match.sur_AR.provisoire {
    background-color: #f0f5fb;
    border: 1px solid #bad1ed;
}*/
.content_bloc_list_match .match.sur_AR .diffuse_AR img {
    display: block;
    max-width: 60px!important;
    height: auto!important;
    width: auto!important;
}
.content_bloc_list_match .match .diffuse_AR img {
    display: none;
}
.content_bloc_list_match .match:hover {
    background: #f0f5f9;
}
/*.content_bloc_list_match .match .score {
    display: none;
}*/
/*.content_bloc_list_match .match.termine .score {
    display: none;*
}*/
.content_bloc_list_match .match.termine .heure {
    display: inline-block;
    padding:2px 0 0 0;
}
.content_bloc_list_match .match .nom_pays {
    font-family: var(--font-Montserrat);
    font-size: 12px;
    color: #5c5a5d;
    font-weight:600;
}
.content_bloc_list_match .match .gpe_gauche .nom_pays {
    width: 80%;
    text-align: right;
    padding-right: 10px;
}
.content_bloc_list_match .gpe_gauche .drapeaux {
    float: right;
    width: 20%}
.content_bloc_list_match .gpe_droite .drapeaux {
    float: left;
    width: 20%}
.content_bloc_list_match .gpe_droite .nom_pays {
    width: 80%;
    text-align: left;
    padding-left: 10px;
}
.content_bloc_list_match .drapeaux img {
    width: 25px!important;
    height: 16px!important;
    box-shadow: 1px 1px 5px #555;
}
.content_bloc_list_match .nom_pays {
    display: inline-block;
}
.content_match_cache #Allemagne, .content_match_cache #Angleterre {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.titre_blue {
    background: var(--bleu-color);
    color: #fff;
    font-family: var(--font-Montserrat);
    font-size: 16px;
    border-radius: 10px;
    padding:2px 10px 0 10px;
    width: 100%;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
    clear: both;
}
.titre_orange {
    background: var(--orange-color);
    color: #fff;
    font-family: var(--font-Montserrat);
    font-size: 16px;
    border-radius: 10px;
    padding:2px 10px 0 10px;
    width: 100%;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
    clear: both;
}
.titre_blue span,.titre_orange span{
    font-weight: 600;
}
.titre_orange 
.content_match_cache {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}
.resultat_classement {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
}
.resultat_classement .classement {
    width: 100%;
    margin: 0;
    padding: 0;
}
.classement .team {
    width: 25%}
.classement .points {
    width: 10%}
.classement .stat {
    width: 5%}
.classement .stat.last {
    width: 10%}
.classement th {
    font-family: var(--font-Montserrat);
    font-size: 16px;
    color: var(--gris-color);
    font-weight: 600;
}
.classement td {
    font-family: var(--font-Montserrat);
    font-size: 16px;
    color: #143d5d;
    font-weight: 400;
}
.content_phase_finale {
    width: 100%;
    padding: 0;
   /* border-bottom: 1px solid #000;*/
    margin: 0 0 5px;
    float: left;
}
.content_phase_finale.fin {
    border: 0;
}
.content_mise_en_avant_finale {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 10px;
    background: url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_liste_gpe_cdm.jpg) no-repeat left top;
    background-size: cover;
    float: left;
}
.titre_mise_en_avant {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    font-family: var(--font-Montserrat);
    font-size: 35px;
    text-align: center;
    font-weight: 400;
    color: #ec000f;
    float: left;
}
.titre_mise_en_avant span {
    font-weight: 700;
}
.titre_phase_finale {
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
    font-family: var(--font-Montserrat);
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #413936;
    float: left;
    position: relative;
}
.titre_phase_finale:before {
    position: absolute;
    content: "";
    left: 0;
    height: 1px;
    width: 38%;
    top: 50%;
    background: url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_titre_phase_finale.png) repeat-x left top;
}
.titre_phase_finale:after {
    position: absolute;
    content: "";
    right: 0;
    height: 1px;
    width: 38%;
    top: 50%;
    background: url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_titre_phase_finale.png) repeat-x left top;
}
.content_huit {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    float: left;
}
.content_huit .col_8 {
    margin: 0 0 10px;
    padding: 0 10px;
    word-break: break-all;
    width: 12.5%;
    float: left;
}
.couv_phase_finale .titre_date {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #0080bf;
    color: #fff;
    padding: 5px 3px;
    font-family: var(--font-Montserrat);
    font-size: 14px;
    font-weight: 500;
    float: left;
}
.couv_phase_finale .content_col_final {
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0 3px 9px;
    float: left;
    border-right: 1px solid #ccdfee;
}
.couv_phase_finale .sur_AR .content_col_final {
    background: #ccdfee;
}
.couv_phase_finale .sur_AR .heure_col img {
    float: right;
    width: 35px!important;
    height: auto!important;
}
.couv_phase_finale .heure_col {
    border-bottom: 1px dashed #e6eaed;
    padding: 10px 3px;
    font-family: var(--font-Montserrat);
    font-size: 13px;
    font-weight: 700;
    color: #9d0210;
    margin-bottom: 8px;
}
.couv_phase_finale .pays_col {
    padding: 0 3px;
    font-family: var(--font-Montserrat);
    color: #35363a;
}
.couv_phase_finale .pays_col .nom_pays {
    font-weight: 500;
    font-size: 13px;
}
.couv_phase_finale .pays_col .drapeaux {
    float: right;
}
.couv_phase_finale .pays_col .drapeaux img {
    width: 18px!important;
    height: 12px!important;
    box-shadow: 1px 1px 5px #555;
}
.couv_phase_finale.trait {
    padding: 0 3px;
    font-family: var(--font-Montserrat);
    color: #35363a;
    font-size: 13px;
}
.couv_phase_finale {
    margin: 0 -10px;
    padding: 0;
}
.content_lien_savoir_plus {
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;
    float: left;
}
.content_lien_savoir_plus a {
    float: right;
    color: #fff;
    background: #0080bf url(https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png) no-repeat scroll 189px center;
    font-family: var(--font-Montserrat);
    font-size: 20px;
    padding: 5px 14px;
    width: 214px;
}
.content_lien_savoir_plus a:hover {
    background-color: #e2001a;
}
.content_lien_savoir_plus a span {
    font-weight: 700;
}
.content_quatre {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    width: 100%;
    float: left;
}
.content_quatre .col_4 {
    margin: 0 0 10px;
    padding: 0 30px;
    word-break: break-all;
    width: 25%;
    float: left;
}
.content_deux {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    width: 100%;
    float: left;
}
.content_deux .col_2 {
    margin: 0 0 10px;
    padding: 0 80px;
    word-break: break-all;
    width: 50%;
    float: left;
}
.content_phase_deux_dernier_match {
    width: 100%;
    margin: 30px 0 0;
    paddig: 0;
    float: left;
    background: url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_titre_phase_finale.png) repeat-x left top;
    min-height: 1px;
}
.content_phase_deux_dernier_match .content_trois {
    margin: 20px 0 0;
    padding: 0 100px;
    list-style-type: none;
    width: 100%;
    float: left;
}
.content_phase_deux_dernier_match .col_3 {
    width: 40%;
    float: left;
    margin: 0 0 10px;
}
.content_phase_deux_dernier_match .col_3.center {
    text-align: center;
    width: 20%}
.content_phase_deux_dernier_match .col_3.center img {
    max-width: 53px!important;
    height: auto!important;
    width: 100%!important;
    margin-top: 20px;
}
.titre_match_finale {
    font-family: var(--font-Montserrat);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #413936;
}
.morepostag a {
    color: #fff;
}
.titre-phase-groupe h2{margin:0;padding:0 0 20px 0;text-align:center;text-transform: uppercase;font-family: var(--font-Montserrat);font-size: 16px;
    font-weight: 700;color: var(--bleu-color);}
.cache-mobile{display:none;}
.cache-desktop{display:block;}
.content_list_tab .groupe .liste_groupe li a{border-radius:8px;}
.breadcrumb>li+li::before{content: "\f054"!important;color:#c9dded!important}
.content_liste_par_pays .liste_par_pays.dropdown-menu{display:block;position: inherit;background: none;box-shadow: none;border: 0;}
.ar-side-col.bloc-right{width:310px;}
.content_liste_par_pays.dropdown .btn-primary.dropdown-toggle{display:none;}
@media screen and (max-width:1024px) {
    .content_liste_des_groupes .liste_groupe .drapeaux img {
    width: 22px!important;
    height: 12px!important;
}
.ar-main-col .liste_pays_inner .drapeaux img {
    width: 25px!important;
    height: 16px!important;
}
.navbar-toggle{float:right!important;padding:12px 0!important;}
.wrapper-header .container-ar .logo-ar{float:left!important;}
.block_soc_search{display:block!important;}
.block_soc_search .social-top{display:none;}
.block-search{margin-top:0!important;}
.block-search .input-group-button{right:53px;}
.block-search .input-group .input-group-button{right:0;}
.wrapper-header .search-expand{right:53px;}
.navbar-toggle .icon-bar{background-color: #1e5a7e;}
.header{background:#fff;border-bottom:1px solid #dddddd;}
.breadcrumbs{display:block;clear: both;margin-bottom:20px;}
.menu_responsive_cache{display:none!important;}
.menu-menu2{display:block;width:100%;float:left;}
.menu-menu2 ul{text-align:left;}
}@media screen and (max-width:991px) {
    .ar-main-col {
    margin-bottom: 20px;
}
.content_list_tab .groupe li {
    float: none;
    display: inline-block;
}
.content_list_tab .liste_groupe {
    text-align: center;
}
.page_container .ar-main-col{padding-left:15px!important;padding-right:15px!important;}
.page_container .container .ar-main-col{padding-left:0!important;padding-right:0!important;}
}@media screen and (max-width:768px) {
    .content_head_pull {
    padding: 0 0 20px;
}
.content_logo_ar img {
    max-width: 100px;
}
.logo_coupe_du_monde img {
    max-width: 62px;
}
.content_titre_pull img {
    max-width: 280px;
}
.content_liste_des_groupes .titre_groupe {
    font-size: 14px;
}
.content_liste_des_groupes .liste_groupe .nom_pays {
    font-size: 13px;
}
.content_liste_des_groupes .liste_groupe .drapeaux img {
    width: 22px;
    height: 12px;
}
.content_liste_des_groupes .liste_groupe li {
}
.content_liste_des_groupes .bloc_liste .liste {
    margin: 0 0 20px;
}
.content_huit .col_8 {
    width: 25%}
.content_quatre .col_4 {
    width: 50%;
    padding: 0 10px;
}
.content_quatre {
    padding: 0;
}
.content_deux {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    float: left;
}
.content_deux .col_2 {
    margin: 0 0 10px;
    padding: 0 10px;
    word-break: break-all;
    width: 50%;
    float: left;
}
.content_phase_deux_dernier_match .content_trois {
    margin: 30px 0 0;
    padding: 0 10px;
    list-style-type: none;
    width: 100%;
    float: left;
}
.titre_phase_finale:before, .titre_phase_finale:after {
    width: 30%}
.block-search{margin-top:0!important;}
@media screen and (max-width:700px) {
    .menu-menu2{display:block!important;}
    .menu-menu2 li{width:auto!important;border:none!important;}
    .menu-menu2 ul{margin-bottom:0!important;}
}
}@media screen and (max-width:680px) {
    .content_list_tab .liste_tous_les_match {
    width: 100%;text-align: center;}
.content_list_tab .list_tab_match .phase_finale {
    width: 100%;text-align: center;}
.content_list_tab .groupe {
    width: 100%;justify-content: center;}
    .content_list_tab .groupe .liste_groupe li a{width:auto;border-radius:8px;}
    .content_list_tab .groupe .liste_groupe li{width:auto;}
    .content_list_tab .list_tab_match li a,.content_list_tab .list_tab_match .phase_finale a{border-radius: 8px;padding: 4px 10px;width: auto;display: inline-block;margin: 0 auto;}
.content_list_tab .groupe span {
    text-align: center;padding:0;}
.content_list_tab .liste_groupe {
    float: none;
    text-align: left;
}
.content_list_tab .groupe li {
    float: left;
    display: inline-block;
    width: 10%}
.content_list_tab .trois_col a {
    padding: 15px;
}
.content_list_tab .tab{padding-bottom:25px;}
.content_list_tab .list_tab_match li.groupe.trois_col{padding:25px 0;}
.navbar-toggle{padding:12px 0!important;}
}@media screen and (max-width:640px) {
    .content_liste_des_groupes .bloc_liste .liste {
    width: 100%}
.content_liste_par_pays .liste_par_pays .liste_pays_outer {
    width: 100%}
.content_bloc_list_match .match .gpe {
    font-size: 12px;
}
.content_bloc_list_match .match.sur_AR .gpe {
    min-height: 18px;
}
.content_bloc_list_match .match .nom_pays {
    font-size: 12px;
}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score {
    font-size: 12px;
}
.content_list_tab .liste_tous_les_match {
    width: 100%}
.content_list_tab .list_tab_match .phase_finale {
    width: 100%}
.content_list_tab .groupe {
    width: 100%}
.content_list_tab .groupe span {
    text-align: center;}
.content_list_tab .liste_groupe {
    float: none;
    text-align: left;
}
.content_list_tab .groupe li {
    float: left;
    display: inline-block;
    width: 10%}
.content_list_tab .trois_col a {
    padding: 15px;
}
.calendrier{width:100%;}
.content_calendrier_par_pays .calendrier span{text-align: center;}
.content_calendrier_par_pays .par_pays{width:100%;text-align: center;}
/*par pays*/
.content_liste_par_pays.dropdown .btn-primary.dropdown-toggle{display:block;position: absolute;right:15px;z-index:10;top:20px;background:none;padding:0;border:0;}
.content_liste_par_pays.dropdown .btn-primary.dropdown-toggle .caret{border:0;background:url(../img_euros/bg-fleche-par-pays.jpg) no-repeat right 3px;width:22px;height:22px;}
.content_liste_par_pays.dropdown.open .btn-primary.dropdown-toggle .caret{ transform: rotate(180deg);}
.content_liste_par_pays .liste_par_pays.dropdown-menu{display:block;position: absolute;height:50px;overflow: hidden;z-index: 9;top:10px;margin:0;width:96%;left:2%;}
.content_liste_par_pays.open .liste_par_pays.dropdown-menu{display:block;height:auto;overflow:inherit;background:#fff;border:1px solid #40a3c2;border-radius:10px;width:96%;left:2%;}
.content_liste_par_pays.dropdown{min-height:60px;}
.open .liste_pays_inner .drapeaux{margin:0 10px 0 0;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer{padding:0;}
.content_liste_par_pays .dropdown-backdrop{position: inherit;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a.active{position: absolute;top:0;background:#fff;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a.active span.nom_pays{color: var(--bleu-color);}
.content_liste_par_pays.open .liste_par_pays .liste_pays_outer li a.active span.nom_pays{color:#fff;}
.content_liste_par_pays.open .liste_par_pays .liste_pays_outer li a.active{position:initial;background:var(--orange-color);}
.content_liste_par_pays.open .liste_par_pays .liste_pays_outer .liste_pays_inner li{padding:0 35px 0 10px;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a{padding:10px 25px;}
.content_liste_par_pays.open .liste_par_pays .liste_pays_outer li a.active{padding:5px 25px;}
.liste_pays_inner .drapeaux{margin:0 20px 0 0;}
}@media screen and (max-width:480px) {
    .content_titre_pull {
    width: 100%;
    margin: 20px 0 0;
}
.content_titre_pull img {
    max-width: 100%}
.logo_coupe_du_monde img {
    max-width: 100%}
.content_logo_ar img {
    max-width: 100%}
.logo_coupe_du_monde img {
    margin-top: 0;
}
.content_huit .col_8 {
    width: 50%}
.titre_phase_finale {
    font-size: 14px;
}
.content_bloc_list_match .match .gpe {
    width: 100%;text-align:center;padding-bottom:20px;}
.content_bloc_list_match .match .match_gpe {
    width: 100%}
.content_list_tab .liste_tous_les_match {
    width: 100%}
.content_list_tab .list_tab_match .phase_finale {
    width: 100%}
.content_list_tab .liste_groupe {
    width: auto;
}
.content_list_tab .trois_col a {
    padding: 15px;
    font-size: 15px;
}
.content_list_tab .groupe span {
    font-size: 15px;
    padding-top:0;
}
.content_bloc_list_match .match.sur_AR .diffuse_AR img {
}
.content_bloc_list_match .titre_date{text-align:center;}
.content_bloc_list_match .match{position:relative;padding:25px 8px 5px 8px;}
.content_bloc_list_match .match.sur_AR .diffuse_AR{position: relative;right: auto;top: 8px;left: auto;margin: 0 auto;width: auto;}
.content_bloc_list_match{padding-left:0;padding-right:0;}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score{width:20%;padding:2px 0 0 5px;}
.menu-menu2 ul li{width:auto!important;}
.content_calendrier_par_pays .calendrier span{font-size:40px;}
}@media screen and (max-width:390px) {
 /*   .content_liste_des_groupes .bloc_liste .liste {
    width: 100%}
.content_liste_par_pays .liste_par_pays .liste_pays_outer {
    width: 100%}
.content_huit .col_8 {
    width: 100%}
.content_quatre .col_4 {
    width: 100%;
    padding: 0;
}
.content_deux .col_2 {
    width: 100%;
    padding: 0;
}
.content_phase_deux_dernier_match .col_3, .content_phase_deux_dernier_match .col_3.center {
    width: 100%}
.titre_phase_finale:before, .titre_phase_finale:after {
    width: 25%}
.content_bloc_list_match .match .nom_pays {
    font-size: 13px;
}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score {
    font-size: 13px;
}
.content_bloc_list_match .match .match_gpe .gpe_gauche {
    width: 100%}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score {
    width: 100%;
    text-align: left;
}
.content_bloc_list_match .match .match_gpe .gpe_droite {
    width: 100%}
.content_bloc_list_match .match .gpe_gauche .nom_pays {
    text-align: left;
    padding-right: 0;
}
.content_bloc_list_match .gpe_droite .drapeaux {
    float: right;
}
.content_bloc_list_match .gpe_droite .nom_pays {
    padding-left: 0;
}
.content_bloc_list_match .match .diffuse_AR {
    width: 100%;
    padding: 10px 0;
}
.content_bloc_list_match .match .diffuse_AR img {
    float: right;
}
.content_bloc_list_match .gpe_gauche .drapeaux, .content_bloc_list_match .gpe_droite .drapeaux {
    text-align: right;
}
.content_list_tab .trois_col a {
    padding: 15px 7px;
    font-size: 15px;
}
.content_list_tab .groupe span {
    text-align: left;
    padding: 18px 0 15px 0;
}*/
.content_bloc_list_match .match .match_gpe .gpe_gauche,.content_bloc_list_match .match .match_gpe .gpe_droite{text-align: left;}
.content_list_tab .list_tab_match li.groupe.trois_col{padding:20px 0;}
.content_list_tab .groupe li{margin:0 2px;padding:0;}
.content_list_tab .groupe span{padding-right:3px;}
.wrapper-header .search-expand .input-search{max-width:300px;}
.titre_blue span{display:block;}
}
@media screen and (max-width:360px) {
    .content_list_tab .groupe span{font-size:12px;}
}
@media screen and (max-width:320px) {
    .wrapper-header .search-expand .input-search{max-width:250px;}
}