@charset "utf-8";

@font-face {

	font-family: 'avantgarde_lt_bookregular';

	src: url('../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.eot');

	src: url('../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.eot?#iefix') format('embedded-opentype'),

	url('../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.woff') format('woff'),

	url('../fonts_cdm/itc_avant_garde_gothic_lt_book-webfont.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;



}

@font-face {

	font-family: 'avantgarde_lt_bookbold';

	src: url('../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.eot');

	src: url('../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.eot?#iefix') format('embedded-opentype'),

	url('../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.woff') format('woff'),

	url('../fonts_cdm/itc_avant_garde_gothic_lt_demi-webfont.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;



}

@font-face {

	font-family: 'itc_avant_garde_gothic_proXLt';

	src: url('../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.eot');

	src: url('../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.eot?#iefix') format('embedded-opentype'),

	url('../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.woff') format('woff'),

	url('../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.ttf') format('truetype'),

	url('../fonts_cdm/itc_avant_garde_pro_xlt_regular-webfont.svg#itc_avant_garde_gothic_proXLt') format('svg');

	font-weight: normal;

	font-style: normal;



}

@font-face {

	font-family: 'itc_avant_garde_gothic_proMd';

	src: url('../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.eot');

	src: url('../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.eot?#iefix') format('embedded-opentype'),

	url('../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.woff') format('woff'),

	url('../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.ttf') format('truetype'),

	url('../fonts_cdm/itc_avant_garde_pro_md_regular-webfont.svg#itc_avant_garde_gothic_proMd') format('svg');

	font-weight: normal;

	font-style: normal;



}



@font-face {

	font-family: 'itc_avant_garde_gothic_stdemi';

	src: url('../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.eot');

	src: url('../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.eot?#iefix') format('embedded-opentype'),

	url('../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.woff') format('woff'),

	url('../fonts_cdm/itc_avant_garde_std_bk_bold-webfont.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;



}



@font-face {

	font-family: 'PatuaOne-Regular';

	src: url('../fonts_cdm/PatuaOne-Regular.eot?') format('eot'),

	url('../fonts_cdm/PatuaOne-Regular.woff') format('woff'),

	url('../fonts_cdm/PatuaOne-Regular.ttf')  format('truetype'),

	url('../fonts_cdm/PatuaOne-Regular.svg#PatuaOne-Regular') format('svg');

}

@font-face {

	font-family:'HelveticaNeue-CondensedBold';

	src: url('../fonts_cdm/HelveticaNeue-CondensedBold_gdi.eot');

	src: url('../fonts_cdm/HelveticaNeue-CondensedBold_gdi.eot?#iefix') format('embedded-opentype'),

	url('../fonts_cdm/HelveticaNeue-CondensedBold_gdi.woff') format('woff'),

	url('../fonts_cdm/HelveticaNeue-CondensedBold_gdi.ttf') format('truetype'),

	url('../fonts_cdm/HelveticaNeue-CondensedBold_gdi.svg#HelveticaNeue-CondensedBold') format('svg');

	font-weight: 700;

	font-style: normal;

	font-stretch: condensed;

	unicode-range: U+0-10FFFF;

}

@font-face {

	font-family:'GothamNarrow-Book';

	src: url('../fonts_cdm/GothamNarrow-Book_gdi.eot');

	src: url('../fonts_cdm/GothamNarrow-Book_gdi.eot?#iefix') format('embedded-opentype'),

	url('../fonts_cdm/GothamNarrow-Book_gdi.woff') format('woff'),

	url('../fonts_cdm/GothamNarrow-Book_gdi.ttf') format('truetype'),

	url('../fonts_cdm/GothamNarrow-Book_gdi.svg#GothamNarrow-Book') format('svg');

	font-weight: 325;

	font-style: normal;

	font-stretch: condensed;

	unicode-range: U+0020-2212;

}

/* CSS Document */

*{box-sizing:border-box;}

.content_liste_pull_cdm2018{width:100%;margin:0 0 20px 0;padding:20px 20px 0 20px;background:url("https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_liste_gpe_cdm.jpg") no-repeat left top;background-size:cover;float:left;}

.content_head_pull{width:100%;margin:0;padding:0 0 30px 0;float:left;}

.content_inner_pull{width:100%;margin:0;padding:0;float:left;}

.content_logo_ar{width:20%;float:left;}

.content_logo_ar img{/*max-width:100px;*/max-width:150px;}

.logo_coupe_du_monde{width:10%;float:right;}

.logo_coupe_du_monde img{/*max-width:62px;*/float:right;max-width:82px;margin-top:-10px;}

.content_titre_pull{width:70%;float:left;}

.content_titre_pull img{margin:0 auto;display:block;/*max-width:280px;*/max-width:374px;}

.content_liste_des_groupes{width:100%;margin:0;padding:0;float:left;}

.content_liste_des_groupes ul{list-style-type:none;}

.content_liste_des_groupes .bloc_liste{margin:0 -10px;}

.content_liste_des_groupes .bloc_liste .liste{width:25%;float:left;padding:0 10px;margin:0 0 30px 0;}

.content_liste_des_groupes .titre_groupe{width:100%;background:#007fbe;text-align:center;color:#fff;font-family:'itc_avant_garde_gothic_proMd';/*font-size:14px;*/font-size:20px;font-weight:normal;/*padding:2px 0;*/padding:5px 0;border-radius:8px 0 0 0;margin:0 0 5px 0;}

.content_liste_des_groupes .liste_groupe{margin:0;padding:0;}

.content_liste_des_groupes .liste_groupe li{margin:0 0 5px 0;padding:0;width:100%;float:left;}

.content_liste_des_groupes .liste_groupe li:last-child a{border-right:1px solid #b9cfdc;border-bottom:1px solid #b9cfdc;border-radius:0 0 8px 0;margin:0;}

.content_liste_des_groupes .liste_groupe li a{width:100%;display:block;color:#444444;text-decoration:none;float:left;padding:7px 9px;background:#fff;border-right:1px solid #b9cfdc}
.content_liste_des_groupes .liste_groupe li a:hover{background:#ccdfee;}

.content_liste_des_groupes .liste_groupe .nom_pays{float:left;font-family: "Maven Pro",sans-serif;color:#444444;/*font-size:13px;*/font-size:16px;}

.content_liste_des_groupes .liste_groupe .drapeaux{float:right;}

.content_liste_des_groupes .liste_groupe .drapeaux img{width:30px;height:20px;box-shadow: 1px 1px 5px #555;}

.both{width:100%;clear:both;}



/*page par pays*/

.show {display:block;} 
.content_calendrier_par_pays{width:100%;margin:0 0 20px 0;padding:0;float:left;}
.content_calendrier_par_pays_inner{width:100%;margin:0 0 20px 0;padding:0;float:left;}
.content_calendrier_par_pays .calendrier{float:left;}
.content_calendrier_par_pays .par_pays{float:right;}
.content_calendrier_par_pays .par_pays button{position:relative; z-index:100;background:url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/icone_fleche_bas.png) no-repeat right 6px;border:0;font-family: "Maven Pro",sans-serif;font-size:14px;color:#007fbe;margin:10px 0 0 0;padding:0 23px 0 0;}
.content_calendrier_par_pays .par_pays button:hover{text-decoration:underline;}
.content_calendrier_par_pays .par_pays button:focus{border:0; outline:none;}
.content_calendrier_par_pays .dropdown-content{width:100%;margin:0;padding:0;float:left;display: none;}
.content_liste_par_pays{width:100%;margin:0 0 20px 0;padding:20px 10px 10px 10px;background:url("https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_liste_gpe_cdm.jpg") no-repeat left top;background-size:cover;float:left;}
.content_liste_par_pays ul{list-style-type:none;}
.content_liste_par_pays .liste_par_pays{width:100%;margin:0 0 20px 5px;padding:0;float:left;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer{width:25%;margin:0;padding:0 10px 0 0;float:left;} 
.content_liste_par_pays .liste_par_pays .liste_pays_outer ul{margin:0;padding:0;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li{margin:0 0 10px 0;padding:0;width:100%;float:left;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a{display:block;background:#ffffff;padding:10px 9px;border-right:1px solid #c9d8db;width:100%;float:left;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li a:hover,.content_liste_par_pays .liste_par_pays .liste_pays_outer li a.active{background:#ccdfee;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li:first-child a{border-top:1px solid #c9d8db;border-radius:0 8px 0 0;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer li:last-child a{border-bottom:1px solid #c9d8db;border-radius:0 0 8px 0;}
.content_calendrier_par_pays .calendrier img{width:100%;height:auto;float:left;max-width:34px;margin:0 7px 0 0;}
.content_calendrier_par_pays .calendrier span{font-family:"Maven Pro",sans-serif;font-size:29px;font-weight:500;color:#234c6c;}
.liste_pays_inner .nom_pays{float:left;font-family: "Maven Pro",sans-serif;color: #444444;font-size: 13px;}
.liste_pays_inner .drapeaux{float:right;}
.liste_pays_inner .drapeaux img{width:25px;height:16px;box-shadow: 1px 1px 5px #555;}

/*page tous les match*/
.content_list_tab{width:100%;margin:0 0 20px 0;padding:0;float:left;}
.content_list_tab .tab{background:#f0f5f9;border:1px solid #d7dce2;width:100%;margin:0;padding:0;float:left;}
.content_list_tab .list_tab_match{width:100%;margin:0;padding:0;float:left;list-style-type:none;}
.content_list_tab .list_tab_match li{margin:0;padding:0;float:left;}
.content_list_tab .groupe span{float:left;margin:0;padding:15px 15px;font-size:14px;font-family: "Maven Pro",sans-serif;font-weight:bold;}
.content_list_tab .groupe li{margin:0;padding:0 1px 0 0;float:left;}
.content_list_tab .groupe li a{background:#d9e6ef;}
.content_list_tab .tabcontent{width:100%;margin:0;padding:0;float:left;}
.content_list_tab .liste_groupe{list-style-type:none;}
.content_list_tab .liste_tous_les_match{width:25%;}
.content_list_tab .groupe{width:50%;}
.content_list_tab .list_tab_match .phase_finale{width:25%;float:right;}
.content_list_tab .trois_col a{background:none;border:0;padding:15px 7px;font-size:14px;font-family: "Maven Pro",sans-serif;font-weight:bold;color:#1e3c54; outline:none;width:100%;display:block;text-align:center;}
.content_list_tab .trois_col a.active,.content_list_tab .trois_col a:hover{color:#ffffff;background:#0080bf;}
.content_bloc_list_match{width:100%;margin:0 0 20px 0;padding:0;list-style-type:none;float:left;}
.content_bloc_list_match ul{list-style-type:none;}
.content_bloc_list_match .titre_date{width:100%;margin:0;padding:10px 12px;background:#f2ede9;font-size:16px;font-family: "Maven Pro",sans-serif;font-weight:bold;color:#961017;}
.content_bloc_list_match .match{width:100%;margin:0;padding:4px 12px;float:left;border-bottom:1px dotted #CDDDEB;}
.content_bloc_list_match .match .gpe{width:20%;float:left;font-family: "Maven Pro",sans-serif;font-size:14px;font-weight:bold;color:#444444;padding-top:8px;text-transform:uppercase;} 
.content_bloc_list_match .match .match_gpe{width:70%;float:left;padding-top:8px;}
.content_bloc_list_match .match .match_gpe .gpe_gauche{display:inline-block;text-align:center;width:35%;}
.content_bloc_list_match .match .match_gpe .heure,.content_bloc_list_match .match .score{text-align:center;font-family: "Maven Pro",sans-serif;font-size:14px;font-weight:bold;color:#92131c;display:inline-block;width:20%;}
.content_bloc_list_match .match .match_gpe .gpe_droite{display:inline-block;text-align:center;width:35%;}
.content_bloc_list_match .match .diffuse_AR{width:10%;float:left;min-height:33px;}
.content_bloc_list_match .match.sur_AR{background:#ccdfee;}
.content_bloc_list_match .match.sur_AR.provisoire{background-color:#F0F5FB;border:1px solid #BAD1ED;}
.content_bloc_list_match .match.sur_AR .diffuse_AR img{display:block;max-width:64px!important;height:auto!important;width: auto !important;}
.content_bloc_list_match .match .diffuse_AR img{display:none;}
.content_bloc_list_match .match:hover{background:#f0f5f9;}
.content_bloc_list_match .match .score{display:none;}
.content_bloc_list_match .match.termine .score{display:inline-block;}
.content_bloc_list_match .match.termine .heure{display:none;}
.content_bloc_list_match .match .nom_pays{font-family: "Maven Pro",sans-serif;font-size:14px;fcolor:#444444;}
.content_bloc_list_match .match .gpe_gauche .nom_pays{width:80%;text-align:right;padding-right:10px;}
.content_bloc_list_match .gpe_gauche .drapeaux{float:right;width:20%;}
.content_bloc_list_match .gpe_droite .drapeaux{float:left;width:20%;}
.content_bloc_list_match .gpe_droite .nom_pays{width:80%;text-align:left;padding-left:10px;}
.content_bloc_list_match .drapeaux img{width:25px!important;height:16px!important;box-shadow: 1px 1px 5px #555;}
.content_bloc_list_match  .nom_pays{display:inline-block;}


/*page match par pays*/
 .content_match_cache #Allemagne,.content_match_cache #Angleterre{display: none;width:100%;margin:0;padding:0;float:left;}
 .titre_blue{background:#0063a7;color:#ffffff;font-family: "Maven Pro",sans-serif;font-size:20px;font-weight:normral;padding:10px;width:100%;margin:0 0 30px 0;float:left;}
 .titre_blue span{font-weight:bold;}
 .content_match_cache{margin:0;padding:0;width:100%;float:left;}
 
/*page par groupe*/
.resultat_classement{width:100%;margin:0 0 20px 0;padding:0;}
.resultat_classement .classement{width:100%;margin:0;padding:0;}
.classement .team{width:25%;}
.classement .points{width:10%;}
.classement .stat{width:5%;}
.classement .stat.last{width:10%;}
.classement th{font-family: "Maven Pro",sans-serif;font-size:17px;color:#143d5d;font-weight:bold;}
.classement td{font-family: "Maven Pro",sans-serif;font-size:17px;color:#143d5d;font-weight:normal;}

/*page phase finale */
.content_phase_finale{width:100%;padding:0 0 10px 0;border-bottom:1px solid #000000;margin:0 0 30px 0;float:left;}
.content_phase_finale.fin{border:0;}
/*mise en avant phase finale*/
.content_mise_en_avant_finale{width: 100%;margin: 0 0 20px 0;padding:20px 10px 20px 10px;background: url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_liste_gpe_cdm.jpg) no-repeat left top;background-size: cover;float: left;}
.titre_mise_en_avant{width:100%;margin:0 0 20px 0;padding:0;font-family: "Maven Pro",sans-serif;font-size:35px;text-align:center;font-weight:normal;color:#ec000f;float:left;}
.titre_mise_en_avant span{font-weight:bold;}
.titre_phase_finale{width:100%;margin:0 0 15px 0;padding:0;font-family: "Maven Pro",sans-serif;font-size:20px;text-align:center;font-weight:500;color:#413936;float:left;position:relative;}
.titre_phase_finale:before{position:absolute;content:"";left:0;height:1px;width:38%;top:50%;background:url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_titre_phase_finale.png) repeat-x left top;}
.titre_phase_finale:after{position:absolute;content:"";right:0;height:1px;width:38%;top:50%;background:url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_titre_phase_finale.png) repeat-x left top;}
.content_huit{margin:0;padding:0;list-style-type:none;width:100%;float:left;}
.content_huit .col_8{margin:0 0 10px 0;padding:0 10px;word-break:break-all;width:12.5%;float:left;}
.couv_phase_finale .titre_date{width:100%;margin:0;padding:0;background:#0080bf;color:#fff;padding:5px 3px;font-family: "Maven Pro",sans-serif;font-size:14px;font-weight:500;float:left;}
.couv_phase_finale .content_col_final{background:#fff;width:100%;margin:0;padding:0 3px 9px 3px;float:left;border-right:1px solid #ccdfee;}
.couv_phase_finale .sur_AR .content_col_final{background:#ccdfee;}
.couv_phase_finale .sur_AR .heure_col img{float:right;width:35px!important;height:auto!important;}
.couv_phase_finale .heure_col{border-bottom:1px dashed #e6eaed;padding:10px 3px 10px 3px;font-family: "Maven Pro",sans-serif;font-size:13px;font-weight:bold;color:#9d0210;margin-bottom:8px;}
.couv_phase_finale .pays_col{padding:0 3px;font-family: "Maven Pro",sans-serif;color:#35363a;}
.couv_phase_finale .pays_col .nom_pays{font-weight:500;font-size:13px;} 
.couv_phase_finale .pays_col .drapeaux{float:right;}
.couv_phase_finale .pays_col .drapeaux img{width:18px!important;height:12px!important;box-shadow:1px 1px 5px #555;}
.couv_phase_finale.trait{padding:0 3px;font-family: "Maven Pro",sans-serif;color:#35363a;font-size:13px;}
.couv_phase_finale{margin:0 -10px;padding:0;}
.content_lien_savoir_plus{width:100%;margin:20px 0;padding:0 10px;float:left;}
.content_lien_savoir_plus a{float:right;color:#fff;background:#0080bf url("https://www.antennereunion.fr/squelettes/assets/img/bg/chevron-link.png") no-repeat scroll 189px center;font-family: "Maven Pro",sans-serif;font-size:20px;padding:5px 14px;width:214px;}
.content_lien_savoir_plus a:hover{background-color:#e2001a;}
.content_lien_savoir_plus a span{font-weight:bold;}
.content_quatre{margin:0;padding:0 20px;list-style-type:none;width:100%;float:left;}
.content_quatre .col_4{margin:0 0 10px 0;padding:0 30px;word-break:break-all;width:25%;float:left;}
.content_deux{margin:0;padding:0 20px;list-style-type:none;width:100%;float:left;}
.content_deux .col_2{margin:0 0 10px 0;padding:0 80px;word-break:break-all;width:50%;float:left;}
.content_phase_deux_dernier_match{width:100%;margin:30px 0 0 0;paddig:0;float:left;background:url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/back_titre_phase_finale.png) repeat-x left top;min-height:1px;}
.content_phase_deux_dernier_match .content_trois{margin:20px 0 0 0;padding:0 100px;list-style-type:none;width:100%;float:left;}
.content_phase_deux_dernier_match .col_3{width:40%;float:left;margin:0 0 10px 0;}
.content_phase_deux_dernier_match  .col_3.center{text-align:center;width:20%;}
.content_phase_deux_dernier_match .col_3.center img{max-width:53px!important;height:auto!important;width:100%!important;margin-top:20px;}
.titre_match_finale{font-family: "Maven Pro",sans-serif;font-size:16px;font-weight:700;text-align:center;color:#413936;}
.morepostag a{color:#ffffff;}

@media screen and (max-width:1024px){

	.content_liste_des_groupes .liste_groupe .drapeaux img{width:22px!important;height:12px!important;}
	.ar-main-col .liste_pays_inner .drapeaux img{width:25px!important;height:16px!important;}
	}
@media screen and (max-width:991px){
	.ar-main-col{margin-bottom:20px;}
.content_list_tab .groupe li{float:none;display:inline-block;}
.content_list_tab .liste_groupe{text-align:center;}	
}
@media screen and (max-width:768px){

.content_head_pull{padding:0 0 20px 0;}

.content_logo_ar img{max-width:100px;}	

.logo_coupe_du_monde img{max-width:62px;}

.content_titre_pull img{max-width:280px;}

.content_liste_des_groupes .titre_groupe{font-size:14px;/*padding:2px 0;*/}

.content_liste_des_groupes .liste_groupe .nom_pays{font-size:13px;}

.content_liste_des_groupes .liste_groupe .drapeaux img{width:22px;height:12px;}

.content_liste_des_groupes .liste_groupe li{/*padding:4px 6px;*/}

.content_liste_des_groupes .bloc_liste .liste{margin:0 0 20px 0;}
.content_huit .col_8{width:25%;}
.content_quatre .col_4{width:50%;padding:0 10px;}
.content_quatre{padding:0;}
.content_deux{margin:0;padding:0;list-style-type:none;width:100%;float:left;}
.content_deux .col_2{margin:0 0 10px 0;padding:0 10px;word-break:break-all;width:50%;float:left;}
.content_phase_deux_dernier_match .content_trois{margin:30px 0 0 0;padding:0 10px;list-style-type:none;width:100%;float:left;}
.titre_phase_finale:before,.titre_phase_finale:after{width:30%;}
}
@media screen and (max-width:680px){
.content_list_tab .liste_tous_les_match{width:50%;}
.content_list_tab .list_tab_match .phase_finale{width:50%;}
.content_list_tab .groupe{width:100%;}
.content_list_tab .groupe span{text-align:center;width:20%;}
.content_list_tab .liste_groupe{float:none;text-align:left;}
.content_list_tab .groupe li{float:left;display:inline-block;width:10%;}
.content_list_tab .trois_col a{padding:15px;}
	
}
@media screen and (max-width:640px){

.content_liste_des_groupes .bloc_liste .liste{width:50%;}	
.content_liste_par_pays .liste_par_pays .liste_pays_outer{width:50%;}
.content_bloc_list_match .match .gpe{font-size:12px;}
.content_bloc_list_match .match.sur_AR .gpe{min-height:18px;}
.content_bloc_list_match .match .nom_pays{font-size:12px;}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score{font-size:12px;}
.content_list_tab .liste_tous_les_match{width:50%;}
.content_list_tab .list_tab_match .phase_finale{width:50%;}
.content_list_tab .groupe{width:100%;}
.content_list_tab .groupe span{text-align:center;width:20%;}
.content_list_tab .liste_groupe{float:none;text-align:left;}
.content_list_tab .groupe li{float:left;display:inline-block;width:10%;}
.content_list_tab .trois_col a{padding:15px;}
}

@media screen and (max-width:480px){

.content_titre_pull{width:100%;margin:20px 0 0 0;}	

.content_titre_pull img{max-width:100%;}	

.logo_coupe_du_monde img{max-width:100%;}

.content_logo_ar img{max-width:100%;}

.logo_coupe_du_monde img{margin-top:0;}
.content_huit .col_8{width:50%;}
.titre_phase_finale{font-size:14px;}
.content_bloc_list_match .match .gpe{width:100%;}
.content_bloc_list_match .match .match_gpe{width:100%;}
.content_list_tab .liste_tous_les_match{width:100%;}
.content_list_tab .list_tab_match .phase_finale{width:100%;}
.content_list_tab .groupe span{width:20%;}
.content_list_tab .liste_groupe{width:auto;}
.content_list_tab .trois_col a{padding:15px;font-size: 12px;}
.content_list_tab .groupe span{font-size: 12px;}
.content_bloc_list_match .match.sur_AR .diffuse_AR img{/*display:none;*/}
/*.content_bloc_list_match .match.sur_AR{background:#ccdfee url(https://www.antennereunion.fr/squelettes/assets/img_coupe_du_monde/image_diffuse_AR_petit_V2_modif.png) no-repeat 98% 10px;}*/
.content_list_tab .groupe{border-top:1px dotted #e0e5e9;}
}

@media screen and (max-width:390px){

.content_liste_des_groupes .bloc_liste .liste{width:100%;}
.content_liste_par_pays .liste_par_pays .liste_pays_outer{width:100%;}
.content_huit .col_8{width:100%;}
.content_quatre .col_4{width:100%;padding:0;}
.content_deux .col_2{width:100%;padding:0;}
.content_phase_deux_dernier_match .col_3,.content_phase_deux_dernier_match  .col_3.center{width:100%;}
.titre_phase_finale:before, .titre_phase_finale:after{width:25%;}
.content_bloc_list_match .match .nom_pays{font-size:13px;}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score{font-size:13px;}
.content_bloc_list_match .match .match_gpe .gpe_gauche{width:100%;}
.content_bloc_list_match .match .match_gpe .heure, .content_bloc_list_match .match .score{width:100%;text-align:left;}
.content_bloc_list_match .match .match_gpe .gpe_droite{width:100%;}
.content_bloc_list_match .match .gpe_gauche .nom_pays{text-align:left;padding-right:0;}
.content_bloc_list_match .gpe_droite .drapeaux{float:right;}
.content_bloc_list_match .gpe_droite .nom_pays{padding-left:0;}
.content_bloc_list_match .match .diffuse_AR{width:100%;padding:10px 0;}
.content_bloc_list_match .match .diffuse_AR img{float:right;}
.content_bloc_list_match .gpe_gauche .drapeaux,.content_bloc_list_match .gpe_droite .drapeaux{text-align:right;}
.content_list_tab .trois_col a{padding:15px 7px;font-size:10px;}
.content_list_tab .groupe span{font-size:10px;text-align:left;padding:15px 4px;}
}





