/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 déc. 2014, 12:05:49
    Author     : Rado
*/

legend.lgd {
    color: #FF0000;
}
/*
#div_id_contact_form div, 
#div_id_contact_form form, 
#div_id_contact_form button, 
#div_id_contact_form fieldset, 
#div_id_contact_form input, 
#div_id_contact_form textarea, 
#div_id_contact_form ul, 
#div_id_contact_form li {
    width: 1px;
    height: 1px;
}

#div_id_contact_form strong, 
#div_id_contact_form legend, 
#div_id_contact_form label{
    display: none;
}

#formulaire_contact textarea{
    resize: none;
}

#div_id_contact_form ul{
    list-style-type: none;
}
*/

p.reponse_formulaire.reponse_formulaire_ok{
    background-color: #f0f5f9;
    border: 1px solid #cdddeb;
    margin: 0 0 20px;
    padding: 10px;
    width: 600px;
}

#formulaire_contact textarea{
    resize: none;
}

#formulaire_contact ul{
    list-style-type: none;
}