.ultimedia_wrapper_bas{
    display: none; 
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .ultimedia_wrapper_sidebar{
        display: none !important;
    } 
    .ultimedia_wrapper_bas{
        display: block !important;
    }
}