/*******Web Agency**********/

@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);

section#container{
    width:100%;
    margin-right: auto;
    margin-top: -4px;
    margin-left: auto;
   background: #110c09 url('../images/bg.png') no-repeat center top;
   background-size: contain;

}
#content{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.top-content{
    text-align: center;
    width: 1040px;
}
.top-content{
    width: auto !important;
}
.top-content{
    list-style: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.top-content{
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 1.1;
}
.top-content p:last-child{
    margin-right: 0;
}
.top-content .logo-ar{
    margin: 0 auto;
    text-align: center;
    width: 58%;
}
.top-content h1{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    margin-top: 0 !important;
}
.top-content h1 span{
    font-size: 30pt;
    text-transform: none !important;
}
.container-body{
    background: #fff;
    padding: 20px 40px 1px 40px;
}
.appli{
    background: url('../images/bgappli.jpg') no-repeat center center;
    text-align: center;
    padding: 10px 5% 0;
    height: 539px;
    position: relative;
}
.prix{
    background: url('../images/cadie.png') no-repeat center center;
    text-align: center;
    padding: 10px 5% 0;
    height: 549px;
    background-size: cover;
    position: relative;
}
.appli h1{
       font-family: 'Maven Pro', sans-serif;
       color: #000000;
       font-weight: 100;
       margin-bottom: 44px;
}
.logoappli img{
    float: left;
    margin-right: 25px;
}
 
.logoappli {
    margin: 0 auto 1% auto !important;
    width: 38%;
}
.div-appli img{
    display: inline;
}
h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
}
.prix h1{
    color: #ffffff;
    padding-left: 50px;
    text-shadow: 1px 1px 2px #010101;
}
.indice{
    margin-bottom: 49px !important;
}
.line{
    margin-top: 45%;
}
.container-body .row{
    margin-bottom: 20px;
}
.formulaire{
    background-color: #dfdada;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    padding-bottom: 4px;
}
.contentlabel{
    float: left;
    margin-right: 20px;
    text-align: right;
    width: 463px;
}
.form-group {
    margin: 0 auto 0 1%;
    width: 722px;
}
.listform{
    display: block;
    margin: 27px 0;
}
.contentlabel label{
    font-size: 14px;
    font-family:  'Maven Pro', sans-serif;
    font-weight: 100 !important;
    color: #1f4563;
    line-height: 1.9;
}

input[type='text'], select{
    height: 30px;
    width: 240px;
    padding-left: 7px;
    border: 1px solid #d9e6ee;
    -webkit-appearance: none !important;
    -moz-appearance:none !important;
    appearance:none !important;

    @supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none))
}

input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#date_const, #date_appli, #date_naiss{
    background: #ffffff url('../images/bg-calandar.png') no-repeat 98% center;
}
input#pri_cliN, input#prix_cli, input#tel, input#prix_cliN, input#prix_appliN{
    padding-right: 7px;
}
input[type="submit"]{
    background: #007fbe !important;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 35px;
    float: right;
}
.green .info{
    bottom: 49px;
}
.info{
    background: rgba(255, 255, 255, 0.8);
    width: 181px;
    position: absolute;
    right: -26%;
    bottom: 54px;
    color: #1f4563;
    font-size: 14px;
    padding:5px 10px;

}
.object{
    width: 725px;
}
.info h2{
    font-size: 16px;
    font-weight: 100;
    text-align: right;
    width: 158px !important;
}
.info h2 a, .info h2 a:hover {
    color: #1f4563; text-decoration: none;
}
.info p{
    line-height: 1.2;
    font-size: 14px;
    margin-bottom: 4px;
}
.info p:nth-child(1){
    margin-bottom: 15px;
}
.obligatoire{
    margin-top: 60px;
    text-align: right;
    color: #1f4563;
    font-size: 16px;
    }
.ui-datepicker-title select{
    width: 200px !important;
}
select{
    background: #ffffff url('../images/bg-select.png') no-repeat 98% center;
}
.choix{
    float: left;
    margin-right: 20px;
}
.minilogo img:nth-child(1){
    float: left;
    margin-right: 13px;
    padding-top: 1px;
}
.num{
    color: #ed8b18;
   font-family: 'Maven Pro', sans-serif;
   font-size: 48px;
   background: #ffffff;
   position: absolute;
   left: -25px;
   padding: 26px 42px 18px 50px;
   border-radius: 49%;
   top: -20px;
}
.formulaire h1{
    color: #335572;
    margin-left: 100px;
    padding-top: 30px;
    font-size: 32px;
    margin-bottom: 20px;
}
.social-top ul{
    margin-bottom: 0 !important;
}

a:hover{
    cursor: pointer;
    }
.files{
    position: relative;overflow: hidden;
    border: 1px solid #d9e6ee;
    height: 30px;
    width: 240px;
    background: #ffffff;
    padding:1px;
    }
.files span{
    float: right;
    background: #d9e6ee;
    padding: 3px 20px;
}
select::-ms-expand {
    display: none;
}
.red ul, .green ul{
    width: 724px;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.top-content .logo-ar img{
    width: auto !important;
}
.top-content .col-md-3{
    width: 2% !important;
    padding-left: 0 !important;
}
.top-content .col-md-2{
    text-indent: 2%;
}
.logo-ar h1{
    width: 100%;
}
#cid{
    line-height: 2;
}
#messagebox_content a{
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  min-width: 60px;
  margin: 0px 4px;
  padding: 5px 10px;
  cursor: pointer;
  color: #404040;
  background-color: #e9e9e9;
  background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
label.error{
        font-weight: 100;
        color: #EE0013;
        float: right;
    }
input.placeholder-right::-webkit-input-placeholder {
    text-align: right;
}
input.placeholder-right::-moz-placeholder {
    text-align: right;
}
input.placeholder-right:-moz-placeholder {   /* Older versions of Firefox */
    text-align: right;
}
input.placeholder-right:-ms-input-placeholder { 
    text-align: right;
}
.g-recaptcha {
    margin-bottom: 10px;
    position: relative;
    right: -58.5%;
    margin-top: 4%;
}

.pact{
        width: auto;
        margin: 0 auto;
    }
.numero-error{
        float: left;
        width: 40%;   
    }
.indice p{
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}
.filename{
   text-align: right;
  display: block;
  line-height: 1;
  margin: -20px 0;
  font-size: 13px;
  font-weight: bold;

}
.content-video{
  position: absolute !important;
  top: 33.5% !important;
  right: 3% !important;
  color: #fff;
  font-weight: bold;
  font-size: 16px;

}
.content-video img{
    border:2px solid rgb(195, 195, 195);
}
.content-video span{
    color: #fff;
    background: #007FBE;
    font-weight: 500;
    padding: 3px 19px 4px 19px;
    border-right: 2px solid rgb(195, 195, 195);
    border-left: 2px solid rgb(195, 195, 195);
    border-bottom: 2px solid rgb(195, 195, 195);
    font-size: 1.05em;
}
/*********responsive***************/
@media only screen and (min-width: 980px) and (max-width: 1208px){
    .object {
        width: 719px !important;
    }
    .form-group {
        width: 616px;
    }
    .prix h1{
        padding-left: 60px;
    }
    .info {
        width: 434px;
    }
    .top-content .logo-ar {
        width: 42%;
    }
    .top-content .logo-ar .col-md-2 {
        padding-top: 7px;
        text-indent: 0 !important;
    }
}
@media only screen and (max-width: 960px) {
    .info h2{
        width: 400px !important;
    }
    .red ul, .green ul {
        width: 724px;
    }
    .contentlabel {
        width: 380px;
    }
    .contentlabel label {
        font-size: 13px;
    }
    .prix{
        padding-left: 9% !important;
    }
}
@media only screen and (min-width: 1026px) and (max-width: 1208px) {
    .top-content .col-md-3 {
        padding-left: 15px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .content-video{
        top: 50.5% !important;
    }
    .top-content .logo-ar img {
        max-width: 180px !important;
    }
    label.error{
        font-weight: 100;
        color: #EE0013;
        margin: 1.5% 0 0 1%;
        font-size: 13px !important;
    }

    #content {
        width: auto;
    }
    .info {
        position: relative;
        bottom: 4px;
        right: -40%;
    }
    h1{
        font-size: 22px
    }
    .appli {
        height: auto;
        min-height: 250px;
    }
}
@media only screen and (min-width: 750px) and (max-width: 980px){
    .logoappli img:last-child{
        margin-top: 10px;
    }
    .form-group {
        width: 637px;
    }
    .prix h1 {
        font-size: 30px;
    }
    .info h2 {
        width: 264px !important;
    }
    .info {
        width: 295px;
    }
    .g-recaptcha {
        right: -53%;
    }
    .red ul, .green ul {
        width: 724px;
    }
    .top-content .logo-ar .col-md-2{
        margin-bottom: -17px;
        padding-top: 12px;
        text-indent: 19px;
    }
    .top-content .col-md-3{
        padding-left: 0 !important;
    }
    .top-content .col-md-4{
        padding-right: 0 !important;
        padding-left: 26px !important;
    }
    .info {
        position: relative;
        bottom: 4px;
        right: -54%;
    }
    .top-content .logo-ar{
        width: 18% !important;
    }
    .line {
        line-height: 1;
        margin-top: 58%;
    }
    .prix h1 {
      color: #ffffff;
      margin-left: 0;
    }
    .formulaire h1 {
        margin-left: 125px;
    }
    .logoappli {
        width: 19%;
    }

}
@media only screen and (min-width: 599px) and (max-width: 739px){
    .object {
        width: 585px !important;
    }
    .info h2 {
        width: 250px !important;
    }
    .info{
        width: 264px;
    }
    .logoappli {
        width: 19%;
    }
    .choix {
        float: left !important;
        margin-right: 20px;
    }
    .top-content .col-md-2 {
        margin-bottom: -12px;
        padding-top: 8px;
        text-indent: 44%;
    }
    .line {
        margin-top: 42%;
    }
    .g-recaptcha {
        right: -32%;
    }
    .files {
        left: 0px !important;
    }
    .top-content .logo-ar{
        width: 18% !important;
    }
    .formulaire h1 {
        margin-left: 110px;
        font-size: 33px;
    }
    .minilogo {
        margin: 0 auto;
        width: 71%;
    }
    .red ul, .green ul {
        width: 490px;
        padding-left: 47px;
    }
    .contentlabel label {
        font-size: 15px !important;
    }
    .top-content h1 span {
        font-size: 20pt !important;
    }

    .top-content h1 {
        font-size: 40px  !important;
    }
    .prix h1, .appli h1 {
        margin-left: 10%  !important;
    }
    .info {
        right: -36% !important;
    }
    .form-group {
        margin: 0 auto 0 4%  !important;
        width: 483px;
    }
    .contentlabel {
        width: 250px  !important;
        margin-right: 15px  !important;
        text-align: left;
    }
    .choix {
        float: none;
    }
    .prix {
        height: 440px  !important;
    }
    form{
          padding-right: 10%;
    }
    .appli {
        height: auto;
    }
    input[type='text'], select {
          width: 395px;
      }
      .files{
        left: 0px;
      }
      .line {
          line-height: 1;
          margin-top: 30%;
    }
    .top-content .logo-ar{
        width: 17%;
    }
}

@media only screen and (max-width: 500px){
    .content-video{
        top: 50.5% !important;
    }
    .info h2 {
        width: 242px !important;
    }
    .object {
        width: 322px !important;
    }
    .prix h1 {
        padding-left: 4px !important;
    }
    .top-content .col-md-3 {
        padding-left: 23px !important;
    }
    
    .top-content .logo-ar .col-md-2{
        margin-bottom: -8px;
        padding-top: 4%;
    }
    h1 {
        font-size: 18px !important;
    }
    .top-content .logo-ar {
        width: 40%;
    }
    .logo-ar {
        width: 70%;
    }
    .top-content h1 span {
        font-size: 19pt;
    }
    .top-content h1 {
      font-size: 26px;
    }
    .prix h1 {
        color: #ffffff;
        margin-top: 2%;
    }
    .line {
        line-height: 1;
        margin-top: 120% !important;
    }
    .num {
        padding: 5px 13px 2px 17px;
        left: -6px;
        top: -5px;
        font-size: 22px;
    }
    .choix {
        margin-right: 14px;
    }
    input[type='text'], select {
        width: 245px;
    }
    .red ul, .green ul {
        width: 246px;
    }
    .form-group {
          margin: 0 auto 0 6%;
          width: 245px;
    }
    .contentlabel {
        text-align: left;
        width: 250px;
    }
    .info {
        right: 4px;
        width: 250px;
    }
    .formulaire h1 {
        margin-left: 10px;
        padding-top: 40px;
    }
    .prix {
        height: auto;
        min-height: 425px;
    }
    .appli {
        height: auto;
    }
    .files {
        width: 247px;
        display: inline-block;
    }
    .contentlabel label {
        font-size: 14px;
    }
    label.error{
        font-weight: 100;
        color: #EE0013;
        margin: 3% 0 0 3%;
    }
    .top-content .logo-ar {
      width: 60% !important;
    }

    .pact{
        width: auto;
        margin: 0 auto;
    }
    .numero-error{
        float: left;
        width: 40%;   
    }
    .g-recaptcha {
        right: 14%;
    }
}
