/*================================
    WA
==================================*/
body{
	background: #bbac8b url(https://cdn.antenne.re/antenne/IMG/jpg/habillage_-_kazpei.jpg) no-repeat center 340px !important;
}

.container-body{
	background: #ffffff;
	padding: 10px;
}

.main-inner{
	border:1px solid #cdddeb;
	padding: 15px 10px;
}

.footer .container-ar .column_block{
	margin: 0px 0px 0px 10px;
}

.kaz-pei .section-bandeau {
    height: 264px;
    position: relative;
}

.kaz-pei div.breadcrumbs {
    padding: 25px 15px 10px 15px;
}

.topics-box .topiclist ul li .text-holder {
    margin-left: 0;
}

.v-category.bonus span{
	color: #ffffff !important;
}
.programme-n3 h3.title-main-video{
	font-family: "Maven Pro",sans-serif;
}
.kaz-pei .social-top{
	margin-top: 5px !important;
}
/**********Responsive*************/
@media screen and (max-width: 1024px){
.wrapper-header .container-ar .logo-ar{
	float: right!important;
}
body {
    background: #fff!important;
}
}
@media screen and (min-width: 768px) and (max-width: 991px){
.menu-menu2 ul li a {
    font-size: 14px!important;
    padding: 12px 14px;
}
}
@media screen and (min-width: 700px) and (max-width: 768px){
.menu-menu2 ul li a {
    font-size: 13px!important;
    padding: 12px 10px;
}
}
@media screen and (min-width: 480px) and (max-width: 1024px){
.topics-box .topiclist ul li .thumb-wrapper{
	width: 50%;
}
}

@media screen and (max-width: 480px){
.topics-box .topiclist ul li .thumb-wrapper {
    width: 100% !important;
    margin-bottom: 15px;
}
.VR_1.ob-widget{
	width: 100%;
	min-width: 100px;
}
.expand{
	width: 100% !important;
}
}
