@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
/*================================
    GENERAL STYLES
==================================*/
*{
	margin: 0;
	padding: 0;
}
body{
	background: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #000;
}

h2 {font-family: 'PT Sans';font-size: 20px;font-weight: bold;color:#fff; text-transform: uppercase;padding-top:30px;padding-left:80px;}
p {font-family: 'PT Sans';font-size: 14px;font-weight :normal;color:#fff; padding-left: 20px;padding-top: 10px;}


/*-- rajout css ROBY --*/

header {position:relative; text-align: center; margin-right: auto; margin-left: auto; width: 100%;}

.logoHolder {margin-top: 10px; margin-left: auto; margin-right:auto; text-align: center;}
.logo-1 { 
	display:inline-block;
	display:block; 
	min-width: 100px; 
	min-height: 38px;  
	margin:10px;  
}
.logo-2 { 
	display:inline-block;
	display:block;
	min-width: 100px;
	min-height: 37px; 
	margin:10px; 
}
.logo-3 { 
	display:inline-block;
	display:block; 
	min-width: 100px; 
	min-height: 37px; 
	margin:10px;  
	position: relative;
	left:0px;
}
.logo-sixty {display:inline-block; width:auto;float:right;right:180px;z-index:1003;}
.logo-sixty img {position:absolute;}

section.content{
	clear: both;
}

.content {
	background:url('https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/data/loreal-BG-BL.jpg') #000 no-repeat 54% 0%;
	height: 567px;
	}

/*-----  video style ------*/

.js-video {
  height: 0;
 /* padding-top: 25px;
  padding-bottom: 67.5%;*/
  /*margin-bottom: 10px;*/
  position: relative;
 /* overflow: hidden;*/

}
 
.js-video.widescreen {
  padding-bottom: 56.34%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

/*-----  Fin video style ------*/

/*-- rajout css ROBY --*/

.service-home {
	background: #000;
	color: #fff;
	padding: 60px 0 80px 0;
}
.service-home .container{
	position: relative;
}
.cover_affichage {
	position: absolute;
	right: 53px;
	top: -115px;
	
}
.service-home .title-uppercase {
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	margin: 0 0 50px 0;
	text-align: center;
}

.service-home p {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 35px;
}

.service-vote {
	background: #fff;
	color: #000;
	padding: 40px 0;
}

.service-vote .vote-title {
	text-align: center;
	color: #000000;
	font-size: 45px;
	background: rgba(0, 0, 0, 0) url("https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/bg/bg_title.jpg") no-repeat scroll center bottom;
	font-weight: 700px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	padding: 0 0 25px 0;
	margin-bottom: 20px;
}

.items-container {
	position: relative;
}
.overlay-container {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 30px;
	width: 874;
	bottom: 0;
}
 /*****Modif Tanjona************/
.overlay-inner {
	padding: 50px 50px 60px 50px;
	position: relative;
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}
.overlay-title {
	color: #fff;
	font-size: 40px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	margin: 0 0 25px 0;
	
}
.overlay-image {
	margin-bottom: 25px;
}
.overlay-inner p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 140%;
	color: #808080;
	margin-bottom: 40px;
}
.overlay-inner .overley-bottom .btn-default {
	border: none; 
	text-transform: uppercase;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	padding: 4px 25px 3px;
	background: #936c37;
	font-size: 20px;
}
.overlay-nb {
	color: #ffffff;
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
}
.overlay-close {
	position: absolute;
	top: 20px;
	right: 20px;
}
/*add css_tanjona*/
/*
section.content p {
    margin-left: -35px;
}

section.content p{
    margin-left: -10px;
    font-size: 16px;
}
section.content h2 {
    margin-left: -60px;
}
*/
section.content p{
    font-size: 16px;
    font-style: italic;
    text-align: center;
    width: 52%;
}
section.content h2{
    margin-left: -60px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #b4864f !important;
}
/*Fin add css_tanjona*/
.items-container ul li {
	list-style-type: none;
	float: left;
	width: 246px;
	margin: 10px 17px;
	text-align: center;
}
.nav-arrows {
	position: absolute;
	top: 315px;
	width: 53px;
	height: 53px;
	display: block;
}
.nav-right {
	right: -35px;
}
.nav-left {
	left: -53px;
}
.item-prenom {
	font-size: 24px;
	font-family: 'Lobster', cursive;
	margin-bottom: 2px;
}
.item-description {
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-size: 18px;
	color: #656666;
}
.footer-loreal {
	background: #000;
	padding: 20px 0;
	text-align: center;
	color: #fff;
}
.carousel {
	max-width: 1120px;
	margin: 0 auto;
}
#myCarousel .carousel-control.right {
	right: -55px;
}
#myCarousel .carousel-control.left  {
	left: -65px;
}
#myCarousel .carousel-control.right, #myCarousel .carousel-control.left  {
	background: none;
}
#myCarousel .carousel-control {
	width: 53px;
	top: -85px;
}
#myCarousel .carousel-control .glyphicon {
    background: #000000 none repeat scroll 0 0;
    height: auto;
    padding: 10px 10px 10px 5px;
    width: auto;
}
/*formulaire*/
h2 {
	margin-bottom: 20px;
	color: #FFF;
}

/* ===========================
   ====== Contact Form ======= 
   =========================== */

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}


/* ------------------ */

@media only screen and (max-width : 1920px) {
	.gal {width:50%; min-height:400px; margin-left: 10px;}
	.content {background:url('https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/data/loreal-BG-BL.jpg') #000 no-repeat 54%;}
}

@media only screen and (max-width : 1600px) {
 .gal {width:50%; min-height:400px; margin-left: 10px;}
 .logo-sixty{
  right: 153px;
 }
 .content {background:url('https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/data/loreal-BG-BL.jpg') #000 no-repeat 60%;}
}
@media only screen and (max-width : 1440px) {
 .logo-sixty{
  right: 153px;
 }
 .content {background:url('https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/data/loreal-BG-BL.jpg') #000 no-repeat 58%;}
}
@media only screen and (max-width : 1280px) {
	.gal {width:50%; min-height:400px; margin-left: 10px;}
	.content {background:url('https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/data/loreal-BG-BL.jpg') #000 no-repeat 180px;}
}
@media only screen and (max-width : 1200px) {
	.logo-sixty {float:none; position:static; clear:both;display:block;width:100%;height:185px; margin-bottom:10px;}
	.logo-sixty img {display:block;margin:10px auto; position:static;}
	.gal {width:50%; min-height:400px; margin-left: 10px;}
	.content {background:url('https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/data/loreal-BG-BL.jpg') #000 no-repeat 300px;}
}
@media only screen and (max-width : 980px) {
	.logoHolder {margin-top: 10px; text-align:center; margin: 0 auto;}
	.logoHolder .logo-1, .logoHolder .logo-2, .logoHolder .logo-3 {float:none !important;}
	.gal {width:100%; min-height:400px; margin-left: 10px;}

}
@media only screen and (max-width : 800px) {
	.logoHolder {margin-top: 10px; text-align:center; margin: 0 auto !important; float:none;}
	.logoHolder .logo-1, .logoHolder .logo-2, .logoHolder .logo-3 {float:none !important;}
	.gal {width:100%; min-height:400px; margin-left: 10px;}
}
@media only screen and (max-width : 768px) {
	.logoHolder {margin-top: 10px; text-align:center; margin: 0 auto;}
	.logoHolder .logo-1, .logoHolder .logo-2, .logoHolder .logo-3 {width:100% !important;}
	.gal {width:100%; min-height:400px; margin-left: 10px;}	
}

@media only screen and (max-width : 360px) {
	h2 {text-align: center;width:80%;}
	.loreal-FB a {position: relative;top:0px;}
	.gal {width:100%; min-height:400px; margin-left: 10px;}	
}
