p.input-group-button{
padding:0!important;
}
.navbar{
min-height:1px!important
}
section.content {
	text-align:left!important;
}
section.content p {
	padding-left: 20px!important;
    padding-top: 10px!important;
}
h1 {font-family: 'PT Sans';font-size: 18px;font-weight: bold;color:#b58852; text-transform: uppercase;}
h2 {font-family: 'PT Sans';font-size: 18px;font-weight: bold;color:#fff; text-transform: uppercase;padding-top:30px;padding-left:80px;}
h3 {font-family: 'PT Sans';font-size: 16px;font-weight: bold;color:#fff; text-transform: uppercase;padding-top:15px;}
p {font-family: 'PT Sans';font-size: 14px;font-weight :normal;color:#fff; padding-left: 20px;padding-top: 10px;}

header {position:relative;}
.logoHolder {margin-top: 10px;}
.logo-lorealparis { display:inline-block; min-width: 140px; min-height: 38px; margin:18px 15px;}
.logo-loreal-pro { display:inline-block; min-width: 150px; min-height: 37px; margin:18px 15px;}
.logo-loreal-makup { display:inline-block; min-width: 152px; min-height: 37px; margin:18px 15px;}
/*.logo-sixty {display:inline-block; width:100%; min-height: 185px;position:absolute;}*/
.logo-sixty {display:inline-block; width:auto;float: left; position:relative;z-index:1003;}
.logo-sixty img {position:absolute;}

.content {min-height:600px;background:url(https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/loreal-BG-BL.jpg) #000 no-repeat top right;}
#content { text-align: center;}

.box{min-height: 415px; width:50%; background:url(https://www.antennereunion.fr/squelettes/assets/img/partenaire/loreal/BG-part-2.png) no-repeat top right; margin: 30px 30px;text-align: center;}

/* fancy box specific styles */
.gal {width:95%; min-height:400px; margin-left: 10px;}
.gal img {margin-left:15px;padding-bottom:5px;}
.gal img:hover {-webkit-box-shadow: 0px 0px 5px #333;-moz-box-shadow: 0px 0px 5px #333;}
.gal a {float:left;width:25%;}
.gal a {font-family:'Lobster 1.4';font-size: 14px;font-weight: normal;color:#fff; font-style: normal; padding-bottom: 10px;}
.gal a span {font-family:'PT Sans';font-size: 14px;font-weight: normal;color:#fff; font-style: normal;text-decoration: underline;}
a:link, a:visited {color:#b58852;}
a:hover, a:active {color:#b58852;}

p.specific-text {font-family: 'PT Sans';font-size: 14px;font-weight :normal;color:#fff;padding-top: 10px;}
p.specific-age {font-family: 'PT Sans';font-size: 14px;font-weight :normal;color:#fff;padding-top: 10px;}
p.specific-vote {font-family: 'PT Sans';font-size: 14px;font-weight :normal;color:#fff;padding-top: 10px; position:relative; top:-10px; left:-10px;}
#myDiv1 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}
#myDiv2 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}
#myDiv3 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}
#myDiv4 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}
#myDiv5 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}
#myDiv6 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}
#myDiv7 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}
#myDiv8 { text-align: center;  background:rgba(0,0,0,0.5); margin:0 auto;}

ul.bxslider li { margin-left:20px;}

.mainFooter {width:100%; height:auto; text-align: center; margin: 0 auto;}
.loreal-FB a {width:35px; height: 35px; text-align: center; position: relative;top:10px;}


button {cursor:pointer; padding:5px 25px;background:#b58852;border:1px solid #5a3e24; -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;color:#f3f3f3;font-size:1.1em;}

button:hover, button:focus{background-color :#815b38;-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);box-shadow: 0 0 1px rgba(0,0,0, .75);}

.no-bg {
	background:none;
}


/* ------------------ */
@media only screen and (max-width : 1200px) {
	.logo-sixty {float:none; position:static; clear:both;display:block;width:100%;height:185px; margin-bottom:10px;}
	.logo-sixty img {display:block;margin:10px auto; position:static;}
}

@media only screen and (max-width : 980px) {
	.logoHolder {margin-top: 10px; text-align:center; margin: 0 auto;}
	.content {background-image:none;}
	.box {width:65%; float:none; display:block; margin:0 auto;}
	.gal {margin-left:0px;}
	.gal img {padding-right:10px;}
	.gal img {margin-left:8px;}
	.gal a {font-size: 14px;}
	.gal a span {font-size: 12px;}
}

@media only screen and (max-width : 800px) {
	.logoHolder {margin-top: 10px; text-align:center; margin: 0 auto;}
	.content {background-image:none;}
	.box {width:65%; float:none; display:block; margin:0 auto;}
	.gal {margin-left:0px;}
	.gal img {padding-right:10px;}
	.gal img {margin-left:8px;}
	.gal a {font-size: 14px;}
	.gal a span {font-size: 12px;}
}


@media only screen and (max-width : 769px) {
	.logoHolder {margin-top: 10px; text-align:center; margin: 0 auto;}
	.content {background-image:none;}
	.box {width:65%; float:none; display:block; margin:0 auto;}
	.gal {margin-left:0px;}
	.gal img {padding-right:10px;}
	.gal img {margin-left:8px;}
	.gal a {font-size: 14px;}
	.gal a span {font-size: 12px;}
}

@media only screen and (max-width : 360px) {
	h2 {text-align: center;width:80%;}
	.box {width:65%; float:none; display:block; margin:0 auto;}
	.gal {width:100%;padding-right: 20px; margin-left:0px;}
	.gal img {padding-right:10px;}
	.gal a {width:23%}
	.loreal-FB a {position: relative;top:0px;}
	}